th {
    text-align: center;
}

.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.cell-div {
    padding: 5px;
}

.input-Cell-Dp {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(5) {
    position: absolute;
    right: 134px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(5) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(6) {
    position: absolute;
    right: 15px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(6) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

/*right click event*/
.contextmenu {
    position: absolute;
}

.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}

.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}

/*endof right click*/
/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}

/*style for menu*/
.itemw .menu-tool-bar a {
    color: #ffffff;
}

.itemw .menu-tool-bar a:hover {
    color: #f26f21 !important;
}

.itemw .menu-tool-bar {
    color: #959ea9 !important;
}

.itemw .menu-tool-bar a.disable,
a.disable {
    color: dimgray !important;
}

a.disable:hover {
    color: black !important;
}

/*style addNewRow*/
.addNewRow {
    background-color: #e9ecef !important;
}

/*.main-table td.cell-Table .dropdown {*/
/*    z-index: -1 !important;*/
/*}*/

.edit-color {
    color: #fff;
}

#field_currencyID {
    padding-bottom: 10px;
    padding-top: 5px;
}

.input-group-append {
    margin-top: 1px;
    z-index: 0;
}

.table-scroll {
    z-index: 0;
}

.countRow {
    background-color: #7db5dd !important;
    width: 100%;
    color: #0a0a10;
}

#tienHang2 {
    border-left-width: 0px;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td.border-none {
    border: 0 !important;
}

.date-input {
    max-width: 1px;
    border: none;
    opacity: 0;
}

.required {
    border-left: 5px solid red;
    border-radius: 3px;
}

.requiredTrue {
    border-left: 5px solid green;
    border-radius: 3px;
}

.description {
    min-width: 300px;
}

.form-check.form-check-inline.form-control.checkBox {
    background: none;
    padding-right: 0 !important;
}

.selectVoucher {
    background: #11ab6b;
    color: white;
}

.position {
    width: 250px;
    position: absolute;
    right: 249px;
    margin-top: 3px;
}

.creat-from {
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
}

.myreadonlytrue {
    pointer-events: none;
}

.row.no-gutters .my-last-div-unit-2-1 {
    flex: 0 0 100%;
    max-width: calc(83.33333333333333333334% - 295px) !important;
}

.row.no-gutters .my-last-div-unit-2-2 {
    flex: 0 0 100%;
    max-width: calc(66.6666666666666666668% - 435px) !important;
}

.my-col-form-label {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: 140px !important;
    max-width: 140px !important;
}

.my-col-form-label-1 {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: 155px !important;
    max-width: 155px !important;
}

.my-col-form-label-2 {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: 140px !important;
    max-width: 140px !important;
}

.col-form-label-sm-bank {
    padding-bottom: calc(0.375rem + 1px);
    font-size: inherit;
    line-height: 1.5;
}

.row.no-gutters .my-last-div-material-goods-2 {
    flex: 0 0 100%;
    max-width: calc(100% - (33.3333333% - 145px) - 295px) !important;
}

.row.no-gutters .my-last-div-material-goods-1 {
    flex: 0 0 100%;
    max-width: calc(33.3333333% - 145px) !important;
}

.row.no-gutters .my-last-div-material-goods-3 {
    flex: 0 0 100%;
    max-width: calc(100% - 140px) !important;
}

.row.no-gutters .my-last-div-material-goods-4 {
    flex: 0 0 100%;
    max-width: calc(33.333333% + 140px) !important;
}

.row.no-gutters .my-last-div-material-goods-5 {
    flex: 0 0 100%;
    max-width: calc(100% - 140px) !important;
}

.input-Cell {
    background: white;

    border: none;
    width: 100%;
    height: 100%;
}

.input-Cell {
    border: none;
    width: 100%;
    height: 100%;
}

.main-table {
    min-width: auto;
}

.row.no-gutters .my-last-div-material-goods-3 {
    flex: 0 0 100%;
    max-width: calc(25% - 100px) !important;
}

.my-col-form-label-3 {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: 100px !important;
    max-width: 100px !important;
}
