<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialGoods">
            <h2><span jhiTranslate="ebwebApp.materialGoods.detail.title">Material Goods</span> {{materialGoods.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.materialGoods.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{materialGoods.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.materialGoodsCategoryID">Material Goods Category ID</span></dt>
                <dd>
                    <span>{{materialGoods.materialGoodsCategoryID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.materialGoodsCode">Material Goods Code</span></dt>
                <dd>
                    <span>{{materialGoods.materialGoodsCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.materialGoodsName">Material Goods Name</span></dt>
                <dd>
                    <span>{{materialGoods.materialGoodsName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.materialGoodsType">Material Goods Type</span></dt>
                <dd>
                    <span>{{materialGoods.materialGoodsType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.unitID">Unit ID</span></dt>
                <dd>
                    <span>{{materialGoods.unitID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.minimumStock">Minimum Stock</span></dt>
                <dd>
                    <span>{{materialGoods.minimumStock}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.itemSource">Item Source</span></dt>
                <dd>
                    <span>{{materialGoods.itemSource}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.warranty">Warranty</span></dt>
                <dd>
                    <span>{{materialGoods.warranty}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.repositoryID">Repository ID</span></dt>
                <dd>
                    <span>{{materialGoods.repositoryID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.reponsitoryAccount">Reponsitory Account</span></dt>
                <dd>
                    <span>{{materialGoods.reponsitoryAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.expenseAccount">Expense Account</span></dt>
                <dd>
                    <span>{{materialGoods.expenseAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.revenueAccount">Revenue Account</span></dt>
                <dd>
                    <span>{{materialGoods.revenueAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.materialGoodsGSTID">Material Goods GSTID</span></dt>
                <dd>
                    <span>{{materialGoods.materialGoodsGSTID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.careerGroupID">Career Group ID</span></dt>
                <dd>
                    <span>{{materialGoods.careerGroupID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.vatTaxRate">Vat Tax Rate</span></dt>
                <dd>
                    <span>{{materialGoods.vatTaxRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.importTaxRate">Import Tax Rate</span></dt>
                <dd>
                    <span>{{materialGoods.importTaxRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.exportTaxRate">Export Tax Rate</span></dt>
                <dd>
                    <span>{{materialGoods.exportTaxRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.saleDiscountRate">Sale Discount Rate</span></dt>
                <dd>
                    <span>{{materialGoods.saleDiscountRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.purchaseDiscountRate">Purchase Discount Rate</span></dt>
                <dd>
                    <span>{{materialGoods.purchaseDiscountRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.fixedSalePrice">Fixed Sale Price</span></dt>
                <dd>
                    <span>{{materialGoods.fixedSalePrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.salePrice1">Sale Price 1</span></dt>
                <dd>
                    <span>{{materialGoods.salePrice1}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.salePrice2">Sale Price 2</span></dt>
                <dd>
                    <span>{{materialGoods.salePrice2}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.salePrice3">Sale Price 3</span></dt>
                <dd>
                    <span>{{materialGoods.salePrice3}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.isActive">Is Active</span></dt>
                <dd>
                    <span>{{materialGoods.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoods.isSecurity">Is Security</span></dt>
                <dd>
                    <span>{{materialGoods.isSecurity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-goods', materialGoods.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
