<div class="body">
    <div class="modal-header" style="padding: 2px 10px; padding-top: 10px">
        <div class="d-flex flex-wrap col-md-11">
            <h6 *ngIf="this.reportType === BaoCao.BANG_KE_BAN_RA && !isBill" class="modal-title-detail"><img
                src="../../../content/images/icon-logo.png" height="24px"
                width="24px"> <span
                class="text-uppercase" jhiTranslate="ebwebApp.baoCao.soNhatKyThuTienPopup.titleBan"></span></h6>
            <h6 *ngIf="this.reportType === BaoCao.BANG_KE_BAN_RA && isBill" class="modal-title-detail"><img
                src="../../../content/images/icon-logo.png" height="24px"
                width="24px"> <span
                class="text-uppercase" jhiTranslate="ebwebApp.baoCao.soNhatKyThuTienPopup.titleBanQuanTri"></span></h6>
            <h6 *ngIf="this.reportType === BaoCao.BANG_KE_MUA_VAO && !isBill" class="modal-title-detail"><img
                src="../../../content/images/icon-logo.png" height="24px"
                width="24px"> <span
                class="text-uppercase" jhiTranslate="ebwebApp.baoCao.soNhatKyThuTienPopup.titleMua"></span></h6>
            <h6 *ngIf="this.reportType === BaoCao.BANG_KE_MUA_VAO && isBill" class="modal-title-detail"><img
                src="../../../content/images/icon-logo.png" height="24px"
                width="24px"> <span
                class="text-uppercase" jhiTranslate="ebwebApp.baoCao.soNhatKyThuTienPopup.titleMuaQuanTri"></span></h6>
        </div>
    </div>
    <div style="padding: 5px 25px">
        <div style="border: none;" class="form-main-new">
            <div *ngIf="treeOrganizationUnits && treeOrganizationUnits[0]?.children && treeOrganizationUnits[0]?.children?.length>0"
                 class="form-group row no-gutters-ct">
                <label jhiTranslate="ebwebApp.baoCao.canDoiKeToan.organization" class="col-ct-2 col-form-label"></label>
                <div class="col-ct-10">
                    <eb-tree-combo-box [tree]="treeOrganizationUnits" [(ngModel)]="organizationUnit" (ngModelChange)="changeSessionSearch()"></eb-tree-combo-box>
                </div>
            </div>
            <div class="form-group row" *ngIf="organizationUnit && !organizationUnit.hiddenDependent">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10 pl-0">
                    <label for="checkboxx">
                        <input id="checkboxx" type="checkbox" name="checkboxx"
                               [(ngModel)]="sessionSearch.data.dependent"
                               (ngModelChange)="changeSessionSearch()"></label>
                    <label for="checkboxx" jhiTranslate="ebwebApp.baoCao.dependentBranch"></label>
                </div>
            </div>
            <div class="form-group row no-gutters-ct">
                <label jhiTranslate="ebwebApp.baoCao.canDoiKeToan.period" class="col-ct-2 col-form-label"></label>
                <div class="col-ct-10">
                    <combo-box style=""
                               name="timeLine"
                               [dataList]="listTimeLine"
                               [listColumns]="utilsService.listColumnsTimeLine"
                               [isOutTable]="true"
                               displayMember="display"
                               valueName="value"
                               [headerColumns]="utilsService.listHeaderColumnsTimeLine"
                               [isObject]="false"
                               [(ngModel)]="sessionSearch.data.timeLineVoucher"
                               (ngModelChange)="selectChangeBeginDateAndEndDate()"
                    ></combo-box>
                </div>
            </div>

            <div class="form-group row no-gutters-ct">
                <label jhiTranslate="ebwebApp.saBill.invoice.fromDate" class="col-ct-2 col-form-label"></label>
                <div class="col-ct-4">
                    <eb-date-picker [(ngModel)]="sessionSearch.data.fromDate" name="fromdate" format="YYYYMMDD" (ngModelChange)="changeSessionSearch()"></eb-date-picker>
                </div>
                <label jhiTranslate="ebwebApp.saBill.invoice.toDate" class="col-ct-2 col-form-label"></label>
                <div class="col-ct-4">
                    <eb-date-picker [(ngModel)]="sessionSearch.data.toDate" name="toDate" format="YYYYMMDD" (ngModelChange)="changeSessionSearch()"></eb-date-picker>
                </div>
            </div>
            <div class="form-group row no-gutters-ct">
                <label class="col-ct-2 col-form-label"></label>
                <div class="col-ct-10">
                    <label for="checkbox1"><input id="checkbox1" type="checkbox" name="checkbox1" [(ngModel)]="sessionSearch.data.isSimilarSum" (ngModelChange)="changeSessionSearch()"></label>
                    <label for="checkbox1" jhiTranslate="ebwebApp.baoCao.nhatKyChungPopup.option1"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="padding: 5px 31px">
        <button id="save" (click)="accept()" class="btn btn-success">
            <span jhiTranslate="entity.action.preview"></span>
        </button>
        <button *ebHasSomeAuthorityAndCondition="[['ROLE_ADMIN', ROLE_KetXuat], isKetXuat]" class="btn btn-danger" jhiTranslate="entity.action.render" (click)="exportExcel()">Kết xuất</button>
        <button type="button" class="btn btn-dark" (click)="activeModal.dismiss('closed')" data-dismiss="modal">
            <span jhiTranslate="entity.action.close"></span>
        </button>
    </div>
</div>
