<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="timeSheetSymbols">
            <h2><span jhiTranslate="ebwebApp.timeSheetSymbols.detail.title">Time Sheet Symbols</span> {{timeSheetSymbols.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.timeSheetSymbols.timeSheetSymbolsCode">Time Sheet Symbols Code</span></dt>
                <dd>
                    <span>{{timeSheetSymbols.timeSheetSymbolsCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.timeSheetSymbols.timeSheetSymbolsName">Time Sheet Symbols Name</span></dt>
                <dd>
                    <span>{{timeSheetSymbols.timeSheetSymbolsName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.timeSheetSymbols.salaryRate">Salary Rate</span></dt>
                <dd>
                    <span>{{timeSheetSymbols.salaryRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.timeSheetSymbols.isDefault">Is Default</span></dt>
                <dd>
                    <span>{{timeSheetSymbols.isDefault}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.timeSheetSymbols.isHalfDayDefault">Is Half Day Default</span></dt>
                <dd>
                    <span>{{timeSheetSymbols.isHalfDayDefault}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.timeSheetSymbols.isHalfDay">Is Half Day</span></dt>
                <dd>
                    <span>{{timeSheetSymbols.isHalfDay}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.timeSheetSymbols.overTimeSymbol">Over Time Symbol</span></dt>
                <dd>
                    <span>{{timeSheetSymbols.overTimeSymbol}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.timeSheetSymbols.isOverTime">Is Over Time</span></dt>
                <dd>
                    <span>{{timeSheetSymbols.isOverTime}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.timeSheetSymbols.isActive">Is Active</span></dt>
                <dd>
                    <span>{{timeSheetSymbols.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.timeSheetSymbols.isSecurity">Is Security</span></dt>
                <dd>
                    <span>{{timeSheetSymbols.isSecurity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/time-sheet-symbols', timeSheetSymbols.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
