<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-time-sheet-symbols-heading" jhiTranslate="ebwebApp.timeSheetSymbols.home.createOrEditLabel">Create or edit a Time Sheet Symbols</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!timeSheetSymbols.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="timeSheetSymbols.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.timeSheetSymbols.timeSheetSymbolsCode" for="field_timeSheetSymbolsCode">Time Sheet Symbols Code</label>
                    <input type="text" class="form-control" name="timeSheetSymbolsCode" id="field_timeSheetSymbolsCode"
                        [(ngModel)]="timeSheetSymbols.timeSheetSymbolsCode" required maxlength="25"/>
                    <div [hidden]="!(editForm.controls.timeSheetSymbolsCode?.dirty && editForm.controls.timeSheetSymbolsCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.timeSheetSymbolsCode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.timeSheetSymbolsCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.timeSheetSymbols.timeSheetSymbolsName" for="field_timeSheetSymbolsName">Time Sheet Symbols Name</label>
                    <input type="text" class="form-control" name="timeSheetSymbolsName" id="field_timeSheetSymbolsName"
                        [(ngModel)]="timeSheetSymbols.timeSheetSymbolsName" required maxlength="512"/>
                    <div [hidden]="!(editForm.controls.timeSheetSymbolsName?.dirty && editForm.controls.timeSheetSymbolsName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.timeSheetSymbolsName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.timeSheetSymbolsName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.timeSheetSymbols.salaryRate" for="field_salaryRate">Salary Rate</label>
                    <input type="number" class="form-control" name="salaryRate" id="field_salaryRate"
                        [(ngModel)]="timeSheetSymbols.salaryRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.timeSheetSymbols.isDefault" for="field_isDefault">Is Default</label>
                    <input type="checkbox" class="form-control" name="isDefault" id="field_isDefault"
                        [(ngModel)]="timeSheetSymbols.isDefault" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.timeSheetSymbols.isHalfDayDefault" for="field_isHalfDayDefault">Is Half Day Default</label>
                    <input type="checkbox" class="form-control" name="isHalfDayDefault" id="field_isHalfDayDefault"
                        [(ngModel)]="timeSheetSymbols.isHalfDayDefault" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.timeSheetSymbols.isHalfDay" for="field_isHalfDay">Is Half Day</label>
                    <input type="checkbox" class="form-control" name="isHalfDay" id="field_isHalfDay"
                        [(ngModel)]="timeSheetSymbols.isHalfDay" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.timeSheetSymbols.overTimeSymbol" for="field_overTimeSymbol">Over Time Symbol</label>
                    <input type="number" class="form-control" name="overTimeSymbol" id="field_overTimeSymbol"
                        [(ngModel)]="timeSheetSymbols.overTimeSymbol" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.timeSheetSymbols.isOverTime" for="field_isOverTime">Is Over Time</label>
                    <input type="checkbox" class="form-control" name="isOverTime" id="field_isOverTime"
                        [(ngModel)]="timeSheetSymbols.isOverTime" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.timeSheetSymbols.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="timeSheetSymbols.isActive" />
                    <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.timeSheetSymbols.isSecurity" for="field_isSecurity">Is Security</label>
                    <input type="checkbox" class="form-control" name="isSecurity" id="field_isSecurity"
                        [(ngModel)]="timeSheetSymbols.isSecurity" />
                    <div [hidden]="!(editForm.controls.isSecurity?.dirty && editForm.controls.isSecurity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isSecurity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
