<div >
    <div >
        <div class="menu-tool-bar he">
            <div class="ptitle">
                <span jhiTranslate="ebwebApp.cPAllocationQuantum.home.title"></span>
            </div>
            <div class="gr-toolbar">
                <a title="{{buttonSaveTranslate | translate}}" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DinhMucPhanBoChiPhi_Sua]" (click)="save()"><i class="mdi mdi-briefcase-download"></i> <span
                    jhiTranslate="ebwebApp.cPAllocationQuantum.save"></span>
                </a>
            </div>
        </div>
        <ngb-tabset class="tool-navbar">
            <ngb-tab id="tab1">
                <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.cPAllocationQuantum.detail.title"></span>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="tab-content">
                        <div class="frm-main frm-padding tab-pane fade in active show" id="home-detail"
                             style="background: #cbdcf0;">
                            <div id="table-scroll0" class="table-scroll voucher-table" style="height: 100%">
                                <table id="main-table0" class="main-table">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="jsgrid-align-center " rowspan="2"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.objectCode"></th>
                                        <th scope="col" class="jsgrid-align-center " rowspan="2"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.objectName"></th>
                                        <th scope="col" class="jsgrid-align-center " rowspan="2"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.directMaterialAmount"></th>
                                        <th scope="col" class="jsgrid-align-center " rowspan="2"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.directLaborAmount"></th>
                                        <th scope="col" class="jsgrid-align-center " colspan="6"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.constructionMachines"></th>
                                        <th scope="col" class="jsgrid-align-center " colspan="6"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.generalProduction"></th>
                                        <th scope="col" class="jsgrid-align-center " rowspan="2"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.totalCostAmount"></th>
                                    </tr>
                                    <tr>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.machineMaterialAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.machineLaborAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.machineToolsAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.machineDepreciationAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.machineServiceAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.machineGeneralAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.generalMaterialAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.generalLaborAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.generalToolsAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.generalDepreciationAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.cPAllocationQuantum.generalServiceAmount"></th>
                                        <th scope="col" class="jsgrid-align-center sticky-30"
                                            jhiTranslate="ebwebApp.dinhMucGiaThanhThanhPham.otherGeneralAmount"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let cPAQ of cPAllocationQuantums; let i = index;">
                                        <td title="{{cPAQ.objectCode}}"
                                            class="jsgrid-cell jsgrid-align-left">{{cPAQ.objectCode}}</td>
                                        <td title="{{cPAQ.objectName}}"
                                            class="jsgrid-cell jsgrid-align-left">{{cPAQ.objectName}}</td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.directMaterialAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.directLaborAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.machineMaterialAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.machineLaborAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.machineToolsAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.machineDepreciationAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.machineServiceAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.machineGeneralAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.generalMaterialAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.generalLaborAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.generalToolsAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.generalDepreciationAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.generalServiceAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.otherGeneralAmount"
                                                                                          (ngModelChange)="selectChangeTotalCostAmount(i)"/>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [allowNegative]="false"
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="cPAQ.totalCostAmount"
                                                                                          [disabled]="true"/>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let l of newArr(19 - cPAllocationQuantums?.length)">
                                        <td class="jsgrid-cell jsgrid-align-center"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-center"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled></td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled></td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled></td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled></td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                        <td class="jsgrid-cell jsgrid-align-right"><input class="input-Cell" disabled>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
<div *ngIf="cPAllocationQuantums && cPAllocationQuantums.length"
     style="padding-right: 16px">
    <div class="row justify-content-end" style="height:32px">
        <div class="col-lg-2">
            <div class="form-group row">
                <label class="col-sm-7 col-form-label" for="itemsPerPage"
                       style="padding-right: 0px;text-align: right;"><span
                    jhiTranslate="ebwebApp.mBDeposit.totalPage"></span>: {{totalItems}}</label>
                <div class="col-sm-5 pd-l-0">
                    <select class="form-control form-control-sm" name="itemsPerPage"
                            id="itemsPerPage"
                            style="background-color: #f5f7fa;"
                            [(ngModel)]="itemsPerPage"
                            (ngModelChange)="selectedItemPerPage()"
                    >
                        <option [value]="20">20</option>
                        <option [value]="30">30</option>
                        <option [value]="50">50</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="justify-content-end">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>

<ng-template #pageRedirects let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.saBill.saveMessage">Dữ liệu đã bị thay đổi. Bạn có chắc chắn muốn chuyển
                    hướng đến trang khác?</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" jhiTranslate="ebwebApp.mBDeposit.agree">
            Save
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="exit()" jhiTranslate="entity.action.close">close
        </button>
    </div>
</ng-template>




