<ul class="nav" style="transition: 0.05s;">
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TIENMATNGANHANG]">
        <a (click)="navigateTMNH()" class="nav-link" data-toggle="collapse" href="#ui-m1" aria-expanded="false"
           aria-controls="ui-m1">
            <img src="/content/images/s1.png">
            <span class="menu-title">TIỀN MẶT VÀ NGÂN HÀNG</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m1">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.PhieuThu_Xem]"><a class="nav-link"
                                                                                                routerLink="mc-receipt"
                                                                                                href="#">Phiếu thu</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.PhieuChi_Xem]"><a class="nav-link"
                                                                                                routerLink="mc-payment"
                                                                                                href="#">Phiếu chi</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_BaoNo_Xem]"><a class="nav-link"
                                                                                             routerLink="mb-teller-paper"
                                                                                             href="#">Báo Nợ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_BaoCo_Xem]"><a class="nav-link"
                                                                                             routerLink="mb-deposit"
                                                                                             href="#">Báo Có</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TheTinDung_Xem]"><a class="nav-link"
                                                                                                  routerLink="mb-credit-card"
                                                                                                  href="#">Thẻ tín
                    dụng</a></li>
                <li class="nav-item" hidden><a class="nav-link" routerLink="mb-internal-transfer" href="#">Chuyển tiền
                    nội bộ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KiemKeQuy]"><a class="nav-link"
                                                                                             routerLink="mc-audit"
                                                                                             href="#">Kiểm kê quỹ</a>
                </li>
                <li class="nav-item" hidden><a class="nav-link" routerLink="bank-compare">Đối chiếu ngân hàng</a></li>
            </ul>
        </div>
    </li>

    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_MuaHang]">
        <a (click)="navigateMuaHang()" class="nav-link" data-toggle="collapse" href="#ui-m2" aria-expanded="false"
           aria-controls="ui-m2">
            <img src="/content/images/s2.png">
            <span class="menu-title text-uppercase" jhiTranslate="ebwebApp.muaHang.title">MUA HÀNG</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m2">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DonMuaHang_Xem]" class="nav-link"
                                        routerLink="don-mua-hang" href="#">Đơn mua hàng</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_MuaHangQuaKho_Xem]" class="nav-link"
                                        routerLink="mua-hang/qua-kho" href="#">Mua hàng qua kho</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_MuaHangKhongQuaKho_Xem]"
                                        class="nav-link" routerLink="mua-hang/khong-qua-kho" href="#">Mua hàng không qua
                    kho</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_NhanHoaDon_Xem]"><a class="nav-link"
                                                                                                  routerLink="nhan-hoa-don"
                                                                                                  jhiTranslate="ebwebApp.receiveBill.home.title"><span></span></a>
                </li>
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.MuaDichVu_Xem]" class="nav-item"><a class="nav-link"
                                                                                                 routerLink="mua-dich-vu"
                                                                                                 jhiTranslate="ebwebApp.muaHang.muaDichVu.title.name"></a>
                </li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HangMuaTraLai_Xem]" class="nav-link"
                                        routerLink="hang-mua/tra-lai" href="#">Hàng mua trả lại</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HangMuaGiamGia_Xem]" class="nav-link"
                                        routerLink="hang-mua/giam-gia" href="#">Hàng mua giảm giá</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TraTienNhaCungCap]"><a class="nav-link"
                                                                                                     routerLink="pp-pay-vendor">Trả
                    tiền nhà cung cấp</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Đối trừ chứng từ</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_BANHANG]">
        <a (click)="navigateBanHang()" class="nav-link" data-toggle="collapse" href="#ui-m3" aria-expanded="false" aria-controls="ui-m3">
            <img src="/content/images/s3.png">
            <span class="menu-title">BÁN HÀNG</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m3">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_BaoGia_Xem]"><a class="nav-link"
                                                                                              routerLink="sa-quote"
                                                                                              jhiTranslate="global.menu.entities.saQuote">Quote</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DonDatHang]"><a class="nav-link"
                                                                                              routerLink="sa-order">Đơn
                    đặt hàng</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_CTBanHang]"><a class="nav-link"
                                                                                                      routerLink="chung-tu-ban-hang"
                                                                                                      jhiTranslate="global.menu.entities.saInvoice">Bán
                    hàng chưa thu tiền</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XuatHoaDon]">
                    <a class="nav-link" routerLink="xuat-hoa-don" jhiTranslate="global.menu.entities.exportInvoice"></a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HangBanTraLai]">
                    <a class="nav-link" routerLink="hang-ban/tra-lai" jhiTranslate="global.menu.entities.saReturn">Hàng
                        bán trả lại</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HangBanGiamGia]">
                    <a class="nav-link" routerLink="hang-ban/giam-gia" jhiTranslate="global.menu.entities.saReturn2">Hàng
                        giảm giá</a>
                </li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ThuTienKhachHang]"><a class="nav-link"
                                                                                                    routerLink="sa-receipt-debit"
                                                                                                    jhiTranslate="global.menu.entities.saReceiptDebit">Thu
                    tiền khách hàng</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Tính lãi nợ</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Thông báo công nợ</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Đối trừ chứng từ</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Thiết lập chính sách giá</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Tính giá bán</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_Kho]">
        <a class="nav-link" data-toggle="collapse" (click)="navigateKho()" href="#ui-m4" aria-expanded="false"
           aria-controls="ui-m4">
            <img src="/content/images/s4.png">
            <span class="menu-title">KHO</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m4">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_NhapKho_Xem]" class="nav-link"
                                        routerLink="nhap-kho" href="#">Nhập kho</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XuatKho_Xem]" class="nav-link"
                                        routerLink="xuat-kho" href="#">Xuất kho</a></li>
                <li class="nav-item"><a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ChuyenKho_Xem]" class="nav-link"
                                        routerLink="chuyen-kho" href="#">Chuyển kho</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Lệnh sản xuất</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Lệnh lắp ráp, tháo dỡ</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Kiểm kê kho</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TinhGiaXuatKho]"><a class="nav-link"
                                                                                                  (click)="calculateOWRepository()">Tính
                    giá xuất kho</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Sắp xếp thứ tự nhập xuất</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Cập nhật giá nhập kho thành phẩm</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_GiaThanh]">
<!--    <li class="nav-item" hidden>-->
        <a (click)="navigateGiaThanh()"  class="nav-link" data-toggle="collapse" href="#ui-m5" aria-expanded="false" aria-controls="ui-m5">
            <img src="/content/images/s5.png">
            <span class="menu-title">GIÁ THÀNH</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m5">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DinhMucNguyenVatLieu_Xem]"><a
                    class="nav-link" routerLink="material-quantum" href="#">Định mức nguyên vật liệu</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DinhMucGiaThanhThanhPham_Xem]"><a
                    class="nav-link" routerLink="dinh-muc-gia-thanh-thanh-pham" href="#">Định mức giá thành thành
                    phẩm</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DinhMucPhanBoChiPhi_Xem]"><a
                    class="nav-link" routerLink="cp-allocation-quantum" href="#">Định mức phân bổ chi phí</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ChiPhiDoDangDauKy_Xem]"><a
                    class="nav-link" routerLink="cpopn" href="#">Chi phí dở dang đầu kỳ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_PhuongPhapGianDon_Xem]"><a class="nav-link" routerLink="gia-thanh/gian-don" href="#">Phương pháp giản đơn</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_PhuongPhapHeSo_Xem]"><a class="nav-link" routerLink="gia-thanh/he-so" href="#">Phương pháp hệ số</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_PhuongPhapTyLe_Xem]"><a class="nav-link" routerLink="gia-thanh/ty-le" href="#">Phương pháp tỷ lệ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_GiaThanhTheoCTVV_Xem]"><a class="nav-link" routerLink="gia-thanh/cong-trinh-vu-viec" href="#">Giá thành theo công trình, vụ việc</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_GiaThanhTheoDonHang_Xem]"><a class="nav-link" routerLink="gia-thanh/don-hang" href="#">Giá thành theo đơn hàng</a></li>
<!--                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_GiaThanhTheoHopDong_Xem]"><a class="nav-link" href="#">Giá thành theo hợp đồng</a></li>-->
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KetChuyenChiPhi_Xem]"><a routerLink="ket-chuyen-chi-phi"  class="nav-link" >Kết chuyển chi phí</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TONGHOP]">
        <a class="nav-link" data-toggle="collapse" href="#ui-m6" aria-expanded="false" aria-controls="ui-m6"
           (click)="navigateTongHop()">
            <img src="/content/images/s10.png">
            <span class="menu-title">TỔNG HỢP</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m6">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ChungTuNghiepVuKhac_Xem]"><a
                    class="nav-link" routerLink="g-other-voucher" href="#"
                    jhiTranslate="global.menu.entities.gOtherVoucher">Chứng từ nghiệp vụ khác</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KetChuyenLaiLo_Xem]"><a class="nav-link"
                                                                                                      routerLink="ket-chuyen-lai-lo"
                                                                                                      href="#"
                                                                                                      jhiTranslate="ebwebApp.gOtherVoucher.home.titleKc">Kết
                    chuyển lãi lỗ</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Chứng từ ghi sổ</a></li>
                <li class="nav-item"><a class="nav-link" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_ChiPhiTraTruoc_Xem]"
                                        routerLink="chi-phi-tra-truoc"
                                        jhiTranslate="ebwebApp.prepaidExpense.radio.prepaidExpense">chi phí trả
                    trước</a></li>
                <li class="nav-item"><a class="nav-link"
                                        *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_PhanBoChiPhiTRaTruoc_Xem]"
                                        routerLink="phan-bo-chi-phi-tra-truoc"
                                        jhiTranslate="ebwebApp.gOtherVoucher.home.titleGOtherVoucher">pshân bổ chi phí
                    trả trước</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Tính tỷ giá xuất quỹ</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Đánh giá lại tài khoản ngoại tệ</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Bù trừ công nợ</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.KhoaSo]"><a class="nav-link"
                                                                                          (click)="lockBook()">Khóa sổ
                    kỳ kế toán</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.BoKhoaSo]"><a class="nav-link"
                                                                                            (click)="unlockBook()">Bỏ
                    khóa sổ kỳ kế toán</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Lập báo cáo tài chính</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_QLHD]">
        <a (click)="navigateQuanLyHoaDon()" class="nav-link" data-toggle="collapse" href="#ui-m7" aria-expanded="false"
           aria-controls="ui-m7">
            <img src="/content/images/s6.png">
            <span class="menu-title">QUẢN LÝ HÓA ĐƠN</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m7">
            <ul class="nav flex-column sub-menu">
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KTHD_XEM]" class="nav-item">
                    <a jhiTranslate="ebwebApp.iAReport.home.title" class="nav-link" routerLink="khoi-tao-mau-hoa-don">Khởi
                        tạo mẫu hóa đơn</a>
                </li>
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DKSD_XEM]" class="nav-item">
                    <a jhiTranslate="ebwebApp.iARegisterInvoice.home.title" class="nav-link"
                       routerLink="dang-ky-su-dung-hoa-don">Đăng ký sử dụng hóa đơn</a>
                </li>
                <li *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_TBPH_XEM]" class="nav-item">
                    <a jhiTranslate="ebwebApp.iaPublishInvoice.home.title" class="nav-link"
                       routerLink="thong-bao-phat-hanh-hoa-don">Thông báo phát hành hóa đơn</a>
                </li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Hủy hóa đơn</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Mất, cháy, hỏng hóa đơn</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Xóa hóa đơn</a></li>
                <li class="nav-item" hidden><a class="nav-link" href="#">Điều chỉnh thông báo phát hành</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" [hidden]="!isTichHop" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_HDDT]">
        <a (click)="navigateHoaDonDienTu()" class="nav-link" data-toggle="collapse" href="#ui-m8" aria-expanded="false"
           aria-controls="ui-m8">
            <img src="/content/images/s7.png">
            <span class="menu-title">HÓA ĐƠN ĐIỆN TỬ</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m8">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DSHD_XEM]"><a class="nav-link"
                                                                                            routerLink="danh-sach-hoa-don">Danh
                    sách hóa đơn</a></li>
                <li class="nav-item" [hidden]="!useInvoiceWait || NCCDV === NCCDV_EINVOICE.MIV|| NCCDV === NCCDV_EINVOICE.SIV|| NCCDV === NCCDV_EINVOICE.VNPT"
                    *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DSHD_CHO_KY_XEM]"><a class="nav-link"
                                                                                  routerLink="hoa-don-cho-ky">Danh sách
                    hóa đơn chờ ký</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HD_THAY_THE_XEM]" [hidden]="NCCDV === NCCDV_EINVOICE.MIV"><a class="nav-link"
                                                                                                   routerLink="hoa-don-thay-the">Hóa
                    đơn thay thế</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HD_DIEU_CHINH_XEM]"><a class="nav-link"
                                                                                                     routerLink="hoa-don-dieu-chinh">Hóa
                    đơn điều chỉnh</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.HD_HUY_XEM]"><a class="nav-link"
                                                                                              routerLink="hoa-don-huy">Hóa
                    đơn hủy</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.CDHD_XEM]" [hidden]="NCCDV === NCCDV_EINVOICE.MIV"><a class="nav-link"
                                                                                            routerLink="chuyen-doi-hoa-don">Chuyển
                    đổi hóa đơn</a></li>
                <li class="nav-item" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.KNHD_KET_NOI_HD]"><a class="nav-link"
                                                                                                   (click)="ConnectEInvocie()">Kết
                    nối hóa đơn điện tử</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" hidden>
        <a class="nav-link" data-toggle="collapse" href="#ui-m9" aria-expanded="false" aria-controls="ui-m9">
            <img src="/content/images/s9.png">
            <span class="menu-title">THUẾ</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m9">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="#">Tờ khai thuế GTGT khấu trừ (01/GTGT)</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Tờ khai thuế GTGT trực tiếp (04/GTGT)</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Tờ khai thuế GTGT cho dự án đầu tư (02/GTGT)</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Quyết toán thuế TNDN năm (03/TNDN)</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Tờ khai thuế tài nguyên (01/TAIN)</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Quyết toán thuế tài nguyên (02/TAIN)</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Khấu trừ thuế GTGT</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Nộp thuế</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" hidden>
        <a class="nav-link" data-toggle="collapse" href="#ui-m10" aria-expanded="false" aria-controls="ui-m10">
            <img src="/content/images/s10.png">
            <span class="menu-title">CÔNG CỤ DỤNG CỤ</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m10">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="#">Khai báo CCDC đầu kỳ</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="ghi-tang-ccdc">Ghi tăng CCDC</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="phan-bo-ccdc">Phân bổ CCDC</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="kiem-ke-ccdc">Kiểm kê CCDC</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="ghi-giam-ccdc">Ghi giảm CCDC</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="dieu-chinh-ccdc">Điều chỉnh CCDC</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="dieu-chuyen-ccdc">Điều chuyển CCDC</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" hidden>
        <a class="nav-link" data-toggle="collapse" href="#ui-m11" aria-expanded="false" aria-controls="ui-m11">
            <img src="/content/images/s11.png">
            <span class="menu-title">TÀI SẢN CỐ ĐỊNH</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-m11">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="#">Khai báo TSCĐ đầu kỳ</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="ghi-tang-tscd" jhiTranslate="ebwebApp.tscd.home.ghiTang">Ghi tăng TSCĐ</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="tinh-khau-hao-tscd" >Tính khấu hao TSCĐ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Kiểm kê TSCĐ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Ghi giảm TSCĐ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Điều chỉnh TSCĐ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Điều chuyển TSCĐ</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" hidden>
        <a class="nav-link" data-toggle="collapse" href="#maps" aria-expanded="false" aria-controls="maps">
            <img src="/content/images/s12.png">
            <span class="menu-title">LƯƠNG</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="maps">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="#">Chấm công</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Tổng hợp chấm công</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Bảng lương</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Hạch toán chi phí lương</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Nộp bảo hiểm</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Thanh toán lương</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item" hidden>
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <img src="/content/images/s13.png">
            <span class="menu-title">HỢP ĐỒNG</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="#"> Hợp đồng mua </a></li>
                <li class="nav-item"><a class="nav-link" href="#"> Hợp đồng bán </a></li>
            </ul>
        </div>
    </li>
</ul>
