<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transportMethod">
            <h2><span jhiTranslate="ebwebApp.transportMethod.detail.title">Transport Method</span> {{transportMethod.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.transportMethod.transportMethodCode">Transport Method Code</span></dt>
                <dd>
                    <span>{{transportMethod.transportMethodCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.transportMethod.transportMethodName">Transport Method Name</span></dt>
                <dd>
                    <span>{{transportMethod.transportMethodName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.transportMethod.description">Description</span></dt>
                <dd>
                    <span>{{transportMethod.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.transportMethod.isActive">Is Active</span></dt>
                <dd>
                    <span>{{transportMethod.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.transportMethod.isSecurity">Is Security</span></dt>
                <dd>
                    <span>{{transportMethod.isSecurity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transport-method', transportMethod.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
