<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-transport-method-heading" jhiTranslate="ebwebApp.transportMethod.home.createOrEditLabel">Create or edit a Transport Method</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!transportMethod.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="transportMethod.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.transportMethod.transportMethodCode" for="field_transportMethodCode">Transport Method Code</label>
                    <input type="text" class="form-control" name="transportMethodCode" id="field_transportMethodCode"
                        [(ngModel)]="transportMethod.transportMethodCode" required maxlength="25"/>
                    <div [hidden]="!(editForm.controls.transportMethodCode?.dirty && editForm.controls.transportMethodCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transportMethodCode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transportMethodCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.transportMethod.transportMethodName" for="field_transportMethodName">Transport Method Name</label>
                    <input type="text" class="form-control" name="transportMethodName" id="field_transportMethodName"
                        [(ngModel)]="transportMethod.transportMethodName" required maxlength="512"/>
                    <div [hidden]="!(editForm.controls.transportMethodName?.dirty && editForm.controls.transportMethodName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transportMethodName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transportMethodName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.transportMethod.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="transportMethod.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.transportMethod.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="transportMethod.isActive" />
                    <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.transportMethod.isSecurity" for="field_isSecurity">Is Security</label>
                    <input type="checkbox" class="form-control" name="isSecurity" id="field_isSecurity"
                        [(ngModel)]="transportMethod.isSecurity" />
                    <div [hidden]="!(editForm.controls.isSecurity?.dirty && editForm.controls.isSecurity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isSecurity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
