<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.personalSalaryTax.home.title">Personal Salary Taxes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-personal-salary-tax" [routerLink]="['/personal-salary-tax/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.personalSalaryTax.home.createLabel">
            Create new Personal Salary Tax
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="personalSalaryTaxes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personalSalaryTaxName"><span jhiTranslate="ebwebApp.personalSalaryTax.personalSalaryTaxName">Personal Salary Tax Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personalSalaryTaxGrade"><span jhiTranslate="ebwebApp.personalSalaryTax.personalSalaryTaxGrade">Personal Salary Tax Grade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salaryType"><span jhiTranslate="ebwebApp.personalSalaryTax.salaryType">Salary Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taxRate"><span jhiTranslate="ebwebApp.personalSalaryTax.taxRate">Tax Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fromAmount"><span jhiTranslate="ebwebApp.personalSalaryTax.fromAmount">From Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toAmount"><span jhiTranslate="ebwebApp.personalSalaryTax.toAmount">To Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span jhiTranslate="ebwebApp.personalSalaryTax.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let personalSalaryTax of personalSalaryTaxes ;trackBy: trackId">
                <td><a [routerLink]="['/personal-salary-tax', personalSalaryTax.id, 'view' ]">{{personalSalaryTax.id}}</a></td>
                <td>{{personalSalaryTax.personalSalaryTaxName}}</td>
                <td>{{personalSalaryTax.personalSalaryTaxGrade}}</td>
                <td>{{personalSalaryTax.salaryType}}</td>
                <td>{{personalSalaryTax.taxRate}}</td>
                <td>{{personalSalaryTax.fromAmount}}</td>
                <td>{{personalSalaryTax.toAmount}}</td>
                <td>{{personalSalaryTax.isActive}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/personal-salary-tax', personalSalaryTax.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/personal-salary-tax', personalSalaryTax.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'personal-salary-tax/'+ personalSalaryTax.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="personalSalaryTaxes && personalSalaryTaxes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
