<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personalSalaryTax">
            <h2><span jhiTranslate="ebwebApp.personalSalaryTax.detail.title">Personal Salary Tax</span> {{personalSalaryTax.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.personalSalaryTax.personalSalaryTaxName">Personal Salary Tax Name</span></dt>
                <dd>
                    <span>{{personalSalaryTax.personalSalaryTaxName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.personalSalaryTax.personalSalaryTaxGrade">Personal Salary Tax Grade</span></dt>
                <dd>
                    <span>{{personalSalaryTax.personalSalaryTaxGrade}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.personalSalaryTax.salaryType">Salary Type</span></dt>
                <dd>
                    <span>{{personalSalaryTax.salaryType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.personalSalaryTax.taxRate">Tax Rate</span></dt>
                <dd>
                    <span>{{personalSalaryTax.taxRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.personalSalaryTax.fromAmount">From Amount</span></dt>
                <dd>
                    <span>{{personalSalaryTax.fromAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.personalSalaryTax.toAmount">To Amount</span></dt>
                <dd>
                    <span>{{personalSalaryTax.toAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.personalSalaryTax.isActive">Is Active</span></dt>
                <dd>
                    <span>{{personalSalaryTax.isActive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/personal-salary-tax', personalSalaryTax.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
