/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}
:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

.selected > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

.rightItem {
    padding: 3px;
    position: absolute;
    background: none;
    right: 0;
}
div#table-scroll0 {
    z-index: 0;
}

/*:host ::ng-deep .tool-navbar li.nav-item:nth-child(4) {*/
/*    position: absolute;*/
/*    right: 15px;*/
/*}*/
/*:host ::ng-deep .tool-navbar li.nav-item:nth-child(4) a {*/
/*    background: #11ab6b;*/
/*    display: inline-block;*/
/*    padding: 3px 10px;*/
/*    font-weight: 600;*/
/*    color: #fff;*/
/*    margin-right: 0px;*/
/*}*/
:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
a.disable,
a.disable:hover {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
}
input[type='number'] {
    width: 100%;
    border: none;
    background: transparent;
    text-align: center;
}

.one-long-line {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-tfoot {
    background-color: #7db5dd !important;
    width: 100%;
}

tfoot td {
    background: #7db5dd !important;
}

tfoot {
    z-index: 0;
}

.color-tfoot {
    background-color: #7db5dd !important;
    width: 100%;
}

.menu-tool-bar .gr-toolbar button:hover {
    color: #f26f21 !important;
}

.menu-tool-bar .gr-toolbar button.button-navigation[disabled]:hover {
    color: #888 !important;
}
@media (max-width: 1472px) {
    .col-ct-3 {
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
    .col-ct-6 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .col-ct-5 {
        flex: 0 0 33.33334% !important;
        max-width: 33.33334% !important;
    }
    .col-ct-7 {
        -ms-flex: 0 0 66.333334% !important;
        flex: 0 0 66.333334% !important;
        max-width: 66.333334% !important;
    }
}

@media (max-width: 1024px) {
    .col-ct-3 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .col-ct-6 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .col-ct-5 {
        flex: 0 0 16.66667% !important;
        max-width: 16.66667% !important;
    }
    .col-ct-7,
    .col-ct-10 {
        -ms-flex: 0 0 83.33334% !important;
        flex: 0 0 83.33334% !important;
        max-width: 83.33334% !important;
    }
}
@media (max-width: 832px) {
    .col-ct-2,
    .col-ct-3,
    .col-ct-4,
    .col-ct-5,
    .col-ct-6,
    .col-ct-7,
    .col-ct-10 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
