.in-table {
    border: none;
    outline: none !important;
    height: 22px !important;
}

.in-table-btn {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    z-index: 1;
    padding: 0 5px 0 5px;
    top: 28px;
}
.outTable {
    z-index: 5;
}
.background-inherit {
    background: inherit !important;
}

.input-group-append button {
    z-index: 0;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #ffffff;
}

.height-22 {
    height: 22px;
}

.in-table-css {
    background: transparent;
    height: 100%;
}
