/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}
:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
    text-decoration: none;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(5) {
    position: absolute;
    right: 119px;
}
:host ::ng-deep .tool-navbar li.nav-item:nth-child(5) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}
:host ::ng-deep .tool-navbar li.nav-item:nth-child(6) {
    position: absolute;
    right: 15px;
}
:host ::ng-deep .tool-navbar li.nav-item:nth-child(6) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}
:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
    text-decoration: none;
}
.form-check.form-check-inline.form-control.checkBox {
    background: none;
}
.form-check.form-check-inline.form-control.itemcheck {
    background: none;
}
:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
    text-decoration: none;
}
/*:host ::ng-deep .tool-navbar li.nav-item:nth-child(5) a:hover {*/
/*    background: #11ab6b !important;*/
/*    color: #fff;*/
/*    border: 1px solid #11ab6b !important;*/
/*    text-decoration: none;*/
/*}*/
/*:host ::ng-deep .tool-navbar li.nav-item:nth-child(6) a:hover {*/
/*    background: #11ab6b !important;*/
/*    color: #fff;*/
/*    border: 1px solid #11ab6b !important;*/
/*    text-decoration: none;*/
/*}*/

::ng-deep .my-class .modal-dialog {
    max-width: 80%;
    width: 80%;
    background: #cbdcf0;
}
.d-flex.rowItem label {
    width: 57%;
    text-align: center;
}
.getdata {
    height: min-content;
}
td {
    min-width: 140px;
}
input#idOfInputComboBox {
    text-align: center !important;
}
tfoot td {
    background: #7db5dd !important;
    color: #000000;
}
tfoot {
    z-index: 0;
}
a.disable,
a.disable:hover {
    color: #959ea9 !important;
}
a.disable:active {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
}
a.disable:active {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
}
.disable-input {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
}
.rowVoucher {
    width: 98%;
}
.selectVoucher {
    background: #11ab6b;
    color: white;
}
a.active {
    text-decoration: none;
}
a {
    text-decoration: none;
}
input[type='checkbox'] {
    min-width: 20px;
}
div#table-scroll0 {
    z-index: 0;
}
.cursor-none {
    pointer-events: none;
    cursor: not-allowed;
}
.btn-dr-i {
    width: 100%;
    text-align: left;
    margin-right: 0;
    display: inline-block;
    border: 0 solid transparent;
}

.hover-dr:hover {
    background: #007bff;
    color: black;
    border-color: #007bff !important;
}
.menu-tool-bar.he > * {
    margin-top: 1px;
}
.one-long-line {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
button.btn-dr-i:hover {
    background: coral;
}
