<div class="body">
    <div class="modal-header" style="padding: 2px 10px; padding-top: 10px">
        <div class="d-flex flex-wrap col-md-11">
            <h6 class="modal-title-detail"><img src="../../../../content/images/icon-logo.png" height="24px"
                                                width="24px"> <span
                class="text-uppercase" jhiTranslate="ebwebApp.baoCao.s33DNN"></span></h6>
        </div>
    </div>
    <div style="padding: 5px 25px">
        <div>
            <div class="form-group row no-gutters" *ngIf="treeOrganizationUnits && treeOrganizationUnits[0]?.children && treeOrganizationUnits[0]?.children?.length > 0">
                <label jhiTranslate="ebwebApp.baoCao.canDoiKeToan.organization" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10 my-last-div-1-0" style="z-index: 100">
                    <eb-tree-combo-box [tree]="treeOrganizationUnits" [(ngModel)]="organizationUnit" (ngModelChange)="changeOptionData(true)"></eb-tree-combo-box>
                </div>
            </div>
            <div class="form-group row" *ngIf="organizationUnit && !organizationUnit.hiddenDependent">
                <label class="col-sm-2 col-form-label pd-lable"></label>
                <div class="col-sm-10 custom-control custom-checkbox" style="padding-left: 24px !important;">
                    <input class="custom-control-input" type="checkbox" name="isBill1" id="inlineCheckbox3"
                           value="option" [(ngModel)]="dependent" (ngModelChange)="changeOptionData()">
                    <label class="custom-control-label" for="inlineCheckbox3" style="font-size: 14px;"
                           jhiTranslate="ebwebApp.baoCao.similarBranch"></label>
                </div>
            </div>
            <div class="form-group row no-gutters" style="z-index: 100">
                <label jhiTranslate="ebwebApp.baoCao.canDoiKeToan.period" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10 my-last-div-1-0">
                    <combo-box style=""
                               name="timeLine"
                               [dataList]="listTimeLine"
                               [listColumns]="utilsService.listColumnsTimeLine"
                               [isOutTable]="true"
                               displayMember="display"
                               valueName="value"
                               [headerColumns]="utilsService.listHeaderColumnsTimeLine"
                               [isObject]="false"
                               [(ngModel)]="timeLineVoucher"
                               (ngModelChange)="selectChangeBeginDateAndEndDate(timeLineVoucher)"
                    ></combo-box>
                </div>
            </div>

            <div class="form-group row no-gutters">
                <label jhiTranslate="ebwebApp.saBill.invoice.fromDate" class="col-sm-2 col-form-label"></label>
                <div style="width: calc(37%) !important; padding-left: 5px !important;">
                    <eb-date-picker [(ngModel)]="fromDate" name="fromdate" format="YYYYMMDD"></eb-date-picker>
                </div>
                <label jhiTranslate="ebwebApp.saBill.invoice.toDate" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4 my-last-div-2-1">
                    <eb-date-picker [(ngModel)]="toDate" name="toDate" format="YYYYMMDD"></eb-date-picker>
                </div>
            </div>
            <div class="form-group row no-gutters">
                <label jhiTranslate="ebwebApp.baoCao.soQuyTienMatPopup.currency"
                       class="col-sm-2 col-form-label"></label>
                <div style="width: calc(37%) !important; padding-left: 5px !important;">
                    <combo-box style=""
                               [dataList]="currencies"
                               [listColumns]="utilsService.listColumnsCurrency"
                               displayMember="currencyCode"
                               valueName="currencyCode"
                               [isRemoveValue]="true"
                               [headerColumns]="[translate.instant('ebwebApp.comboBox.currency.currencyCode'),
                                                 translate.instant('ebwebApp.comboBox.currency.currencyName')]"
                               [isOutTable]="true"
                               [(ngModel)]="currencyCode"
                    ></combo-box>
                </div>
                <label jhiTranslate="ebwebApp.baoCao.soNhatKyThuTienPopup.account"
                       class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4 my-last-div-2-1" style="height: 28px !important;">
                    <combo-box style="height: 28px !important;"
                               [dataList]="accountList"
                               [headerColumns]="[translate.instant('ebwebApp.comboBox.accountDebit.accountNumber'),
                                                 translate.instant('ebwebApp.comboBox.accountDebit.accountName')]"
                               displayMember="accountNumber"
                               valueName="accountNumber"
                               [isRemoveValue]="true"
                               [isCheckEmpty]="true"
                               [listColumns]="['accountNumber', translate.instant('ebwebApp.comboBox.accountDebit.accountNameCol')]"
                               [(ngModel)]="accountNumber"
                    ></combo-box>
                </div>
            </div>
        </div>
        <div id="table-scroll0" class="table-scroll" style="z-index: 0; height: 320px">
            <table class="main-table" style="min-with: 0px">
                <thead>
                <tr>
                    <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check-all" [checked]="isCheckAll()" (change)="checkAll()">
                            <label class="custom-control-label" for="check-all"></label>
                        </div>
                    </th>
                    <th scope="col" jhiTranslate="ebwebApp.baoCao.TheoDoiThanhToanBangNgoaiTe.accountingObjectCode">Mã ĐT</th>
                    <th scope="col" jhiTranslate="ebwebApp.baoCao.TheoDoiThanhToanBangNgoaiTe.accountingObjectName">Tên ĐT</th>
                    <th scope="col" jhiTranslate="ebwebApp.baoCao.TheoDoiThanhToanBangNgoaiTe.accountingObjectAddress">Địa chỉ</th>
                </tr>
                <tr>
                    <th class="col" class="jsgrid-align-center sticky-35"
                        style="background: #fff !important; padding: 0px 10px !important;">
                    </th>
                    <th class="col" class="jsgrid-align-left sticky-35"
                        style="background: #fff !important; padding: 0px 10px !important;"><input
                        type="text" placeholder="{{'ebwebApp.accountDefault.searchHere' | translate}}"
                        class="input-Cell"
                        autocomplete="off"
                        name="accountingObjectsCode"
                        [(ngModel)]="accountingObjectsCode"
                        (ngModelChange)="changeMGFilter()">
                    </th>
                    <th class="col" class="jsgrid-align-left sticky-35"
                        style="background: #fff !important; padding: 0px 10px !important;"><input
                        type="text"
                        autocomplete="off"
                        placeholder="{{'ebwebApp.accountDefault.searchHere' | translate}}"
                        class="input-Cell"
                        name="accountingObjectsName"
                        [(ngModel)]="accountingObjectsName"
                        (ngModelChange)="changeMGFilter()"
                    >
                    </th>
                    <th class="col" class="jsgrid-align-left sticky-35"
                        style="background: #fff !important; padding: 0px 10px !important;"><input
                        type="text"
                        autocomplete="off"
                        placeholder="{{'ebwebApp.accountDefault.searchHere' | translate}}"
                        class="input-Cell"
                        name="accountingObjectsAddress"
                        [(ngModel)]="accountingObjectsAddress"
                        (ngModelChange)="changeMGFilter()"
                    >
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of accountingObjectsFilter, let i = index">
                    <td class="text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="{{'checkbox' + i}}"
                                   id="{{'checkbox' + i}}" [(ngModel)]="item.checked" (click)="check(item)">
                            <label class="custom-control-label" for="{{'checkbox' + i}}"></label>
                        </div>
                    </td>
                    <td [title]="item.accountingObjectCode" class="jsgrid-align-left">
                        {{item.accountingObjectCode}}
                    </td>
                    <td [title]="item.accountingObjectName" class="jsgrid-align-left">
                        {{item.accountingObjectName}}
                    </td>
                    <td [title]="item.accountingObjectAddress" class="jsgrid-align-left">
                        {{item.accountingObjectAddress}}
                    </td>
                </tr>
                <tr *ngFor="let l of newArr(8 - accountingObjectsFilter?.length)">
                    <td><input type="text" class="input-Cell" readonly></td>
                    <td><input type="text" class="input-Cell" readonly></td>
                    <td><input type="text" class="input-Cell" readonly></td>
                    <td><input type="text" class="input-Cell" readonly></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer" style="padding: 5px 31px">
        <button id="save" (click)="showReport()" class="btn btn-success">
            <span jhiTranslate="entity.action.preview"></span>
        </button>
        <button *ebHasSomeAuthorityAndCondition="[['ROLE_ADMIN', ROLE_KetXuat]]" class="btn btn-danger"
                jhiTranslate="entity.action.render" (click)="exportExcel()">Kết xuất
        </button>
        <button type="button" class="btn btn-dark" (click)="activeModal.dismiss('closed')" data-dismiss="modal">
            <span jhiTranslate="entity.action.close"></span>
        </button>
    </div>
</div>
