.selected > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

h3 {
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}

th {
    text-align: center;
}

.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.input-Cell-Dp {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

/*endof right click*/
/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}

/*style for menu*/
.itemw .menu-tool-bar a {
    color: #ffffff;
}

.itemw .menu-tool-bar a:hover {
    color: #f26f21 !important;
}

.menu-tool-bar .gr-toolbar > a.disable {
    color: #959ea9 !important;
    pointer-events: none;
}

/deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}

/deep/ .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color: #f6f6f6 !important;
    color: black !important;
}

/*style addNewRow*/
.addNewRow {
    background-color: #e9ecef !important;
}

.main-table td.cell-Table .dropdown {
    z-index: -1 !important;
}

.myreadonlytrue {
    pointer-events: none;
}

.edit-color {
    color: #fff;
}

#field_currencyID {
    padding-bottom: 10px;
    padding-top: 5px;
}

.input-group-append {
    margin-top: 1px;
    z-index: 0;
}

.table-scroll {
    z-index: 0;
}

.countRow {
    background-color: rgba(26, 116, 190, 0.53);
    width: 100%;
}

#tienHang2 {
    border-left-width: 0px;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td.border-none {
    border: 0 !important;
}

.date-input {
    max-width: 1px;
    border: none;
    opacity: 0;
}

.description {
    min-width: 300px;
}

.active > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.required {
    border-left: 5px solid red;
    border-radius: 3px;
}

.account-css {
    width: calc(100% - 118px) !important;
}

.set-width {
    width: 118px;
}

.set-width-date {
    width: 80px;
    padding-left: 10px;
}

td.jsgrid-cell.jsgrid-align {
    height: 35px;
}

.date-css {
    width: calc(100% - 93px) !important;
}

.set-width-search {
    width: 83px;
    padding-left: 0px !important;
}

.search-css {
    width: calc(100% - 94px);
    transform: translateX(-3px);
}

.set-pd-top {
    padding-top: 2px;
}
