<div class="modal-body">
    <form>
        <div class="form-group">
            <label jhiTranslate="ebwebApp.mBTellerPaper.confirmLeave.confirmMessage">Dữ liệu đã bị thay đổi, Bạn có muốn
                rời trang không?</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="action(true)"
            jhiTranslate="ebwebApp.mBTellerPaper.confirmLeave.yes">Có
    </button>
    <button type="button" class="btn btn-outline-danger" (click)="action(false)"
            jhiTranslate="ebwebApp.mBTellerPaper.confirmLeave.no">
        Không
    </button>
</div>
