<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="expenseItem">
            <h2><span jhiTranslate="ebwebApp.expenseItem.detail.title">Expense Item</span> {{expenseItem.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.expenseItem.expenseItemCode">Expense Item Code</span></dt>
                <dd>
                    <span>{{expenseItem.expenseItemCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.expenseItem.expenseItemName">Expense Item Name</span></dt>
                <dd>
                    <span>{{expenseItem.expenseItemName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.expenseItem.expenseType">Expense Type</span></dt>
                <dd>
                    <span>{{expenseItem.expenseType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.expenseItem.description">Description</span></dt>
                <dd>
                    <span>{{expenseItem.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.expenseItem.parentID">Parent ID</span></dt>
                <dd>
                    <span>{{expenseItem.parentID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.expenseItem.isParentNode">Is Parent Node</span></dt>
                <dd>
                    <span>{{expenseItem.isParentNode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.expenseItem.orderFixCode">Order Fix Code</span></dt>
                <dd>
                    <span>{{expenseItem.orderFixCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.expenseItem.grade">Grade</span></dt>
                <dd>
                    <span>{{expenseItem.grade}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.expenseItem.isActive">Is Active</span></dt>
                <dd>
                    <span>{{expenseItem.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.expenseItem.isSecurity">Is Security</span></dt>
                <dd>
                    <span>{{expenseItem.isSecurity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/expense-item', expenseItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
