/*right click event*/
.contextmenu {
    position: absolute;
    z-index: 1;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);*/
}
.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}
.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}
/*endof right click*/
