<!--If detail-->
<div *ngIf="selectedDetail" class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
    <div class="inner-box">
        <button *ngIf="selectedDetail" (click)="addNewRowByRightClick(Details, 0)">
            <i style="color: green" class="mdi mdi-plus"></i> Thêm dòng mới
        </button>
    </div>
    <div class="inner-box">
        <button *ngIf="selectedDetail" (click)="deleteRowByRightClick(Details,selectedDetail)">
            <i style="color: red" class="mdi mdi-window-close"></i> Xóa dòng
        </button>
    </div>
</div>
<!--If detailTax-->
<div *ngIf="selectedDetailTax" class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
    <div class="inner-box">
        <button *ngIf="selectedDetailTax" (click)="addNewRowByRightClick(DetailTaxs, 1)">
            <i style="color: green" class="mdi mdi-plus"></i> Thêm dòng mới
        </button>
    </div>
    <div class="inner-box">
        <button *ngIf="selectedDetailTax" (click)="deleteRowByRightClick(DetailTaxs,selectedDetailTax)">
            <i style="color: red;" class="mdi mdi-window-close"></i> Xóa dòng
        </button>
    </div>
</div>
