a.disable {
    color: dimgray !important;
}

a.disable:hover {
    color: black !important;
}

.myreadonlytrue {
    pointer-events: none;
}

.row.no-gutters .my-last-div-VTHH-3-2 {
    flex: 0 0 100%;
    max-width: calc(50% - 390px) !important;
}

.my-col-form-label-VTHH {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: 130px !important;
    max-width: 130px !important;
}
