<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-warranty-heading" jhiTranslate="ebwebApp.warranty.home.createOrEditLabel">Create or edit a Warranty</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!warranty.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="warranty.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.warranty.warrantyTime" for="field_warrantyTime">Warranty Time</label>
                    <input type="number" class="form-control" name="warrantyTime" id="field_warrantyTime"
                        [(ngModel)]="warranty.warrantyTime" required/>
                    <div [hidden]="!(editForm.controls.warrantyTime?.dirty && editForm.controls.warrantyTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.warrantyTime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.warrantyTime?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.warranty.warrantyName" for="field_warrantyName">Warranty Name</label>
                    <input type="text" class="form-control" name="warrantyName" id="field_warrantyName"
                        [(ngModel)]="warranty.warrantyName" required maxlength="255"/>
                    <div [hidden]="!(editForm.controls.warrantyName?.dirty && editForm.controls.warrantyName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.warrantyName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.warrantyName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.warranty.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="warranty.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.warranty.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="warranty.isActive" />
                    <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
