<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="warranty">
            <h2><span jhiTranslate="ebwebApp.warranty.detail.title">Warranty</span> {{warranty.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.warranty.warrantyTime">Warranty Time</span></dt>
                <dd>
                    <span>{{warranty.warrantyTime}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.warranty.warrantyName">Warranty Name</span></dt>
                <dd>
                    <span>{{warranty.warrantyName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.warranty.description">Description</span></dt>
                <dd>
                    <span>{{warranty.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.warranty.isActive">Is Active</span></dt>
                <dd>
                    <span>{{warranty.isActive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/warranty', warranty.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
