<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-prepaid-expense-allocation-heading" jhiTranslate="ebwebApp.prepaidExpenseAllocation.home.createOrEditLabel">Create or edit a Prepaid Expense Allocation</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!prepaidExpenseAllocation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="prepaidExpenseAllocation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.prepaidExpenseAllocation.prepaidExpenseID" for="field_prepaidExpenseID">Prepaid Expense ID</label>
                    <input type="text" class="form-control" name="prepaidExpenseID" id="field_prepaidExpenseID"
                        [(ngModel)]="prepaidExpenseAllocation.prepaidExpenseID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.prepaidExpenseAllocation.allocationObjectID" for="field_allocationObjectID">Allocation Object ID</label>
                    <input type="text" class="form-control" name="allocationObjectID" id="field_allocationObjectID"
                        [(ngModel)]="prepaidExpenseAllocation.allocationObjectID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.prepaidExpenseAllocation.allocationObjectType" for="field_allocationObjectType">Allocation Object Type</label>
                    <input type="number" class="form-control" name="allocationObjectType" id="field_allocationObjectType"
                        [(ngModel)]="prepaidExpenseAllocation.allocationObjectType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.prepaidExpenseAllocation.allocationObjectName" for="field_allocationObjectName">Allocation Object Name</label>
                    <input type="text" class="form-control" name="allocationObjectName" id="field_allocationObjectName"
                        [(ngModel)]="prepaidExpenseAllocation.allocationObjectName" maxlength="512"/>
                    <div [hidden]="!(editForm.controls.allocationObjectName?.dirty && editForm.controls.allocationObjectName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.allocationObjectName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.prepaidExpenseAllocation.allocationRate" for="field_allocationRate">Allocation Rate</label>
                    <input type="number" class="form-control" name="allocationRate" id="field_allocationRate"
                        [(ngModel)]="prepaidExpenseAllocation.allocationRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.prepaidExpenseAllocation.costAccount" for="field_costAccount">Cost Account</label>
                    <input type="text" class="form-control" name="costAccount" id="field_costAccount"
                        [(ngModel)]="prepaidExpenseAllocation.costAccount" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.costAccount?.dirty && editForm.controls.costAccount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.costAccount?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.prepaidExpenseAllocation.expenseItemID" for="field_expenseItemID">Expense Item ID</label>
                    <input type="text" class="form-control" name="expenseItemID" id="field_expenseItemID"
                        [(ngModel)]="prepaidExpenseAllocation.expenseItemID" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
