<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.contractState.home.title">Contract States</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contract-state" [routerLink]="['/contract-state/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.contractState.home.createLabel">
            Create new Contract State
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="contractStates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--            <th jhiSortBy="contractStateCode"><span jhiTranslate="ebwebApp.contractState.contractStateCode">Contract State Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="contractStateName"><span jhiTranslate="ebwebApp.contractState.contractStateName">Contract State Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="ebwebApp.contractState.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isSecurity"><span jhiTranslate="ebwebApp.contractState.isSecurity">Is Security</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contractState of contractStates ;trackBy: trackId">
                <td><a [routerLink]="['/contract-state', contractState.id, 'view' ]">{{contractState.id}}</a></td>
<!--                <td>{{contractState.contractStateCode}}</td>-->
                <td>{{contractState.contractStateName}}</td>
                <td>{{contractState.description}}</td>
                <td>{{contractState.isSecurity}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/contract-state', contractState.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contract-state', contractState.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contract-state/'+ contractState.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="contractStates && contractStates.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
