<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contractState">
            <h2><span jhiTranslate="ebwebApp.contractState.detail.title">Contract State</span> {{contractState.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.contractState.contractStateCode">Contract State Code</span></dt>
                <dd>
                    <span>{{contractState.contractStateName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.contractState.contractStateName">Contract State Name</span></dt>
                <dd>
                    <span>{{contractState.contractStateName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.contractState.description">Description</span></dt>
                <dd>
                    <span>{{contractState.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.contractState.isSecurity">Is Security</span></dt>
                <dd>
                    <span>{{contractState.isSecurity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contract-state', contractState.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
