<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="genCode">
            <h2><span jhiTranslate="ebwebApp.genCode.detail.title">Gen Code</span> {{genCode.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.genCode.companyID">Company ID</span></dt>
                <dd>
                    <span>{{genCode.companyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.genCode.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{genCode.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.genCode.displayOnBook">Display On Book</span></dt>
                <dd>
                    <span>{{genCode.displayOnBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.genCode.typeGroupID">Type Group ID</span></dt>
                <dd>
                    <span>{{genCode.typeGroupID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.genCode.typeGroupName">Type Group Name</span></dt>
                <dd>
                    <span>{{genCode.typeGroupName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.genCode.prefix">Prefix</span></dt>
                <dd>
                    <span>{{genCode.prefix}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.genCode.currentValue">Current Value</span></dt>
                <dd>
                    <span>{{genCode.currentValue}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.genCode.suffix">Suffix</span></dt>
                <dd>
                    <span>{{genCode.suffix}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.genCode.length">Length</span></dt>
                <dd>
                    <span>{{genCode.length}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gen-code', genCode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
