<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sAOrder">
            <h2><span jhiTranslate="ebwebApp.sAOrder.detail.title">SA Order</span> {{sAOrder.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.sAOrder.companyID">Company ID</span></dt>
                <dd>
                    <span>{{sAOrder.companyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{sAOrder.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.typeID">Type ID</span></dt>
                <dd>
                    <span>{{sAOrder.typeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.date">Date</span></dt>
                <dd>
                    <span>{{sAOrder.date}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.no">No</span></dt>
                <dd>
                    <span>{{sAOrder.no}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.deliverDate">Deliver Date</span></dt>
                <dd>
                    <span>{{sAOrder.deliverDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.deliveryPlace">Delivery Place</span></dt>
                <dd>
                    <span>{{sAOrder.deliveryPlace}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.accountingObjectID">Accounting Object ID</span></dt>
                <dd>
                    <span>{{sAOrder.accountingObjectID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.accountingObjectName">Accounting Object Name</span></dt>
                <dd>
                    <span>{{sAOrder.accountingObjectName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.accountingObjectAddress">Accounting Object Address</span></dt>
                <dd>
                    <span>{{sAOrder.accountingObjectAddress}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.companyTaxCode">Company Tax Code</span></dt>
                <dd>
                    <span>{{sAOrder.companyTaxCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.contactName">Contact Name</span></dt>
                <dd>
                    <span>{{sAOrder.contactName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.reason">Reason</span></dt>
                <dd>
                    <span>{{sAOrder.reason}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.currencyID">Currency ID</span></dt>
                <dd>
                    <span>{{sAOrder.currencyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{sAOrder.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.transpotMethodID">Transpot Method ID</span></dt>
                <dd>
                    <span>{{sAOrder.transpotMethodID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.employeeID">Employee ID</span></dt>
                <dd>
                    <span>{{sAOrder.employeeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{sAOrder.totalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.totalAmountOriginal">Total Amount Original</span></dt>
                <dd>
                    <span>{{sAOrder.totalAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.totalDiscountAmount">Total Discount Amount</span></dt>
                <dd>
                    <span>{{sAOrder.totalDiscountAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.totalDiscountAmountOriginal">Total Discount Amount Original</span></dt>
                <dd>
                    <span>{{sAOrder.totalDiscountAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.totalVATAmount">Total VAT Amount</span></dt>
                <dd>
                    <span>{{sAOrder.totalVATAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.totalVATAmountOriginal">Total VAT Amount Original</span></dt>
                <dd>
                    <span>{{sAOrder.totalVATAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.templateID">Template ID</span></dt>
                <dd>
                    <span>{{sAOrder.templateID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAOrder.status">Status</span></dt>
                <dd>
                    <span>{{sAOrder.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sa-order', sAOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
