<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <div *ngIf="materialGoodsConvertUnit">-->
<!--            <h2><span jhiTranslate="ebwebApp.materialGoodsConvertUnit.detail.title">Material Goods Convert Unit</span> {{materialGoodsConvertUnit.id}}</h2>-->
<!--            <hr>-->
<!--            <eb-alert-error></eb-alert-error>-->
<!--            <dl class="row-md jh-entity-details">-->
<!--                <dt><span jhiTranslate="ebwebApp.materialGoodsConvertUnit.orderNumber">Order Number</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{materialGoodsConvertUnit.orderNumber}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.materialGoodsConvertUnit.convertRate">Convert Rate</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{materialGoodsConvertUnit.convertRate}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.materialGoodsConvertUnit.formula">Formula</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{materialGoodsConvertUnit.formula}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.materialGoodsConvertUnit.description">Description</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{materialGoodsConvertUnit.description}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.materialGoodsConvertUnit.materialGoods">Material Goods</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="materialGoodsConvertUnit.materialGoods">-->
<!--                        <a [routerLink]="['/material-goods', materialGoodsConvertUnit.materialGoods?.id, 'view']">{{materialGoodsConvertUnit.materialGoods?.id}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.materialGoodsConvertUnit.unit">Unit</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="materialGoodsConvertUnit.unit">-->
<!--                        <a [routerLink]="['/unit', materialGoodsConvertUnit.unit?.id, 'view']">{{materialGoodsConvertUnit.unit?.id}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--            </dl>-->

<!--            <button type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
<!--            </button>-->

<!--            <button type="button"-->
<!--                    [routerLink]="['/material-goods-convert-unit', materialGoodsConvertUnit.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
