<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.home.title">G Other Voucher Detail Expense Allocations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-g-other-voucher-detail-expense-allocation" [routerLink]="['/g-other-voucher-detail-expense-allocation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.home.createLabel">
            Create new G Other Voucher Detail Expense Allocation
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="gOtherVoucherDetailExpenseAllocations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gOtherVoucherID"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.gOtherVoucherID">G Other Voucher ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepaidExpenseID"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.prepaidExpenseID">Prepaid Expense ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="allocationAmount"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.allocationAmount">Allocation Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="objectID"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.objectID">Object ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="objectType"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.objectType">Object Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="allocationRate"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.allocationRate">Allocation Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costAccount"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.costAccount">Cost Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expenseItemID"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.expenseItemID">Expense Item ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costSetID"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.costSetID">Cost Set ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderPriority"><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpenseAllocation.orderPriority">Order Priority</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gOtherVoucherDetailExpenseAllocation of gOtherVoucherDetailExpenseAllocations ;trackBy: trackId">
                <td><a [routerLink]="['/g-other-voucher-detail-expense-allocation', gOtherVoucherDetailExpenseAllocation.id, 'view' ]">{{gOtherVoucherDetailExpenseAllocation.id}}</a></td>
                <td>{{gOtherVoucherDetailExpenseAllocation.gOtherVoucherID}}</td>
                <td>{{gOtherVoucherDetailExpenseAllocation.prepaidExpenseID}}</td>
                <td>{{gOtherVoucherDetailExpenseAllocation.allocationAmount}}</td>
                <td>{{gOtherVoucherDetailExpenseAllocation.objectID}}</td>
                <td>{{gOtherVoucherDetailExpenseAllocation.objectType}}</td>
                <td>{{gOtherVoucherDetailExpenseAllocation.allocationRate}}</td>
                <td>{{gOtherVoucherDetailExpenseAllocation.amount}}</td>
                <td>{{gOtherVoucherDetailExpenseAllocation.costAccount}}</td>
                <td>{{gOtherVoucherDetailExpenseAllocation.expenseItemID}}</td>
                <td>{{gOtherVoucherDetailExpenseAllocation.costSetID}}</td>
                <td>{{gOtherVoucherDetailExpenseAllocation.orderPriority}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/g-other-voucher-detail-expense-allocation', gOtherVoucherDetailExpenseAllocation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/g-other-voucher-detail-expense-allocation', gOtherVoucherDetailExpenseAllocation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'g-other-voucher-detail-expense-allocation/'+ gOtherVoucherDetailExpenseAllocation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="gOtherVoucherDetailExpenseAllocations && gOtherVoucherDetailExpenseAllocations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
