.selected > td {
    background: #ddf7ef !important;
}

a.disable,
a.disable:hover {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
}

h3 {
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}
/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}
:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 7px 20px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}
:host ::ng-deep .tool-navbar li.nav-item:nth-child(4) {
    position: absolute;
    right: 15px;
}
:host ::ng-deep .tool-navbar li.nav-item:nth-child(4) a {
    background: #11ab6b;
    display: inline-block;
    padding: 7px 20px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}
:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
/*style for pagination*/
/deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}

/deep/ .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color: #f6f6f6 !important;
    color: black !important;
}
.edit-color {
    color: #fff;
}
#table-scroll0 {
    z-index: 0;
}

input[name='fromDate'],
input[name='toDate'] {
    border: none;
}
.total {
    text-align: center;
    padding-right: 0px;
    padding-top: 3px;
}

.date-input {
    max-width: 1px;
    border: none;
    opacity: 0;
}

.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.color-tfoot {
    background-color: #7db5dd !important;
    width: 100%;
}

.input-Cell {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 100%;
    height: 100%;
}
.height_tr {
    height: 26.4px;
}

.one-long-line {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*#txtSearchValue {*/
/*    transform: translateX(-33px);*/
/*}*/

.date-search {
    -ms-flex: 0 0 46.9% !important;
    flex: 1 0 46.9% !important;
    max-width: 47.9% !important;
}

.pding-top {
    padding-top: 1px;
}

.input-Cell-total {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    height: 100%;
}

.button-navigation:hover {
    color: #f26f21 !important;
}

.button-navigation[disabled]:hover {
    color: #888 !important;
}

.menu-tool-bar .gr-toolbar button {
    margin-left: 20px;
}

.mdi-border-color {
    font-style: initial;
}

.fix-height {
    height: 26.4px !important;
}

.col-md-3 {
    padding: 0px;
    right: 20px;
}

.col-sm-4.pd-l-0 {
    padding-right: 0px;
}

#itemsPerPage {
    background-color: #f5f7fa;
    height: 33px !important;
}

.account-css {
    width: calc(100% - 118px) !important;
}

.set-width {
    width: 118px;
}

.set-width-date {
    width: 80px;
    padding-left: 10px;
}

.date-css {
    width: calc(100% - 90px) !important;
}

.set-width-search {
    width: 83px;
    padding-left: 0px !important;
}

.search-css {
    width: calc(100% - 90px);
    transform: translateX(-3px);
}

.set-pd-top {
    padding-top: 2px;
}
