.itemw .gr-toolbar a {
    color: #ffffff;
}
.itemw .gr-toolbar a:hover {
    color: #f26f21 !important;
}
.itemw .menu-tool-bar a.disable,
a.disable {
    color: dimgray !important;
}

a.disable:hover {
    color: black !important;
}
.myreadonlytrue {
    pointer-events: none;
}

.row.no-gutters .my-last-div-unit-2-1 {
    flex: 0 0 100%;
    max-width: calc(66.6666666666667% - 220px) !important;
}

.row.no-gutters .my-last-div-unit-2-2 {
    flex: 0 0 100%;
    max-width: calc(100% - 110px) !important;
}

.my-col-form-label {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: 110px !important;
    max-width: 110px !important;
}

.col-form-label-sm-bank {
    padding-bottom: calc(0.375rem + 1px);
    font-size: inherit;
    line-height: 1.5;
}
