<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fixedAsset">
            <h2><span jhiTranslate="ebwebApp.fixedAsset.detail.title">Fixed Asset</span> {{fixedAsset.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.fixedAsset.fixedAssetCode">Fixed Asset Code</span></dt>
                <dd>
                    <span>{{fixedAsset.fixedAssetCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.fixedAssetName">Fixed Asset Name</span></dt>
                <dd>
                    <span>{{fixedAsset.fixedAssetName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.description">Description</span></dt>
                <dd>
                    <span>{{fixedAsset.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.productionYear">Production Year</span></dt>
                <dd>
                    <span>{{fixedAsset.productionYear}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.madeIn">Made In</span></dt>
                <dd>
                    <span>{{fixedAsset.madeIn}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.serialNumber">Serial Number</span></dt>
                <dd>
                    <span>{{fixedAsset.serialNumber}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.accountingObjectName">Accounting Object Name</span></dt>
                <dd>
                    <span>{{fixedAsset.accountingObjectName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.warranty">Warranty</span></dt>
                <dd>
                    <span>{{fixedAsset.warranty}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.guaranteeCodition">Guarantee Codition</span></dt>
                <dd>
                    <span>{{fixedAsset.guaranteeCodition}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.isSecondHand">Is Second Hand</span></dt>
                <dd>
                    <span>{{fixedAsset.isSecondHand}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.currentState">Current State</span></dt>
                <dd>
                    <span>{{fixedAsset.currentState}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.deliveryRecordNo">Delivery Record No</span></dt>
                <dd>
                    <span>{{fixedAsset.deliveryRecordNo}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.deliveryRecordDate">Delivery Record Date</span></dt>
                <dd>
                    <span>{{fixedAsset.deliveryRecordDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.purchasedDate">Purchased Date</span></dt>
                <dd>
                    <span>{{fixedAsset.purchasedDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.incrementDate">Increment Date</span></dt>
                <dd>
                    <span>{{fixedAsset.incrementDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.depreciationDate">Depreciation Date</span></dt>
                <dd>
                    <span>{{fixedAsset.depreciationDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.usedDate">Used Date</span></dt>
                <dd>
                    <span>{{fixedAsset.usedDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.purchasePrice">Purchase Price</span></dt>
                <dd>
                    <span>{{fixedAsset.purchasePrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.originalPrice">Original Price</span></dt>
                <dd>
                    <span>{{fixedAsset.originalPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.depreciationMethod">Depreciation Method</span></dt>
                <dd>
                    <span>{{fixedAsset.depreciationMethod}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.usedTime">Used Time</span></dt>
                <dd>
                    <span>{{fixedAsset.usedTime}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.displayMonthYear">Display Month Year</span></dt>
                <dd>
                    <span>{{fixedAsset.displayMonthYear}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.periodDepreciationAmount">Period Depreciation Amount</span></dt>
                <dd>
                    <span>{{fixedAsset.periodDepreciationAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.depreciationRate">Depreciation Rate</span></dt>
                <dd>
                    <span>{{fixedAsset.depreciationRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.monthDepreciationRate">Month Depreciation Rate</span></dt>
                <dd>
                    <span>{{fixedAsset.monthDepreciationRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.monthPeriodDepreciationAmount">Month Period Depreciation Amount</span></dt>
                <dd>
                    <span>{{fixedAsset.monthPeriodDepreciationAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.isActive">Is Active</span></dt>
                <dd>
                    <span>{{fixedAsset.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.fixedAssetCategoryID">Fixed Asset Category ID</span></dt>
                <dd>
                    <div *ngIf="fixedAsset.fixedAssetCategoryID">
                        <a [routerLink]="['/fixed-asset-category', fixedAsset.fixedAssetCategoryID?.id, 'view']">{{fixedAsset.fixedAssetCategoryID?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.branchID">Branch ID</span></dt>
                <dd>
                    <div *ngIf="fixedAsset.branchID">
                        <a [routerLink]="['/organization-unit', fixedAsset.branchID?.id, 'view']">{{fixedAsset.branchID?.branchID}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.organizationUnitID">Organization Unit ID</span></dt>
                <dd>
                    <div *ngIf="fixedAsset.organizationUnitID">
                        <a [routerLink]="['/organization-unit', fixedAsset.organizationUnitID?.id, 'view']">{{fixedAsset.organizationUnitID?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.accountingObjectID">Accounting Object ID</span></dt>
                <dd>
                    <div *ngIf="fixedAsset.accountingObjectID">
                        <a [routerLink]="['/accounting-object', fixedAsset.accountingObjectID?.id, 'view']">{{fixedAsset.accountingObjectID?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.fixedAsset.depreciationAccount">Depreciation Account</span></dt>
<!--                <dd>-->
<!--                    <div *ngIf="fixedAsset.depreciationAccount">-->
<!--                        <a [routerLink]="['/account-list', fixedAsset.depreciationAccount?.id, 'view']">{{fixedAsset.depreciationAccount?.accountNumber}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAsset.originalPriceAccount">Original Price Account</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="fixedAsset.originalPriceAccount">-->
<!--                        <a [routerLink]="['/account-list', fixedAsset.originalPriceAccount?.id, 'view']">{{fixedAsset.originalPriceAccount?.accountNumber}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAsset.expenditureAccount">Expenditure Account</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="fixedAsset.expenditureAccount">-->
<!--                        <a [routerLink]="['/account-list', fixedAsset.expenditureAccount?.id, 'view']">{{fixedAsset.expenditureAccount?.accountNumber}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fixed-asset', fixedAsset.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
