.selected {
    background: #d86b29 !important;
    /*color: white;*/
    border: none;
}
input {
    width: 100%;
    border: none;
}
table td {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item a {
    background-color: #adc8e6;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}
:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
}
