<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mBInternalTransfer">
            <h2><span jhiTranslate="ebwebApp.mBInternalTransfer.detail.title">MB Internal Transfer</span> {{mBInternalTransfer.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.typeID">Type ID</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.typeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.date">Date</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.date}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.postedDate">Posted Date</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.postedDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.typeLedger">Type Ledger</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.typeLedger}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.noFBook">No F Book</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.noFBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.noMBook">No M Book</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.noMBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.reason">Reason</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.reason}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.employeeID">Employee ID</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.employeeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.totalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.totalAmountOriginal">Total Amount Original</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.totalAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.toBranchID">To Branch ID</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.toBranchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransfer.recorded">Recorded</span></dt>
                <dd>
                    <span>{{mBInternalTransfer.recorded}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mb-internal-transfer', mBInternalTransfer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
