<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="saleDiscountPolicy">
            <h2><span jhiTranslate="ebwebApp.saleDiscountPolicy.detail.title">Sale Discount Policy</span> {{saleDiscountPolicy.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.saleDiscountPolicy.quantityFrom">Quantity From</span></dt>
                <dd>
                    <span>{{saleDiscountPolicy.quantityFrom}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.saleDiscountPolicy.quantityTo">Quantity To</span></dt>
                <dd>
                    <span>{{saleDiscountPolicy.quantityTo}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.saleDiscountPolicy.discountType">Discount Type</span></dt>
                <dd>
                    <span>{{saleDiscountPolicy.discountType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.saleDiscountPolicy.discountResult">Discount Result</span></dt>
                <dd>
                    <span>{{saleDiscountPolicy.discountResult}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.saleDiscountPolicy.materialGoods">Material Goods</span></dt>
                <dd>
                    <div *ngIf="saleDiscountPolicy.materialGoods">
                        <a [routerLink]="['/material-goods', saleDiscountPolicy.materialGoods?.id, 'view']">{{saleDiscountPolicy.materialGoods?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sale-discount-policy', saleDiscountPolicy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
