<div class="container-fluid">
    <div class="margin-tp-5 margin-0">
        <div class="">
            <div class="itemw" style="color: #FFFFFF">
                <div class="menu-tool-bar he">
                    <div class="ptitle">
                        <span jhiTranslate="ebwebApp.budgetItem.home.title">Mục thu chi</span>
                    </div>
                    <div class="gr-toolbar">
                        <button class="button-navigation" (click)="addNew($event)" *ebHasAnyAuthority="['ROLE_ADMIN', ROLE_BudgetItem_Them]" title="{{'ebwebApp.autoPrinciple.tooltipAdd' | translate}}"><i class="mdi mdi-plus"></i> <span jhiTranslate="ebwebApp.budgetItem.add"></span></button>
                        <button class="button-navigation" (click)="edit()" [disabled]="budgetItems.length === 0"
                                *ebHasAnyAuthority="['ROLE_ADMIN', ROLE_BudgetItem_Sua]" title="{{'ebwebApp.autoPrinciple.tooltipEdit' | translate}}"><i class="mdi mdi-pen" ></i><span jhiTranslate="ebwebApp.budgetItem.edit"></span></button>
                        <button class="button-navigation" (click)="delete()" [disabled]="budgetItems.length === 0"
                                *ebHasAnyAuthority="['ROLE_ADMIN', ROLE_BudgetItem_Xoa]" title="{{'ebwebApp.autoPrinciple.tooltipDelete' | translate}}"><i class="mdi mdi-delete"></i><span jhiTranslate="ebwebApp.budgetItem.deleted"></span></button>
                    </div>
                </div>
            </div>
            <div class="frm-main frm-mains nobg" style="background: #cbdcf0; margin-top: 5px">
                <eb-tree-grid #child [tree]="listParentBudgetItem" [navigateForm]="navigateForm" [listTHead]="listTHead" [listKey]="listKey"></eb-tree-grid>
            </div>
    </div>
</div>
</div>
<ng-template #deleteDetailModal>
<div class="modal-body">
    <div class="form">
        <div class="row">
            <label class="col-sm-4 col-form-label"
                   jhiTranslate="ebwebApp.budgetItem.deleteMultiTotal">Tong</label>
            <label name="countSuccessVoucher"
                   type="text" class="col-sm-8 col-form-label">{{handlingResult.countTotalVouchers}}</label>
        </div>
        <div class="row">
            <label class="col-sm-4 col-form-label"
                   jhiTranslate="ebwebApp.budgetItem.deleteMultiSuccess">Thanh cong</label>
            <label name="countSuccessVoucher"
                   type="text" class="col-sm-8 col-form-label">{{handlingResult.countSuccessVouchers}}</label>
        </div>
        <div class="row">
            <label class="col-sm-4 col-form-label"
                   jhiTranslate="ebwebApp.budgetItem.deleteMultiFail">That bai</label>
            <label name="countSuccessVoucher"
                   type="text" class="col-sm-8 col-form-label">{{handlingResult.countFailVouchers}}</label>
        </div>
    </div>
    <div class="frm-main frm-tables frm-padding" style="background: #cbdcf0; margin-top: 5px"
         [class.myreadonlytrue]="true">
        <div id="table-scroll0" class="table-scroll voucher-table">
            <table id="main-table0" class="main-table">
                <thead class="header-table">
                <tr>
                    <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.budgetItem.code"></th>
                    <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.budgetItem.name"></th>
                    <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.mBDeposit.nguyenNhan"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fail of handlingResult.listFailCategory">
                    <td class="jsgrid-cell jsgrid-align-left"
                        style="width: 150px">{{fail.code}}</td>
                    <td class="jsgrid-cell jsgrid-align-left"
                        style="width: 300px">{{fail.name}}</td>
                    <td class="jsgrid-cell jsgrid-align-left" [jhiTranslate]="fail.des === 'NUT_CHA' ? 'ebwebApp.budgetItem.notDeleteParentNode' : 'ebwebApp.budgetItem.deleteError'"
                        style="width: 300px"></td>
                </tr>
                <tr *ngFor="let arr of newArr(10 - handlingResult.listFailCategory?.length )">
                    <td class="jsgrid-cell jsgrid-align-left"
                        style="width: 150px">&nbsp;</td>
                    <td class="jsgrid-cell jsgrid-align-left"
                        style="width: 300px">&nbsp;</td>
                    <td class="jsgrid-cell jsgrid-align-left"
                        style="width: 300px">&nbsp;</td>
                </tr>
                </tbody>
                <tfoot [class.myreadonlytrue]="true">
                <tr>
                    <td class="cell-Table countRow" colspan="5" style="width: 150px"><input type="text"
                                                                                            readonly
                                                                                            class="countRow input-Cell"
                                                                                            value="{{'ebwebApp.purchaseOrder.countLine'| translate}} : {{handlingResult.listFailCategory?.length}}">
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeDeleteMultiDetail()"
            jhiTranslate="ebwebApp.mBDeposit.home.exit">
    </button>
</div>
</ng-template>
<ng-template #deleteModal let-dismissDelete="dismiss">
    <form  name="deleteForm" (ngSubmit)="deleteAfter()">
        <div class="modal-header">
            <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="dismissDelete('Close')">&times;</button>
        </div>
        <div class="modal-body">
            <eb-alert-error></eb-alert-error>
            <p id="eb-delete-sAOrder-heading" jhiTranslate="ebwebApp.sAOrder.delete.questionList">Are you sure you want to delete this SA Order?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="dismissDelete('Close')">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button id="eb-confirm-delete-sAOrder" type="submit" class="btn btn-danger">
                <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </form>
</ng-template>
