th {
    text-align: center;
}

.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

div.dropdown-item > .menu-tool-bar .gr-tool-bar a > span > span {
    color: black !important;
}

.input-Cell-Dp {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}

.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.btn-dr-i {
    width: 100%;
    text-align: left;
    margin-right: 0;
    display: inline-block;
    border: 0 solid transparent;
}

.hover-dr:hover {
    background: #007bff;
    color: black;
    border-color: #007bff !important;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(4) {
    position: absolute;
    right: 15px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(4) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(4) a:hover {
    background: #11ab6b;
    color: #fff;
    border-color: #11ab6b;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border: none !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border: none !important;
}

/*right click event*/
.contextmenu {
    position: absolute;
}

.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}

.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}

/*endof right click*/
/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}

/*style for menu*/
.itemw .menu-tool-bar a {
    color: #ffffff;
}

.itemw .menu-tool-bar a:hover {
    color: #f26f21 !important;
}

.itemw .menu-tool-bar a.disable,
a.disable {
    color: dimgray !important;
}
.itemw .menu-tool-bar a.disable,
a.disable:active {
    pointer-events: none;
    cursor: not-allowed;
}

a.disable:hover {
    color: dimgray !important;
}

/*style addNewRow*/
.addNewRow {
    background-color: #e9ecef !important;
}

span.disable {
    color: dimgray !important;
}

.gray {
    background-color: #868e96;
}

.myreadonlytrue {
    pointer-events: none;
}

.countRow {
    background-color: #7db5dd !important;
    width: 100%;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td.border-none {
    border: 0 !important;
    padding: 0;
    margin: 0;
}

.description {
    min-width: 300px;
}

.one-long-line {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
tfoot tr td.totalRow {
    background: #7db5dd !important;
}

tfoot {
    z-index: 0;
}
td.cell-Table {
    margin: 0;
    padding: 0;
}
