    <!--add by anmt-->
<div >
    <div >
        <div class="menu-tool-bar he">
            <div class="ptitle">
                <span style="text-transform: uppercase"
                      jhiTranslate="userManagement.home.userInfo">UserInfo</span>
            </div>
            <div class="gr-toolbar">
                <a (click)="save()"
                ><i class="mdi mdi-briefcase-download"></i><span jhiTranslate="ebwebApp.mBTellerPaper.save">Save</span></a>
            </div>
        </div>
        <div class="frm-main frm-mains nobg row" style="margin-left: 2px;margin-right: 2px;">
<!--            <div class="col-md-2" style="text-align: center">-->
<!--                <div style="border: 1px solid deepskyblue;margin-top: 20px;">-->
<!--                    <img src="/content/images/hipster512.png" style="padding:5px; width: 50%">-->
<!--                </div>-->
<!--                <div style="text-transform: uppercase">-->
<!--                    {{user.login}}-->
<!--                </div>-->
<!--                <div *ngIf="!user.isSystem">-->
<!--                    <p>Làm việc trên</p>-->
<!--                    <select class="form-control form-control-sm"-->
<!--                            name="typeledger"-->
<!--                            id="field_typeledger"-->
<!--                            [(ngModel)]="user.workOnBook" disabled-->
<!--                    >-->
<!--                        <option value="0">Sổ tài chính</option>-->
<!--                        <option value="1">Sổ quản trị</option>-->
<!--                        <option value="2" selected="selected">Sổ tài chính & Sổ quản trị</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-md-12">
                <div class="frm-main">
                    <div class="row no-gutters">
                        <div class="col-lg-12">
                            <fieldset>
                                <legend style="font-size: 19px; color: #f26f21;font-weight: bold;">
                                    <span jhiTranslate="userManagement.userForm.personInfoTitle">PersonInfo</span>
                                </legend>
                                <form style="border: none;">
                                    <div class="row no-gutters">
                                        <div class="col-lg-12">
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-2 my-col-form-label" for="field_emailLogin"
                                                       jhiTranslate="userManagement.emailLogin"
                                                >Email đăng nhập (*)</label>
                                                <div class="col-sm-3 pd-l-0 pd-r-10 my-last-div-user-3" title="{{user.login}}">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="fullName1" id="field_emailLogin"
                                                           [(ngModel)]="user.login"
                                                           [readOnly]="true"
                                                    />
                                                </div>
                                                <label class="col-sm-2 my-col-form-label" for="field_fullName"
                                                       jhiTranslate="userManagement.userForm.fullName"
                                                >FullName (*)</label>
                                                <div class="col-sm-3 pd-l-0 pd-r-10 my-last-div-user-3" title="{{user.fullName}}">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="fullName" id="field_fullName"
                                                           [(ngModel)]="user.fullName"
                                                           required
                                                    />
                                                </div>
                                                <label class="col-sm-2 my-col-form-label-one" for="field_address"
                                                       jhiTranslate="userManagement.company"
                                                >Vị trí công tác</label>
                                                <div class="col-sm-3 pd-l-0 my-last-div-user-3" title="{{user.job}}">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="address" id="field_address"
                                                           [(ngModel)]="user.job"
                                                    />
                                                </div>
                                            </div>
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-2 my-col-form-label" for="field_birthday"
                                                       jhiTranslate="userManagement.userForm.birthDay"
                                                >Ngày sinh</label>
                                                <div class="col-sm-3 pd-l-0 my-last-div-user-3">
                                                    <eb-date-picker id="field_birthday"
                                                                    [(ngModel)]="user.birthday" name="birthday" format="YYYY-MM-DD"
                                                                    [isInTable]="false">

                                                    </eb-date-picker>
                                                </div>
                                                <label class="col-sm-2 my-col-form-label" for="field_country"
                                                       jhiTranslate="userManagement.userForm.country"
                                                >Country</label>
                                                <div class="col-sm-3 pd-l-0 pd-r-10 my-last-div-user-3">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="country" id="field_country"
                                                           [(ngModel)]="user.country"
                                                    />
                                                </div>
                                                <label class="col-sm-2 my-col-form-label-one"
                                                       for="field_acity"
                                                       jhiTranslate="userManagement.userForm.city"
                                                >City</label>
                                                <div class="col-sm-3 pd-l-0 my-last-div-user-3" title="{{user.city}}">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="city"
                                                           id="field_acity"
                                                           [(ngModel)]="user.city"
                                                    />
                                                </div>
                                            </div>
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-2 my-col-form-label"
                                                       for="field_province"
                                                       jhiTranslate="userManagement.userForm.province"
                                                >Province</label>
                                                <div class="col-sm-3 pd-l-0 my-last-div-user-3" title="{{user.province}}">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="province"
                                                           id="field_province"
                                                           [(ngModel)]="user.province"
                                                    />
                                                </div>
                                                <label class="col-sm-2 my-col-form-label" for="field_idCard"
                                                       jhiTranslate="userManagement.userForm.idCard"
                                                >IdCard</label>
                                                <div class="col-sm-3 pd-l-0 pd-r-10 my-last-div-user-3">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="idCard" id="field_idCard"
                                                           [(ngModel)]="user.idCard"
                                                    />
                                                </div>
                                                <label class="col-sm-2 my-col-form-label-one" for="field_description"
                                                       jhiTranslate="userManagement.userForm.description"
                                                >Description</label>
                                                <div class="col-sm-3 pd-l-0 my-last-div-user-3">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="description" id="field_description"
                                                           [(ngModel)]="user.description"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="frm-main">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <legend style="font-size: 19px; color: #f26f21;font-weight: bold;">
                                    <span jhiTranslate="userManagement.userForm.contactInfoTitle">ContactInfo</span>
                                </legend>
                                <form style="border: none;">
                                    <div class="row no-gutters">
                                        <div class="col-lg-12">
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-2 my-col-form-label" for="field_mobilePhone"
                                                       jhiTranslate="userManagement.userForm.mobilePhone"
                                                >MobilePhone</label>
                                                <div class="col-sm-3 pd-l-0 pd-r-10 my-last-div-user-3">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="mobilePhone" id="field_mobilePhone"
                                                           [(ngModel)]="user.mobilePhone"
                                                    />
                                                </div>
                                                <label class="col-sm-2 my-col-form-label-one" for="field_fax"
                                                       jhiTranslate="userManagement.userForm.fax"
                                                >Fax</label>
                                                <div class="col-sm-3 pd-l-0 my-last-div-user-3">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="fax" id="field_fax"
                                                           [(ngModel)]="user.fax"
                                                    />
                                                </div>
                                                <label class="col-sm-2 my-col-form-label" for="field_email"
                                                       jhiTranslate="userManagement.email"
                                                >Email</label>
                                                <div class="col-sm-3 pd-l-0 my-last-div-user-3" title="{{user.email}}">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="email" id="field_email"
                                                           [(ngModel)]="user.email"
                                                           required
                                                    />
                                                </div>
                                            </div>
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-2 my-col-form-label" for="field_homePhone"
                                                       jhiTranslate="userManagement.userForm.homePhone"
                                                >HomePhone</label>
                                                <div class="col-sm-3 pd-l-0 pd-r-10 my-last-div-user-3">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="homePhone" id="field_homePhone"
                                                           [(ngModel)]="user.homePhone"
                                                    />
                                                </div>
                                                <label class="col-sm-2 my-col-form-label-one" for="field_address1"
                                                       jhiTranslate="userManagement.userForm.address"
                                                >Điện thoại di động</label>
                                                <div class="col-sm-3 pd-l-0 my-last-div-user-1">
                                                    <input type="text" class="form-control form-control-sm"
                                                           name="address1" id="field_address1"
                                                           [(ngModel)]="user.address"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of anmt-->
<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">-->
<!--            <h2 id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">-->
<!--                Create or edit a User-->
<!--            </h2>-->
<!--            <div>-->
<!--                <eb-alert-error></eb-alert-error>-->
<!--                <div class="form-group" [hidden]="!user.id">-->
<!--                    <label jhiTranslate="global.field.id">ID</label>-->
<!--                    <input type="text" class="form-control" name="id"-->
<!--                           [(ngModel)]="user.id" readonly>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>-->
<!--                    <input type="text" class="form-control" name="login" #loginInput="ngModel"-->
<!--                           [(ngModel)]="user.login" required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">-->

<!--                    <div *ngIf="loginInput.dirty && loginInput.invalid">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="loginInput.errors.required" jhiTranslate="entity.validation.required">-->
<!--                            This field is required.-->
<!--                        </small>-->

<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="loginInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"-->
<!--                               translateValues="{max: 50}">-->
<!--                            This field cannot be longer than 50 characters.-->
<!--                        </small>-->

<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="loginInput.errors.pattern" jhiTranslate="entity.validation.patternLogin">-->
<!--                            This field can only contain letters, digits and e-mail addresses.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>-->
<!--                    <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel"-->
<!--                           [(ngModel)]="user.firstName" maxlength="50">-->

<!--                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="firstNameInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"-->
<!--                               translateValues="{max: 50}">-->
<!--                            This field cannot be longer than 50 characters.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label jhiTranslate="userManagement.lastName">Last Name</label>-->
<!--                    <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel"-->
<!--                           [(ngModel)]="user.lastName" maxlength="50">-->

<!--                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="lastNameInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"-->
<!--                               translateValues="{max: 50}">-->
<!--                            This field cannot be longer than 50 characters.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>-->
<!--                    <input type="email" class="form-control" name="email" #emailInput="ngModel"-->
<!--                           [(ngModel)]="user.email" minlength="5" required maxlength="254" email>-->

<!--                    <div *ngIf="emailInput.dirty && emailInput.invalid">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="emailInput.errors.required" jhiTranslate="entity.validation.required">-->
<!--                            This field is required.-->
<!--                        </small>-->

<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="emailInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"-->
<!--                               translateValues="{max: 100}">-->
<!--                            This field cannot be longer than 100 characters.-->
<!--                        </small>-->

<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="emailInput.errors.minlength" jhiTranslate="entity.validation.minlength"-->
<!--                               translateValues="{min: 5}">-->
<!--                            This field is required to be at least 5 characters.-->
<!--                        </small>-->

<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">-->
<!--                            Your email is invalid.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-check">-->
<!--                    <label class="form-check-label" for="activated">-->
<!--                        <input class="form-check-input" [disabled]="user.id === null" type="checkbox" id="activated"-->
<!--                               name="activated" [(ngModel)]="user.activated">-->
<!--                        <span jhiTranslate="userManagement.activated">Activated</span>-->
<!--                    </label>-->
<!--                </div>-->

<!--                <div class="form-group" *ngIf="languages && languages.length > 0">-->
<!--                    <label jhiTranslate="userManagement.langKey">Lang Key</label>-->
<!--                    <select class="form-control" id="langKey" name="langKey" [(ngModel)]="user.langKey">-->
<!--                        <option *ngFor="let language of languages"-->
<!--                                [value]="language">{{language | findLanguageFromKey}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label jhiTranslate="userManagement.profiles">Profiles</label>-->
<!--                    <select class="form-control" multiple name="ebAuthority" [(ngModel)]="user.authorities">-->
<!--                        <option *ngFor="let ebAuthority of authorities" [value]="ebAuthority">{{ebAuthority}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <button type="button" class="btn btn-secondary" (click)="previousState()">-->
<!--                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span-->
<!--                    jhiTranslate="entity.action.cancel">Cancel</span>-->
<!--                </button>-->
<!--                <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">-->
<!--                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
