:host {
    display: block;
    width: 316px;
    padding: 16px;
}
.color-wrapper {
    display: flex;
    height: 250px;
}

.text {
    flex: 1;
    font-family: 'Helvetica';
    line-height: 32px;
}
