<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pPInvoiceDetails">
            <h2><span jhiTranslate="ebwebApp.pPInvoiceDetails.detail.title">PP Invoice Details</span> {{pPInvoiceDetails.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.ppInvoiceId">Pp Invoice Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.ppInvoiceId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.materialGoodsId">Material Goods Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.materialGoodsId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.repositoryId">Repository Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.repositoryId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.description">Description</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.debitAccount">Debit Account</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.debitAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.creditAccount">Credit Account</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.creditAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.unitId">Unit Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.unitId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.quantity">Quantity</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.unitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.unitPriceOriginal">Unit Price Original</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.unitPriceOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.amount">Amount</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.amount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.amountOriginal">Amount Original</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.amountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.discountRate">Discount Rate</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.discountRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.discountAmount">Discount Amount</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.discountAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.discountAmountOriginal">Discount Amount Original</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.discountAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.inwardAmount">Inward Amount</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.inwardAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.inwardAmountOriginal">Inward Amount Original</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.inwardAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.freightAmount">Freight Amount</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.freightAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.freightAmountOriginal">Freight Amount Original</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.freightAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxExpenseAmount">Import Tax Expense Amount</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.importTaxExpenseAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxExpenseAmountOriginal">Import Tax Expense Amount Original</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.importTaxExpenseAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.expiryDate">Expiry Date</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.expiryDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.lotNo">Lot No</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.lotNo}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.customUnitPrice">Custom Unit Price</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.customUnitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.vatRate">Vat Rate</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.vatRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.vatAmount">Vat Amount</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.vatAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.vatAmountOriginal">Vat Amount Original</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.vatAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.vatAccount">Vat Account</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.vatAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.deductionDebitAccount">Deduction Debit Account</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.deductionDebitAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.mainUnitId">Main Unit Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.mainUnitId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.mainQuantity">Main Quantity</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.mainQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.mainUnitPrice">Main Unit Price</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.mainUnitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.mainConvertRate">Main Convert Rate</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.mainConvertRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.formula">Formula</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.formula}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxRate">Import Tax Rate</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.importTaxRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxAmount">Import Tax Amount</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.importTaxAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxAmountOriginal">Import Tax Amount Original</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.importTaxAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxAccount">Import Tax Account</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.importTaxAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.specialConsumeTaxRate">Special Consume Tax Rate</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.specialConsumeTaxRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.specialConsumeTaxAmount">Special Consume Tax Amount</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.specialConsumeTaxAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.specialConsumeTaxAmountOriginal">Special Consume Tax Amount Original</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.specialConsumeTaxAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.specialConsumeTaxAccount">Special Consume Tax Account</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.specialConsumeTaxAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.invoiceType">Invoice Type</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.invoiceType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.invoiceDate">Invoice Date</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.invoiceDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.invoiceNo">Invoice No</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.invoiceNo}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.invoiceSeries">Invoice Series</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.invoiceSeries}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.goodsServicePurchaseId">Goods Service Purchase Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.goodsServicePurchaseId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.accountingObjectId">Accounting Object Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.accountingObjectId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.budgetItemId">Budget Item Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.budgetItemId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.costSetId">Cost Set Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.costSetId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.contractId">Contract Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.contractId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.statisticCodeId">Statistic Code Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.statisticCodeId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.departmentId">Department Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.departmentId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.expenseItemId">Expense Item Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.expenseItemId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.ppOrderId">Pp Order Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.ppOrderId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.ppOrderDetailId">Pp Order Detail Id</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.ppOrderDetailId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutExchangeRateFB">Cash Out Exchange Rate FB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutExchangeRateFB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutAmountFB">Cash Out Amount FB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutAmountFB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferAmountFB">Cash Out Differ Amount FB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutDifferAmountFB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferAccountFB">Cash Out Differ Account FB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutDifferAccountFB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutExchangeRateMB">Cash Out Exchange Rate MB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutExchangeRateMB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutAmountMB">Cash Out Amount MB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutAmountMB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferAmountMB">Cash Out Differ Amount MB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutDifferAmountMB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferAccountMB">Cash Out Differ Account MB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutDifferAccountMB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutVATAmountFB">Cash Out VAT Amount FB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutVATAmountFB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferVATAmountFB">Cash Out Differ VAT Amount FB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutDifferVATAmountFB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutVATAmountMB">Cash Out VAT Amount MB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutVATAmountMB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferVATAmountMB">Cash Out Differ VAT Amount MB</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.cashOutDifferVATAmountMB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pPInvoiceDetails.orderPriority">Order Priority</span></dt>
                <dd>
                    <span>{{pPInvoiceDetails.orderPriority}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pp-invoice-details', pPInvoiceDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
