<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-pp-invoice-details-heading" jhiTranslate="ebwebApp.pPInvoiceDetails.home.createOrEditLabel">Create or edit a PP Invoice Details</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!pPInvoiceDetails.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pPInvoiceDetails.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.ppInvoiceId" for="field_ppInvoiceId">Pp Invoice Id</label>
                    <input type="text" class="form-control" name="ppInvoiceId" id="field_ppInvoiceId"
                        [(ngModel)]="pPInvoiceDetails.ppInvoiceId" required/>
                    <div [hidden]="!(editForm.controls.ppInvoiceId?.dirty && editForm.controls.ppInvoiceId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ppInvoiceId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.materialGoodsId" for="field_materialGoodsId">Material Goods Id</label>
                    <input type="text" class="form-control" name="materialGoodsId" id="field_materialGoodsId"
                        [(ngModel)]="pPInvoiceDetails.materialGoodsId" required/>
                    <div [hidden]="!(editForm.controls.materialGoodsId?.dirty && editForm.controls.materialGoodsId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.materialGoodsId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.repositoryId" for="field_repositoryId">Repository Id</label>
                    <input type="text" class="form-control" name="repositoryId" id="field_repositoryId"
                        [(ngModel)]="pPInvoiceDetails.repositoryId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="pPInvoiceDetails.description" maxlength="512"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.debitAccount" for="field_debitAccount">Debit Account</label>
                    <input type="text" class="form-control" name="debitAccount" id="field_debitAccount"
                        [(ngModel)]="pPInvoiceDetails.debitAccount" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.debitAccount?.dirty && editForm.controls.debitAccount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.debitAccount?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.creditAccount" for="field_creditAccount">Credit Account</label>
                    <input type="text" class="form-control" name="creditAccount" id="field_creditAccount"
                        [(ngModel)]="pPInvoiceDetails.creditAccount" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.creditAccount?.dirty && editForm.controls.creditAccount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creditAccount?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.unitId" for="field_unitId">Unit Id</label>
                    <input type="text" class="form-control" name="unitId" id="field_unitId"
                        [(ngModel)]="pPInvoiceDetails.unitId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="pPInvoiceDetails.quantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.unitPrice" for="field_unitPrice">Unit Price</label>
                    <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                        [(ngModel)]="pPInvoiceDetails.unitPrice" required/>
                    <div [hidden]="!(editForm.controls.unitPrice?.dirty && editForm.controls.unitPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unitPrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.unitPrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.unitPriceOriginal" for="field_unitPriceOriginal">Unit Price Original</label>
                    <input type="number" class="form-control" name="unitPriceOriginal" id="field_unitPriceOriginal"
                        [(ngModel)]="pPInvoiceDetails.unitPriceOriginal" required/>
                    <div [hidden]="!(editForm.controls.unitPriceOriginal?.dirty && editForm.controls.unitPriceOriginal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unitPriceOriginal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.unitPriceOriginal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="pPInvoiceDetails.amount" required/>
                    <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.amountOriginal" for="field_amountOriginal">Amount Original</label>
                    <input type="number" class="form-control" name="amountOriginal" id="field_amountOriginal"
                        [(ngModel)]="pPInvoiceDetails.amountOriginal" required/>
                    <div [hidden]="!(editForm.controls.amountOriginal?.dirty && editForm.controls.amountOriginal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amountOriginal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amountOriginal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.discountRate" for="field_discountRate">Discount Rate</label>
                    <input type="number" class="form-control" name="discountRate" id="field_discountRate"
                        [(ngModel)]="pPInvoiceDetails.discountRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.discountAmount" for="field_discountAmount">Discount Amount</label>
                    <input type="number" class="form-control" name="discountAmount" id="field_discountAmount"
                        [(ngModel)]="pPInvoiceDetails.discountAmount" required/>
                    <div [hidden]="!(editForm.controls.discountAmount?.dirty && editForm.controls.discountAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.discountAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.discountAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.discountAmountOriginal" for="field_discountAmountOriginal">Discount Amount Original</label>
                    <input type="number" class="form-control" name="discountAmountOriginal" id="field_discountAmountOriginal"
                        [(ngModel)]="pPInvoiceDetails.discountAmountOriginal" required/>
                    <div [hidden]="!(editForm.controls.discountAmountOriginal?.dirty && editForm.controls.discountAmountOriginal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.discountAmountOriginal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.discountAmountOriginal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.inwardAmount" for="field_inwardAmount">Inward Amount</label>
                    <input type="number" class="form-control" name="inwardAmount" id="field_inwardAmount"
                        [(ngModel)]="pPInvoiceDetails.inwardAmount" required/>
                    <div [hidden]="!(editForm.controls.inwardAmount?.dirty && editForm.controls.inwardAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.inwardAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.inwardAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.inwardAmountOriginal" for="field_inwardAmountOriginal">Inward Amount Original</label>
                    <input type="number" class="form-control" name="inwardAmountOriginal" id="field_inwardAmountOriginal"
                        [(ngModel)]="pPInvoiceDetails.inwardAmountOriginal" required/>
                    <div [hidden]="!(editForm.controls.inwardAmountOriginal?.dirty && editForm.controls.inwardAmountOriginal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.inwardAmountOriginal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.inwardAmountOriginal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.freightAmount" for="field_freightAmount">Freight Amount</label>
                    <input type="number" class="form-control" name="freightAmount" id="field_freightAmount"
                        [(ngModel)]="pPInvoiceDetails.freightAmount" required/>
                    <div [hidden]="!(editForm.controls.freightAmount?.dirty && editForm.controls.freightAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.freightAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.freightAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.freightAmountOriginal" for="field_freightAmountOriginal">Freight Amount Original</label>
                    <input type="number" class="form-control" name="freightAmountOriginal" id="field_freightAmountOriginal"
                        [(ngModel)]="pPInvoiceDetails.freightAmountOriginal" required/>
                    <div [hidden]="!(editForm.controls.freightAmountOriginal?.dirty && editForm.controls.freightAmountOriginal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.freightAmountOriginal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.freightAmountOriginal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxExpenseAmount" for="field_importTaxExpenseAmount">Import Tax Expense Amount</label>
                    <input type="number" class="form-control" name="importTaxExpenseAmount" id="field_importTaxExpenseAmount"
                        [(ngModel)]="pPInvoiceDetails.importTaxExpenseAmount" required/>
                    <div [hidden]="!(editForm.controls.importTaxExpenseAmount?.dirty && editForm.controls.importTaxExpenseAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.importTaxExpenseAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.importTaxExpenseAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxExpenseAmountOriginal" for="field_importTaxExpenseAmountOriginal">Import Tax Expense Amount Original</label>
                    <input type="number" class="form-control" name="importTaxExpenseAmountOriginal" id="field_importTaxExpenseAmountOriginal"
                        [(ngModel)]="pPInvoiceDetails.importTaxExpenseAmountOriginal" required/>
                    <div [hidden]="!(editForm.controls.importTaxExpenseAmountOriginal?.dirty && editForm.controls.importTaxExpenseAmountOriginal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.importTaxExpenseAmountOriginal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.importTaxExpenseAmountOriginal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.expiryDate" for="field_expiryDate">Expiry Date</label>
                    <div class="input-group">
                        <input id="field_expiryDate" type="text" class="form-control" name="expiryDate" ngbDatepicker  #expiryDateDp="ngbDatepicker" [(ngModel)]="pPInvoiceDetails.expiryDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expiryDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.lotNo" for="field_lotNo">Lot No</label>
                    <input type="text" class="form-control" name="lotNo" id="field_lotNo"
                        [(ngModel)]="pPInvoiceDetails.lotNo" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.lotNo?.dirty && editForm.controls.lotNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lotNo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.customUnitPrice" for="field_customUnitPrice">Custom Unit Price</label>
                    <input type="number" class="form-control" name="customUnitPrice" id="field_customUnitPrice"
                        [(ngModel)]="pPInvoiceDetails.customUnitPrice" required/>
                    <div [hidden]="!(editForm.controls.customUnitPrice?.dirty && editForm.controls.customUnitPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.customUnitPrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.customUnitPrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.vatRate" for="field_vatRate">Vat Rate</label>
                    <input type="number" class="form-control" name="vatRate" id="field_vatRate"
                        [(ngModel)]="pPInvoiceDetails.vatRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.vatAmount" for="field_vatAmount">Vat Amount</label>
                    <input type="number" class="form-control" name="vatAmount" id="field_vatAmount"
                        [(ngModel)]="pPInvoiceDetails.vatAmount" required/>
                    <div [hidden]="!(editForm.controls.vatAmount?.dirty && editForm.controls.vatAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.vatAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.vatAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.vatAmountOriginal" for="field_vatAmountOriginal">Vat Amount Original</label>
                    <input type="number" class="form-control" name="vatAmountOriginal" id="field_vatAmountOriginal"
                        [(ngModel)]="pPInvoiceDetails.vatAmountOriginal" required/>
                    <div [hidden]="!(editForm.controls.vatAmountOriginal?.dirty && editForm.controls.vatAmountOriginal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.vatAmountOriginal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.vatAmountOriginal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.vatAccount" for="field_vatAccount">Vat Account</label>
                    <input type="text" class="form-control" name="vatAccount" id="field_vatAccount"
                        [(ngModel)]="pPInvoiceDetails.vatAccount" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.vatAccount?.dirty && editForm.controls.vatAccount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.vatAccount?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.deductionDebitAccount" for="field_deductionDebitAccount">Deduction Debit Account</label>
                    <input type="text" class="form-control" name="deductionDebitAccount" id="field_deductionDebitAccount"
                        [(ngModel)]="pPInvoiceDetails.deductionDebitAccount" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.deductionDebitAccount?.dirty && editForm.controls.deductionDebitAccount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.deductionDebitAccount?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.mainUnitId" for="field_mainUnitId">Main Unit Id</label>
                    <input type="text" class="form-control" name="mainUnitId" id="field_mainUnitId"
                        [(ngModel)]="pPInvoiceDetails.mainUnitId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.mainQuantity" for="field_mainQuantity">Main Quantity</label>
                    <input type="number" class="form-control" name="mainQuantity" id="field_mainQuantity"
                        [(ngModel)]="pPInvoiceDetails.mainQuantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.mainUnitPrice" for="field_mainUnitPrice">Main Unit Price</label>
                    <input type="number" class="form-control" name="mainUnitPrice" id="field_mainUnitPrice"
                        [(ngModel)]="pPInvoiceDetails.mainUnitPrice" required/>
                    <div [hidden]="!(editForm.controls.mainUnitPrice?.dirty && editForm.controls.mainUnitPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.mainUnitPrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.mainUnitPrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.mainConvertRate" for="field_mainConvertRate">Main Convert Rate</label>
                    <input type="number" class="form-control" name="mainConvertRate" id="field_mainConvertRate"
                        [(ngModel)]="pPInvoiceDetails.mainConvertRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.formula" for="field_formula">Formula</label>
                    <input type="text" class="form-control" name="formula" id="field_formula"
                        [(ngModel)]="pPInvoiceDetails.formula" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.formula?.dirty && editForm.controls.formula?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.formula?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxRate" for="field_importTaxRate">Import Tax Rate</label>
                    <input type="number" class="form-control" name="importTaxRate" id="field_importTaxRate"
                        [(ngModel)]="pPInvoiceDetails.importTaxRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxAmount" for="field_importTaxAmount">Import Tax Amount</label>
                    <input type="number" class="form-control" name="importTaxAmount" id="field_importTaxAmount"
                        [(ngModel)]="pPInvoiceDetails.importTaxAmount" required/>
                    <div [hidden]="!(editForm.controls.importTaxAmount?.dirty && editForm.controls.importTaxAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.importTaxAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.importTaxAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxAmountOriginal" for="field_importTaxAmountOriginal">Import Tax Amount Original</label>
                    <input type="number" class="form-control" name="importTaxAmountOriginal" id="field_importTaxAmountOriginal"
                        [(ngModel)]="pPInvoiceDetails.importTaxAmountOriginal" required/>
                    <div [hidden]="!(editForm.controls.importTaxAmountOriginal?.dirty && editForm.controls.importTaxAmountOriginal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.importTaxAmountOriginal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.importTaxAmountOriginal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.importTaxAccount" for="field_importTaxAccount">Import Tax Account</label>
                    <input type="text" class="form-control" name="importTaxAccount" id="field_importTaxAccount"
                        [(ngModel)]="pPInvoiceDetails.importTaxAccount" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.importTaxAccount?.dirty && editForm.controls.importTaxAccount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.importTaxAccount?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.specialConsumeTaxRate" for="field_specialConsumeTaxRate">Special Consume Tax Rate</label>
                    <input type="number" class="form-control" name="specialConsumeTaxRate" id="field_specialConsumeTaxRate"
                        [(ngModel)]="pPInvoiceDetails.specialConsumeTaxRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.specialConsumeTaxAmount" for="field_specialConsumeTaxAmount">Special Consume Tax Amount</label>
                    <input type="number" class="form-control" name="specialConsumeTaxAmount" id="field_specialConsumeTaxAmount"
                        [(ngModel)]="pPInvoiceDetails.specialConsumeTaxAmount" required/>
                    <div [hidden]="!(editForm.controls.specialConsumeTaxAmount?.dirty && editForm.controls.specialConsumeTaxAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.specialConsumeTaxAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.specialConsumeTaxAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.specialConsumeTaxAmountOriginal" for="field_specialConsumeTaxAmountOriginal">Special Consume Tax Amount Original</label>
                    <input type="number" class="form-control" name="specialConsumeTaxAmountOriginal" id="field_specialConsumeTaxAmountOriginal"
                        [(ngModel)]="pPInvoiceDetails.specialConsumeTaxAmountOriginal" required/>
                    <div [hidden]="!(editForm.controls.specialConsumeTaxAmountOriginal?.dirty && editForm.controls.specialConsumeTaxAmountOriginal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.specialConsumeTaxAmountOriginal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.specialConsumeTaxAmountOriginal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.specialConsumeTaxAccount" for="field_specialConsumeTaxAccount">Special Consume Tax Account</label>
                    <input type="text" class="form-control" name="specialConsumeTaxAccount" id="field_specialConsumeTaxAccount"
                        [(ngModel)]="pPInvoiceDetails.specialConsumeTaxAccount" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.specialConsumeTaxAccount?.dirty && editForm.controls.specialConsumeTaxAccount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.specialConsumeTaxAccount?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.invoiceType" for="field_invoiceType">Invoice Type</label>
                    <input type="text" class="form-control" name="invoiceType" id="field_invoiceType"
                        [(ngModel)]="pPInvoiceDetails.invoiceType" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.invoiceType?.dirty && editForm.controls.invoiceType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.invoiceType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.invoiceDate" for="field_invoiceDate">Invoice Date</label>
                    <div class="input-group">
                        <input id="field_invoiceDate" type="text" class="form-control" name="invoiceDate" ngbDatepicker  #invoiceDateDp="ngbDatepicker" [(ngModel)]="pPInvoiceDetails.invoiceDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="invoiceDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.invoiceNo" for="field_invoiceNo">Invoice No</label>
                    <input type="text" class="form-control" name="invoiceNo" id="field_invoiceNo"
                        [(ngModel)]="pPInvoiceDetails.invoiceNo" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.invoiceNo?.dirty && editForm.controls.invoiceNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.invoiceNo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.invoiceSeries" for="field_invoiceSeries">Invoice Series</label>
                    <input type="text" class="form-control" name="invoiceSeries" id="field_invoiceSeries"
                        [(ngModel)]="pPInvoiceDetails.invoiceSeries" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.invoiceSeries?.dirty && editForm.controls.invoiceSeries?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.invoiceSeries?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.goodsServicePurchaseId" for="field_goodsServicePurchaseId">Goods Service Purchase Id</label>
                    <input type="text" class="form-control" name="goodsServicePurchaseId" id="field_goodsServicePurchaseId"
                        [(ngModel)]="pPInvoiceDetails.goodsServicePurchaseId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.accountingObjectId" for="field_accountingObjectId">Accounting Object Id</label>
                    <input type="text" class="form-control" name="accountingObjectId" id="field_accountingObjectId"
                        [(ngModel)]="pPInvoiceDetails.accountingObjectId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.budgetItemId" for="field_budgetItemId">Budget Item Id</label>
                    <input type="text" class="form-control" name="budgetItemId" id="field_budgetItemId"
                        [(ngModel)]="pPInvoiceDetails.budgetItemId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.costSetId" for="field_costSetId">Cost Set Id</label>
                    <input type="text" class="form-control" name="costSetId" id="field_costSetId"
                        [(ngModel)]="pPInvoiceDetails.costSetId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.contractId" for="field_contractId">Contract Id</label>
                    <input type="text" class="form-control" name="contractId" id="field_contractId"
                        [(ngModel)]="pPInvoiceDetails.contractId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.statisticCodeId" for="field_statisticCodeId">Statistic Code Id</label>
                    <input type="text" class="form-control" name="statisticCodeId" id="field_statisticCodeId"
                        [(ngModel)]="pPInvoiceDetails.statisticCodeId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.departmentId" for="field_departmentId">Department Id</label>
                    <input type="text" class="form-control" name="departmentId" id="field_departmentId"
                        [(ngModel)]="pPInvoiceDetails.departmentId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.expenseItemId" for="field_expenseItemId">Expense Item Id</label>
                    <input type="text" class="form-control" name="expenseItemId" id="field_expenseItemId"
                        [(ngModel)]="pPInvoiceDetails.expenseItemId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.ppOrderId" for="field_ppOrderId">Pp Order Id</label>
                    <input type="text" class="form-control" name="ppOrderId" id="field_ppOrderId"
                        [(ngModel)]="pPInvoiceDetails.ppOrderId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.ppOrderDetailId" for="field_ppOrderDetailId">Pp Order Detail Id</label>
                    <input type="text" class="form-control" name="ppOrderDetailId" id="field_ppOrderDetailId"
                        [(ngModel)]="pPInvoiceDetails.ppOrderDetailId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutExchangeRateFB" for="field_cashOutExchangeRateFB">Cash Out Exchange Rate FB</label>
                    <input type="number" class="form-control" name="cashOutExchangeRateFB" id="field_cashOutExchangeRateFB"
                        [(ngModel)]="pPInvoiceDetails.cashOutExchangeRateFB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutAmountFB" for="field_cashOutAmountFB">Cash Out Amount FB</label>
                    <input type="number" class="form-control" name="cashOutAmountFB" id="field_cashOutAmountFB"
                        [(ngModel)]="pPInvoiceDetails.cashOutAmountFB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferAmountFB" for="field_cashOutDifferAmountFB">Cash Out Differ Amount FB</label>
                    <input type="number" class="form-control" name="cashOutDifferAmountFB" id="field_cashOutDifferAmountFB"
                        [(ngModel)]="pPInvoiceDetails.cashOutDifferAmountFB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferAccountFB" for="field_cashOutDifferAccountFB">Cash Out Differ Account FB</label>
                    <input type="text" class="form-control" name="cashOutDifferAccountFB" id="field_cashOutDifferAccountFB"
                        [(ngModel)]="pPInvoiceDetails.cashOutDifferAccountFB" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.cashOutDifferAccountFB?.dirty && editForm.controls.cashOutDifferAccountFB?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cashOutDifferAccountFB?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutExchangeRateMB" for="field_cashOutExchangeRateMB">Cash Out Exchange Rate MB</label>
                    <input type="number" class="form-control" name="cashOutExchangeRateMB" id="field_cashOutExchangeRateMB"
                        [(ngModel)]="pPInvoiceDetails.cashOutExchangeRateMB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutAmountMB" for="field_cashOutAmountMB">Cash Out Amount MB</label>
                    <input type="number" class="form-control" name="cashOutAmountMB" id="field_cashOutAmountMB"
                        [(ngModel)]="pPInvoiceDetails.cashOutAmountMB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferAmountMB" for="field_cashOutDifferAmountMB">Cash Out Differ Amount MB</label>
                    <input type="number" class="form-control" name="cashOutDifferAmountMB" id="field_cashOutDifferAmountMB"
                        [(ngModel)]="pPInvoiceDetails.cashOutDifferAmountMB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferAccountMB" for="field_cashOutDifferAccountMB">Cash Out Differ Account MB</label>
                    <input type="text" class="form-control" name="cashOutDifferAccountMB" id="field_cashOutDifferAccountMB"
                        [(ngModel)]="pPInvoiceDetails.cashOutDifferAccountMB" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.cashOutDifferAccountMB?.dirty && editForm.controls.cashOutDifferAccountMB?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cashOutDifferAccountMB?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutVATAmountFB" for="field_cashOutVATAmountFB">Cash Out VAT Amount FB</label>
                    <input type="number" class="form-control" name="cashOutVATAmountFB" id="field_cashOutVATAmountFB"
                        [(ngModel)]="pPInvoiceDetails.cashOutVATAmountFB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferVATAmountFB" for="field_cashOutDifferVATAmountFB">Cash Out Differ VAT Amount FB</label>
                    <input type="number" class="form-control" name="cashOutDifferVATAmountFB" id="field_cashOutDifferVATAmountFB"
                        [(ngModel)]="pPInvoiceDetails.cashOutDifferVATAmountFB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutVATAmountMB" for="field_cashOutVATAmountMB">Cash Out VAT Amount MB</label>
                    <input type="number" class="form-control" name="cashOutVATAmountMB" id="field_cashOutVATAmountMB"
                        [(ngModel)]="pPInvoiceDetails.cashOutVATAmountMB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.cashOutDifferVATAmountMB" for="field_cashOutDifferVATAmountMB">Cash Out Differ VAT Amount MB</label>
                    <input type="number" class="form-control" name="cashOutDifferVATAmountMB" id="field_cashOutDifferVATAmountMB"
                        [(ngModel)]="pPInvoiceDetails.cashOutDifferVATAmountMB" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pPInvoiceDetails.orderPriority" for="field_orderPriority">Order Priority</label>
                    <input type="number" class="form-control" name="orderPriority" id="field_orderPriority"
                        [(ngModel)]="pPInvoiceDetails.orderPriority" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
