<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="generalLedger">
            <h2><span jhiTranslate="ebwebApp.generalLedger.detail.title">General Ledger</span> {{generalLedger.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.generalLedger.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{generalLedger.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.referenceID">Reference ID</span></dt>
                <dd>
                    <span>{{generalLedger.referenceID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.detailID">Detail ID</span></dt>
                <dd>
                    <span>{{generalLedger.detailID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.typeID">Type ID</span></dt>
                <dd>
                    <span>{{generalLedger.typeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.date">Date</span></dt>
                <dd>
                    <span>{{generalLedger.date}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.postedDate">Posted Date</span></dt>
                <dd>
                    <span>{{generalLedger.postedDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.typeLedger">Type Ledger</span></dt>
                <dd>
                    <span>{{generalLedger.typeLedger}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.noFBook">No F Book</span></dt>
                <dd>
                    <span>{{generalLedger.noFBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.noMBook">No M Book</span></dt>
                <dd>
                    <span>{{generalLedger.noMBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.invoiceSeries">Invoice Series</span></dt>
                <dd>
                    <span>{{generalLedger.invoiceSeries}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.invoiceDate">Invoice Date</span></dt>
                <dd>
                    <span>{{generalLedger.invoiceDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.invoiceNo">Invoice No</span></dt>
                <dd>
                    <span>{{generalLedger.invoiceNo}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.account">Account</span></dt>
                <dd>
                    <span>{{generalLedger.account}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.accountCorresponding">Account Corresponding</span></dt>
                <dd>
                    <span>{{generalLedger.accountCorresponding}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.bankAccountDetailID">Bank Account Detail ID</span></dt>
                <dd>
                    <span>{{generalLedger.bankAccountDetailID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.bankAccount">Bank Account</span></dt>
                <dd>
                    <span>{{generalLedger.bankAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.bankName">Bank Name</span></dt>
                <dd>
                    <span>{{generalLedger.bankName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.currencyID">Currency ID</span></dt>
                <dd>
                    <span>{{generalLedger.currencyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{generalLedger.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.debitAmount">Debit Amount</span></dt>
                <dd>
                    <span>{{generalLedger.debitAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.debitAmountOriginal">Debit Amount Original</span></dt>
                <dd>
                    <span>{{generalLedger.debitAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.creditAmount">Credit Amount</span></dt>
                <dd>
                    <span>{{generalLedger.creditAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.creditAmountOriginal">Credit Amount Original</span></dt>
                <dd>
                    <span>{{generalLedger.creditAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.reason">Reason</span></dt>
                <dd>
                    <span>{{generalLedger.reason}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.description">Description</span></dt>
                <dd>
                    <span>{{generalLedger.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.accountingObjectID">Accounting Object ID</span></dt>
                <dd>
                    <span>{{generalLedger.accountingObjectID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.accountingObjectCode">Accounting Object Code</span></dt>
                <dd>
                    <span>{{generalLedger.accountingObjectCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.accountingObjectName">Accounting Object Name</span></dt>
                <dd>
                    <span>{{generalLedger.accountingObjectName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.accountingObjectAddress">Accounting Object Address</span></dt>
                <dd>
                    <span>{{generalLedger.accountingObjectAddress}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.contactName">Contact Name</span></dt>
                <dd>
                    <span>{{generalLedger.contactName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.employeeID">Employee ID</span></dt>
                <dd>
                    <span>{{generalLedger.employeeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.employeeCode">Employee Code</span></dt>
                <dd>
                    <span>{{generalLedger.employeeCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.employeeName">Employee Name</span></dt>
                <dd>
                    <span>{{generalLedger.employeeName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.materialGoodsID">Material Goods ID</span></dt>
                <dd>
                    <span>{{generalLedger.materialGoodsID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.materialGoodsCode">Material Goods Code</span></dt>
                <dd>
                    <span>{{generalLedger.materialGoodsCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.materialGoodsName">Material Goods Name</span></dt>
                <dd>
                    <span>{{generalLedger.materialGoodsName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.repositoryID">Repository ID</span></dt>
                <dd>
                    <span>{{generalLedger.repositoryID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.repositoryCode">Repository Code</span></dt>
                <dd>
                    <span>{{generalLedger.repositoryCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.repositoryName">Repository Name</span></dt>
                <dd>
                    <span>{{generalLedger.repositoryName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.unitID">Unit ID</span></dt>
                <dd>
                    <span>{{generalLedger.unitID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.quantity">Quantity</span></dt>
                <dd>
                    <span>{{generalLedger.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{generalLedger.unitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.unitPriceOriginal">Unit Price Original</span></dt>
                <dd>
                    <span>{{generalLedger.unitPriceOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.mainUnitID">Main Unit ID</span></dt>
                <dd>
                    <span>{{generalLedger.mainUnitID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.mainQuantity">Main Quantity</span></dt>
                <dd>
                    <span>{{generalLedger.mainQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.mainUnitPrice">Main Unit Price</span></dt>
                <dd>
                    <span>{{generalLedger.mainUnitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.mainConvertRate">Main Convert Rate</span></dt>
                <dd>
                    <span>{{generalLedger.mainConvertRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.formula">Formula</span></dt>
                <dd>
                    <span>{{generalLedger.formula}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.organizationUnitID">Organization Unit ID</span></dt>
                <dd>
                    <span>{{generalLedger.organizationUnitID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.expenseItemID">Expense Item ID</span></dt>
                <dd>
                    <span>{{generalLedger.expenseItemID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.budgetItemID">Budget Item ID</span></dt>
                <dd>
                    <span>{{generalLedger.budgetItemID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.costSetID">Cost Set ID</span></dt>
                <dd>
                    <span>{{generalLedger.costSetID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.contractID">Contract ID</span></dt>
                <dd>
                    <span>{{generalLedger.contractID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.statisticsCodeID">Statistics Code ID</span></dt>
                <dd>
                    <span>{{generalLedger.statisticsCodeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.refDateTime">Ref Date Time</span></dt>
                <dd>
                    <span>{{generalLedger.refDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.generalLedger.orderPriority">Order Priority</span></dt>
                <dd>
                    <span>{{generalLedger.orderPriority}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/general-ledger', generalLedger.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
