<div class="row justify-content-center">
    <div class="col-8">
        <form #editForm="ngForm" (ngSubmit)="save()" name="editForm" novalidate role="form">
            <h2 id="eb-pporder-heading" jhiTranslate="ebwebApp.pporder.home.createOrEditLabel">Create or edit a
                Pporder</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div [hidden]="!pporder.id" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input [(ngModel)]="pporder.id" class="form-control" id="id" name="id"
                           readonly type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyId" jhiTranslate="ebwebApp.pporder.companyId">Company
                        Id</label>
                    <input [(ngModel)]="pporder.companyId" class="form-control" id="field_companyId" name="companyId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_branchId" jhiTranslate="ebwebApp.pporder.branchId">Branch
                        Id</label>
                    <input [(ngModel)]="pporder.branchId" class="form-control" id="field_branchId" name="branchId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_typeId" jhiTranslate="ebwebApp.pporder.typeId">Type
                        Id</label>
                    <input [(ngModel)]="pporder.typeId" class="form-control" id="field_typeId" name="typeId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_date" jhiTranslate="ebwebApp.pporder.date">Date</label>
                    <div class="input-group">
                        <input #dateDp="ngbDatepicker" [(ngModel)]="pporder.date" class="form-control" id="field_date"
                               name="date" ngbDatepicker type="text"
                        />
                        <span class="input-group-append">
                            <button (click)="dateDp.toggle()" class="btn btn-secondary" type="button"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_no" jhiTranslate="ebwebApp.pporder.no">No</label>
                    <input [(ngModel)]="pporder.no" class="form-control" id="field_no" name="no"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accountingObjectId"
                           jhiTranslate="ebwebApp.pporder.accountingObjectId">Accounting Object Id</label>
                    <input [(ngModel)]="pporder.accountingObjectId" class="form-control" id="field_accountingObjectId"
                           name="accountingObjectId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accountingObjectName"
                           jhiTranslate="ebwebApp.pporder.accountingObjectName">Accounting Object Name</label>
                    <input [(ngModel)]="pporder.accountingObjectName" class="form-control"
                           id="field_accountingObjectName" name="accountingObjectName"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accountingObjectAddress"
                           jhiTranslate="ebwebApp.pporder.accountingObjectAddress">Accounting Object Address</label>
                    <input [(ngModel)]="pporder.accountingObjectAddress" class="form-control"
                           id="field_accountingObjectAddress" name="accountingObjectAddress"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyTaxCode"
                           jhiTranslate="ebwebApp.pporder.companyTaxCode">Company Tax Code</label>
                    <input [(ngModel)]="pporder.companyTaxCode" class="form-control" id="field_companyTaxCode"
                           name="companyTaxCode"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reason"
                           jhiTranslate="ebwebApp.pporder.reason">Reason</label>
                    <input [(ngModel)]="pporder.reason" class="form-control" id="field_reason" name="reason"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currencyId" jhiTranslate="ebwebApp.pporder.currencyId">Currency
                        Id</label>
                    <input [(ngModel)]="pporder.currencyId" class="form-control" id="field_currencyId" name="currencyId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_exchangeRate"
                           jhiTranslate="ebwebApp.pporder.exchangeRate">Exchange Rate</label>
                    <input [(ngModel)]="pporder.exchangeRate" class="form-control" id="field_exchangeRate"
                           name="exchangeRate"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deliverDate"
                           jhiTranslate="ebwebApp.pporder.deliverDate">Deliver Date</label>
                    <div class="input-group">
                        <input #deliverDateDp="ngbDatepicker" [(ngModel)]="pporder.deliverDate" class="form-control"
                               id="field_deliverDate" name="deliverDate" ngbDatepicker type="text"
                        />
                        <span class="input-group-append">
                            <button (click)="deliverDateDp.toggle()" class="btn btn-secondary" type="button"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shippingPlace"
                           jhiTranslate="ebwebApp.pporder.shippingPlace">Shipping Place</label>
                    <input [(ngModel)]="pporder.shippingPlace" class="form-control" id="field_shippingPlace"
                           name="shippingPlace"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transportMethodId"
                           jhiTranslate="ebwebApp.pporder.transportMethodId">Transport Method Id</label>
                    <input [(ngModel)]="pporder.transportMethodId" class="form-control" id="field_transportMethodId"
                           name="transportMethodId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_employeeId" jhiTranslate="ebwebApp.pporder.employeeId">Employee
                        Id</label>
                    <input [(ngModel)]="pporder.employeeId" class="form-control" id="field_employeeId" name="employeeId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalAmount"
                           jhiTranslate="ebwebApp.pporder.totalAmount">Total Amount</label>
                    <input [(ngModel)]="pporder.totalAmount" class="form-control" id="field_totalAmount"
                           name="totalAmount"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalAmountOriginal"
                           jhiTranslate="ebwebApp.pporder.totalAmountOriginal">Total Amount Original</label>
                    <input [(ngModel)]="pporder.totalAmountOriginal" class="form-control" id="field_totalAmountOriginal"
                           name="totalAmountOriginal"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalVATAmount"
                           jhiTranslate="ebwebApp.pporder.totalVATAmount">Total VAT Amount</label>
                    <input [(ngModel)]="pporder.totalVATAmount" class="form-control" id="field_totalVATAmount"
                           name="totalVATAmount"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalVATAmountOriginal"
                           jhiTranslate="ebwebApp.pporder.totalVATAmountOriginal">Total VAT Amount Original</label>
                    <input [(ngModel)]="pporder.totalVATAmountOriginal" class="form-control"
                           id="field_totalVATAmountOriginal" name="totalVATAmountOriginal"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalDiscountAmount"
                           jhiTranslate="ebwebApp.pporder.totalDiscountAmount">Total Discount Amount</label>
                    <input [(ngModel)]="pporder.totalDiscountAmount" class="form-control" id="field_totalDiscountAmount"
                           name="totalDiscountAmount"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalDiscountAmountOriginal"
                           jhiTranslate="ebwebApp.pporder.totalDiscountAmountOriginal">Total Discount Amount
                        Original</label>
                    <input [(ngModel)]="pporder.totalDiscountAmountOriginal" class="form-control"
                           id="field_totalDiscountAmountOriginal" name="totalDiscountAmountOriginal"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_templateId" jhiTranslate="ebwebApp.pporder.templateId">Template
                        Id</label>
                    <input [(ngModel)]="pporder.templateId" class="form-control" id="field_templateId" name="templateId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status"
                           jhiTranslate="ebwebApp.pporder.status">Status</label>
                    <input [(ngModel)]="pporder.status" class="form-control" id="field_status" name="status"
                           type="checkbox"/>
                </div>

            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
