<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pporder">
            <h2><span jhiTranslate="ebwebApp.pporder.detail.title">Pporder</span> {{pporder.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.pporder.companyId">Company Id</span></dt>
                <dd>
                    <span>{{pporder.companyId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.branchId">Branch Id</span></dt>
                <dd>
                    <span>{{pporder.branchId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.typeId">Type Id</span></dt>
                <dd>
                    <span>{{pporder.typeId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.date">Date</span></dt>
                <dd>
                    <span>{{pporder.date}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.no">No</span></dt>
                <dd>
                    <span>{{pporder.no}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.accountingObjectId">Accounting Object Id</span></dt>
                <dd>
                    <span>{{pporder.accountingObjectId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.accountingObjectName">Accounting Object Name</span></dt>
                <dd>
                    <span>{{pporder.accountingObjectName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.accountingObjectAddress">Accounting Object Address</span></dt>
                <dd>
                    <span>{{pporder.accountingObjectAddress}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.companyTaxCode">Company Tax Code</span></dt>
                <dd>
                    <span>{{pporder.companyTaxCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.reason">Reason</span></dt>
                <dd>
                    <span>{{pporder.reason}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.currencyId">Currency Id</span></dt>
                <dd>
                    <span>{{pporder.currencyId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{pporder.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.deliverDate">Deliver Date</span></dt>
                <dd>
                    <span>{{pporder.deliverDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.shippingPlace">Shipping Place</span></dt>
                <dd>
                    <span>{{pporder.shippingPlace}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.transportMethodId">Transport Method Id</span></dt>
                <dd>
                    <span>{{pporder.transportMethodId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.employeeId">Employee Id</span></dt>
                <dd>
                    <span>{{pporder.employeeId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{pporder.totalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.totalAmountOriginal">Total Amount Original</span></dt>
                <dd>
                    <span>{{pporder.totalAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.totalVATAmount">Total VAT Amount</span></dt>
                <dd>
                    <span>{{pporder.totalVATAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.totalVATAmountOriginal">Total VAT Amount Original</span></dt>
                <dd>
                    <span>{{pporder.totalVATAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.totalDiscountAmount">Total Discount Amount</span></dt>
                <dd>
                    <span>{{pporder.totalDiscountAmount}}</span>
                </dd>
                <dt><span
                    jhiTranslate="ebwebApp.pporder.totalDiscountAmountOriginal">Total Discount Amount Original</span>
                </dt>
                <dd>
                    <span>{{pporder.totalDiscountAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.templateId">Template Id</span></dt>
                <dd>
                    <span>{{pporder.templateId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pporder.status">Status</span></dt>
                <dd>
                    <span>{{pporder.status}}</span>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/pporder', pporder.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
