<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.pporder.home.title">Pporders</span>
        <button [routerLink]="['/pporder/new']" class="btn btn-primary float-right jh-create-entity create-pporder"
                id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="ebwebApp.pporder.home.createLabel">
            Create new Pporder
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div *ngIf="pporders" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="companyId"><span jhiTranslate="ebwebApp.pporder.companyId">Company Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="branchId"><span jhiTranslate="ebwebApp.pporder.branchId">Branch Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="typeId"><span jhiTranslate="ebwebApp.pporder.typeId">Type Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="date"><span jhiTranslate="ebwebApp.pporder.date">Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="no"><span jhiTranslate="ebwebApp.pporder.no">No</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="accountingObjectId"><span jhiTranslate="ebwebApp.pporder.accountingObjectId">Accounting Object Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="accountingObjectName"><span jhiTranslate="ebwebApp.pporder.accountingObjectName">Accounting Object Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="accountingObjectAddress"><span jhiTranslate="ebwebApp.pporder.accountingObjectAddress">Accounting Object Address</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="companyTaxCode"><span
                    jhiTranslate="ebwebApp.pporder.companyTaxCode">Company Tax Code</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="reason"><span jhiTranslate="ebwebApp.pporder.reason">Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="currencyId"><span jhiTranslate="ebwebApp.pporder.currencyId">Currency Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="exchangeRate"><span jhiTranslate="ebwebApp.pporder.exchangeRate">Exchange Rate</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="deliverDate"><span jhiTranslate="ebwebApp.pporder.deliverDate">Deliver Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="shippingPlace"><span jhiTranslate="ebwebApp.pporder.shippingPlace">Shipping Place</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="transportMethodId"><span jhiTranslate="ebwebApp.pporder.transportMethodId">Transport Method Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="employeeId"><span jhiTranslate="ebwebApp.pporder.employeeId">Employee Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="totalAmount"><span jhiTranslate="ebwebApp.pporder.totalAmount">Total Amount</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="totalAmountOriginal"><span jhiTranslate="ebwebApp.pporder.totalAmountOriginal">Total Amount Original</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="totalVATAmount"><span
                    jhiTranslate="ebwebApp.pporder.totalVATAmount">Total VAT Amount</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="totalVATAmountOriginal"><span jhiTranslate="ebwebApp.pporder.totalVATAmountOriginal">Total VAT Amount Original</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="totalDiscountAmount"><span jhiTranslate="ebwebApp.pporder.totalDiscountAmount">Total Discount Amount</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="totalDiscountAmountOriginal"><span
                    jhiTranslate="ebwebApp.pporder.totalDiscountAmountOriginal">Total Discount Amount Original</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="templateId"><span jhiTranslate="ebwebApp.pporder.templateId">Template Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span jhiTranslate="ebwebApp.pporder.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pporder of pporders ;trackBy: trackId">
                <td><a [routerLink]="['/pporder', pporder.id, 'view' ]">{{pporder.id}}</a></td>
                <td>{{pporder.companyId}}</td>
                <td>{{pporder.branchId}}</td>
                <td>{{pporder.typeId}}</td>
                <td>{{pporder.date | date:'mediumDate'}}</td>
                <td>{{pporder.no}}</td>
                <td>{{pporder.accountingObjectId}}</td>
                <td>{{pporder.accountingObjectName}}</td>
                <td>{{pporder.accountingObjectAddress}}</td>
                <td>{{pporder.companyTaxCode}}</td>
                <td>{{pporder.reason}}</td>
                <td>{{pporder.currencyId}}</td>
                <td>{{pporder.exchangeRate}}</td>
                <td>{{pporder.deliverDate | date:'mediumDate'}}</td>
                <td>{{pporder.shippingPlace}}</td>
                <td>{{pporder.transportMethodId}}</td>
                <td>{{pporder.employeeId}}</td>
                <td>{{pporder.totalAmount}}</td>
                <td>{{pporder.totalAmountOriginal}}</td>
                <td>{{pporder.totalVATAmount}}</td>
                <td>{{pporder.totalVATAmountOriginal}}</td>
                <td>{{pporder.totalDiscountAmount}}</td>
                <td>{{pporder.totalDiscountAmountOriginal}}</td>
                <td>{{pporder.templateId}}</td>
                <td>{{pporder.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button [routerLink]="['/pporder', pporder.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/pporder', pporder.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button [routerLink]="['/', { outlets: { popup: 'pporder/'+ pporder.id + '/delete'} }]"
                                class="btn btn-danger btn-sm"
                                queryParamsHandling="merge"
                                replaceUrl="true"
                                type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pporders && pporders.length">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [maxSize]="5" [page]="page"
                            [total]="queryCount"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" (pageChange)="loadPage(page)" [size]="'sm'" [(page)]="page" [boundaryLinks]="true"
                            [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
