<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <div *ngIf="mBTellerPaperDetails">-->
<!--            <h2><span jhiTranslate="ebwebApp.mBTellerPaperDetails.detail.title">MB Teller Paper Details</span> {{mBTellerPaperDetails.id}}</h2>-->
<!--            <hr>-->
<!--            <eb-alert-error></eb-alert-error>-->
<!--            <dl class="row-md jh-entity-details">-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.description">Description</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.description}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.debitaccount">Debitaccount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.debitaccount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.creditaccount">Creditaccount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.creditaccount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.amount">Amount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.amount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.amountoriginal">Amountoriginal</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.amountoriginal}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.budgetitemid">Budgetitemid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.budgetitemid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.costsetid">Costsetid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.costsetid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.contractid">Contractid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.contractid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.accountingobjectid">Accountingobjectid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.accountingobjectid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.statisticscodeid">Statisticscodeid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.statisticscodeid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.organizationunitid">Organizationunitid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.organizationunitid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.expenseitemid">Expenseitemid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.expenseitemid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutexchangeratefb">Cashoutexchangeratefb</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.cashoutexchangeratefb}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutamountfb">Cashoutamountfb</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.cashoutamountfb}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutdifferamountfb">Cashoutdifferamountfb</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.cashoutdifferamountfb}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutdifferaccountfb">Cashoutdifferaccountfb</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.cashoutdifferaccountfb}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutexchangeratemb">Cashoutexchangeratemb</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.cashoutexchangeratemb}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutamountmb">Cashoutamountmb</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.cashoutamountmb}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutdifferamountmb">Cashoutdifferamountmb</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.cashoutdifferamountmb}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutdifferaccountmb">Cashoutdifferaccountmb</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.cashoutdifferaccountmb}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.orderpriority">Orderpriority</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetails.orderpriority}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetails.mBTellerPaper">M B Teller Paper</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="mBTellerPaperDetails.mBTellerPaper">-->
<!--                        <a [routerLink]="['/mb-teller-paper', mBTellerPaperDetails.mBTellerPaper?.id, 'view']">{{mBTellerPaperDetails.mBTellerPaper?.id}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--            </dl>-->

<!--            <button Type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
<!--            </button>-->

<!--            <button Type="button"-->
<!--                    [routerLink]="['/mb-teller-paper-details', mBTellerPaperDetails.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
