<!--
<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.mBTellerPaperDetails.home.title">MB Teller Paper Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mb-teller-paper-details" [routerLink]="['/mb-teller-paper-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.mBTellerPaperDetails.home.createLabel">
            Create new MB Teller Paper Details
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="mBTellerPaperDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="debitaccount"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.debitaccount">Debitaccount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creditaccount"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.creditaccount">Creditaccount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amountoriginal"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.amountoriginal">Amountoriginal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="budgetitemid"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.budgetitemid">Budgetitemid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costsetid"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.costsetid">Costsetid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contractid"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.contractid">Contractid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountingobjectid"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.accountingobjectid">Accountingobjectid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statisticscodeid"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.statisticscodeid">Statisticscodeid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organizationunitid"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.organizationunitid">Organizationunitid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expenseitemid"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.expenseitemid">Expenseitemid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashoutexchangeratefb"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutexchangeratefb">Cashoutexchangeratefb</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashoutamountfb"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutamountfb">Cashoutamountfb</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashoutdifferamountfb"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutdifferamountfb">Cashoutdifferamountfb</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashoutdifferaccountfb"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutdifferaccountfb">Cashoutdifferaccountfb</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashoutexchangeratemb"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutexchangeratemb">Cashoutexchangeratemb</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashoutamountmb"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutamountmb">Cashoutamountmb</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashoutdifferamountmb"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutdifferamountmb">Cashoutdifferamountmb</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashoutdifferaccountmb"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.cashoutdifferaccountmb">Cashoutdifferaccountmb</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderpriority"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.orderpriority">Orderpriority</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mBTellerPaper.id"><span jhiTranslate="ebwebApp.mBTellerPaperDetails.mBTellerPaper">M B Teller Paper</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mBTellerPaperDetails of mBTellerPaperDetails ;trackBy: trackId">
                <td><a [routerLink]="['/mb-teller-paper-details', mBTellerPaperDetails.id, 'view' ]">{{mBTellerPaperDetails.id}}</a></td>
                <td>{{mBTellerPaperDetails.description}}</td>
                <td>{{mBTellerPaperDetails.debitaccount}}</td>
                <td>{{mBTellerPaperDetails.creditaccount}}</td>
                <td>{{mBTellerPaperDetails.amount}}</td>
                <td>{{mBTellerPaperDetails.amountoriginal}}</td>
                <td>{{mBTellerPaperDetails.budgetItem?.budgetItemCode}}</td>
                <td>{{mBTellerPaperDetails.costset?.costSetCode}}</td>
                <td>{{mBTellerPaperDetails.contractState?.contractStateCode}}</td>
                <td>{{mBTellerPaperDetails.accountingobject?.accountingobjectcode}}</td>
                <td>{{mBTellerPaperDetails.statisticsCode?.statisticsCodeName}}</td>
                <td>{{mBTellerPaperDetails.organizationunit?.organizationUnitCode}}</td>
                <td>{{mBTellerPaperDetails.expenseitem?.expenseItemCode}}</td>
                <td>{{mBTellerPaperDetails.cashoutexchangeratefb}}</td>
                <td>{{mBTellerPaperDetails.cashoutamountfb}}</td>
                <td>{{mBTellerPaperDetails.cashoutdifferamountfb}}</td>
                <td>{{mBTellerPaperDetails.cashoutdifferaccountfb}}</td>
                <td>{{mBTellerPaperDetails.cashoutexchangeratemb}}</td>
                <td>{{mBTellerPaperDetails.cashoutamountmb}}</td>
                <td>{{mBTellerPaperDetails.cashoutdifferamountmb}}</td>
                <td>{{mBTellerPaperDetails.cashoutdifferaccountmb}}</td>
                <td>{{mBTellerPaperDetails.orderpriority}}</td>
                <td>
                    <div *ngIf="mBTellerPaperDetails.mbtellerPaper">
                        <a [routerLink]="['../mb-teller-paper', mBTellerPaperDetails.mbtellerPaper?.id, 'view' ]" >{{mBTellerPaperDetails.mbtellerPaper?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/mb-teller-paper-details', mBTellerPaperDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mb-teller-paper-details', mBTellerPaperDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mb-teller-paper-details/'+ mBTellerPaperDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mBTellerPaperDetails && mBTellerPaperDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
-->
