
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-m1" aria-expanded="false" aria-controls="ui-m1">
                <img src="/content/images/s1.png">
                <span class="menu-title">TRANG CHỦ QUẢN TRỊ</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-m1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" routerLink="/admin/organization-unit" href="#"><i class="mdi mdi-server-network"></i> Cơ cấu tổ chức</a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/admin/user-management" href="#"><i class="mdi mdi-account"></i> Quản lý người dùng</a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/admin/eb-package" href="#"><i class="mdi mdi-shopping"></i> Quản lý gói dịch vụ</a></li>
                </ul>
            </div>
        </li>
    </ul>

