<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ebPackage">
            <h2><span jhiTranslate="ebwebApp.ebPackage.detail.title">Eb Package</span> {{ebPackage.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.ebPackage.packageCode">Package Code</span></dt>
                <dd>
                    <span>{{ebPackage.packageCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.ebPackage.packageName">Package Name</span></dt>
                <dd>
                    <span>{{ebPackage.packageName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.ebPackage.limitedCompany">Limited Company</span></dt>
                <dd>
                    <span>{{ebPackage.limitedCompany}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.ebPackage.limitedUser">Limited User</span></dt>
                <dd>
                    <span>{{ebPackage.limitedUser}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.ebPackage.limitedVoucher">Limited Voucher</span></dt>
                <dd>
                    <span>{{ebPackage.limitedVoucher}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.ebPackage.expiredTime">Expired Time</span></dt>
                <dd>
                    <span>{{ebPackage.expiredTime}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.ebPackage.status">Status</span></dt>
                <dd>
                    <span>{{ebPackage.status}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.ebPackage.description">Description</span></dt>
                <dd>
                    <span>{{ebPackage.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.ebPackage.type">Type</span></dt>
                <dd>
                    <span>{{ebPackage.type}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/eb-package', ebPackage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
