<div class="modal-body windowClass-DanhMuc-Combobox" style="padding: 20px!important;">
    <div class="margin-tp-5 margin-0">
        <div class="">
            <div class="itemw">
                <div class="menu-tool-bar header-custom">
                    <div class="ptitle">
                        <span jhiTranslate="ebwebApp.ebPackage.home.title"> Gói dịch vụ</span>
                    </div>

                    <div class="gr-toolbar">
                        <a (click)="save()" class="saveLuu" title="{{'ebwebApp.mBTellerPaper.tooltipSave' | translate}}"><i class="mdi mdi-briefcase-download"></i> <span
                            jhiTranslate="ebwebApp.currency.save"></span></a>
                        <a (click)="closeForm()" title="{{'ebwebApp.mBTellerPaper.tooltipClose' | translate}}"><i class="mdi mdi-window-close"></i> <span
                            jhiTranslate="ebwebApp.currency.closed"></span></a>
                    </div>
                </div>
                <div class="frm-main">
                    <div class="row no-gutters">
                        <div class="col-lg-12">
                            <fieldset>
                                <form style="border: none;">
                                    <h3 style="color: #ff7d06;" jhiTranslate="ebwebApp.currency.information"> Thông tin
                                        chung</h3>
                                    <div class="row no-gutters">
                                        <div class="col-lg-12">
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-5 my-col-form-label" style="padding-right: 0px"
                                                       jhiTranslate="ebwebApp.ebPackage.packageCode">
                                                    Mã gói</label>
                                                <div class="col-sm-5 pd-l-0 pd-r-10">
                                                    <input type="text" class="form-control" name="packageCode"
                                                           id="field_packageCode"
                                                           [(ngModel)]="ebPackage.packageCode"
                                                           required/>
                                                </div>
                                                <div class="col-sm-2 pd-l-0 pd-r-10"></div>
                                            </div>
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-5 my-col-form-label" style="padding-right: 0px"
                                                       jhiTranslate="ebwebApp.ebPackage.packageName">
                                                    Tên gói</label>
                                                <div class="col-sm-5 pd-l-0 pd-r-10">
                                                    <input type="text" class="form-control" name="packageName"
                                                           id="field_packageName"
                                                           [(ngModel)]="ebPackage.packageName"
                                                           required/>
                                                </div>
                                                <div class="col-sm-2 pd-l-0 pd-r-10"></div>
                                            </div>
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-5 my-col-form-label" style="padding-right: 0px"
                                                       jhiTranslate="ebwebApp.ebPackage.limitedCompany">
                                                    Số công ty</label>
                                                <div class="col-sm-5 pd-l-0 pd-r-10">
                                                    <input type="number" class="form-control" name="limitedCompany"
                                                           id="field_limitedCompany"
                                                           [(ngModel)]="ebPackage.limitedCompany"
                                                           required/>
                                                </div>
                                                <div class="col-sm-2 pd-l-0 pd-r-10"></div>
                                            </div>
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-5 my-col-form-label" style="padding-right: 0px"
                                                       jhiTranslate="ebwebApp.ebPackage.limitedUser">
                                                    Số người dùng</label>
                                                <div class="col-sm-5 pd-l-0 pd-r-10">
                                                    <input type="number" class="form-control" name="limitedUser"
                                                           id="field_limitedUser"
                                                           [(ngModel)]="userShow"
                                                           [readOnly]="checkUser"
                                                           [min]="0"
                                                           [required]="checkUser === false"
                                                           />
                                                </div>
                                                <input type="checkbox" class="form-control " name="checkUser"
                                                       id="field_checkUser"
                                                       [(ngModel)]="checkUser"
                                                       [ngStyle]="{
                                                                'width' : '20px',
                                                                'margin-left' : '20px'
                                                           }"
                                                       (change)="checkCheckBox()"
                                                />
                                                <label class="col-sm-2 my-col-form-label" style="padding-right: 0px;padding-top: 3px; margin-left: 8px;"
                                                       jhiTranslate="ebwebApp.ebPackage.notLimitedUser">
                                                    Số người dùng</label>
                                            </div>
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-5 my-col-form-label" style="padding-right: 0px"
                                                       jhiTranslate="ebwebApp.ebPackage.limitedVoucher">
                                                    Limited Voucher</label>
                                                <div class="col-sm-5 pd-l-0 pd-r-10">
                                                    <input type="number" class="form-control" name="limitedVoucher"
                                                           id="field_limitedVoucher"
                                                           [(ngModel)]="voucherShow"
                                                           [readOnly]="checkVoucher"
                                                           [min]="0"
                                                           [required]="checkVoucher === false"
                                                    />
                                                </div>
                                                <input type="checkbox" class="form-control " name="checkVoucher"
                                                       id="field_checkVoucher"
                                                       [(ngModel)]="checkVoucher"
                                                       [ngStyle]="{
                                                                'width' : '20px',
                                                                'margin-left' : '20px'
                                                           }"
                                                       (change)="checkCheckBox()"
                                                />
                                                <label class="col-sm-2 my-col-form-label" style="padding-right: 0px;padding-top: 3px; margin-left: 8px"
                                                       jhiTranslate="ebwebApp.ebPackage.notLimitedVoucher">
                                                    </label>
                                            </div>
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-5 my-col-form-label" style="padding-right: 0px"
                                                       jhiTranslate="ebwebApp.ebPackage.expiredTime">
                                                    thời gian hết hạn</label>
                                                <div class="col-sm-5 pd-l-0 pd-r-10">
                                                    <input type="number" class="form-control" name="expiredTime"
                                                           id="field_expiredTime"
                                                           [(ngModel)]="timeShow"
                                                           [readOnly]="checkTime"
                                                           min="0"
                                                           [required]="checkTime === false"
                                                           />
                                                </div>
                                                <input type="checkbox" class="form-control " name="checkTime"
                                                       id="field_checkTime"
                                                       [(ngModel)]="checkTime"
                                                       [ngStyle]="{
                                                                'width' : '20px',
                                                                'margin-left' : '20px'
                                                           }"
                                                       (change)="checkCheckBox()"
                                                />
                                                <label class="col-sm-2 my-col-form-label" style="padding-right: 0px;padding-top: 3px; margin-left: 8px"
                                                       jhiTranslate="ebwebApp.ebPackage.notLimitedTime"></label>
                                            </div>
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-5 my-col-form-label" style="padding-right: 0px"
                                                       jhiTranslate="ebwebApp.ebPackage.description">
                                                    Mô tả</label>
                                                <div class="col-sm-5 pd-l-0 pd-r-10">
                                                    <input type="text" class="form-control" name="description"
                                                           id="field_description"
                                                           [(ngModel)]="ebPackage.description"
                                                           />
                                                </div>
                                                <div class="col-sm-2 pd-l-0 pd-r-10"></div>
                                            </div>
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-5 my-col-form-label" style="padding-right: 0px"
                                                       jhiTranslate="ebwebApp.ebPackage.type">
                                                    Loại</label>
                                                <div class="col-sm-5 pd-l-0 pd-r-10">
                                                    <combo-box style="" id="field_type"
                                                               name="comboboxStatus"
                                                               [dataList]="listType"
                                                               [isOutTable]="true"
                                                               [listColumns]="['nameType']"
                                                               displayMember="nameType"
                                                               valueName="id"
                                                               [headerColumns]="['Loại gói']"
                                                               [isObject]="false"
                                                               [(ngModel)]="ebPackage.comType"
                                                               [isRequired]="true"
                                                    >
                                                    </combo-box>
                                                </div>
                                                <div class="col-sm-2 pd-l-0 pd-r-10"></div>
                                            </div>
                                            <div [hidden]="ebPackage.id || ebPackage.id == null" class="form-group row no-gutters">
                                                <label class="col-sm-5 my-col-form-label" style="padding-right: 0px"
                                                       jhiTranslate="ebwebApp.ebPackage.isTotalPackage">
                                                    Gói tổng</label>
                                                <div class="col-sm-5 pd-l-0 pd-r-10">
                                                    <input type="checkbox" class="form-control " name="isTotalPackage"
                                                           id="field_isTotalPackage"
                                                           [hidden]="ebPackage.id"
                                                           [(ngModel)]="ebPackage.isTotalPackage"
                                                           required
                                                           [ngStyle]="{
                                                                'width' : '20px',
                                                                'margin-left' : '50px'
                                                           }"/>
                                                </div>
                                                <div class="col-sm-2 pd-l-0 pd-r-10"></div>
                                            </div>
                                            <div class="form-group row no-gutters" [hidden]="!ebPackage.id">
                                                <label class="col-sm-5 my-col-form-label" style="padding-right: 0px"
                                                       jhiTranslate="ebwebApp.ebPackage.follow">
                                                    Theo dõi</label>
                                                <div class="col-sm-5 pd-l-0 pd-r-10">
                                                    <input type="checkbox" class="form-control  " name="status"
                                                           id="field_status"
                                                           [(ngModel)]="ebPackage.status"
                                                           required
                                                           [ngStyle]="{
                                                                'width' : '20px',
                                                                'margin-left' : '50px'
                                                           }"/>
                                                </div>
                                                <div class="col-sm-2 pd-l-0 pd-r-10"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
<!--                <div class="col-lg-12" *ngIf="currency.id">-->
<!--                    <div class="row" style="padding-left: 15px">-->
<!--                        <div class="custom-control custom-checkbox">-->
<!--                            <input type="checkbox" class="custom-control-input" id="customCheck1" name="isActive"-->
<!--                                   [(ngModel)]="currency.isActive">-->
<!--                            <label class="custom-control-label" for="customCheck1"-->
<!--                                   jhiTranslate="ebwebApp.currency.isActive"></label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
