<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <div *ngIf="mBTellerPaper">-->
<!--            <h2><span jhiTranslate="ebwebApp.mBTellerPaper.detail.title">MB Teller Paper</span> {{mBTellerPaper.id}}</h2>-->
<!--            <hr>-->
<!--            <eb-alert-error></eb-alert-error>-->
<!--            <dl class="row-md jh-entity-details">-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.branchid">Branchid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.branchid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.typeid">Typeid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.typeid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.date">Date</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.date}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.posteddate">Posteddate</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.posteddate}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.typeledger">Typeledger</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.typeledger}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.nofbook">Nofbook</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.nofbook}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.nombook">Nombook</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.nombook}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.bankaccountdetailid">Bankaccountdetailid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.bankaccountdetailid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.bankname">Bankname</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.bankname}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.reason">Reason</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.reason}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.accountingobjecttype">Accountingobjecttype</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.accountingobjecttype}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.accountingobjectid">Accountingobjectid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.accountingobjectid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.accountingObjectName">Accountingobjectname</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.accountingObjectName}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.accountingObjectAddress">accountingObjectAddress</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.accountingObjectAddress}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.accountingobjectbankaccount">Accountingobjectbankaccount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.accountingobjectbankaccount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.accountingobjectbankname">Accountingobjectbankname</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.accountingobjectbankname}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.receiver">Receiver</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.receiver}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.identificationno">Identificationno</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.identificationno}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.issuedate">Issuedate</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.issuedate}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.issueby">Issueby</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.issueby}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.currencyid">Currencyid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.currencyid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.exchangrate">Exchangrate</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.exchangrate}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.pporderid">Pporderid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.pporderid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.isimportpurchase">Isimportpurchase</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.isimportpurchase}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.paymentclauseid">Paymentclauseid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.paymentclauseid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.transportmethodid">Transportmethodid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.transportmethodid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.totalamount">Totalamount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.totalamount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.totalamountoriginal">Totalamountoriginal</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.totalamountoriginal}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.totalvatamount">Totalvatamount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.totalvatamount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.totalvatamountoriginal">Totalvatamountoriginal</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.totalvatamountoriginal}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.employeeid">Employeeid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.employeeid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.templateid">Templateid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.templateid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.ismatch">Ismatch</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.ismatch}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.matchdate">Matchdate</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.matchdate}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaper.recorded">Recorded</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaper.recorded}}</span>-->
<!--                </dd>-->
<!--            </dl>-->

<!--            <button Type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
<!--            </button>-->

<!--            <button Type="button"-->
<!--                    [routerLink]="['/mb-teller-paper', mBTellerPaper.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
