select.form-control {
    height: 40px;
}
.card-table {
    background: no-repeat;
    height: 430px;
}
.nav-pills .nav-link {
    background: no-repeat;
    border: 1px black solid;
}
.card {
    border: 1px #cbdcf0 solid;
}
.card-table {
    border: 1px #cbdcf0 solid;
}
.nav-pills .nav-item {
    margin-right: 0;
    border: none !important;
}
.nav-pills .nav-link {
    border-radius: 0;
}
.mains {
    margin-top: 0 !important;
}
.card-title {
    margin-bottom: 0;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    border: 1px black solid !important;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border: 1px black solid !important;
}
