<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="budgetItem">
            <h2><span jhiTranslate="ebwebApp.budgetItem.detail.title">Budget Item</span> {{budgetItem.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.budgetItem.budgetItemCode">Budget Item Code</span></dt>
                <dd>
                    <span>{{budgetItem.budgetItemCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.budgetItem.budgetItemName">Budget Item Name</span></dt>
                <dd>
                    <span>{{budgetItem.budgetItemName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.budgetItem.budgetItemType">Budget Item Type</span></dt>
                <dd>
                    <span>{{budgetItem.budgetItemType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.budgetItem.description">Description</span></dt>
                <dd>
                    <span>{{budgetItem.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.budgetItem.parentID">Parent ID</span></dt>
                <dd>
                    <span>{{budgetItem.parentID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.budgetItem.isParentNode">Is Parent Node</span></dt>
                <dd>
                    <span>{{budgetItem.isParentNode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.budgetItem.orderFixCode">Order Fix Code</span></dt>
                <dd>
                    <span>{{budgetItem.orderFixCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.budgetItem.grade">Grade</span></dt>
                <dd>
                    <span>{{budgetItem.grade}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.budgetItem.isActive">Is Active</span></dt>
                <dd>
                    <span>{{budgetItem.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.budgetItem.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="budgetItem.parent">
                        <a [routerLink]="['/budget-item', budgetItem.parent?.id, 'view']">{{budgetItem.parent?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/budget-item', budgetItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
