<div >
    <div >
        <div class="menu-tool-bar he">
            <div class="ptitle">
                <span jhiTranslate="ebwebApp.receiveBill.home.title"></span>
            </div>
            <div class="gr-toolbar">
                <a *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_NhanHoaDon_Sua]" (click)="save()"><i
                    class="mdi mdi-plus"></i> <span jhiTranslate="ebwebApp.receiveBill.agree"></span>
                </a>
                <a href="#"><i class="mdi mdi-window-close"></i><span jhiTranslate="ebwebApp.receiveBill.exit"></span>
                </a>
            </div>
        </div>

        <div>
            <form id="seach" style="background: #cbdcf0; padding-bottom: 5px;">
                <div class="row no-gutters">
                    <div class="col-lg-12">
                        <form>
                            <h3 jhiTranslate="ebwebApp.bankAccountDetails.detail.title">Thông tin chung</h3>
                            <div class="row no-gutters">
                                <div class="form-group col-lg-12">
                                    <div class="form-group row no-gutters">
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               jhiTranslate="ebwebApp.receiveBill.accountingObject">Đối tượng</label>
                                        <div class="col-sm-3 pd-l-0 pd-r-10">
                                            <combo-box style=""
                                                       name="accountingObjectID"
                                                       [dataList]="accountingObjects"
                                                       [listColumns]="utilsService.listColumnsAccountingObjects"
                                                       [isOutTable]="true"
                                                       displayMember="accountingObjectCode"
                                                       valueName="id"
                                                       [headerColumns]="utilsService.listHeaderColumnsAccountingObject"
                                                       [isObject]="false"
                                                       [(ngModel)]="objSearch.accountingObjectID"
                                                       [tabindex]="1"
                                            ></combo-box>
                                        </div>
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               style="padding-left: 25px !important;"
                                               jhiTranslate="ebwebApp.receiveBill.type">Loại</label>
                                        <div class="col-sm-3 pd-l-0 pd-r-10">
                                            <combo-box style=""
                                                       name="type"
                                                       [dataList]="listType"
                                                       [listColumns]="listColumnsType"
                                                       [isOutTable]="true"
                                                       displayMember="name"
                                                       valueName="value"
                                                       [headerColumns]="listHeaderColumnsType"
                                                       [isObject]="false"
                                                       [(ngModel)]="type"
                                                       (ngModelChange)="selectChangeType()"
                                                       [tabindex]="2">
                                            </combo-box>
                                        </div>
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               style="padding-left: 25px !important;"
                                               jhiTranslate="ebwebApp.receiveBill.formality">Hình thức</label>
                                        <div class="col-sm-3 pd-l-0 pd-r-10 my-last-div-NHD-3-2">
                                            <select [(ngModel)]="formality" name="formality" id="field_formality"
                                                    class="form-control form-control-sm"
                                                    [disabled]="!isFormalityReadOnly" [tabindex]="3">
                                                <option [ngValue]="0"
                                                        jhiTranslate="ebwebApp.receiveBill.domestic"></option>
                                                <option [ngValue]="1"
                                                        jhiTranslate="ebwebApp.receiveBill.import"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="form-group row no-gutters">
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               jhiTranslate="ebwebApp.receiveBill.detail.time">Thời gian</label>
                                        <div class="col-sm-3 col-form-label-sm">
                                            <combo-box style=""
                                                       name="timeLine"
                                                       [dataList]="listTimeLine"
                                                       [listColumns]="utilsService.listColumnsTimeLine"
                                                       [isOutTable]="true"
                                                       displayMember="display"
                                                       valueName="value"
                                                       [headerColumns]="utilsService.listHeaderColumnsTimeLine"
                                                       [isObject]="false"
                                                       [(ngModel)]="timeLine"
                                                       (ngModelChange)="selectChangeBeginDateAndEndDate(timeLine)"
                                                       [tabindex]="4"
                                            ></combo-box>
                                        </div>
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               style="padding-left: 25px !important;"
                                               jhiTranslate="ebwebApp.receiveBill.fromDate">Từ ngày</label>
                                        <div class="col-sm-3 col-form-label-sm my-last-div-KH-3-2">
                                            <eb-date-picker [(ngModel)]="dtBeginDate" name="dtBeginDate"
                                                            [tabindex]="5"></eb-date-picker>
                                        </div>
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               style="padding-left: 25px !important;"
                                               jhiTranslate="ebwebApp.receiveBill.toDate">Đến ngày</label>
                                        <div class="col-sm-3 col-form-label-sm my-last-div-NHD-3-2">
                                            <eb-date-picker [(ngModel)]="dtEndDate" name="dtEndDate"
                                                            [tabindex]="6"></eb-date-picker>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 text-center" style="margin-top: 5px">
                                    <div class="frm-button">
                                        <button class="btn btn-success btn-sm" (click)="search()"
                                                style="font-size: 16px"><i
                                            class="mdi mdi-magnify"
                                            aria-hidden="true"
                                            style="margin-right: 5px">
                                        </i><span jhiTranslate="ebwebApp.receiveBill.getData"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
            <div class="frm-main frm-tables frm-padding" style="background: #cbdcf0; margin-top: 5px">
                <div id="table-scroll0" class="table-scroll">
                    <table id="main-table0" class="main-table">
                        <thead>
                        <tr>
                            <th style="width: 50px" (click)="checkAll()"><input type="checkbox" [(ngModel)]="allCheck"/>
                            </th>
                            <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.receiveBill.date">
                            </th>
                            <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.receiveBill.postedDate">
                            </th>
                            <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.receiveBill.voucherNo">
                            </th>
                            <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.receiveBill.reason">
                            </th>
                            <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.receiveBill.amount"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let r of receiveBills" (dblclick)="onDoubleClick(r)" (click)="onSelect()"
                            [class.selected]="r === selectedRow">
                            <td class="jsgrid-cell jsgrid-align-center" scope="col" style="width: 50px"><input
                                class="jsgrid-cell jsgrid-align-center" type="checkbox" [(ngModel)]="r.isSelected"/>
                            </td>
                            <td class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">{{r.date| date:'dd/MM/yyyy'}}</td>
                            <td class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">{{r.postedDate| date:'dd/MM/yyyy'}}</td>
                            <td class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">{{isSoTaiChinh ? r.noFBook : r.noMBook}}</td>
                            <td class="jsgrid-cell jsgrid-align-left"
                                style="width: 150px">{{r.description}}</td>
                            <td class="jsgrid-cell jsgrid-align-right"
                                style="width: 150px" [class.myreadonlytrue]="true"><input type="text" class="input-Cell"
                                                                                          ebCurrencyMask
                                                                                          [systemOptions]="currentAccount?.systemOption"
                                                                                          [type]="7"
                                                                                          [(ngModel)]="r.amount"></td>
                        </tr>
                        <tr *ngFor="let l of newArr(9 - receiveBills?.length)">
                            <td class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">&nbsp;
                            </td>
                            <td class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">&nbsp;
                            </td>
                            <td class="jsgrid-cell jsgrid-align-right"
                                style="width: 150px"></td>
                            <td class="jsgrid-cell jsgrid-align-right"
                                style="width: 150px"></td>
                            <td class="jsgrid-cell jsgrid-align-right"
                                style="width: 150px"></td>
                            <td class="jsgrid-cell jsgrid-align-right"
                                style="width: 150px"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="frm-main frm-padding tab-pane fade in active show" id="home-detail"
             style="background: #cbdcf0">
            <div id="table-scroll-detail" class="table-scroll">
                <table id="main-table-detail" class="main-table">
                    <thead>
                    <tr>
                        <th scope="col" jhiTranslate="ebwebApp.receiveBill.vATPercentRate"></th>
                        <th scope="col" jhiTranslate="ebwebApp.receiveBill.vATAccount"></th>
                        <th scope="col" jhiTranslate="ebwebApp.receiveBill.invoiceTemplate"></th>
                        <th scope="col" jhiTranslate="ebwebApp.receiveBill.invoiceSeries"></th>
                        <th scope="col" jhiTranslate="ebwebApp.receiveBill.invoiceNo"></th>
                        <th scope="col" jhiTranslate="ebwebApp.receiveBill.invoiceDate"></th>
                        <th scope="col" jhiTranslate="ebwebApp.receiveBill.groupGoodsServicePurchase"></th>
                        <th scope="col" jhiTranslate="ebwebApp.receiveBill.accountingObject"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="isOnSelect">
                        <td class="cell-Table">
                            <combo-box class="text-right" name="vATRate"
                                       [dataList]="listVAT"
                                       [listColumns]="['name']"
                                       displayMember="name"
                                       valueName="data"
                                       [headerColumns]="['Dữ liệu']"
                                       [isObject]="false"
                                       [(ngModel)]="receiveBill.vATRate"
                                       [isOutTable]="true"
                                       [tabindex]="7"
                            ></combo-box>
                        </td>
                        <td class="cell-Table jsgrid-align-center">
                            <combo-box style=""
                                       name="vATAccount"
                                       [dataList]="accountList"
                                       [listColumns]=utilsService.listColumnsAccountList
                                       displayMember="accountNumber"
                                       valueName="accountNumber"
                                       [headerColumns]=utilsService.listHeaderColumnsAccountList
                                       [isObject]="false"
                                       [(ngModel)]="receiveBill.vATAccount"
                                       [tabindex]="8"
                            ></combo-box>
                        </td>
                        <td class="cell-Table">
                            <input type="text" class="input-Cell"
                                   name="invoiceType"
                                   id="invoiceType"
                                   [(ngModel)]="receiveBill.invoiceTemplate"
                                   [tabindex]="9">
                        </td>
                        <td class="cell-Table">
                            <input type="text" class="input-Cell"
                                   name="invoiceSeries"
                                   id="invoiceSeries"
                                   [(ngModel)]="receiveBill.invoiceSeries"
                                   [tabindex]="10">
                        </td>
                        <td class="cell-Table">
                            <input type="text" class="input-Cell"
                                   name="invoiceNo"
                                   id="invoiceNo"
                                   [(ngModel)]="receiveBill.invoiceNo"
                                   [tabindex]="11" required>
                        </td>
                        <td class="cell-Table jsgrid-align-center">
                            <eb-date-picker [(ngModel)]="receiveBill.invoiceDate" [isInTable]="true" name="fromDate"
                                            format="YYYY-MM-DD"
                                            name="invoiceDate" id="invoiceDate"
                                            [tabindex]="12"></eb-date-picker>
                        </td>
                        <td class="cell-Table">
                            <combo-box style="" id="goodsServicePurchaseID"
                                       name="goodsServicePurchaseID"
                                       [dataList]="goodsServicePurchases"
                                       [listColumns]="utilsService.listColumnsGoodsServicePurchase"
                                       displayMember="goodsServicePurchaseCode"
                                       valueName="id"
                                       [headerColumns]="utilsService.listHeaderColumnsGoodsServicePurchase"
                                       [isObject]="false"
                                       [(ngModel)]="receiveBill.goodsServicePurchaseID"
                                       [tabindex]="13">
                            </combo-box>
                        </td>
                        <td class="cell-Table">
                            <combo-box style="" id="accountingObject_DT"
                                       name="accountingObject_DT"
                                       [dataList]="accountingObjects"
                                       [listColumns]="utilsService.listColumnsAccountingObjects"
                                       displayMember="accountingObjectCode"
                                       valueName="id"
                                       [headerColumns]="utilsService.listHeaderColumnsAccountingObject"
                                       [isObject]="false"
                                       [(ngModel)]="receiveBill.accountingObjectID"
                                       [tabindex]="14">
                            </combo-box>
                        </td>
                    </tr>
                    <tr *ngFor="let l of newArr(10)">
                        <td class="jsgrid-cell jsgrid-align-center"
                            style="width: 150px">&nbsp;
                        </td>
                        <td class="jsgrid-cell jsgrid-align-center"
                            style="width: 150px">&nbsp;
                        </td>
                        <td class="jsgrid-cell jsgrid-align-right"
                            style="width: 150px"></td>
                        <td class="jsgrid-cell jsgrid-align-right"
                            style="width: 150px"></td>
                        <td class="jsgrid-cell jsgrid-align-right"
                            style="width: 150px"></td>
                        <td class="jsgrid-cell jsgrid-align-right"
                            style="width: 150px"></td>
                        <td class="jsgrid-cell jsgrid-align-right"
                            style="width: 150px"></td>
                        <td class="jsgrid-cell jsgrid-align-right"
                            style="width: 150px"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



