<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="statisticsCode">
            <h2><span jhiTranslate="ebwebApp.statisticsCode.detail.title">Statistics Code</span> {{statisticsCode.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.statisticsCode.statisticsCode">Statistics Code</span></dt>
                <dd>
                    <span>{{statisticsCode.statisticsCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.statisticsCode.statisticsCodeName">Statistics Code Name</span></dt>
                <dd>
                    <span>{{statisticsCode.statisticsCodeName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.statisticsCode.description">Description</span></dt>
                <dd>
                    <span>{{statisticsCode.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.statisticsCode.parentID">Parent ID</span></dt>
                <dd>
                    <span>{{statisticsCode.parentID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.statisticsCode.isParentNode">Is Parent Node</span></dt>
                <dd>
                    <span>{{statisticsCode.isParentNode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.statisticsCode.orderFixCode">Order Fix Code</span></dt>
                <dd>
                    <span>{{statisticsCode.orderFixCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.statisticsCode.grade">Grade</span></dt>
                <dd>
                    <span>{{statisticsCode.grade}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.statisticsCode.isActive">Is Active</span></dt>
                <dd>
                    <span>{{statisticsCode.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.statisticsCode.isSecurity">Is Security</span></dt>
                <dd>
                    <span>{{statisticsCode.isSecurity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/statistics-code', statisticsCode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
