<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.statisticsCode.home.title">Statistics Codes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-statistics-code" [routerLink]="['/statistics-code/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.statisticsCode.home.createLabel">
            Create new Statistics Code
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="statisticsCodes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statisticsCode"><span jhiTranslate="ebwebApp.statisticsCode.statisticsCode">Statistics Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statisticsCodeName"><span jhiTranslate="ebwebApp.statisticsCode.statisticsCodeName">Statistics Code Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="ebwebApp.statisticsCode.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentID"><span jhiTranslate="ebwebApp.statisticsCode.parentID">Parent ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isParentNode"><span jhiTranslate="ebwebApp.statisticsCode.isParentNode">Is Parent Node</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderFixCode"><span jhiTranslate="ebwebApp.statisticsCode.orderFixCode">Order Fix Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="grade"><span jhiTranslate="ebwebApp.statisticsCode.grade">Grade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span jhiTranslate="ebwebApp.statisticsCode.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isSecurity"><span jhiTranslate="ebwebApp.statisticsCode.isSecurity">Is Security</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let statisticsCode of statisticsCodes ;trackBy: trackId">
                <td><a [routerLink]="['/statistics-code', statisticsCode.id, 'view' ]">{{statisticsCode.id}}</a></td>
                <td>{{statisticsCode.statisticsCode}}</td>
                <td>{{statisticsCode.statisticsCodeName}}</td>
                <td>{{statisticsCode.description}}</td>
                <td>{{statisticsCode.parentID}}</td>
                <td>{{statisticsCode.isParentNode}}</td>
                <td>{{statisticsCode.orderFixCode}}</td>
                <td>{{statisticsCode.grade}}</td>
                <td>{{statisticsCode.isActive}}</td>
                <td>{{statisticsCode.isSecurity}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/statistics-code', statisticsCode.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/statistics-code', statisticsCode.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'statistics-code/'+ statisticsCode.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="statisticsCodes && statisticsCodes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
