<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-statistics-code-heading" jhiTranslate="ebwebApp.statisticsCode.home.createOrEditLabel">Create or edit a Statistics Code</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!statisticsCode.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="statisticsCode.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.statisticsCode.statisticsCode" for="field_statisticsCode">Statistics Code</label>
                    <input type="text" class="form-control" name="statisticsCode" id="field_statisticsCode"
                        [(ngModel)]="statisticsCode.statisticsCode" required maxlength="25"/>
                    <div [hidden]="!(editForm.controls.statisticsCode?.dirty && editForm.controls.statisticsCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.statisticsCode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.statisticsCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.statisticsCode.statisticsCodeName" for="field_statisticsCodeName">Statistics Code Name</label>
                    <input type="text" class="form-control" name="statisticsCodeName" id="field_statisticsCodeName"
                        [(ngModel)]="statisticsCode.statisticsCodeName" required maxlength="512"/>
                    <div [hidden]="!(editForm.controls.statisticsCodeName?.dirty && editForm.controls.statisticsCodeName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.statisticsCodeName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.statisticsCodeName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.statisticsCode.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="statisticsCode.description" maxlength="512"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.statisticsCode.parentID" for="field_parentID">Parent ID</label>
                    <input type="text" class="form-control" name="parentID" id="field_parentID"
                        [(ngModel)]="statisticsCode.parentID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.statisticsCode.isParentNode" for="field_isParentNode">Is Parent Node</label>
                    <input type="checkbox" class="form-control" name="isParentNode" id="field_isParentNode"
                        [(ngModel)]="statisticsCode.isParentNode" />
                    <div [hidden]="!(editForm.controls.isParentNode?.dirty && editForm.controls.isParentNode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isParentNode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.statisticsCode.orderFixCode" for="field_orderFixCode">Order Fix Code</label>
                    <input type="text" class="form-control" name="orderFixCode" id="field_orderFixCode"
                        [(ngModel)]="statisticsCode.orderFixCode" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.orderFixCode?.dirty && editForm.controls.orderFixCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.orderFixCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.statisticsCode.grade" for="field_grade">Grade</label>
                    <input type="number" class="form-control" name="grade" id="field_grade"
                        [(ngModel)]="statisticsCode.grade" required/>
                    <div [hidden]="!(editForm.controls.grade?.dirty && editForm.controls.grade?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.grade?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.grade?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.statisticsCode.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="statisticsCode.isActive" />
                    <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.statisticsCode.isSecurity" for="field_isSecurity">Is Security</label>
                    <input type="checkbox" class="form-control" name="isSecurity" id="field_isSecurity"
                        [(ngModel)]="statisticsCode.isSecurity" />
                    <div [hidden]="!(editForm.controls.isSecurity?.dirty && editForm.controls.isSecurity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isSecurity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
