<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="costSetMaterialGood">
            <h2><span jhiTranslate="ebwebApp.costSetMaterialGood.detail.title">Cost Set Material Good</span> {{costSetMaterialGood.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.costSetMaterialGood.deScription">De Scription</span></dt>
                <dd>
                    <span>{{costSetMaterialGood.deScription}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSetMaterialGood.orderPriority">Order Priority</span></dt>
                <dd>
                    <span>{{costSetMaterialGood.orderPriority}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSetMaterialGood.costSet">Cost Set</span></dt>
                <dd>
                    <div *ngIf="costSetMaterialGood.costSet">
                        <a [routerLink]="['/cost-set', costSetMaterialGood.costSet?.id, 'view']">{{costSetMaterialGood.costSet?.costSetCode}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSetMaterialGood.materialGoods">Material Goods</span></dt>
                <dd>
                    <div *ngIf="costSetMaterialGood.materialGoods">
                        <a [routerLink]="['/material-goods', costSetMaterialGood.materialGoods?.id, 'view']">{{costSetMaterialGood.materialGoods?.materialGoodsCode}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cost-set-material-good', costSetMaterialGood.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
