<div class="quy-trinh">
    <div >
        <div class="menu-tool-bar he">
            <div class="ptitle">
                <span jhiTranslate="ebwebApp.quyTrinh.eInvoice">Hoá đơn điện tử</span>
            </div>
        </div>
        <div class="frm-main frm-mains nobg">
            <div class="row row-dk tab-pane fade in active show" style="padding-top: 2%">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-1">
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row padding-img">
                        <img class="box img" (click)="ConnectEInvocie()"
                             src="../../../content/images/icon/hoa-don-dien-tu/icon-ket-noi-hddt-2.png">
                    </div>
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row padding-move">
                        <img class="move" src="../../../content/images/icon/TongHop/move-right.png">
                    </div>
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row padding-img">
                        <img class="box img" (click)="navigateXuatHoaDon()"
                             src="../../../content/images/icon/hoa-don-dien-tu/icon-tao-lap-hoa-don.png">
                    </div>
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row padding-move">
                        <img class="move" src="../../../content/images/icon/TongHop/move-right.png">
                    </div>
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row padding-img">
                        <img class="box img" (click)="navigateDanhSachHoaDon()"
                             src="../../../content/images/icon/hoa-don-dien-tu/icon-phat-hanh-hoa-don.png">
                    </div>
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row">
                        <img class="img"
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group row" style="padding-left: 5%">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4"  style="padding-left: 2% !important; padding-top: 4%">
                            <img class="box"style="width: 118.03%" (click)="navigateDanhSachHoaDon()"
                                 src="../../../content/images/icon/hoa-don-dien-tu/icon-gui-hoa-don-cho-khach-hang.png">
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4" style="padding-top: 4%">
                            <img class="box" style="width: 114.83%" (click)="navigateChuyenDoiHoaDon()"
                                 src="../../../content/images/icon/hoa-don-dien-tu/icon-chuyen-doi-hoa-don.png">
                        </div>
                    </div>
                    <div class="form-group row" style="padding-left: 3%">
                        <img style="width: 110%"
                             src="../../../content/images/icon/hoa-don-dien-tu/tree-horizontal.png">
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <img class="img"
                                 src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                        </div>
                        <div class="col-lg-5"  style="padding-left: 6% !important;">
                            <img class="box" style="width: 97.8%; height: 100%" (click)="navigateDanhSachHoaDon()"
                                 src="../../../content/images/icon/hoa-don-dien-tu/icon-xu-ly-hoa-don.png">
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="padding-left: 4% !important;">
                    <div class="form-group row">
                        <img style="width: 80%; height: 100%"s
                             src="../../../content/images/icon/hoa-don-dien-tu/white-space.png">
                    </div>
                    <div class="form-group row padding-img" style="padding-top: 0">
                        <img class="box"style="width: 63.81%"
                             src="../../../content/images/icon/hoa-don-dien-tu/icon-bao-cao-thong-ke.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-right">
        <img class="logo-chim" src="../../../content/images/icon/TongHop/logo-chim.png">
    </div>
</div>
