<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gOtherVoucher">
            <h2><span jhiTranslate="ebwebApp.gOtherVoucher.detail.title">G Other Voucher</span> {{gOtherVoucher.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.typeID">Type ID</span></dt>
                <dd>
                    <span>{{gOtherVoucher.typeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.currencyID">Currency ID</span></dt>
                <dd>
                    <span>{{gOtherVoucher.currencyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{gOtherVoucher.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.typeLedger">Type Ledger</span></dt>
                <dd>
                    <span>{{gOtherVoucher.typeLedger}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.reason">Reason</span></dt>
                <dd>
                    <span>{{gOtherVoucher.reason}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.noMBook">No M Book</span></dt>
                <dd>
                    <span>{{gOtherVoucher.noMBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.noFBook">No F Book</span></dt>
                <dd>
                    <span>{{gOtherVoucher.noFBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.date">Date</span></dt>
                <dd>
                    <span>{{gOtherVoucher.date}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.postedDate">Posted Date</span></dt>
                <dd>
                    <span>{{gOtherVoucher.postedDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{gOtherVoucher.totalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.totalAmountOriginal">Total Amount Original</span></dt>
                <dd>
                    <span>{{gOtherVoucher.totalAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucher.recorded">Recorded</span></dt>
                <dd>
                    <span>{{gOtherVoucher.recorded}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/g-other-voucher', gOtherVoucher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
