<div >
    <div >
        <div class="menu-tool-bar he">
            <div class="ptitle">
                <span class="text-uppercase edit-color" jhiTranslate="ebwebApp.iaPublishInvoice.home.title">Thông báo phát hành hóa đơn</span>
            </div>
            <div class="gr-toolbar">
                <button class="button-navigation" title="{{'ebwebApp.outWard.tooltipAdd' | translate}}" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_THEM]" (click)="addNew()"><i class="mdi mdi-plus"></i> <span
                    jhiTranslate="ebwebApp.purchaseOrder.add">Thêm</span></button>
                <button class="button-navigation" title="{{'ebwebApp.outWard.tooltipDrop' | translate}}" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_XOA]" [disabled]="!selectedID" (click)="delete()">
                    <i class="mdi mdi-delete"></i>
                    <span jhiTranslate="ebwebApp.purchaseOrder.delete">Xóa</span>
                </button>
                <button *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_IN]"
                        [disabled]="!selectedRow"
                        class="dropdown-toggle button-navigation" data-toggle="dropdown" title="{{'ebwebApp.outWard.tooltipPrint' | translate}}"
                        id="dropdown-printer"
                        role="button"><i class="mdi mdi-printer"></i> In</button>
                <div class="dropdown-menu" aria-labelledby="dropdown-printer">
                    <div class="dropdown-item printf">
                        <span (click)="exportPDF(false, 1)">
                            <span jhiTranslate="ebwebApp.iaPublishInvoice.temp1"></span>
                        </span>
                    </div>
                    <div class="dropdown-item printf">
                        <span (click)="exportPDF(false, 2)">
                            <span jhiTranslate="ebwebApp.iaPublishInvoice.temp2"></span>
                        </span>
                    </div>
                </div>
                <button class="button-navigation" title="{{'ebwebApp.outWard.tooltipExport' | translate}}" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KETXUAT]" [disabled]="!selectedID" (click)="export()"><i class="mdi mdi-file-export"></i> <span jhiTranslate="entity.action.render">Kết xuất</span></button>
            </div>
        </div>
        <div class="frm-main frm-mains nobg" style="background: #cbdcf0; margin-top: 5px">
            <div id="table-scroll0" class="table-scroll voucher-table" style="height: 626px !important;">
                <table id="main-table0" class="main-table">
                    <thead class="header-table">
                    <tr>
                        <th scope="col" jhiTranslate="ebwebApp.iaPublishInvoice.date">Ngày lập</th>
                        <th scope="col" jhiTranslate="ebwebApp.iaPublishInvoice.no">Số đăng ký</th>
                        <th scope="col" jhiTranslate="ebwebApp.iaPublishInvoice.receiptedTaxOffical">Cơ quan thuế</th>
                        <th scope="col" jhiTranslate="ebwebApp.iaPublishInvoice.representationInLaw">Người đại diện pháp luật</th>
                        <th scope="col" jhiTranslate="ebwebApp.iaPublishInvoice.status">Trạng thái</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let iaReport of iaReports; let i = index"
                        [class.selected]="iaReport === selectedRow"
                        (click)="selectMultiRow(iaReport, $event, iaReports); clickRow(iaReport.id, i)"
                        [class.row-selected]="this.selectedRows.indexOf(iaReport) !== -1"
                        (dblclick)="saveSearchData(iaReport.id, i); doubleClickRow(iaReport)">
                        <td title="{{iaReport.date | date:'dd/MM/yyyy'}}" class="jsgrid-cell text-center">{{iaReport.date | date:'dd/MM/yyyy'}}</td>
                        <td title="{{iaReport.no}}" class="jsgrid-cell">{{iaReport.no}}</td>
                        <td title="{{iaReport.receiptedTaxOffical}}" class="jsgrid-cell">{{iaReport.receiptedTaxOffical}}</td>
                        <td title="{{iaReport.representationInLaw}}" class="jsgrid-cell">{{iaReport.representationInLaw}}</td>
                        <td title="{{'ebwebApp.iARegisterInvoice.status.' + (iaReport.status || 0) | translate}}" class="jsgrid-cell">
                            <span *ngIf="iaReport.status === CHUA_CO_HIEU_LUC"
                                  jhiTranslate="ebwebApp.iARegisterInvoice.status.0">
                                Chưa có hiệu lực
                            </span>
                            <span *ngIf="iaReport.status === DA_CO_HIEU_LUC"
                                  jhiTranslate="ebwebApp.iARegisterInvoice.status.1">
                                Đã có hiệu lực
                            </span>
                        </td>
                    </tr>
                    <tr *ngFor="let item of newArr(20 - (iaReports?.length || 0)); let i = index">
                        <td class="jsgrid-cell">&nbsp;</td>
                        <td class="jsgrid-cell">&nbsp;</td>
                        <td class="jsgrid-cell">&nbsp;</td>
                        <td class="jsgrid-cell">&nbsp;</td>
                        <td class="jsgrid-cell">&nbsp;</td>
                    </tr>
                    </tbody>
<!--                    <tfoot>-->
<!--                    <tr>-->
<!--                        <td class="cell-Table" colspan="5">-->
<!--                            <input type="text" readonly class="color-tfoot input-Cell"-->
<!--                                   value="{{'ebwebApp.purchaseOrder.countLine'| translate}} : {{iaReports?.length || 0}}"></td>-->
<!--                    </tr>-->
<!--                    </tfoot>-->
                </table>
            </div>
        </div>
        <div *ngIf="iaReports && iaReports.length"
             style="padding-right: 16px;">
            <div class="row justify-content-end" style="height: 32px">
                <div class="col-lg-2 edit-css">
                    <div class="form-group row">
                        <label class="col-sm-7 col-form-label pt-1 pr-0 text-right" for="itemsPerPage"
                               jhiTranslate="ebwebApp.purchaseOrder.total">Tổng số</label>
                        <label class="col-sm-1 col-form-label total pt-1">{{totalItems}}</label>
                        <div class="col-sm-4 pd-l-0 responsive">
                            <select class="form-control form-control-sm pl-2 pt-1 pb-1" name="itemsPerPage"
                                    id="itemsPerPage"
                                    [(ngModel)]="itemsPerPage"
                                    (ngModelChange)="search()">
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="justify-content-end margin-top">
                    <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                    (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
