th {
    text-align: center;
}
.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.input-Cell-Dp {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}
/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}
:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}
:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) {
    position: absolute;
    right: 15px;
}
:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}
:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
/*right click event*/
.contextmenu {
    position: absolute;
}
.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}
.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}
/*endof right click*/
/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}
/*style for menu*/
.itemw .menu-tool-bar a {
    color: #ffffff;
}
.itemw .menu-tool-bar a:hover {
    color: #f26f21 !important;
}
.itemw .menu-tool-bar a.disable,
a.disable:hover {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
}
/*style addNewRow*/
.addNewRow {
    background-color: #e9ecef !important;
}
.edit-color {
    color: #fff;
}

#field_currencyID {
    padding-bottom: 10px;
    padding-top: 5px;
}

.input-group-append {
    margin-top: 1px;
    z-index: 0;
}

.table-scroll {
    z-index: 0;
}

.color-tfoot {
    background-color: #7db5dd !important;
    width: 100%;
}

#tienHang2 {
    border-left-width: 0px;
}

.fix-pd-input {
    padding-right: 5px;
    padding-left: 5px;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
    background: none;
}

.date-input {
    max-width: 1px;
    border: none;
    opacity: 0;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) a:hover {
    background: #11ab6b;
    color: #fff;
    border: 1px solid transparent !important;
}

.required-input {
    border-left: 5px solid red;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.color-div {
    width: 32px;
    height: 32px;
    border: 1px solid rgb(220, 220, 220);
}

.main-table th,
.main-table td:not(.date-input-cell) {
    min-width: 200px !important;
    white-space: nowrap;
    overflow: hidden;
}

.fix-drop {
    width: 233px;
    left: -102px !important;
    padding: 0;
}

.text-left:hover {
    background: #f26f21 !important;
}

.disableDiv {
    color: #959ea9 !important;
    pointer-events: none;
}

.isReadonly {
    pointer-events: none;
}
.pd-r-30 {
    padding-right: 30px;
}
.col-form-label-1 {
    margin-bottom: 0;
    font-size: inherit;
    width: 60px !important;
    max-width: 60px !important;
    padding-top: 3px;
    margin-left: 10px;
}
.col-form-label-2 {
    margin-bottom: 0;
    font-size: inherit;
    width: 130px !important;
    max-width: 130px !important;
    padding-top: 3px;
}
.col-form-label-3 {
    margin-bottom: 0;
    font-size: inherit;
    width: 130px !important;
    max-width: 130px !important;
    padding-top: 3px;
}
.col-form-label-4 {
    margin-bottom: 0;
    font-size: inherit;
    width: 55px !important;
    max-width: 55px !important;
    padding-top: 3px;
    margin-left: 7px;
}
.col-form-label-5 {
    margin-bottom: 0;
    font-size: inherit;
    width: 185px !important;
    max-width: 185px !important;
    padding-top: 3px;
}

.type-1 {
    height: 28px !important;
    width: calc(100% - 114px);
    margin-left: 4px;
}
.type-2 {
    height: 28px !important;
    width: calc(100% - 199px);
    margin-left: 55px;
}
.type-3 {
    height: 28px !important;
    width: calc(100% - 150px);
    margin-left: 12px;
}
.type-4 {
    height: 28px !important;
    width: calc(100% - 117px);
    margin-left: 12px;
}
.type-5 {
    height: 28px !important;
    width: calc(100% - 203px);
}

.height-28 {
    height: 28px !important;
}
