<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.repositoryLedger.home.title">Repository Ledgers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-repository-ledger" [routerLink]="['/repository-ledger/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.repositoryLedger.home.createLabel">
            Create new Repository Ledger
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="repositoryLedgers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="companyID"><span jhiTranslate="ebwebApp.repositoryLedger.companyID">Company ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="branchID"><span jhiTranslate="ebwebApp.repositoryLedger.branchID">Branch ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="referenceID"><span jhiTranslate="ebwebApp.repositoryLedger.referenceID">Reference ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="ebwebApp.repositoryLedger.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postedDate"><span jhiTranslate="ebwebApp.repositoryLedger.postedDate">Posted Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeLedger"><span jhiTranslate="ebwebApp.repositoryLedger.typeLedger">Type Ledger</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noFBook"><span jhiTranslate="ebwebApp.repositoryLedger.noFBook">No F Book</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noMBook"><span jhiTranslate="ebwebApp.repositoryLedger.noMBook">No M Book</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="account"><span jhiTranslate="ebwebApp.repositoryLedger.account">Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountCorresponding"><span jhiTranslate="ebwebApp.repositoryLedger.accountCorresponding">Account Corresponding</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="repositoryID"><span jhiTranslate="ebwebApp.repositoryLedger.repositoryID">Repository ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="repositoryCode"><span jhiTranslate="ebwebApp.repositoryLedger.repositoryCode">Repository Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="RepositoryName"><span jhiTranslate="ebwebApp.repositoryLedger.RepositoryName">Repository Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="materialGoodsID"><span jhiTranslate="ebwebApp.repositoryLedger.materialGoodsID">Material Goods ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="materialGoodsCode"><span jhiTranslate="ebwebApp.repositoryLedger.materialGoodsCode">Material Goods Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="materialGoodsName"><span jhiTranslate="ebwebApp.repositoryLedger.materialGoodsName">Material Goods Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitID"><span jhiTranslate="ebwebApp.repositoryLedger.unitID">Unit ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitPrice"><span jhiTranslate="ebwebApp.repositoryLedger.unitPrice">Unit Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="iwQuantity"><span jhiTranslate="ebwebApp.repositoryLedger.iwQuantity">Iw Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="owQuantity"><span jhiTranslate="ebwebApp.repositoryLedger.owQuantity">Ow Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="iwAmount"><span jhiTranslate="ebwebApp.repositoryLedger.iwAmount">Iw Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="owAmount"><span jhiTranslate="ebwebApp.repositoryLedger.owAmount">Ow Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainUnitID"><span jhiTranslate="ebwebApp.repositoryLedger.mainUnitID">Main Unit ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainUnitPrice"><span jhiTranslate="ebwebApp.repositoryLedger.mainUnitPrice">Main Unit Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainIWQuantity"><span jhiTranslate="ebwebApp.repositoryLedger.mainIWQuantity">Main IW Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainOWQuantity"><span jhiTranslate="ebwebApp.repositoryLedger.mainOWQuantity">Main OW Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainConvertRate"><span jhiTranslate="ebwebApp.repositoryLedger.mainConvertRate">Main Convert Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="formula"><span jhiTranslate="ebwebApp.repositoryLedger.formula">Formula</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reason"><span jhiTranslate="ebwebApp.repositoryLedger.reason">Reason</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="ebwebApp.repositoryLedger.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expiryDate"><span jhiTranslate="ebwebApp.repositoryLedger.expiryDate">Expiry Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lotNo"><span jhiTranslate="ebwebApp.repositoryLedger.lotNo">Lot No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="budgetItemID"><span jhiTranslate="ebwebApp.repositoryLedger.budgetItemID">Budget Item ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costSetID"><span jhiTranslate="ebwebApp.repositoryLedger.costSetID">Cost Set ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statisticsCodeID"><span jhiTranslate="ebwebApp.repositoryLedger.statisticsCodeID">Statistics Code ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expenseItemID"><span jhiTranslate="ebwebApp.repositoryLedger.expenseItemID">Expense Item ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderPriority"><span jhiTranslate="ebwebApp.repositoryLedger.orderPriority">Order Priority</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let repositoryLedger of repositoryLedgers ;trackBy: trackId">
                <td><a [routerLink]="['/repository-ledger', repositoryLedger.id, 'view' ]">{{repositoryLedger.id}}</a></td>
                <td>{{repositoryLedger.companyID}}</td>
                <td>{{repositoryLedger.branchID}}</td>
                <td>{{repositoryLedger.referenceID}}</td>
                <td>{{repositoryLedger.date | date:'mediumDate'}}</td>
                <td>{{repositoryLedger.postedDate | date:'mediumDate'}}</td>
                <td>{{repositoryLedger.typeLedger}}</td>
                <td>{{repositoryLedger.noFBook}}</td>
                <td>{{repositoryLedger.noMBook}}</td>
                <td>{{repositoryLedger.account}}</td>
                <td>{{repositoryLedger.accountCorresponding}}</td>
                <td>{{repositoryLedger.repositoryID}}</td>
                <td>{{repositoryLedger.repositoryCode}}</td>
                <td>{{repositoryLedger.RepositoryName}}</td>
                <td>{{repositoryLedger.materialGoodsID}}</td>
                <td>{{repositoryLedger.materialGoodsCode}}</td>
                <td>{{repositoryLedger.materialGoodsName}}</td>
                <td>{{repositoryLedger.unitID}}</td>
                <td>{{repositoryLedger.unitPrice}}</td>
                <td>{{repositoryLedger.iwQuantity}}</td>
                <td>{{repositoryLedger.owQuantity}}</td>
                <td>{{repositoryLedger.iwAmount}}</td>
                <td>{{repositoryLedger.owAmount}}</td>
                <td>{{repositoryLedger.mainUnitID}}</td>
                <td>{{repositoryLedger.mainUnitPrice}}</td>
                <td>{{repositoryLedger.mainIWQuantity}}</td>
                <td>{{repositoryLedger.mainOWQuantity}}</td>
                <td>{{repositoryLedger.mainConvertRate}}</td>
                <td>{{repositoryLedger.formula}}</td>
                <td>{{repositoryLedger.reason}}</td>
                <td>{{repositoryLedger.description}}</td>
                <td>{{repositoryLedger.expiryDate | date:'mediumDate'}}</td>
                <td>{{repositoryLedger.lotNo}}</td>
                <td>{{repositoryLedger.budgetItemID}}</td>
                <td>{{repositoryLedger.costSetID}}</td>
                <td>{{repositoryLedger.statisticsCodeID}}</td>
                <td>{{repositoryLedger.expenseItemID}}</td>
                <td>{{repositoryLedger.orderPriority}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/repository-ledger', repositoryLedger.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/repository-ledger', repositoryLedger.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'repository-ledger/'+ repositoryLedger.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="repositoryLedgers && repositoryLedgers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
