<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="repositoryLedger">
            <h2><span jhiTranslate="ebwebApp.repositoryLedger.detail.title">Repository Ledger</span> {{repositoryLedger.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.companyID">Company ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.companyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.referenceID">Reference ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.referenceID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.date">Date</span></dt>
                <dd>
                    <span>{{repositoryLedger.date}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.postedDate">Posted Date</span></dt>
                <dd>
                    <span>{{repositoryLedger.postedDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.typeLedger">Type Ledger</span></dt>
                <dd>
                    <span>{{repositoryLedger.typeLedger}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.noFBook">No F Book</span></dt>
                <dd>
                    <span>{{repositoryLedger.noFBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.noMBook">No M Book</span></dt>
                <dd>
                    <span>{{repositoryLedger.noMBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.account">Account</span></dt>
                <dd>
                    <span>{{repositoryLedger.account}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.accountCorresponding">Account Corresponding</span></dt>
                <dd>
                    <span>{{repositoryLedger.accountCorresponding}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.repositoryID">Repository ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.repositoryID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.repositoryCode">Repository Code</span></dt>
                <dd>
                    <span>{{repositoryLedger.repositoryCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.RepositoryName">Repository Name</span></dt>
                <dd>
                    <span>{{repositoryLedger.RepositoryName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.materialGoodsID">Material Goods ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.materialGoodsID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.materialGoodsCode">Material Goods Code</span></dt>
                <dd>
                    <span>{{repositoryLedger.materialGoodsCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.materialGoodsName">Material Goods Name</span></dt>
                <dd>
                    <span>{{repositoryLedger.materialGoodsName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.unitID">Unit ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.unitID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{repositoryLedger.unitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.iwQuantity">Iw Quantity</span></dt>
                <dd>
                    <span>{{repositoryLedger.iwQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.owQuantity">Ow Quantity</span></dt>
                <dd>
                    <span>{{repositoryLedger.owQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.iwAmount">Iw Amount</span></dt>
                <dd>
                    <span>{{repositoryLedger.iwAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.owAmount">Ow Amount</span></dt>
                <dd>
                    <span>{{repositoryLedger.owAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.mainUnitID">Main Unit ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.mainUnitID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.mainUnitPrice">Main Unit Price</span></dt>
                <dd>
                    <span>{{repositoryLedger.mainUnitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.mainIWQuantity">Main IW Quantity</span></dt>
                <dd>
                    <span>{{repositoryLedger.mainIWQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.mainOWQuantity">Main OW Quantity</span></dt>
                <dd>
                    <span>{{repositoryLedger.mainOWQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.mainConvertRate">Main Convert Rate</span></dt>
                <dd>
                    <span>{{repositoryLedger.mainConvertRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.formula">Formula</span></dt>
                <dd>
                    <span>{{repositoryLedger.formula}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.reason">Reason</span></dt>
                <dd>
                    <span>{{repositoryLedger.reason}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.description">Description</span></dt>
                <dd>
                    <span>{{repositoryLedger.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.expiryDate">Expiry Date</span></dt>
                <dd>
                    <span>{{repositoryLedger.expiryDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.lotNo">Lot No</span></dt>
                <dd>
                    <span>{{repositoryLedger.lotNo}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.budgetItemID">Budget Item ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.budgetItemID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.costSetID">Cost Set ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.costSetID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.statisticsCodeID">Statistics Code ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.statisticsCodeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.expenseItemID">Expense Item ID</span></dt>
                <dd>
                    <span>{{repositoryLedger.expenseItemID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repositoryLedger.orderPriority">Order Priority</span></dt>
                <dd>
                    <span>{{repositoryLedger.orderPriority}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/repository-ledger', repositoryLedger.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
