/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/hipster.png') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/hipster2x.png') no-repeat center top;
        background-size: contain;
    }
}

#pills-tab > ul li > a.active {
    background-color: #2c3e50;
}

#pills-tab > ul li > a {
    border: 1px black solid !important;
}

.input-Cell {
    background: transparent;
    padding: 0px;
    border: none;
    width: 100%;
    height: 100%;
}

.nav-link.active {
    background-color: #2c3e50;
}

.box {
    border: solid 1px #d56f2b;
    background: #fff;
}

.box:hover {
    background: #f9a073;
}

img {
    width: 100%;
    height: 100%;
}

.img-resize {
    width: 83.15%;
}

.padding-div {
    padding-left: 0;
    padding-bottom: 5%;
}

.padding-div {
    padding-left: 0;
    padding-bottom: 5%;
}

.background-tab-1 {
    background: #fff;
}

.background-tab-2 {
    background: #adc7e6;
}

.card-body-padding {
    padding: 10px;
}

.padding-text {
    margin-bottom: 0px;
    padding-top: 7px;
}

.css-combo {
    width: 90px;
}

.activeButton {
    background-color: #44c767;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 12px 22px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}
.activeButton:hover {
    background-color: #5cbf2a;
}
.activeButton:active {
    position: relative;
    top: 1px;
}

.margin-bottom0 {
    margin-bottom: 0px;
}

.css-padding-top-5 {
    padding-top: 5px;
}
