<div>
    <div>
        <object [data]="filePdf" type="application/pdf" width="100%" height="100%"></object>
    </div>
    <div class="modal-footer">
        <!--<h4 class="modal-title" jhiTranslate="cicbApp.report.popup.title">Report Info</h4>-->
        <button class="btn btn-success" (click)="viewVoucher(data)">Xem chứng từ</button>
        <button [disabled]="disable" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DSHD_THAY_THE_HOA_DON]" class="btn btn-success" [hidden]="NCCDV === NCCDV_EINVOICE.MIV" (click)="thayTheHoaDon()">Thay thế hóa đơn</button>
        <button [disabled]="disable" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE.DSHD_DIEU_CHINH_HOA_DON]"
                class="btn btn-success dropdown-toggle" data-toggle="dropdown">Điều chỉnh hóa đơn
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-item">
                <a (click)="dieuChinhTang()">
                    <span jhiTranslate="ebwebApp.eInvoice.home.adjust.increase">Điều chỉnh tăng</span>
                </a>
            </div>
            <div class="dropdown-item">
                <a jhiTranslate="ebwebApp.eInvoice.home.adjust.decrease" (click)="dieuChinhGiam()">
                    Điều chỉnh giảm
                </a>
            </div>
            <div class="dropdown-item">
                <a jhiTranslate="ebwebApp.eInvoice.home.adjust.information" (click)="dieuChinhThongTin()">
                    Điều chỉnh thông tin
                </a>
            </div>
        </div>
        <button class="btn btn-dark" (click)="activeModal.dismiss('closed')">Đóng</button>
    </div>
</div>
