<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="costSet">
            <h2><span jhiTranslate="ebwebApp.costSet.detail.title">Cost Set</span> {{costSet.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.costSet.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{costSet.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSet.costSetCode">Cost Set Code</span></dt>
                <dd>
                    <span>{{costSet.costSetCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSet.costSetName">Cost Set Name</span></dt>
                <dd>
                    <span>{{costSet.costSetName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSet.costSetType">Cost Set Type</span></dt>
                <dd>
                    <span>{{costSet.costSetType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSet.deScription">De Scription</span></dt>
                <dd>
                    <span>{{costSet.deScription}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSet.parentID">Parent ID</span></dt>
                <dd>
                    <span>{{costSet.parentID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSet.isParentNode">Is Parent Node</span></dt>
                <dd>
                    <span>{{costSet.isParentNode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSet.orderFixCode">Order Fix Code</span></dt>
                <dd>
                    <span>{{costSet.orderFixCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSet.grade">Grade</span></dt>
                <dd>
                    <span>{{costSet.grade}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.costSet.isActive">Is Active</span></dt>
                <dd>
                    <span>{{costSet.isActive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cost-set', costSet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
