<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-cost-set-heading" jhiTranslate="ebwebApp.costSet.home.createOrEditLabel">Create or edit a Cost Set</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!costSet.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="costSet.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.costSet.branchID" for="field_branchID">Branch ID</label>
                    <input type="text" class="form-control" name="branchID" id="field_branchID"
                        [(ngModel)]="costSet.branchID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.costSet.costSetCode" for="field_costSetCode">Cost Set Code</label>
                    <input type="text" class="form-control" name="costSetCode" id="field_costSetCode"
                        [(ngModel)]="costSet.costSetCode" required maxlength="25"/>
                    <div [hidden]="!(editForm.controls.costSetCode?.dirty && editForm.controls.costSetCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.costSetCode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.costSetCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.costSet.costSetName" for="field_costSetName">Cost Set Name</label>
                    <input type="text" class="form-control" name="costSetName" id="field_costSetName"
                        [(ngModel)]="costSet.costSetName" required maxlength="512"/>
                    <div [hidden]="!(editForm.controls.costSetName?.dirty && editForm.controls.costSetName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.costSetName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.costSetName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.costSet.costSetType" for="field_costSetType">Cost Set Type</label>
                    <input type="number" class="form-control" name="costSetType" id="field_costSetType"
                        [(ngModel)]="costSet.costSetType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.costSet.deScription" for="field_deScription">De Scription</label>
                    <input type="text" class="form-control" name="deScription" id="field_deScription"
                        [(ngModel)]="costSet.deScription" maxlength="512"/>
                    <div [hidden]="!(editForm.controls.deScription?.dirty && editForm.controls.deScription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.deScription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.costSet.parentID" for="field_parentID">Parent ID</label>
                    <input type="text" class="form-control" name="parentID" id="field_parentID"
                        [(ngModel)]="costSet.parentID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.costSet.isParentNode" for="field_isParentNode">Is Parent Node</label>
                    <input type="checkbox" class="form-control" name="isParentNode" id="field_isParentNode"
                        [(ngModel)]="costSet.isParentNode" />
                    <div [hidden]="!(editForm.controls.isParentNode?.dirty && editForm.controls.isParentNode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isParentNode?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.costSet.orderFixCode" for="field_orderFixCode">Order Fix Code</label>
                    <input type="text" class="form-control" name="orderFixCode" id="field_orderFixCode"
                        [(ngModel)]="costSet.orderFixCode" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.orderFixCode?.dirty && editForm.controls.orderFixCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.orderFixCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.costSet.grade" for="field_grade">Grade</label>
                    <input type="number" class="form-control" name="grade" id="field_grade"
                        [(ngModel)]="costSet.grade" required/>
                    <div [hidden]="!(editForm.controls.grade?.dirty && editForm.controls.grade?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.grade?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.grade?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.costSet.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="costSet.isActive" />
                    <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
