<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.costSet.home.title">Cost Sets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cost-set" [routerLink]="['/cost-set/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.costSet.home.createLabel">
            Create new Cost Set
            </span>
        </button>
    </h2>
    <div class="row">
        <div class="col-md-4">
            <label for="costSetCode" jhiTranslate="ebwebApp.costSet.costSetCode"></label>
            <input type="text" name="costSetCode" id="costSetCode" [(ngModel)]="costSetCode" (change)="changePage()"
                   class="form-control"/>
        </div>

    </div>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="costSets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="branchID"><span jhiTranslate="ebwebApp.costSet.branchID">Branch ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costSetCode"><span jhiTranslate="ebwebApp.costSet.costSetCode">Cost Set Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costSetName"><span jhiTranslate="ebwebApp.costSet.costSetName">Cost Set Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costSetType"><span jhiTranslate="ebwebApp.costSet.costSetType">Cost Set Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deScription"><span jhiTranslate="ebwebApp.costSet.deScription">De Scription</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentID"><span jhiTranslate="ebwebApp.costSet.parentID">Parent ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isParentNode"><span jhiTranslate="ebwebApp.costSet.isParentNode">Is Parent Node</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderFixCode"><span jhiTranslate="ebwebApp.costSet.orderFixCode">Order Fix Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="grade"><span jhiTranslate="ebwebApp.costSet.grade">Grade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span jhiTranslate="ebwebApp.costSet.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let costSet of costSets ;trackBy: trackId">
                <td><a [routerLink]="['/cost-set', costSet.id, 'view' ]">{{costSet.id}}</a></td>
                <td>{{costSet.branchID}}</td>
                <td>{{costSet.costSetCode}}</td>
                <td>{{costSet.costSetName}}</td>
                <td>{{costSet.costSetType}}</td>
                <td>{{costSet.deScription}}</td>
                <td>{{costSet.parentID}}</td>
                <td>{{costSet.isParentNode}}</td>
                <td>{{costSet.orderFixCode}}</td>
                <td>{{costSet.grade}}</td>
                <td>{{costSet.isActive}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cost-set', costSet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cost-set', costSet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cost-set/'+ costSet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="costSets && costSets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
