<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gOtherVoucherDetailExpense">
            <h2><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpense.detail.title">G Other Voucher Detail Expense</span> {{gOtherVoucherDetailExpense.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpense.gOtherVoucherID">G Other Voucher ID</span></dt>
                <dd>
                    <span>{{gOtherVoucherDetailExpense.gOtherVoucherID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpense.prepaidExpenseID">Prepaid Expense ID</span></dt>
                <dd>
                    <span>{{gOtherVoucherDetailExpense.prepaidExpenseID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpense.amount">Amount</span></dt>
                <dd>
                    <span>{{gOtherVoucherDetailExpense.amount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpense.remainingAmount">Remaining Amount</span></dt>
                <dd>
                    <span>{{gOtherVoucherDetailExpense.remainingAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpense.allocationAmount">Allocation Amount</span></dt>
                <dd>
                    <span>{{gOtherVoucherDetailExpense.allocationAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.gOtherVoucherDetailExpense.orderPriority">Order Priority</span></dt>
                <dd>
                    <span>{{gOtherVoucherDetailExpense.orderPriority}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/g-other-voucher-detail-expense', gOtherVoucherDetailExpense.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
