<div>
    <div>
        <div class="modal-content of-hidden border-0">
            <div class="modal-header bg-primary text-white">
                <div class="d-flex flex-wrap">
                    <h3 class="modal-title-detail mr-3"><span translate="ebwebApp.mCReceipt.home.message">Thông báo</span></h3>
                </div>
                <button type="button" class="close-modal" data-dismiss="modal" (click)="close()"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div>
                <div class="modal-body pd-lr-30">
                    <span>
                        Hiện tại, trình duyệt web của quý khách chưa được cài tiện ích ký số.
                        Quý khách vui lòng cài đặt tiện ích ký số theo hướng dẫn sau. Xin cảm ơn:</span>
                    <div class="mt-10">
                        <a target="_blank" class="pointer text-info ud-l mt-20" (click)="linkToEInvoiceTool()">Hướng dẫn cài đặt tiện ích ký số</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-dark btn-sm text-center" (click)="close()"
                    id="btnAccept" jhiTranslate="entity.action.close">Đóng
            </button>
        </div>
    </div>
</div>

