<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="creditCard">
            <h2><span jhiTranslate="ebwebApp.creditCard.detail.title">Credit Card</span> {{creditCard.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.creditCard.creditCardNumber">Credit Card Number</span></dt>
                <dd>
                    <span>{{creditCard.creditCardNumber}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.creditCard.creditCardType">Credit Card Type</span></dt>
                <dd>
                    <span>{{creditCard.creditCardType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.creditCard.ownerCard">Owner Card</span></dt>
                <dd>
                    <span>{{creditCard.ownerCard}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.creditCard.exFromMonth">Ex From Month</span></dt>
                <dd>
                    <span>{{creditCard.exFromMonth}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.creditCard.exFromYear">Ex From Year</span></dt>
                <dd>
                    <span>{{creditCard.exFromYear}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.creditCard.exToMonth">Ex To Month</span></dt>
                <dd>
                    <span>{{creditCard.exToMonth}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.creditCard.exToYear">Ex To Year</span></dt>
                <dd>
                    <span>{{creditCard.exToYear}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.creditCard.description">Description</span></dt>
                <dd>
                    <span>{{creditCard.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.creditCard.isActive">Is Active</span></dt>
                <dd>
                    <span>{{creditCard.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.creditCard.BankIDIssueCard">Bank ID Issue Card</span></dt>
                <dd>
                    <div *ngIf="creditCard.bankIDIssueCard">
                        <!--<a [routerLink]="['/bank', creditCard.bankIDIssueCard?.id, 'view']">{{creditCard.bankIDIssueCard?.id}}</a>-->
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.creditCard.branchID">Branch ID</span></dt>
                <dd>
                    <div *ngIf="creditCard.branchID">
                        <a [routerLink]="['/organization-unit', creditCard.branchID?.id, 'view']">{{creditCard.branchID?.branchID}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/credit-card', creditCard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
