<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.cPUncompleteDetails.home.title">CP Uncomplete Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cp-uncomplete-details" [routerLink]="['/cp-uncomplete-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.cPUncompleteDetails.home.createLabel">
            Create new CP Uncomplete Details
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="cPUncompleteDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cPUncompleteID"><span jhiTranslate="ebwebApp.cPUncompleteDetails.cPUncompleteID">C P Uncomplete ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cPPeriodID"><span jhiTranslate="ebwebApp.cPUncompleteDetails.cPPeriodID">C P Period ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costSetID"><span jhiTranslate="ebwebApp.cPUncompleteDetails.costSetID">Cost Set ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="directMatetialAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.directMatetialAmount">Direct Matetial Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="directLaborAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.directLaborAmount">Direct Labor Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="machineMatetialAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.machineMatetialAmount">Machine Matetial Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="machineLaborAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.machineLaborAmount">Machine Labor Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="machineToolsAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.machineToolsAmount">Machine Tools Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="machineDepreciationAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.machineDepreciationAmount">Machine Depreciation Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="machineServiceAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.machineServiceAmount">Machine Service Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="machineGeneralAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.machineGeneralAmount">Machine General Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="generalMatetialAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.generalMatetialAmount">General Matetial Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="generalLaborAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.generalLaborAmount">General Labor Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="generalToolsAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.generalToolsAmount">General Tools Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="generalDepreciationAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.generalDepreciationAmount">General Depreciation Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="generalServiceAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.generalServiceAmount">General Service Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="otherGeneralAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.otherGeneralAmount">Other General Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalCostAmount"><span jhiTranslate="ebwebApp.cPUncompleteDetails.totalCostAmount">Total Cost Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cPUncompleteDetails of cPUncompleteDetails ;trackBy: trackId">
                <td><a [routerLink]="['/cp-uncomplete-details', cPUncompleteDetails.id, 'view' ]">{{cPUncompleteDetails.id}}</a></td>
                <td>{{cPUncompleteDetails.cPUncompleteID}}</td>
                <td>{{cPUncompleteDetails.cPPeriodID}}</td>
                <td>{{cPUncompleteDetails.costSetID}}</td>
                <td>{{cPUncompleteDetails.directMatetialAmount}}</td>
                <td>{{cPUncompleteDetails.directLaborAmount}}</td>
                <td>{{cPUncompleteDetails.machineMatetialAmount}}</td>
                <td>{{cPUncompleteDetails.machineLaborAmount}}</td>
                <td>{{cPUncompleteDetails.machineToolsAmount}}</td>
                <td>{{cPUncompleteDetails.machineDepreciationAmount}}</td>
                <td>{{cPUncompleteDetails.machineServiceAmount}}</td>
                <td>{{cPUncompleteDetails.machineGeneralAmount}}</td>
                <td>{{cPUncompleteDetails.generalMatetialAmount}}</td>
                <td>{{cPUncompleteDetails.generalLaborAmount}}</td>
                <td>{{cPUncompleteDetails.generalToolsAmount}}</td>
                <td>{{cPUncompleteDetails.generalDepreciationAmount}}</td>
                <td>{{cPUncompleteDetails.generalServiceAmount}}</td>
                <td>{{cPUncompleteDetails.otherGeneralAmount}}</td>
                <td>{{cPUncompleteDetails.totalCostAmount}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cp-uncomplete-details', cPUncompleteDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cp-uncomplete-details', cPUncompleteDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cp-uncomplete-details/'+ cPUncompleteDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="cPUncompleteDetails && cPUncompleteDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
