<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mCPayment">
            <h2><span jhiTranslate="ebwebApp.mCPayment.detail.title">MC Payment</span> {{mCPayment.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.mCPayment.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{mCPayment.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.typeID">Type ID</span></dt>
                <dd>
                    <span>{{mCPayment.typeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.date">Date</span></dt>
                <dd>
                    <span>{{mCPayment.date}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.postedDate">Posted Date</span></dt>
                <dd>
                    <span>{{mCPayment.postedDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.typeLedger">Type Ledger</span></dt>
                <dd>
                    <span>{{mCPayment.typeLedger}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.noFBook">No F Book</span></dt>
                <dd>
                    <span>{{mCPayment.noFBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.noMBook">No M Book</span></dt>
                <dd>
                    <span>{{mCPayment.noMBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.accountingObjectID">Accounting Object ID</span></dt>
                <dd>
                    <span>{{mCPayment.accountingObjectID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.accountingObjectName">Accounting Object Name</span></dt>
                <dd>
                    <span>{{mCPayment.accountingObjectName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.accountingObjectAddress">Accounting Object Address</span></dt>
                <dd>
                    <span>{{mCPayment.accountingObjectAddress}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.receiver">Receiver</span></dt>
                <dd>
                    <span>{{mCPayment.receiver}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.reason">Reason</span></dt>
                <dd>
                    <span>{{mCPayment.reason}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.numberAttach">Number Attach</span></dt>
                <dd>
                    <span>{{mCPayment.numberAttach}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.currencyID">Currency ID</span></dt>
                <dd>
                    <span>{{mCPayment.currencyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{mCPayment.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.isImportPurchase">Is Import Purchase</span></dt>
                <dd>
                    <span>{{mCPayment.isImportPurchase}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.pPOrderID">P P Order ID</span></dt>
                <dd>
                    <span>{{mCPayment.pPOrderID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.paymentClauseID">Payment Clause ID</span></dt>
                <dd>
                    <span>{{mCPayment.paymentClauseID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.transportMethodID">Transport Method ID</span></dt>
                <dd>
                    <span>{{mCPayment.transportMethodID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{mCPayment.totalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.totalAmountOriginal">Total Amount Original</span></dt>
                <dd>
                    <span>{{mCPayment.totalAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.totalVATAmount">Total VAT Amount</span></dt>
                <dd>
                    <span>{{mCPayment.totalVATAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.totalVATAmountOriginal">Total VAT Amount Original</span></dt>
                <dd>
                    <span>{{mCPayment.totalVATAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.employeeID">Employee ID</span></dt>
                <dd>
                    <span>{{mCPayment.employeeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.accountingObjectType">Accounting Object Type</span></dt>
                <dd>
                    <span>{{mCPayment.accountingObjectType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.templateID">Template ID</span></dt>
                <dd>
                    <span>{{mCPayment.templateID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCPayment.recorded">Recorded</span></dt>
                <dd>
                    <span>{{mCPayment.recorded}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mc-payment', mCPayment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
