a.disable,
a.disable:hover {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
}
.isParentNode td {
    font-weight: 600;
    /*pointer-events: none;*/
}

.isParentNode-result td {
    font-weight: 600;
}
.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.one-long-line,
.jsgrid-cell {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.jsgrid-cell-result {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-Cell {
    background: transparent;

    /*padding: 5px;*/
    padding-right: 10px;
    border: none;
    width: 100%;
    height: 100%;
}
.selected > td {
    background: #ddf7ef !important;
}

h3 {
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}
/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}
:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
/*style for pagination*/
/deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}

/deep/ .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color: #f6f6f6 !important;
    color: black !important;
}
.edit-color {
    color: #fff;
}
#table-scroll0 {
    z-index: 0;
}
/*right click event*/
.contextmenu {
    position: absolute;
}
.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}
.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}
/*endof right click*/

/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}
/*style for menu*/
.itemw .menu-tool-bar a {
    color: #ffffff;
}
.itemw .menu-tool-bar a:hover {
    color: #f26f21 !important;
}
.itemw .menu-tool-bar a.disable,
a.disable:hover {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
}
/*style addNewRow*/
.addNewRow {
    background-color: #e9ecef !important;
}
.edit-color {
    color: #fff;
}

#field_currencyID {
    padding-bottom: 10px;
    padding-top: 5px;
}

.input-group-append {
    margin-top: 1px;
    z-index: 0;
}

.table-scroll {
    z-index: 0;
}

.color-tfoot {
    background-color: #7db5dd !important;
    width: 100%;
}

#tienHang2 {
    border-left-width: 0px;
}

.fix-pd-input {
    padding-right: 5px;
    padding-left: 5px;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
    background: none;
}

.date-input {
    max-width: 1px;
    border: none;
    opacity: 0;
}
input {
    border: none;
}

table#main-table-so-du-dau-ky tr:first-child .disable-fist-row td input,
table#main-table-so-du-dau-ky tr:first-child .disable-fist-row td combo-box,
table#main-table-so-du-dau-ky tr:first-child .disable-fist-row td select {
    pointer-events: none;
}

table#main-table-so-du-dau-ky .isParentNode i.mdi.mdi-chevron-down,
table#main-table-so-du-dau-ky .isParentNode-result i.mdi.mdi-chevron-down {
    display: none !important;
}
.virtualScroller {
    display: block;
    height: 77vh;
}

.virtualScroller-result {
    display: block;
    height: 400px;
}

.scrollable-content {
    transform: none !important;
}
/*.vertical.selfScroll {*/
/*    overflow-y: inherit !important;*/
/*}*/
/* line 1031, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
#main-table0::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: #fff;
}

/* line 1026, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
#main-table0::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
}

/* line 1031, /Users/vuvankhai/Desktop/PMKT/custom/style.scss */
#main-table0::-webkit-scrollbar-thumb {
    background-color: #f26f21;
}

.virtualScroller-result th,
.virtualScroller-result td {
    width: 1% !important;
}

.border-right-blue td {
    border: 1px solid #adc8e6 !important;
}
.width-1-p td,
.width-1-p th {
    width: 1% !important;
}

.border-right-blue .border-white-1 {
    /*border-left: 0.1px solid white !important;*/
    /*border-right: 0.1px solid white !important;*/
}
table th.resizing {
    cursor: initial !important;
}

.disable-bg {
    pointer-events: none;
    color: #888;
}

.ct-hover-selected li:hover {
    background: #ddf7ef !important;
}
