<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="repository">
            <h2><span jhiTranslate="ebwebApp.repository.detail.title">Repository</span> {{repository.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.repository.repositoryCode">Repository Code</span></dt>
                <dd>
                    <span>{{repository.repositoryCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repository.repositoryName">Repository Name</span></dt>
                <dd>
                    <span>{{repository.repositoryName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repository.description">Description</span></dt>
                <dd>
                    <span>{{repository.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repository.defaultAccount">Default Account</span></dt>
                <dd>
                    <span>{{repository.defaultAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repository.isActive">Is Active</span></dt>
                <dd>
                    <span>{{repository.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.repository.branchID">Branch ID</span></dt>
                <dd>
                    <div *ngIf="repository.branchID">
                        <a [routerLink]="['/organization-unit', repository.branchID?.id, 'view']">{{repository.branchID?.branchID}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/repository', repository.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
