<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accountTransfer">
            <h2><span jhiTranslate="ebwebApp.accountTransfer.detail.title">Account Transfer</span> {{accountTransfer.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.accountTransfer.accountTransferCode">Account Transfer Code</span></dt>
                <dd>
                    <span>{{accountTransfer.accountTransferCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountTransfer.accountTransferOrder">Account Transfer Order</span></dt>
                <dd>
                    <span>{{accountTransfer.accountTransferOrder}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountTransfer.accountTransferType">Account Transfer Type</span></dt>
<!--                <dd>-->
<!--                    <span>{{accountTransfer.accountTransferType}}</span>-->
<!--                </dd>-->
                <dt><span jhiTranslate="ebwebApp.accountTransfer.fromAccount">From Account</span></dt>
                <dd>
                    <span>{{accountTransfer.fromAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountTransfer.toAccount">To Account</span></dt>
                <dd>
                    <span>{{accountTransfer.toAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountTransfer.transferSide">Transfer Side</span></dt>
<!--                <dd>-->
<!--                    <span>{{accountTransfer.transferSide}}</span>-->
<!--                </dd>-->
                <dt><span jhiTranslate="ebwebApp.accountTransfer.description">Description</span></dt>
                <dd>
                    <span>{{accountTransfer.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountTransfer.isActive">Is Active</span></dt>
                <dd>
                    <span>{{accountTransfer.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountTransfer.isSecurity">Is Security</span></dt>
                <dd>
                    <span>{{accountTransfer.isSecurity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/account-transfer', accountTransfer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
