a.disable {
    color: dimgray !important;
}

a.disable:hover {
    color: black !important;
}

.row.no-gutters .my-last-div-KH-NCC-1-0 {
    flex: 0 0 100%;
    max-width: calc(100% - 170px) !important;
}

.row.no-gutters .my-last-div-KH-NCC-3-2 {
    flex: 0 0 100%;
    max-width: calc(58.333333% - 400px) !important;
}

.my-col-form-label-KH-NCC {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: 170px !important;
    max-width: 170px !important;
}

.my-col-form-label-NCC {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    width: 60px !important;
    max-width: 60px !important;
}
