.selected > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}
.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.countRow {
    background-color: rgba(26, 116, 190, 0.53);
    width: 100%;
    color: #0a0a10;
}

/*style for pagination*/
/deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}

/deep/ .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color: #f6f6f6 !important;
    color: black !important;
}
