<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bankAccountDetails">
            <h2><span jhiTranslate="ebwebApp.bankAccountDetails.detail.title">Bank Account Details</span> {{bankAccountDetails.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.bankAccountDetails.bankAccount">Bank Account</span></dt>
                <dd>
                    <span>{{bankAccountDetails.bankAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.bankAccountDetails.bankName">Bank Name</span></dt>
                <dd>
                    <span>{{bankAccountDetails.bankName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.bankAccountDetails.address">Address</span></dt>
                <dd>
                    <span>{{bankAccountDetails.address}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.bankAccountDetails.description">Description</span></dt>
                <dd>
                    <span>{{bankAccountDetails.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.bankAccountDetails.bankBranchName">Bank Branch Name</span></dt>
                <dd>
                    <span>{{bankAccountDetails.bankBranchName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.bankAccountDetails.isActive">Is Active</span></dt>
                <dd>
                    <span>{{bankAccountDetails.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.bankAccountDetails.bankID">Bank ID</span></dt>
                <dd>
                    <div *ngIf="bankAccountDetails.bankID">
                        <a [routerLink]="['/bank', bankAccountDetails.bankID?.id, 'view']">{{bankAccountDetails.bankID?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.bankAccountDetails.branchID">Branch ID</span></dt>
                <dd>
                    <div *ngIf="bankAccountDetails.branchID">
                        <a [routerLink]="['/organization-unit', bankAccountDetails.branchID?.id, 'view']">{{bankAccountDetails.branchID?.branchID}}</a>
                    </div>
                </dd>
            </dl>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <button type="button"
                    [routerLink]="['/bank-account-details', bankAccountDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
