<div class="modal-body windowClass-DanhMuc-Combobox" style="padding: 20px!important;">
    <div class="margin-tp-5 margin-0">
        <div class="">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <div class="itemw">
                    <div class="menu-tool-bar he">
                        <div class="ptitle">
                            <span jhiTranslate="ebwebApp.bankAccountDetails.home.title">Ngân hàng</span>
                        </div>
                        <div class="gr-toolbar">
                            <a (click)="save()"><i class="mdi mdi-briefcase-download"></i>
                                <span jhiTranslate="ebwebApp.mCReceipt.home.save"></span>
                            </a>
                            <a (click)="saveAndNew()"><i class="mdi mdi-plus fa-plus color-green"></i>
                                <span jhiTranslate="ebwebApp.mCReceipt.home.saveAndAddNew"></span>
                            </a>
                            <a (click)="close()"><i class="mdi mdi-window-close"></i>
                                <span jhiTranslate="ebwebApp.mCReceipt.home.close"></span>
                            </a>
                        </div>
                    </div>
                    <div class="frm-main">
                        <div class="row no-gutters">
                            <div class="col-lg-12">
                                <form>
                                    <h3 jhiTranslate="ebwebApp.bankAccountDetails.detail.title">Thông tin chung</h3>
                                    <div class="row no-gutters">
                                        <div class="col-lg-12" [hidden]="true">
                                            <div class="form-group row no-gutters">
                                                <label for="id" class="col-sm-2 col-form-label"
                                                       jhiTranslate="global.field.id">ID</label>
                                                <div class="col-sm-10 pd-l-0 pd-r-10">
                                                    <input type="text" class="col-sm-10 col-form-label-sm" id="id"
                                                           name="id"
                                                           [(ngModel)]="bankAccountDetails.id" readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-2 my-col-form-label-KH"
                                                       jhiTranslate="ebwebApp.bankAccountDetails.bankAccountNumber">Số
                                                    tài khoản(*)</label>
                                                <div class="col-sm-3 pd-l-0 pd-r-10">
                                                    <input type="text" class="form-control" name="bankAccountNumber"
                                                           id="field_bankAccount"
                                                           [(ngModel)]="bankAccountDetails.bankAccount" required
                                                           maxlength="50"
                                                           [tabindex]="500040"/>
                                                </div>
                                                <label class="col-sm-2 my-col-form-label-KH"
                                                       jhiTranslate="ebwebApp.bankAccountDetails.bankName1">Tên ngân
                                                    hàng(*)</label>
                                                <div class="col-sm-3 pd-l-0 pd-r-10">
                                                    <combo-box style="" id="field_bankAccountDetailID"
                                                               name="comboboxBankAccountDetailID"
                                                               [dataList]="banks"
                                                               [listColumns]="listColumnsBank"
                                                               displayMember="bankName"
                                                               valueName="id"
                                                               [headerColumns]="listHeaderColumnsBank"
                                                               [isObject]="true"
                                                               [isRequired]="true"
                                                               [tabindex]="500041"
                                                               [(ngModel)]="bankAccountDetails.bankID">
                                                        <!--                                                                   (ngModelChange)="selectChangeBank(mBDeposit.bankAccountDetails)" required>-->
                                                    </combo-box>
                                                </div>
                                                <label class="col-sm-2 my-col-form-label-KH"
                                                       jhiTranslate="ebwebApp.bankAccountDetails.bankBranchName">Mở tại
                                                    chi nhánh</label>
                                                <div class="col-sm-2 pd-l-0 pd-r-10 my-last-div-KH-3-2">
                                                    <input type="text" class="form-control" name="bankBranchName"
                                                           id="field_bankBranchName"
                                                           [(ngModel)]="bankAccountDetails.bankBranchName"
                                                           maxlength="512"
                                                           [tabindex]="500042"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-2 my-col-form-label-KH"
                                                       jhiTranslate="ebwebApp.bankAccountDetails.address">Địa chỉ
                                                    mở</label>
                                                <div class="col-sm-7 my-col-form-label-KH-3">
                                                    <input type="text" class="form-control" name="address"
                                                           id="field_address"
                                                           [(ngModel)]="bankAccountDetails.address" maxlength="512"
                                                           [tabindex]="500043"/>
                                                </div>
                                                <label class="col-sm-2 my-col-form-label-KH"
                                                       jhiTranslate="ebwebApp.bankAccountDetails.description">Ghi
                                                    chú</label>
                                                <div class="col-sm-3 col-form-label-sm my-last-div-KH-3-2">
                                                    <input type="text" class="form-control" name="description"
                                                           id="field_description"
                                                           [(ngModel)]="bankAccountDetails.description"
                                                           maxlength="512"
                                                           [tabindex]="500044"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <div *ngIf="bankAccountDetails.id" class="custom-control custom-checkbox"
                                         style="padding-left :42px">
                                        <input type="checkbox" class="custom-control-input" name="isActive"
                                               [(ngModel)]="bankAccountDetails.isActive" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1"
                                               jhiTranslate="ebwebApp.bankAccountDetails.isActive"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.saBill.saveMessage">Dữ liệu đã bị thay đổi, Bạn có muốn lưu lại?</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="save()" jhiTranslate="entity.action.save">Save
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="close()" jhiTranslate="entity.action.noSave">close
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closeContent()" jhiTranslate="entity.action.close">
            close
        </button>
    </div>
</ng-template>
