<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.sAQuoteDetails.home.title">SA Quote Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sa-quote-details" [routerLink]="['/sa-quote-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.sAQuoteDetails.home.createLabel">
            Create new SA Quote Details
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="sAQuoteDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sAQuoteID"><span jhiTranslate="ebwebApp.sAQuoteDetails.sAQuoteID">S A Quote ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="ebwebApp.sAQuoteDetails.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitID"><span jhiTranslate="ebwebApp.sAQuoteDetails.unitID">Unit ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span jhiTranslate="ebwebApp.sAQuoteDetails.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitPrice"><span jhiTranslate="ebwebApp.sAQuoteDetails.unitPrice">Unit Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitPriceOriginal"><span jhiTranslate="ebwebApp.sAQuoteDetails.unitPriceOriginal">Unit Price Original</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainUnitID"><span jhiTranslate="ebwebApp.sAQuoteDetails.mainUnitID">Main Unit ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainQuantity"><span jhiTranslate="ebwebApp.sAQuoteDetails.mainQuantity">Main Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainUnitPrice"><span jhiTranslate="ebwebApp.sAQuoteDetails.mainUnitPrice">Main Unit Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainConvertRate"><span jhiTranslate="ebwebApp.sAQuoteDetails.mainConvertRate">Main Convert Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="formula"><span jhiTranslate="ebwebApp.sAQuoteDetails.formula">Formula</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="ebwebApp.sAQuoteDetails.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amountOriginal"><span jhiTranslate="ebwebApp.sAQuoteDetails.amountOriginal">Amount Original</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="discountRate"><span jhiTranslate="ebwebApp.sAQuoteDetails.discountRate">Discount Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="discountAmount"><span jhiTranslate="ebwebApp.sAQuoteDetails.discountAmount">Discount Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="discountAmountOriginal"><span jhiTranslate="ebwebApp.sAQuoteDetails.discountAmountOriginal">Discount Amount Original</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vATRate"><span jhiTranslate="ebwebApp.sAQuoteDetails.vATRate">V AT Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vATAmount"><span jhiTranslate="ebwebApp.sAQuoteDetails.vATAmount">V AT Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vATAmountOriginal"><span jhiTranslate="ebwebApp.sAQuoteDetails.vATAmountOriginal">V AT Amount Original</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderPriority"><span jhiTranslate="ebwebApp.sAQuoteDetails.orderPriority">Order Priority</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="materialGoods.id"><span jhiTranslate="ebwebApp.sAQuoteDetails.materialGoods">Material Goods</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sAQuoteDetails of sAQuoteDetails ;trackBy: trackId">
                <td><a [routerLink]="['/sa-quote-details', sAQuoteDetails.id, 'view' ]">{{sAQuoteDetails.id}}</a></td>
                <td>{{sAQuoteDetails.sAQuoteID}}</td>
                <td>{{sAQuoteDetails.description}}</td>
                <td>{{sAQuoteDetails.unitID}}</td>
                <td>{{sAQuoteDetails.quantity}}</td>
                <td>{{sAQuoteDetails.unitPrice}}</td>
                <td>{{sAQuoteDetails.unitPriceOriginal}}</td>
                <td>{{sAQuoteDetails.mainUnitID}}</td>
                <td>{{sAQuoteDetails.mainQuantity}}</td>
                <td>{{sAQuoteDetails.mainUnitPrice}}</td>
                <td>{{sAQuoteDetails.mainConvertRate}}</td>
                <td>{{sAQuoteDetails.formula}}</td>
                <td>{{sAQuoteDetails.amount}}</td>
                <td>{{sAQuoteDetails.amountOriginal}}</td>
                <td>{{sAQuoteDetails.discountRate}}</td>
                <td>{{sAQuoteDetails.discountAmount}}</td>
                <td>{{sAQuoteDetails.discountAmountOriginal}}</td>
                <td>{{sAQuoteDetails.vATRate}}</td>
                <td>{{sAQuoteDetails.vATAmount}}</td>
                <td>{{sAQuoteDetails.vATAmountOriginal}}</td>
                <td>{{sAQuoteDetails.orderPriority}}</td>
                <td>
                    <div *ngIf="sAQuoteDetails.materialGoods">
                        <a [routerLink]="['../material-goods', sAQuoteDetails.materialGoods?.id, 'view' ]" >{{sAQuoteDetails.materialGoods?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sa-quote-details', sAQuoteDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sa-quote-details', sAQuoteDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sa-quote-details/'+ sAQuoteDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sAQuoteDetails && sAQuoteDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
