a.disabled {
    color: dimgray !important;
}
a.disable:hover {
    color: black !important;
}
.paddinglabel {
    padding-left: 30px !important;
    padding-right: 5px !important;
}
.paddinginput {
    padding: 5px;
}
.pd-l-0 {
    padding-left: 0px;
}
.pd-l-20 {
    padding-left: 20px;
}
.pd-r-10 {
    padding-right: 10px;
}
