<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialGoodsAssembly">
            <h2><span jhiTranslate="ebwebApp.materialGoodsAssembly.detail.title">Material Goods Assembly</span> {{materialGoodsAssembly.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.materialGoodsAssembly.materialAssemblyDescription">Material Assembly Description</span></dt>
                <dd>
                    <span>{{materialGoodsAssembly.materialAssemblyDescription}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsAssembly.quantity">Quantity</span></dt>
                <dd>
                    <span>{{materialGoodsAssembly.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsAssembly.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{materialGoodsAssembly.unitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsAssembly.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{materialGoodsAssembly.totalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsAssembly.materialGoods">Material Goods</span></dt>
                <dd>
                    <div *ngIf="materialGoodsAssembly.materialGoods">
                        <a [routerLink]="['/material-goods', materialGoodsAssembly.materialGoods?.id, 'view']">{{materialGoodsAssembly.materialGoods?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsAssembly.unit">Unit</span></dt>
                <dd>
                    <div *ngIf="materialGoodsAssembly.unit">
                        <a [routerLink]="['/unit', materialGoodsAssembly.unit?.id, 'view']">{{materialGoodsAssembly.unit?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-goods-assembly', materialGoodsAssembly.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
