.custom-file-ct {
    position: relative;
    display: inline-block;
    max-width: calc(73.333333% - 1vh);
    height: 2.5rem;
    margin-bottom: 0;
}
.custom-file-ct-2 {
    max-width: 23.66666%;
    width: 23.66666%;
}

.custom-file-label {
}

@media (max-width: 1536px) {
    .col-8 {
        -ms-flex: 0 0 60% !important;
        flex: 0 0 60% !important;
        max-width: 60% !important;
    }
    .col-4 {
        -ms-flex: 0 0 40% !important;
        flex: 0 0 40% !important;
        max-width: 40% !important;
    }
    /*.col-2 {*/
    /*    -ms-flex: 0 0 100% !important;*/
    /*    flex: 0 0 100% !important;*/
    /*    max-width: 100% !important;*/
    /*}*/
}
@media (max-width: 1216px) {
    /*.col-2,*/
    .col-4,
    .col-8 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 768px) {
    .custom-file-ct-2,
    .custom-file-ct,
    .custom-form-label {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

th {
    text-align: center;
}
select::-ms-expand {
    display: none;
}
.col-form-label {
    font-weight: 300;
}
.select-type {
    height: 35px;
    width: 160px;
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
}
tbody.disable tr td input,
tbody.disable tr td span {
    background-color: inherit !important;
}
tbody.disable tr td .drop-down-button {
    background-color: inherit !important;
}
.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.input-Cell {
    background: transparent;
    margin: fill;
    /*padding: 5px;*/
    padding-right: 10px;
    border: none;
    width: 100%;
    height: 100%;
}
.input-Cell-Dp {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}
/*style for ngtab*/
:host ::ng-deep .tool-navbar .nav {
    display: flow-root !important;
}

:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
    float: left;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 7px 20px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
.one-long-line,
.jsgrid-cell {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*right click event*/
.contextmenu {
    position: absolute;
}
.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}
.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}
/*endof right click*/
/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}
/*style for menu*/
.itemw .menu-tool-bar a {
    color: #ffffff;
}
.itemw .menu-tool-bar a:hover {
    color: #f26f21 !important;
}
.itemw .menu-tool-bar a.disable,
a.disable:hover {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
}
/*style addNewRow*/
.addNewRow {
    background-color: #e9ecef !important;
}
.edit-color {
    color: #fff;
}

#field_currencyID {
    padding-bottom: 10px;
    padding-top: 5px;
}

.input-group-append {
    margin-top: 1px;
    z-index: 0;
}

.table-scroll {
    z-index: 0;
}

.color-tfoot {
    background-color: #7db5dd !important;
    width: 100%;
}

#tienHang2 {
    border-left-width: 0px;
}

.fix-pd-input {
    padding-right: 5px;
    padding-left: 5px;
}

.date-input {
    max-width: 1px;
    border: none;
    opacity: 0;
}

.required-input {
    border-left: 5px solid red;
    border-radius: 3px;
    /*padding-top: 8px;*/
    /*padding-bottom: 8px;*/
}

input {
    border: none;
}

.last-div-special-long {
    width: calc(50% - 220px) !important;
    max-width: calc(50% - 220px) !important;
    flex: 0 0 calc(50% - 220px) !important;
}

.eb-read-only-tr {
    pointer-events: none;
}
.modal-header,
.modal-body,
.nobg,
.frm-tables {
    background: #adc7e6 !important;
}

#table-scroll0,
#main-table0 {
    z-index: 0;
}
