<div >
    <div >
        <div class="menu-tool-bar he">
            <div class="ptitle">
                <span jhiTranslate="ebwebApp.tscd.home.ghiTang">GHI TĂNG TÀI SẢN CỐ ĐỊNH</span>
            </div>
            <div class="gr-toolbar">
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_Them]" (click)="addNew($event)"
                   title="{{'ebwebApp.outWard.tooltipAdd' | translate}}"><i class="mdi mdi-plus"></i> <span
                    jhiTranslate="ebwebApp.mCReceipt.home.add"></span></button>
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_Xoa]" [disabled]="(((selectedRow?selectedRow.recorded:true) || !selectedRow.id || checkCloseBook(account, selectedRow.postedDate)) && selectedRows.length <= 1) || isRecord()"
                   title="{{'ebwebApp.outWard.tooltipDrop' | translate}}"
                   (click)="delete()"><i
                    class="mdi mdi-delete"></i> <span jhiTranslate="ebwebApp.mCReceipt.home.delete"></span></button>
                <button [disabled] ="(!selectedRow.id || checkCloseBook(account, selectedRow.postedDate)) && selectedRows.length <=1" class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_GhiSo]"
                   title="{{'ebwebApp.outWard.tooltipRecord' | translate}}"
                   [hidden]="(selectedRow?.recorded && selectedRows.length <= 1) || (selectedRows.length > 1 && isRecord())" (click)="record()"><i
                    class="mdi mdi-pencil"></i> <span jhiTranslate="ebwebApp.mCReceipt.home.record"></span></button>
                <button [disabled] ="(!selectedRow.id || checkCloseBook(account, selectedRow.postedDate)) && selectedRows.length <=1" class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_GhiSo]"
                   title="{{'ebwebApp.outWard.tooltipUnRecord' | translate}}"
                   [hidden]="(!selectedRow?.recorded && selectedRows.length <= 1) || (selectedRows.length > 1 && isUnrecord())" (click)="unrecord()"><i
                    class="mdi mdi-pencil-off"></i> <span jhiTranslate="ebwebApp.mCReceipt.home.unrecord"></span></button>
                <button class="button-navigation" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_KetXuat]" [disabled]="faiIncrements?.length === 0"
                   title="{{'ebwebApp.outWard.tooltipExport' | translate}}"
                   (click)="export()"><i class="mdi mdi-file-export"></i> <span
                    jhiTranslate="ebwebApp.mCReceipt.home.export"></span></button>
                <button class="button-navigation" (click)="toggleSearch($event)" *ngIf="isShowSearch"
                   title="{{'ebwebApp.outWard.tooltipSearch' | translate}}">
                    <i class="{{isShowSearch?'mdi mdi-chevron-up':'mdi mdi-magnify'}}"></i>
                    <span jhiTranslate="ebwebApp.mBDeposit.home.hideAdvanceSearch"></span>
                </button>
                <button class="button-navigation" (click)="toggleSearch($event)" *ngIf="!isShowSearch"
                   title="{{'ebwebApp.outWard.tooltipSearch' | translate}}">
                    <i class="{{isShowSearch?'mdi mdi-chevron-up':'mdi mdi-magnify'}}"></i>
                    <span jhiTranslate="ebwebApp.mBDeposit.home.advanceSearch"></span>
                </button>
            </div>
        </div>

        <div class="frm-main frm-mains nobg">
            <form id="search" style="background: #cbdcf0;" [hidden]="!isShowSearch">
                <div class="row no-gutters">
                    <div class="col-lg-3 form-group row no-gutters">
                        <label class="col-form-label set-width-date set-pd-top" jhiTranslate="ebwebApp.purchaseOrder.fromDate">Từ ngày</label>
                        <div class="date-css">
                            <eb-date-picker id="field_date" format="YYYYMMDD"
                                            [(ngModel)]="search.fromDate"
                                            name="fromDate"></eb-date-picker>
                        </div>
                    </div>
                    <div class="col-lg-3 form-group row no-gutters">
                        <label class="col-form-label set-width-date set-pd-top" jhiTranslate="ebwebApp.purchaseOrder.toDate">Đến ngày</label>
                        <div class="date-css">
                            <eb-date-picker format="YYYYMMDD" [(ngModel)]="search.toDate"
                                            name="toDate"></eb-date-picker>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row no-gutters">
                            <label class="col-form-label set-width-search set-pd-top" for="txtSearchValue"
                                   jhiTranslate="entity.action.keyWord">Từ khóa</label>
                            <div class="search-css">
                                <input [(ngModel)]="search.textSearch"
                                       id="txtSearchValue" name="txtSearchValue" type="text"
                                       class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="frm-button">
                            <button (click)="searchVoucher(true)" class="btn btn-success btn-sm" style="font-size: 16px">
                                <i class="mdi mdi-magnify" aria-hidden="true" style="margin-right: 5px"></i><span jhiTranslate="ebwebApp.purchaseOrder.search">Tìm kiếm</span>
                            </button>
                            <button (click)="resetSearch()" class="btn btn-danger btn-sm" style="font-size: 16px">
                                <i class="mdi mdi-replay" style="margin-right: 5px"></i><span jhiTranslate="ebwebApp.purchaseOrder.setAgain">Đặt lại</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="frm-main frm-tables frm-padding" style="background: #cbdcf0; margin-top: 5px">
                <div id="table-scroll0" class="table-scroll voucher-table">
                    <table id="main-table0" class="main-table">
                        <thead class="header-table">
                        <tr>
                            <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.mCReceipt.date">Ngày chứng từ</th>
                            <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.mCReceipt.noFBook">Số chứng từ</th>
                            <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.saBill.reason">Diễn giải</th>
                            <th scope="col" style="width: 150px" jhiTranslate="ebwebApp.mCReceipt.totalAmount">Tổng tiền thanh toán</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let detail of faiIncrements ;trackBy: trackId; let i = index"
                            [class.selected]="checkSelect(detail)"
                            [class.row-selected]="checkSelected(detail)"
                            [ngStyle]="getStyle(detail.recorded)"
                            (click)="selectMultiRow(detail, $event, faiIncrements)"
                            (dblclick)="doubleClickRow(selectedRow, i)">
                            <td class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">{{detail.date | date:'dd/MM/yyyy'}}</td>
                            <td class="jsgrid-cell jsgrid-align-left" [title]="detail.noBook"
                                style="width: 150px">{{detail.noBook}}</td>
                            <td class="jsgrid-cell jsgrid-align-left"
                                style="width: 150px" [title]="detail.reason?detail.reason:''">{{detail.reason}}</td>
                            <td class="jsgrid-cell jsgrid-align-right" [title]="detail.totalAmount?detail.totalAmount:''"
                                style="width: 150px" id="numberT" class="cell-Table"><input type="number" class="input-Cell myreadonlytrue"
                                                                         name="{{'totalAmount'+i}}"
                                                                         ebCurrencyMask
                                                                         [systemOptions]="account?.systemOption"
                                                                         [type] = "7"
                                                                         [(ngModel)]="detail.totalAmount"
                            ></td>
                        </tr>
                        <tr *ngFor="let l of newArr(10 - faiIncrements?.length)">
                            <td class="jsgrid-cell">&nbsp;</td>
                            <td class="jsgrid-cell">&nbsp;</td>
                            <td class="jsgrid-cell">&nbsp;</td>
                            <td class="jsgrid-cell">&nbsp;</td>


                        </tr>
                        <tr [hidden]="true">
                            <td class="jsgrid-cell" style="width: 150px">&nbsp;</td>
                            <td class="jsgrid-cell jsgrid-align-right" style="width: 150px">&nbsp;</td>
                            <td class="jsgrid-cell jsgrid-align-right" style="width: 150px">&nbsp;</td>
                            <td class="jsgrid-cell jsgrid-align-right" style="width: 150px">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--        phân trang-->
        <div *ngIf="faiIncrements && faiIncrements.length"
             style="padding-right: 16px;">
            <div class="row" style="height: 32px">
                <div class="col-md-4">
                    <p style="padding-right: 5px;">
                        <span jhiTranslate="ebwebApp.saBill.totalAmountTt"></span>:
                        <input type="text" class="input-Cell-total" disabled
                               [ngModel]="faiIncrements[0]?.total"
                               ebCurrencyMask [systemOptions]="currentAccount?.systemOption" [type]="7"
                               [textAlign]="'left'">
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="row justify-content-end" style="height:32px">
                        <div class="col-lg-4">
                            <div class="form-group row">
                                <label class="col-sm-9 col-form-label" for="itemsPerPage"
                                       style="padding-right: 0px;text-align: right;"><span
                                    jhiTranslate="ebwebApp.mBDeposit.totalItems"></span>: {{totalItems}}</label>
                                <div class="col-sm-3 pd-l-0" style="padding-right: 5px;padding-left: 5px;">
                                    <select class="form-control form-control-sm" name="itemsPerPage"
                                            id="itemsPerPage"
                                            style="background-color: #f5f7fa;"
                                            [(ngModel)]="itemsPerPage"
                                            (ngModelChange)="selectedItemPerPage()"
                                    >
                                        <option [value]="10">10</option>
                                        <option [value]="20">20</option>
                                        <option [value]="30">30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-end">
                            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                            (pageChange)="loadPage(page)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        end of phan trang-->
        <ngb-tabset class="tool-navbar">
            <ngb-tab>
                <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.mCReceipt.home.detail">Chi tiết</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="tab-content">
                        <div class="frm-main frm-padding tab-pane fade in active show" id="home-detail"
                             style="background: #cbdcf0">
                            <div id="table-scroll-detail" class="table-scroll">
                                <table id="main-table-detail" class="main-table">
                                    <thead>
                                    <tr>
                                        <th scope="col" jhiTranslate="ebwebApp.tscd.ghiTang.tscdCode">Mã
                                            TSCD
                                        </th>
                                        <th scope="col" jhiTranslate="ebwebApp.tscd.ghiTang.tscdName">tên
                                            TSCD
                                        </th>
                                        <th scope="col"
                                            jhiTranslate="ebwebApp.mCPaymentDetails.departmentID">phòng ban
                                        </th>
                                        <th scope="col" jhiTranslate="ebwebApp.tscd.ghiTang.originalPrice">nguyên giá
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr oncontextmenu="return false;"
                                        *ngFor="let detail of faIncrementsDetails; let i = index">
                                        <!--     mã ccdc -->
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">{{detail.fixedAssetCode}}</td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">{{detail.fixedAssetName}}</td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">{{detail.organizationUnitCode}}</td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">
                                            <input type="number"
                                                   class="input-Cell text-right bg-transparent border-0"
                                                   [(ngModel)]="detail.amount"
                                                   name="amount" readonly
                                                   ebCurrencyMask [systemOptions]="account?.systemOption"
                                                   [type]="7">
                                        </td>
                                    </tr>
                                    <tr >
                                        <td class="cell-Table description"></td>
                                        <td class="cell-Table"><input id="debitAccountList" type="text"
                                                                      class="input-Cell" readonly></td>
                                        <td class="cell-Table"><input id="creditAccount" type="text"
                                                                      class="input-Cell" readonly></td>
                                        <td class="cell-Table"><input id="amountOriginal_DT" type="text"
                                                                      class="input-Cell" readonly></td>
                                    </tr>
                                    <tr *ngFor="let l of newArr(10 - faIncrementsDetails.length)">
                                        <td class="cell-Table description"><input type="text" class="input-Cell"
                                                                                  readonly></td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot [class.disable]="true">
                                    <tr>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.common.statistical"></span></ng-template>
                <ng-template ngbTabContent>
                    <div class="tab-content">
                        <div class="frm-main frm-padding tab-pane fade in active show" id="home-ref4"
                             style="background: #cbdcf0">
                            <div id="table-scroll-ref4" class="table-scroll">
                                <table id="main-table-ref4" class="main-table">
                                    <thead>
                                    <tr>
                                        <th scope="col" jhiTranslate="ebwebApp.tscd.ghiTang.tscdCode">Mã
                                            TSCD
                                        </th>
                                        <th scope="col" jhiTranslate="ebwebApp.tscd.ghiTang.tscdName">tên
                                            TSCD
                                        </th>
                                        <th scope="col" jhiTranslate="ebwebApp.mCPaymentDetails.accountingObject">đối tượng
                                            CCDC
                                        </th>
                                        <th scope="col" jhiTranslate="ebwebApp.mCPaymentDetails.expenseItem">Khoản mục CP</th>
                                        <th scope="col" jhiTranslate="ebwebApp.mCPaymentDetails.costSet">Đối tượng THCP</th>
                                        <th scope="col" jhiTranslate="ebwebApp.mCPaymentDetails.budgetItem">Mục thu chi</th>
                                        <th scope="col" jhiTranslate="ebwebApp.mCPaymentDetails.statisticsCode">Mã thống kê</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr oncontextmenu="return false;"
                                        *ngFor="let detail of faIncrementsDetails; let i = index"
                                    >
                                        <!--     mã ccdc -->
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">{{detail.fixedAssetCode}}</td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">{{detail.fixedAssetName}}</td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">{{detail.accountingObjectCode}}</td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">{{detail.expenseItemCode}}</td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">{{detail.costSetCode}}</td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">{{detail.budgetItemCode}}</td>
                                        <td class="jsgrid-cell jsgrid-align-center"
                                            style="width: 150px">{{detail.statisticsCode}}</td>
                                    </tr>
                                    <tr >
                                        <td class="cell-Table description"></td>
                                        <td class="cell-Table"><input  type="text"
                                                                       class="input-Cell" readonly></td>
                                        <td class="cell-Table"><input  type="text"
                                                                       class="input-Cell" readonly></td>
                                        <td class="cell-Table"><input type="text"
                                                                      class="input-Cell" readonly></td>
                                        <td class="cell-Table"><input type="text"
                                                                      class="input-Cell" readonly></td>
                                        <td class="cell-Table"><input
                                            type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input
                                            type="text" class="input-Cell" readonly>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let l of newArr(10 - viewVouchersSelected?.length)">
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="refdoc">
                <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.tscd.thamChieu"></span></ng-template>
                <ng-template ngbTabContent>
                    <div class="tab-content" [class.myreadonlytrue]="!isEdit">
                        <div class="frm-main frm-padding tab-pane fade in active show" id="home-ref3"
                             style="background: #cbdcf0">
                            <div id="table-scroll-ref3" class="table-scroll" style="z-index: 0">
                                <table id="main-table-ref3" class="main-table">
                                    <thead>
                                    <tr>
                                        <th scope="col" jhiTranslate="ebwebApp.saBill.vDate">Ngày chứng từ</th>
                                        <th scope="col" jhiTranslate="ebwebApp.saBill.postedDate">Ngày hạch toán
                                        </th>
                                        <th scope="col" jhiTranslate="ebwebApp.saBill.noFBook">Số chứng từ</th>
                                        <th scope="col" jhiTranslate="ebwebApp.saBill.reason">Diễn giải</th>
                                        <th scope="col" jhiTranslate="ebwebApp.mCPaymentDetails.amountOriginal">số tiền</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let viewVoucher of faIncrementDetailRefVoucher; let i = index"
                                        oncontextmenu="return false;">
                                        <td class="jsgrid-cell jsgrid-align-center">{{viewVoucher.date | date:'dd/MM/yyyy'}}</td>
                                        <td class="jsgrid-cell jsgrid-align-center">{{viewVoucher.postedDate | date:'dd/MM/yyyy'}}</td>
                                        <td class="jsgrid-cell jsgrid-align-left" (click)="utilsService.viewRefVoucher(viewVoucher)"
                                            style="color:blue; text-decoration: underline;">{{viewVoucher.no}}</td>
                                        <td class="jsgrid-cell jsgrid-align-left">{{viewVoucher.reason}}</td>
                                        <td class="text-right"><input type="number"
                                                                      class="input-Cell text-right bg-transparent border-0"
                                                                      [(ngModel)]="viewVoucher.totalAmountOriginal"
                                                                      name="sumAmount" readonly
                                                                      ebCurrencyMask [systemOptions]="account?.systemOption"
                                                                      [type]="7"></td>
                                    </tr>
                                    <tr
                                        *ngFor="let l of newArr(10 - ((faIncrementDetailRefVoucher && faIncrementDetailRefVoucher.length) > 0 ? faIncrementDetailRefVoucher.length : 0))">
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                        <td class="cell-Table"><input type="text" class="input-Cell" readonly>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>

<ng-template #popUpMultiAction let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label *ngIf="typeMultiAction === MultiAction.XOA" jhiTranslate="ebwebApp.mBDeposit.multiDeleteMessage"></label>
                <label *ngIf="typeMultiAction === MultiAction.BO_GHI_SO" jhiTranslate="ebwebApp.mBDeposit.multiUnrecordMessage"></label>
                <label *ngIf="typeMultiAction === MultiAction.GHI_SO" jhiTranslate="ebwebApp.mBDeposit.multiRecordMessage"></label>
<!--                <label *ngIf="selectedRows?.length === 1" jhiTranslate="ebwebApp.mBDeposit.deleteMessage"></label>-->
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="continue()"
                jhiTranslate="entity.action.ok">
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closePop()"
                jhiTranslate="ebwebApp.mBDeposit.return">
        </button>
    </div>
</ng-template>
<ng-template #deleteItem let-d="dismiss">
    <form name="deleteForm">
        <div class="modal-header">
            <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="d('Close')">&times;
            </button>
        </div>
        <div class="modal-body">
            <p id="eb-delete-sAInvoice-heading0" jhiTranslate="ebwebApp.sAInvoice.delete.question0"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="d('Close')">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button id="eb-confirm-delete-pPDiscountReturn" type="submit" class="btn btn-danger"
                    (click)="confirmDelete(selectedRow.id)">
                <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
            </button>
        </div>
    </form>
</ng-template>
