<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mCReceipt">
            <h2><span jhiTranslate="ebwebApp.mCReceipt.detail.title">MC Receipt</span> {{mCReceipt.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.mCReceipt.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{mCReceipt.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.typeID">Type ID</span></dt>
                <dd>
                    <span>{{mCReceipt.typeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.date">Date</span></dt>
                <dd>
                    <span>{{mCReceipt.date}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.postedDate">Posted Date</span></dt>
                <dd>
                    <span>{{mCReceipt.postedDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.typeLedger">Type Ledger</span></dt>
                <dd>
                    <span>{{mCReceipt.typeLedger}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.noFBook">No F Book</span></dt>
                <dd>
                    <span>{{mCReceipt.noFBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.noMBook">No M Book</span></dt>
                <dd>
                    <span>{{mCReceipt.noMBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.accountingObjectName">Accounting Object Name</span></dt>
                <dd>
                    <span>{{mCReceipt.accountingObjectName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.accountingObjectAddress">Accounting Object Address</span></dt>
                <dd>
                    <span>{{mCReceipt.accountingObjectAddress}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.payers">Payers</span></dt>
                <dd>
                    <span>{{mCReceipt.payers}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.reason">Reason</span></dt>
                <dd>
                    <span>{{mCReceipt.reason}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.numberAttach">Number Attach</span></dt>
                <dd>
                    <span>{{mCReceipt.numberAttach}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.currencyID">Currency ID</span></dt>
                <dd>
                    <span>{{mCReceipt.currencyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{mCReceipt.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.sAQuoteID">S A Quote ID</span></dt>
                <dd>
                    <span>{{mCReceipt.sAQuoteID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.sAOrderID">S A Order ID</span></dt>
                <dd>
                    <span>{{mCReceipt.sAOrderID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{mCReceipt.totalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.totalAmountOriginal">Total Amount Original</span></dt>
                <dd>
                    <span>{{mCReceipt.totalAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.totalVATAmount">Total VAT Amount</span></dt>
                <dd>
                    <span>{{mCReceipt.totalVATAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.totalVATAmountOriginal">Total VAT Amount Original</span></dt>
                <dd>
                    <span>{{mCReceipt.totalVATAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.employeeID">Employee ID</span></dt>
                <dd>
                    <span>{{mCReceipt.employeeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.accountingObjectType">Accounting Object Type</span></dt>
                <dd>
                    <span>{{mCReceipt.accountingObjectType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.templateID">Template ID</span></dt>
                <dd>
                    <span>{{mCReceipt.templateID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.recorded">Recorded</span></dt>
                <dd>
                    <span>{{mCReceipt.recorded}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.exported">Exported</span></dt>
                <dd>
                    <span>{{mCReceipt.exported}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.accountingObject">Accounting Object</span></dt>
                <dd>
                    <div *ngIf="mCReceipt.accountingObject">
                        <a [routerLink]="['/accounting-object', mCReceipt.accountingObject?.id, 'view']">{{mCReceipt.accountingObject?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.transportMethod">Transport Method</span></dt>
                <dd>
                    <div *ngIf="mCReceipt.transportMethod">
                        <a [routerLink]="['/transport-method', mCReceipt.transportMethod?.id, 'view']">{{mCReceipt.transportMethod?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mCReceipt.paymentClause">Payment Clause</span></dt>
                <dd>
                    <div *ngIf="mCReceipt.paymentClause">
                        <a [routerLink]="['/payment-clause', mCReceipt.paymentClause?.id, 'view']">{{mCReceipt.paymentClause?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mc-receipt', mCReceipt.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
