<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-tools-heading" jhiTranslate="ebwebApp.tools.home.createOrEditLabel">Create or edit a Tools</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!tools.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tools.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.declareType" for="field_declareType">Declare Type</label>
                    <input type="number" class="form-control" name="declareType" id="field_declareType"
                        [(ngModel)]="tools.declareType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.postedDate" for="field_postedDate">Posted Date</label>
                    <div class="input-group">
                        <input id="field_postedDate" type="text" class="form-control" name="postedDate" ngbDatepicker  #postedDateDp="ngbDatepicker" [(ngModel)]="tools.postedDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="postedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.branchID" for="field_branchID">Branch ID</label>
                    <input type="text" class="form-control" name="branchID" id="field_branchID"
                        [(ngModel)]="tools.branchID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.toolCode" for="field_toolCode">Tool Code</label>
                    <input type="text" class="form-control" name="toolCode" id="field_toolCode"
                        [(ngModel)]="tools.toolCode" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.toolCode?.dirty && editForm.controls.toolCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.toolCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.toolName" for="field_toolName">Tool Name</label>
                    <input type="text" class="form-control" name="toolName" id="field_toolName"
                        [(ngModel)]="tools.toolName" maxlength="255"/>
                    <div [hidden]="!(editForm.controls.toolName?.dirty && editForm.controls.toolName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.toolName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="tools.quantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.unitPrice" for="field_unitPrice">Unit Price</label>
                    <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                        [(ngModel)]="tools.unitPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="tools.amount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.allocationTimes" for="field_allocationTimes">Allocation Times</label>
                    <input type="number" class="form-control" name="allocationTimes" id="field_allocationTimes"
                        [(ngModel)]="tools.allocationTimes" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.remainAllocationTimes" for="field_remainAllocationTimes">Remain Allocation Times</label>
                    <input type="number" class="form-control" name="remainAllocationTimes" id="field_remainAllocationTimes"
                        [(ngModel)]="tools.remainAllocationTimes" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.allocatedAmount" for="field_allocatedAmount">Allocated Amount</label>
                    <input type="number" class="form-control" name="allocatedAmount" id="field_allocatedAmount"
                        [(ngModel)]="tools.allocatedAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.allocationAmount" for="field_allocationAmount">Allocation Amount</label>
                    <input type="number" class="form-control" name="allocationAmount" id="field_allocationAmount"
                        [(ngModel)]="tools.allocationAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.remainAmount" for="field_remainAmount">Remain Amount</label>
                    <input type="number" class="form-control" name="remainAmount" id="field_remainAmount"
                        [(ngModel)]="tools.remainAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.allocationAwaitAccount" for="field_allocationAwaitAccount">Allocation Await Account</label>
                    <input type="text" class="form-control" name="allocationAwaitAccount" id="field_allocationAwaitAccount"
                        [(ngModel)]="tools.allocationAwaitAccount" maxlength="15"/>
                    <div [hidden]="!(editForm.controls.allocationAwaitAccount?.dirty && editForm.controls.allocationAwaitAccount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.allocationAwaitAccount?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 15 }">
                        This field cannot be longer than 15 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="tools.isActive" />
                    <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.organizationUnit" for="field_organizationUnit">Organization Unit</label>
                    <select class="form-control" id="field_organizationUnit" name="organizationUnit" [(ngModel)]="tools.organizationUnit" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizationUnitOption.id === tools.organizationUnit?.id ? tools.organizationUnit : organizationUnitOption" *ngFor="let organizationUnitOption of organizationunits; trackBy: trackOrganizationUnitById">{{organizationUnitOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.tools.unit" for="field_unit">Unit</label>
                    <select class="form-control" id="field_unit" name="unit" [(ngModel)]="tools.unit" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unitOption.id === tools.unit?.id ? tools.unit : unitOption" *ngFor="let unitOption of units; trackBy: trackUnitById">{{unitOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
