<div class="row">
    <div class="col-md-6 grid-margin dk-pdr-5">
        <div class="data-link">
            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-tai-chinh.png">
                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.baoCaoTaiChinh"></span>
            </p>
            <div class="main-data">
                <ul class="big-wrap">
                    <li ><a
                        (click)="showBangCanDoiTaiKhoan(Role.BangCanDoiSoPhatSinh_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.canDoiTaiKhoan.title"></span>
                    </a></li>
                    <li><a
                        (click)="showBangCanDoiKeToan(Role.BangCanDoiKeToan_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.canDoiKeToan.title"></span>
                    </a></li>
                    <li><a
                        (click)="showBaoCaoKetQua(LUU_CHUYEN_TIEN_TE_TT, Role.BaoCaoLuuChuyenTienTeTT_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.b03DNN"></span>
                    </a></li>
                    <li><a
                        (click)="showBaoCaoKetQua(LUU_CHUYEN_TIEN_TE_GT, Role.BaoCaoLuuChuyenTienTeGT_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.b03DNNGT"></span>
                    </a></li>
                    <li><a
                        (click)="showBaoCaoKetQua(KET_QUA_HOAT_DONG_KINH_DOANH, Role.BaoCaoKetQuaHoatDongKinhDoanh_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.b02DNN"></span>
                    </a></li>
                    <li ><a
                        (click)="showBaoCaoKetQua(THUYET_MINH_BAO_CAO_TAI_CHINH, Role.BanThuyetMinhBaoCaoTaiChinh_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.b09DNN"></span>
                    </a></li>
                </ul>
            </div>
        </div>

        <div class="data-link">
            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-tong-hop.png">
                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.tongHop"></span>
            </p>
            <div class="main-data ">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-contents">
                            <li><a
                                (click)="getReportSoChiTietTaiKhoan(Role.BaoCaoSoChiTietCacTaiKhoan_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.soChiTietCacTaiKhoan"></span>
                            </a></li>
                            <li><a
                                (click)="getReportSoCaiNhatKyChung(Role.BaoCaoSoCaiNhatKyChung_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.s03bDNN"></span>
                            </a></li>
                            <li><a
                                (click)="getReportNhatKyChung(Role.BaoCaoSoNhatKyChung_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.nhatKyChung"></span>
                            </a></li>
                            <li><a
                                (click)="getReportSoTheoDoiThanhToanBangNgoaiTe(Role.BaoCaoSoTheoDoiThanhToanBangNgoaiTe_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.s33DNN"></span>
                            </a></li>
                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.s02bDNN"></span>-->
                            <!--                            </a></li>-->
                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.s02c1DNN"></span>-->
                            <!--                            </a></li>-->
                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.bangKeChungTuChuaLapChungTuGhiSo"></span>-->
                            <!--                            </a></li>-->
                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.s12DNN"></span>-->
                            <!--                            </a></li>-->
                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.s15DNN"></span>-->
                            <!--                            </a></li>-->
                        </ul>
                    </div>

                    <div class="col-6">
                        <ul class="list-contents">
                            <li><a (click)="getReportNhatKyThuChi(BaoCao.SO_NHAT_KY_THU_TIEN, Role.SoNhatKyThuTien_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.soNhatKyThuTienPopup.titleThu"></span>
                            </a></li>
                            <li><a (click)="getReportNhatKyThuChi(BaoCao.SO_NHAT_KY_CHI_TIEN, Role.SoNhatKyChiTien_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.soNhatKyThuTienPopup.titleChi"></span>
                            </a></li>
                            <!--                            <li><a (click)="showPhanBoChiPhiTraTruoc()">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.bangPhanBoChiPhiTraTruoc"></span>-->
                            <!--                            </a></li>-->
                        </ul>
                        <ul class="list-contents">
                            <li>
                                <a (click)="showPhanBoChiPhiTraTruoc(Role.BangPhanBoChiPhiTraTruoc_Xem)">
                                    <span jhiTranslate="ebwebApp.baoCao.bangPhanBoChiPhiTraTruoc"></span>
                                </a></li>
                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.soTheoDoiThanhToanBangNgoaiTe"></span>-->
                            <!--                            </a></li>-->

                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.tongHopCongNoNhanVien"></span>-->
                            <!--                            </a></li>-->

                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.soChiTietCongNoNhanVien"></span>-->
                            <!--                            </a></li>-->

                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.soTheoDoiChiTietTheoMaThongKe"></span>-->
                            <!--                            </a></li>-->

                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.soTheoDoiChiTietTheoDTTHCP"></span>-->
                            <!--                            </a></li>-->

                            <!--                            <li><a href="javascript:void(0);">-->
                            <!--                                <span jhiTranslate="ebwebApp.baoCao.soTheoDoiDTTHCPTheoKhoanMucCP"></span>-->
                            <!--                            </a></li>-->
                        </ul>
                    </div>

                </div>
            </div>
        </div>

<!--        <div class="data-link">-->
<!--            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-thue.png">-->
<!--                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.thue"></span>-->
<!--            </p>-->
<!--            <div class="main-data ">-->
<!--                <div class="row">-->
<!--                    <div class="col-6">-->
<!--                        <ul class="list-contents">-->
<!--                            <li ><a href="javascript:void(0);" (click)="getReportBangKeMuaBan(BaoCao.BANG_KE_MUA_VAO, Role.BangKeHDChungTuVTHHMuaVao_Xem)">-->
<!--                                <span jhiTranslate="ebwebApp.baoCao.bangKeHDChungTuHHDVMuaVao"></span>-->
<!--                            </a></li>-->
<!--                            <li ><a href="javascript:void(0);" (click)="getReportBangKeMuaBan(BaoCao.BANG_KE_MUA_VAO,Role.BangKeHDChungTuVTHHMuaVaoQuanTri_Xem,  true)">-->
<!--                                <span jhiTranslate="ebwebApp.baoCao.bangKeHDChungTuHHDVMuaVaoQuanTri"></span>-->
<!--                            </a></li>-->
<!--                        </ul>-->
<!--                    </div>-->

<!--                    <div class="col-6">-->
<!--                        <ul class="list-contents">-->
<!--                            <li ><a href="javascript:void(0);" (click)="getReportBangKeMuaBan(BaoCao.BANG_KE_BAN_RA, Role.BangKeHDChungTuVTHHBanRa_Xem)">-->
<!--                                <span jhiTranslate="ebwebApp.baoCao.bangKeHDChungTuHHDVBanRa"></span>-->
<!--                            </a></li>-->
<!--                            <li ><a href="javascript:void(0);" (click)="getReportBangKeMuaBan(BaoCao.BANG_KE_BAN_RA, Role.BangKeHDChungTuVTHHBanRaQuanTri_Xem, true)">-->
<!--                                <span jhiTranslate="ebwebApp.baoCao.bangKeHDChungTuHHDVBanRaQuanTri"></span>-->
<!--                            </a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row">
            <div class="col-md-6 dk-pdr-5">
                <!--                <div class="data-link">-->
                <!--                    <p class="card-title"><img src="/content/images/icon-a2.png">-->
                <!--                        <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.quanLyHoaDon"></span>-->
                <!--                    </p>-->
                <!--                    <div class="main-data">-->
                <!--                        <ul>-->
                <!--                            <li><a href="javascript:void(0);">-->
                <!--                                <span jhiTranslate="ebwebApp.baoCao.tinhHinhSuDungHoaDon"></span>-->
                <!--                            </a></li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </div>-->

            </div>
<!--            <div class="col-md-6 dk-pdl-5">-->
<!--                <div class="data-link">-->
<!--                    <p class="card-title"><img src="/content/images/icon/bao-cao/bc-hoa-don-dien-tu.png">-->
<!--                        <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.hoaDonDienTu"></span>-->
<!--                    </p>-->
<!--                    <div class="main-data">-->
<!--                        <ul>-->
<!--                            <li><a (click)="getReportTinhHinhSuDungHDDT()">-->
<!--                                <span jhiTranslate="ebwebApp.baoCao.baoCaoTinhHinhSuDungHD"></span>-->
<!--                            </a></li>-->
<!--                            <li><a href="javascript:void(0);">-->
<!--                                <span jhiTranslate="ebwebApp.baoCao.bangKeHDChungTuHHDVBanRaHDDT"></span>-->
<!--                            </a></li>-->
<!--                            <li><a href="javascript:void(0);">-->
<!--                                <span jhiTranslate="ebwebApp.baoCao.baoCaoDoanhThuTheoSanPham"></span>-->
<!--                            </a></li>-->
<!--                            <li><a href="javascript:void(0);">-->
<!--                                <span jhiTranslate="ebwebApp.baoCao.baoCaoDoanhThuTheoBenMua"></span>-->
<!--                            </a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <div class="col-md-3 grid-margin dk-pdl-5 dk-pdr-5">
        <div class="data-link">
            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-ban-hang.png">
                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.banHang"></span>
            </p>
            <div class="main-data">
                <ul>
                    <li ><a (click)="soNhatKyMuaHang(BaoCao.BanHang.SO_NHAT_KY_BAN_HANG, Role.SoNhatKyBanHang_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.soNhatKyBanHang.title"></span>
                    </a></li>
                    <li ><a (click)="soChiTietMuaHang(BaoCao.BanHang.SO_CHI_TIET_BAN_HANG, Role.SoChiTietBanHang_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.soChiTietBanHang"></span>
                    </a></li>

                    <li >
                        <a (click)="showCongNoPhaiThu(false, Role.TongHopCongNoPhaiThu_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.tongHopCongNoPhaiThu"></span>
                    </a></li>
                    <li >
                        <a (click)="showCongNoPhaiThu(true, Role.ChiTietCongNoPhaiThu_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.chiTietCongNoPhaiThuKH"></span>
                    </a></li>
                    <li ><a (click)="soTheoDoiLaiLoTheoHoaDon(Role.SoTheoDoiLaiLoTheoHoaDon_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.laiLoTheoHoaDon"></span>
                    </a></li>
                    <li ><a (click)="soTheoCongNoPhaiThuTheoHoaDon(Role.SoTheoDoiCongNoPhaiThuTheoHoaDon_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.congNoPhaiTraTheoHoaDon"></span>
                    </a></li>
                    <!--                    <li><a href="javascript:void(0);">-->
                    <!--                        <span jhiTranslate="ebwebApp.baoCao.tongHopCongNoPhaiThuNhomKH"></span>-->
                    <!--                    </a></li>-->
                    <!--                    <li><a href="javascript:void(0);">-->
                    <!--                        <span jhiTranslate="ebwebApp.baoCao.soTheoDoiLaiLoTheoMatHang"></span>-->
                    <!--                    </a></li>-->
                    <!--                    <li><a href="javascript:void(0);">-->
                    <!--                        <span jhiTranslate="ebwebApp.baoCao.soTheoDoiCongNoPhaiThuTheoHH"></span>-->
                    <!--                    </a></li>-->
                    <!--                    <li><a href="javascript:void(0);">-->
                    <!--                        <span jhiTranslate="ebwebApp.baoCao.soTheoDoiLaiLoTheoHD"></span>-->
                    <!--                    </a></li>-->
                    <!--                    <li><a href="javascript:void(0);">-->
                    <!--                        <span jhiTranslate="ebwebApp.baoCao.soTheoDoiCongNoPhaiThuTheoHD"></span>-->
                    <!--                    </a></li>-->
                    <!--                    <li><a href="javascript:void(0);">-->
                    <!--                        <span jhiTranslate="ebwebApp.baoCao.soTheoDOiLaiLoTheoHDBan"></span>-->
                    <!--                    </a></li>-->
                    <!--                    <li><a href="javascript:void(0);">-->
                    <!--                        <span jhiTranslate="ebwebApp.baoCao.soTheoDoiCongNoPhaiThuTheoHDBan"></span>-->
                    <!--                    </a></li>-->
                    <!--                    <li><a href="javascript:void(0);">-->
                    <!--                        <span jhiTranslate="ebwebApp.baoCao.soChiTietDoanhThuTheoNV"></span>-->
                    <!--                    </a></li>-->
                    <!--                    <li><a href="javascript:void(0);">-->
                    <!--                        <span jhiTranslate="ebwebApp.baoCao.soTongHopDoanhThuTheoNV"></span>-->
                    <!--                    </a></li>-->
                </ul>
            </div>
        </div>
        <div class="data-link">
            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-quy.png">
                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.quy"></span>
            </p>
            <div class="main-data">
                <ul>
                    <li ><a
                        (click)="showReportSoChiTietQuyTienMat(Role.SoKeToanChiTietQuyTienMat_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.soKeToanChiTietQuyTienMatPopup.title"></span>
                    </a></li>
                    <li ><a
                        (click)="showReportSoQuyTienMat(Role.SoQuyTienMat_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.soQuyTienMatPopup.title"></span>
                    </a></li>
                </ul>
            </div>
        </div>

        <!--        <div class="data-link">-->
        <!--            <p class="card-title"><img src="/content/images/icon-a2.png">-->
        <!--                <span jhiTranslate="ebwebApp.baoCao.luong"></span>-->
        <!--            </p>-->
        <!--            <div class="main-data">-->
        <!--                <ul>-->
        <!--                    <li><a href="javascript:void(0);">-->
        <!--                        <span jhiTranslate="ebwebApp.baoCao.soTongHopLuongNhanVien"></span>-->
        <!--                    </a></li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="data-link">-->
        <!--            <p class="card-title"><img src="/content/images/icon-a2.png">-->
        <!--                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.congCuDungCu"></span>-->
        <!--            </p>-->
        <!--            <div class="main-data">-->
        <!--                <ul>-->
        <!--                    <li><a href="javascript:void(0);">-->
        <!--                        <span jhiTranslate="ebwebApp.baoCao.soCongCuDungCu"></span>-->
        <!--                    </a></li>-->
        <!--                    <li><a href="javascript:void(0);">-->
        <!--                        <span jhiTranslate="ebwebApp.baoCao.soTheoDoiCCDCtaiNoiSuDung"></span>-->
        <!--                    </a></li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="data-link">-->
        <!--            <p class="card-title"><img src="/content/images/icon-a2.png">-->
        <!--                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.hopDong"></span>-->
        <!--            </p>-->
        <!--            <div class="main-data">-->
        <!--                <ul>-->
        <!--                    <li><a href="javascript:void(0);">-->
        <!--                        <span jhiTranslate="ebwebApp.baoCao.tinhHinhThucHienHDMua"></span>-->
        <!--                    </a></li>-->
        <!--                    <li><a href="javascript:void(0);">-->
        <!--                        <span jhiTranslate="ebwebApp.baoCao.tinhHinhThucHienHDBan"></span>-->
        <!--                    </a></li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
    <div class="col-md-3 grid-margin dk-pdl-5">
        <div class="data-link">
            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-mua-hang.png">
                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.muaHang"></span>
            </p>
            <div class="main-data">
                <ul>
                    <li ><a (click)="soNhatKyMuaHang(BaoCao.MuaHang.SO_NHAT_KY_MUA_HANG, Role.SoNhatKyMuaHang_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.soNhatKyMuaHang"></span>
                    </a></li>
                    <li ><a (click)="soChiTietMuaHang(BaoCao.MuaHang.SO_CHI_TIET_MUA_HANG, Role.SoChiTietMuaHang_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.soChiTietMuaHang"></span>
                    </a></li>
                    <li >
                        <a (click)="showCongNoPhaiTra(false, Role.TongHopCongNoPhaiTra_Xem)">
                            <span jhiTranslate="ebwebApp.baoCao.tongHopCongNoPhaiTra"></span>
                        </a></li>
                    <li >
                        <a (click)="showCongNoPhaiTra(true, Role.ChiTietCongNoPhaiTra_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.chiTietCongNoPhaiTraNhaCungCap"></span>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="data-link">
            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-ngan-hang.png">
                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.nganHang"></span>
            </p>
            <div class="main-data">
                <ul>
                    <li ><a
                        (click)="showReportSoTienGuiNganHang(Role.SoTienGuiNganHang_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.soTienGuiNganHangPopup.title"></span>
                    </a></li>
                    <li ><a
                        (click)="showReportBangKeSoDuNganHang(Role.BangKeSoDuNganHang_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.bangKeSoDuNganHang"></span>
                    </a></li>
                </ul>
            </div>
        </div>
<!--        <div class="data-link">-->
<!--            <p class="card-title"><img src="/content/images/icon-a2.png">-->
<!--                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.giaThanh"></span>-->
<!--            </p>-->
<!--            <div class="main-data">-->
<!--                <ul>-->
<!--                   -->
<!--&lt;!&ndash;                    <li><a href="javascript:void(0);">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span jhiTranslate="ebwebApp.baoCao.theTinhGiaThanh"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a href="javascript:void(0);">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span jhiTranslate="ebwebApp.baoCao.soChiTIetLaiLoTheoCongTrinh"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a href="javascript:void(0);">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span jhiTranslate="ebwebApp.baoCao.soTongHopLaiLoTheoCongTrinh"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </a></li>&ndash;&gt;-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
        <!--        <div class="data-link">-->
        <!--            <p class="card-title"><img src="/content/images/icon-a2.png">-->
        <!--                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.taiSanCoDinh"></span>-->
        <!--            </p>-->
        <!--            <div class="main-data">-->
        <!--                <ul>-->
        <!--                    <li><a href="javascript:void(0);">-->
        <!--                        <span jhiTranslate="ebwebApp.baoCao.theTaiSanCoDinh"></span>-->
        <!--                    </a></li>-->
        <!--                    <li><a href="javascript:void(0);">-->
        <!--                        <span jhiTranslate="ebwebApp.baoCao.soTaiSanCoDinh"></span>-->
        <!--                    </a></li>-->
        <!--                    <li><a href="javascript:void(0);">-->
        <!--                        <span jhiTranslate="ebwebApp.baoCao.soTheoDoiTSCDTaiNoiSuDung"></span>-->
        <!--                    </a></li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
    <div class="col-md-6 grid-margin dk-pdr-5">
        <div class="data-link">
            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-thue.png">
                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.thue"></span>
            </p>
            <div class="main-data ">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-contents">
                            <li ><a href="javascript:void(0);" (click)="getReportBangKeMuaBan(BaoCao.BANG_KE_MUA_VAO, Role.BangKeHDChungTuVTHHMuaVao_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.bangKeHDChungTuHHDVMuaVao"></span>
                            </a></li>
                            <li ><a href="javascript:void(0);" (click)="getReportBangKeMuaBan(BaoCao.BANG_KE_MUA_VAO,Role.BangKeHDChungTuVTHHMuaVaoQuanTri_Xem,  true)">
                                <span jhiTranslate="ebwebApp.baoCao.bangKeHDChungTuHHDVMuaVaoQuanTri"></span>
                            </a></li>
                        </ul>
                    </div>

                    <div class="col-6">
                        <ul class="list-contents">
                            <li ><a href="javascript:void(0);" (click)="getReportBangKeMuaBan(BaoCao.BANG_KE_BAN_RA, Role.BangKeHDChungTuVTHHBanRa_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.bangKeHDChungTuHHDVBanRa"></span>
                            </a></li>
                            <li ><a href="javascript:void(0);" (click)="getReportBangKeMuaBan(BaoCao.BANG_KE_BAN_RA, Role.BangKeHDChungTuVTHHBanRaQuanTri_Xem, true)">
                                <span jhiTranslate="ebwebApp.baoCao.bangKeHDChungTuHHDVBanRaQuanTri"></span>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin dk-pdr-5">
        <div class="data-link">
            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-kho.png">
                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.kho"></span>
            </p>
            <div class="main-data ">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-contents">
                            <li ><a (click)="showTheKho(Role.TheKho_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.theKho"></span>
                            </a></li>
                            <li ><a
                                (click)="showSoChiTietVatLieu(Role.SoChiTietVatLieu_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.soChiTietVatLieuDungCuSPHH.title"></span>
                            </a></li>
                        </ul>
                    </div>

                    <div class="col-6">
                        <ul class="list-contents">
                            <li ><a
                                (click)="showBangTongHopChiTietVatLieu(Role.BangTongHopChiTietVatLieu_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.bangTongHopChiTiet.title"></span>
                            </a></li>
                            <li ><a (click)="showTongHopTonKho(Role.TongHopTonKho_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.tongHopTonKho"></span>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin dk-pdr-5">
        <div class="data-link">
            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-tong-hop.png">
                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.giaThanh"></span>
            </p>
            <div class="main-data ">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-contents">
                            <li ><a (click)="showTHCPTheoTK(Role.SoTheoDoiDoiTuongTHCPTheoTaiKhoan_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.soTheoDoiDoiTuongTHCPTheoTaiKhoan"></span>
                            </a></li>
                            <li><a (click)="showReportSoChiPhiSanXuatKinhDoanh(Role.SoChiPhiSanXuatKinhDoanh_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.soChiPhiSanXuatKinhDoanh.title"></span>
                            </a></li>
                            <li><a (click)="showTongHopChiPhiTheoKhoanMucChiPhi(Role.TongHopChiPhiTheoKhoanMucChiPhi_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.tongHopChiPhiTheoKhoanMucChiPhiPopup.title"></span>
                            </a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-contents">
                            <li ><a (click)="showTHCPTheoCP(Role.SoTheoDoiDoiTuongTHCPTheoKhoanMucChiPhi_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.soTheoDoiDoiTuongTHCPTheoKhoanMucChiPhi"></span>
                            </a></li>
                            <li ><a (click)="showTheTinhGiaThanh(Role.TheTinhGiaThanh_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.theTinhGiaThanh.title"></span>
                            </a></li>
                            <li><a (click)="showSoTheoDoiMaThongKe(BaoCao.TongHop.SO_THEO_DOI_MA_THONG_KE_THEO_TAI_KHOAN, Role.SoTheoDoiMaThongKeTheoTaiKhoan_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.soTheoDoiMaThongKeTheoTaiKhoan"></span>
                            </a></li>
                            <li><a (click)="showSoTheoDoiMaThongKe(BaoCao.TongHop.SO_THEO_DOI_MA_THONG_KE_THEO_KHOAN_MUC_CHI_PHI, Role.SoTheoDoiMaThongKeTheoKhoanMucChiPhi_Xem)">
                                <span jhiTranslate="ebwebApp.baoCao.soTheoDoiMaThongKeTheoKhoanMucChiPhi"></span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" hidden>
    <div class="col-md-6 grid-margin dk-pdl-5">
        <div class="data-link">
            <p class="card-title"><img src="/content/images/icon/bao-cao/bc-mua-hang.png">
                <span class="text-uppercase" jhiTranslate="ebwebApp.baoCao.cCDC"></span>
            </p>
            <div class="main-data">
                <ul>
                    <li ><a (click)="getReportSoCCDC(Role.SoCongCuDungCu_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.cCDCBook"></span>
                    </a></li>
                    <li ><a (click)="soTheoDoiCCDCTaiNoiSD(Role.SoTheoDoiCCDCTaiNoiSD_Xem)">
                        <span jhiTranslate="ebwebApp.baoCao.cCDCFollowBook"></span>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
