<!--
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mBCreditCard">
            <h2><span jhiTranslate="ebwebApp.mBCreditCard.detail.title">MB Credit Card</span> {{mBCreditCard.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{mBCreditCard.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.typeID">Type ID</span></dt>
                <dd>
                    <span>{{mBCreditCard.typeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.date">Date</span></dt>
                <dd>
                    <span>{{mBCreditCard.date}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.postedDate">Posted Date</span></dt>
                <dd>
                    <span>{{mBCreditCard.postedDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.typeLedger">Type Ledger</span></dt>
                <dd>
                    <span>{{mBCreditCard.typeLedger}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.noFBook">No F Book</span></dt>
                <dd>
                    <span>{{mBCreditCard.noFBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.noMBook">No M Book</span></dt>
                <dd>
                    <span>{{mBCreditCard.noMBook}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.creditCardNumber">Credit Card Number</span></dt>
                <dd>
                    <span>{{mBCreditCard.creditCardNumber}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.accountingObjectName">Accounting Object Name</span></dt>
                <dd>
                    <span>{{mBCreditCard.accountingObjectName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.accountingObjectAddress">Accounting Object Address</span></dt>
                <dd>
                    <span>{{mBCreditCard.accountingObjectAddress}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.accountingObjectBankAccountDetailID">Accounting Object Bank Account Detail ID</span></dt>
                <dd>
                    <span>{{mBCreditCard.accountingObjectBankAccountDetailID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.accountingObjectBankName">Accounting Object Bank Name</span></dt>
                <dd>
                    <span>{{mBCreditCard.accountingObjectBankName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.accountingObjectType">Accounting Object Type</span></dt>
                <dd>
                    <span>{{mBCreditCard.accountingObjectType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.reason">Reason</span></dt>
                <dd>
                    <span>{{mBCreditCard.reason}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.currencyID">Currency ID</span></dt>
                <dd>
                    <span>{{mBCreditCard.currencyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{mBCreditCard.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.isImportPurchase">Is Import Purchase</span></dt>
                <dd>
                    <span>{{mBCreditCard.isImportPurchase}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.pPOrderID">P P Order ID</span></dt>
                <dd>
                    <span>{{mBCreditCard.pPOrderID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{mBCreditCard.totalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.totalAmountOriginal">Total Amount Original</span></dt>
                <dd>
                    <span>{{mBCreditCard.totalAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.totalVATAmount">Total VAT Amount</span></dt>
                <dd>
                    <span>{{mBCreditCard.totalVATAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.totalVATAmountOriginal">Total VAT Amount Original</span></dt>
                <dd>
                    <span>{{mBCreditCard.totalVATAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.employeeID">Employee ID</span></dt>
                <dd>
                    <span>{{mBCreditCard.employeeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.templateID">Template ID</span></dt>
                <dd>
                    <span>{{mBCreditCard.templateID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.recorded">Recorded</span></dt>
                <dd>
                    <span>{{mBCreditCard.recorded}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.isMatch">Is Match</span></dt>
                <dd>
                    <span>{{mBCreditCard.isMatch}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.matchDate">Match Date</span></dt>
                <dd>
                    <span>{{mBCreditCard.matchDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.accountingObject">Accounting Object</span></dt>
                <dd>
                    <div *ngIf="mBCreditCard.accountingObject">
                        <a [routerLink]="['/accounting-object', mBCreditCard.accountingObject?.id, 'view']">{{mBCreditCard.accountingObject?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.transportMethod">Transport Method</span></dt>
                <dd>
                    <div *ngIf="mBCreditCard.transportMethod">
                        <a [routerLink]="['/transport-method', mBCreditCard.transportMethod?.id, 'view']">{{mBCreditCard.transportMethod?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBCreditCard.paymentClause">Payment Clause</span></dt>
                <dd>
                    <div *ngIf="mBCreditCard.paymentClause">
                        <a [routerLink]="['/payment-clause', mBCreditCard.paymentClause?.id, 'view']">{{mBCreditCard.paymentClause?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mb-credit-card', mBCreditCard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
-->
