<div (click)="closeContextMenu()" class="container-fluid">
    <div class="modal-body windowClass-DanhMuc-Combobox" style="padding: 20px!important;">
        <div class="margin-tp-5 margin-0 no-gutters">
            <div class="">
                <div class="itemw">
                    <div class="menu-tool-bar header-custom he" style="line-height: 16px">
                        <div class="ptitle">
                            <span jhiTranslate="ebwebApp.costSet.home.title" style="font-size: 12px">Đối tượng tập hợp chi phí </span>
                        </div>
                        <div class="gr-toolbar">
                            <a (click)="save()" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_Them, ROLE_Sua]"><i class="mdi mdi-briefcase-download"></i>
                                <span jhiTranslate="ebwebApp.mCReceipt.home.save"></span>
                            </a>
                            <a (click)="saveAndNew()" *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_Them, ROLE_Sua]"><i class="mdi mdi-plus fa-plus color-green"></i>
                                <span jhiTranslate="ebwebApp.mCReceipt.home.saveAndAddNew"></span>
                            </a>
                            <a (click)="close()"><i class="mdi mdi-window-close"></i>
                                <span jhiTranslate="ebwebApp.bank.closed"></span>
                            </a>
                        </div>
                    </div>
                    <div class="frm-main">
                        <div class="row no-gutters">
                            <div class="col-lg-12 pd-r-0">
                                <fieldset>
                                    <legend jhiTranslate="ebwebApp.costSet.detail.title"
                                            style="font-size: 19px; color: #f26f21;font-weight: bold;">
                                        Thông tin chung
                                    </legend>
                                    <form style="border: none;">
                                        <div class="row no-gutters">
                                            <div class="col-lg-12">
                                                <div class="form-group row no-gutters">
                                                    <label class="col-sm-2 my-col-form-label-CS"
                                                           jhiTranslate="ebwebApp.costSet.costSetType1">Loại (*)</label>
                                                    <div class="col-sm-2 pd-l-0 pd-r-10">
                                                        <combo-box [(ngModel)]="costSet.costSetType"
                                                                   [dataList]="listType"
                                                                   [headerColumns]=" "
                                                                   [isObject]="false"
                                                                   [isOutTable]="true"
                                                                   [isRequired]="true"
                                                                   [listColumns]="listColumnsType"
                                                                   [valueIsNumber]="true"
                                                                   displayMember="name"
                                                                   id="field_costSetType"
                                                                   name="costSetType"
                                                                   style=""
                                                                   valueName="value"
                                                                   (ngModelChange)="consoleLog()"
                                                                   [tabindex]="221">
                                                        </combo-box>
                                                    </div>
                                                    <label class="col-sm-2 my-col-form-label-CS"
                                                           jhiTranslate="ebwebApp.costSet.costSetCode1"
                                                           style="text-align: center">Mã ĐT-THCP
                                                        (*)</label>
                                                    <div class="col-sm-2 pd-l-0 pd-r-10">
                                                        <input [(ngModel)]="costSet.costSetCode"
                                                               [class.required]="!costSet.costSetCode" [disabled]="costSet.id"
                                                               class="form-control" id="field_costSetCode"
                                                               maxlength="50"
                                                               name="costSetCode" type="text"
                                                               [tabindex]="222"/>
                                                    </div>
                                                    <label class="col-sm-2 my-col-form-label-CS"
                                                           jhiTranslate="ebwebApp.costSet.costSetName1"
                                                           style="text-align: center">Tên Đối
                                                        Tượng</label>
                                                    <div class="col-sm-2 pd-l-0 pd-r-10 last-div-CS-3-2">
                                                        <input [(ngModel)]="costSet.costSetName"
                                                               [class.required]="!costSet.costSetName"
                                                               class="form-control" id="field_costSetName"
                                                               maxlength="50"
                                                               name="costSetName" type="text"
                                                               [tabindex]="223"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-lg-12">
                                                <div class="form-group row no-gutters">
                                                    <label class="col-sm-2 pd-l-0 pd-r-10 my-col-form-label-CS"
                                                           jhiTranslate="ebwebApp.costSet.deScription"></label>
                                                    <div class="col-sm-10 pd-l-0 pd-r-10 last-div-CS-1-0">
                                                        <input [(ngModel)]="costSet.deScription" class="form-control"
                                                               id="field_deScription"
                                                               maxlength="50"
                                                               name="deScription" type="text"
                                                               [tabindex]="224"
                                                               (keydown.arrowDown)="moveArrowDown($event,3)"
                                                               (keydown.arrowUp)="moveArrowUp($event,3)"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="[0,1,3,4,5].includes(costSet.costSetType)">
            <ngb-tabset class="tool-navbar">
                <ngb-tab>
                    <ng-template ngbTabTitle><span jhiTranslate="ebwebApp.costSetMaterialGood.home.title">Đối Tượng Gía Thành</span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="frm-padding tab-pane fade in active show" id="home-material"
                                 style="background: #cbdcf0">
                                <div class="table-scroll" id="table-scroll-material">
                                    <table class="main-table main-table-custom" id="main-table-material"
                                           (keydown.arrowDown)="moveArrowDown($event,3)"
                                           (keydown.arrowUp)="moveArrowUp($event,3)">
                                        <thead>
                                        <tr>
                                            <th jhiTranslate="ebwebApp.costSetMaterialGood.code" scope="col">Mã thành
                                                phẩm
                                            </th>
                                            <th jhiTranslate="ebwebApp.costSetMaterialGood.name" scope="col">Tên thành
                                                phẩm
                                            </th>
                                            <th jhiTranslate="ebwebApp.costSetMaterialGood.deScription" scope="col">Ghi
                                                chú
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr (contextmenu)="onRightClick($event, costSetMaterialGoods, detail, true, true, 0, costSetMaterialGoods.indexOf(detail))"
                                            *ngFor="let detail of costSetMaterialGoods; let i = index"
                                            oncontextmenu="return false;"
                                            (keydown.control.delete)="KeyPress(costSetMaterialGoods.indexOf(detail),0)"
                                            (keydown.control.c)="keyDownAddRow(costSetMaterialGoods.indexOf(detail))"
                                            (keydown.control.insert)="keyDownAddRow(null)">
                                            <td class="cell-Table">
                                                <combo-box [(ngModel)]="detail.materialGoods"
                                                           [dataList]="materialGoodObjects"
                                                           [headerColumns]="utilsService.listHeaderMaterialGoods"
                                                           [isObject]="true"
                                                           [isRequired]="true"
                                                           [listColumns]="utilsService.listColumnsMaterialGoodsPPService"
                                                           displayMember="materialGoodsCode"
                                                           id="field_materialGoods"
                                                           name="materialGoods"
                                                           valueName="materialGoodsName"
                                                           [tabindex]="225 + (3 * i) + 1"
                                                ></combo-box>
                                            </td>
                                            <td class="cell-Table"><input
                                                [ngModel]="detail.materialGoods?.materialGoodsName" class="input-Cell"
                                                name="{{'costSetMaterialGoods'+i}}"
                                                type="text"
                                                [tabindex]="225 + (3 * i) + 2">
                                            </td>
                                            <td class="cell-Table"><input [(ngModel)]="detail.deScription"
                                                                          class="input-Cell"
                                                                          name="{{'costSetMaterialGoods'+i}}"
                                                                          type="text"
                                                                          [tabindex]="225 + (3 * i) + 3"
                                                                          (keydown.tab)="addIfLastInput()"></td>
                                        </tr>
                                        <tr (click)="addRowToInsert()">
                                            <td class="cell-Table"><input
                                                [title]="translate.instant('ebwebApp.purchaseOrder.addNewLine')"
                                                class="input-Cell"
                                                readonly
                                                type="text"
                                                value="{{'ebwebApp.purchaseOrder.addNewLine' | translate}}"></td>
                                            <td class="cell-Table"><input class="input-Cell" readonly type="text"></td>
                                            <td class="cell-Table"><input class="input-Cell" readonly type="text"></td>
                                        </tr>
                                        <tr *ngFor="let l of newArr(8 - costSetMaterialGoods?.length)">
                                            <td class="cell-Table"><input class="input-Cell" readonly type="text"></td>
                                            <td class="cell-Table"><input class="input-Cell" readonly type="text"></td>
                                            <td class="cell-Table"><input class="input-Cell" readonly type="text"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
        <div class="col-lg-12" *ngIf="costSet.id">
            <div class="row" style="padding-left: 15px">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="isActive"
                           [(ngModel)]="costSet.isActive">
                    <label class="custom-control-label" for="customCheck1"
                           jhiTranslate="ebwebApp.currency.isActive"></label>
                </div>
            </div>
        </div>
    </div>
</div>
<eb-context-menu [contextMenu]="contextMenu"></eb-context-menu>
<ng-template #content let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.saBill.saveMessage">Dữ liệu đã bị thay đổi, Bạn có muốn lưu lại?</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="saveContent()" class="btn btn-outline-success" jhiTranslate="entity.action.save" type="button">Save
        </button>
        <button (click)="close()" class="btn btn-outline-dark" jhiTranslate="entity.action.noSave" type="button">close
        </button>
        <button (click)="closeContent()" class="btn btn-outline-dark" jhiTranslate="entity.action.close" type="button">
            close
        </button>
    </div>
</ng-template>
