th {
    text-align: center;
}

.cell-Table {
    padding: 0;
    margin: 0;
}

padding {
    padding: 5px;
}

.center input {
    text-align: center;
}

.input-Cell-Dp {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) {
    position: absolute;
    right: 15px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

/*right click event*/
.contextmenu {
    position: absolute;
}

.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}

.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}

/*endof right click*/
/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}

/*style for menu*/
.itemw .menu-tool-bar a {
    color: #ffffff;
}

.itemw .menu-tool-bar a:hover {
    color: #f26f21 !important;
}

.itemw .menu-tool-bar a.disable,
a.disable:hover {
    color: #959ea9 !important;
    pointer-events: none;
}

/*style addNewRow*/
.addNewRow {
    background-color: #e9ecef !important;
}

.main-table td.cell-Table .dropdown {
    z-index: -1 !important;
}

.myreadonlytrue {
    pointer-events: none;
}

.coutRow {
    background-color: rgba(30, 117, 190, 0.53);
    width: 100%;
}

.date-input {
    max-width: 1px;
    border: none;
    opacity: 0;
}

.required {
    border-left: 5px solid red;
    border-radius: 3px;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td.border-none {
    border: 0 !important;
}

.requiredTrue {
    /*border-left: 5px solid green;
    border-radius: 3px;*/
}

.status {
    border: none;
}

.noEdit {
}
