<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.eMContract.home.title">EM Contracts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-em-contract" [routerLink]="['/em-contract/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.eMContract.home.createLabel">
            Create new EM Contract
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="eMContracts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="companyID"><span jhiTranslate="ebwebApp.eMContract.companyID">Company ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="branchID"><span jhiTranslate="ebwebApp.eMContract.branchID">Branch ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeID"><span jhiTranslate="ebwebApp.eMContract.typeID">Type ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeLedger"><span jhiTranslate="ebwebApp.eMContract.typeLedger">Type Ledger</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noFBook"><span jhiTranslate="ebwebApp.eMContract.noFBook">No F Book</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noMBook"><span jhiTranslate="ebwebApp.eMContract.noMBook">No M Book</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="ebwebApp.eMContract.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="ebwebApp.eMContract.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="signedDate"><span jhiTranslate="ebwebApp.eMContract.signedDate">Signed Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currencyID"><span jhiTranslate="ebwebApp.eMContract.currencyID">Currency ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="exchangeRate"><span jhiTranslate="ebwebApp.eMContract.exchangeRate">Exchange Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="ebwebApp.eMContract.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amountOriginal"><span jhiTranslate="ebwebApp.eMContract.amountOriginal">Amount Original</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountingObjectID"><span jhiTranslate="ebwebApp.eMContract.accountingObjectID">Accounting Object ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="signName"><span jhiTranslate="ebwebApp.eMContract.signName">Sign Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startedDate"><span jhiTranslate="ebwebApp.eMContract.startedDate">Started Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="closedDate"><span jhiTranslate="ebwebApp.eMContract.closedDate">Closed Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contractState"><span jhiTranslate="ebwebApp.eMContract.contractState">Contract State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isWatchForCostPrice"><span jhiTranslate="ebwebApp.eMContract.isWatchForCostPrice">Is Watch For Cost Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="billReceived"><span jhiTranslate="ebwebApp.eMContract.billReceived">Bill Received</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span jhiTranslate="ebwebApp.eMContract.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eMContract of eMContracts ;trackBy: trackId">
                <td><a [routerLink]="['/em-contract', eMContract.id, 'view' ]">{{eMContract.id}}</a></td>
                <td>{{eMContract.companyID}}</td>
                <td>{{eMContract.branchID}}</td>
                <td>{{eMContract.typeID}}</td>
                <td>{{eMContract.typeLedger}}</td>
                <td>{{eMContract.noFBook}}</td>
                <td>{{eMContract.noMBook}}</td>
                <td>{{eMContract.name}}</td>
                <td>{{eMContract.description}}</td>
                <td>{{eMContract.signedDate | date:'mediumDate'}}</td>
                <td>{{eMContract.currencyID}}</td>
                <td>{{eMContract.exchangeRate}}</td>
                <td>{{eMContract.amount}}</td>
                <td>{{eMContract.amountOriginal}}</td>
                <td>{{eMContract.accountingObjectID}}</td>
                <td>{{eMContract.signName}}</td>
                <td>{{eMContract.startedDate | date:'mediumDate'}}</td>
                <td>{{eMContract.closedDate | date:'mediumDate'}}</td>
                <td>{{eMContract.contractState}}</td>
                <td>{{eMContract.isWatchForCostPrice}}</td>
                <td>{{eMContract.billReceived}}</td>
                <td>{{eMContract.isActive}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/em-contract', eMContract.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/em-contract', eMContract.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-contract/'+ eMContract.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="eMContracts && eMContracts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
