<div class="row justify-content-center">
    <div class="col-8">
        <form #editForm="ngForm" (ngSubmit)="save()" name="editForm" novalidate role="form">
            <h2 id="eb-pporderdetail-heading" jhiTranslate="ebwebApp.pporderdetail.home.createOrEditLabel">Create or
                edit a Pporderdetail</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div [hidden]="!pporderdetail.id" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input [(ngModel)]="pporderdetail.id" class="form-control" id="id" name="id"
                           readonly type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ppOrderId"
                           jhiTranslate="ebwebApp.pporderdetail.ppOrderId">Pp Order Id</label>
                    <input [(ngModel)]="pporderdetail.ppOrderId" class="form-control" id="field_ppOrderId"
                           name="ppOrderId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_materialGoodsId"
                           jhiTranslate="ebwebApp.pporderdetail.materialGoodsId">Material Goods Id</label>
                    <input [(ngModel)]="pporderdetail.materialGoodsId" class="form-control" id="field_materialGoodsId"
                           name="materialGoodsId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description"
                           jhiTranslate="ebwebApp.pporderdetail.description">Description</label>
                    <input [(ngModel)]="pporderdetail.description" class="form-control" id="field_description"
                           name="description"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unitId" jhiTranslate="ebwebApp.pporderdetail.unitId">Unit
                        Id</label>
                    <input [(ngModel)]="pporderdetail.unitId" class="form-control" id="field_unitId" name="unitId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantity"
                           jhiTranslate="ebwebApp.pporderdetail.quantity">Quantity</label>
                    <input [(ngModel)]="pporderdetail.quantity" class="form-control" id="field_quantity" name="quantity"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantityReceipt"
                           jhiTranslate="ebwebApp.pporderdetail.quantityReceipt">Quantity Receipt</label>
                    <input [(ngModel)]="pporderdetail.quantityReceipt" class="form-control" id="field_quantityReceipt"
                           name="quantityReceipt"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unitPrice"
                           jhiTranslate="ebwebApp.pporderdetail.unitPrice">Unit Price</label>
                    <input [(ngModel)]="pporderdetail.unitPrice" class="form-control" id="field_unitPrice"
                           name="unitPrice"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unitPriceOriginal"
                           jhiTranslate="ebwebApp.pporderdetail.unitPriceOriginal">Unit Price Original</label>
                    <input [(ngModel)]="pporderdetail.unitPriceOriginal" class="form-control"
                           id="field_unitPriceOriginal" name="unitPriceOriginal"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_discountRate"
                           jhiTranslate="ebwebApp.pporderdetail.discountRate">Discount Rate</label>
                    <input [(ngModel)]="pporderdetail.discountRate" class="form-control" id="field_discountRate"
                           name="discountRate"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_discountAmount"
                           jhiTranslate="ebwebApp.pporderdetail.discountAmount">Discount Amount</label>
                    <input [(ngModel)]="pporderdetail.discountAmount" class="form-control" id="field_discountAmount"
                           name="discountAmount"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_discountAmountOriginal"
                           jhiTranslate="ebwebApp.pporderdetail.discountAmountOriginal">Discount Amount Original</label>
                    <input [(ngModel)]="pporderdetail.discountAmountOriginal" class="form-control"
                           id="field_discountAmountOriginal" name="discountAmountOriginal"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_vatRate" jhiTranslate="ebwebApp.pporderdetail.vatRate">Vat
                        Rate</label>
                    <input [(ngModel)]="pporderdetail.vatRate" class="form-control" id="field_vatRate" name="vatRate"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_vatAmount"
                           jhiTranslate="ebwebApp.pporderdetail.vatAmount">Vat Amount</label>
                    <input [(ngModel)]="pporderdetail.vatAmount" class="form-control" id="field_vatAmount"
                           name="vatAmount"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_vatAmountOriginal"
                           jhiTranslate="ebwebApp.pporderdetail.vatAmountOriginal">Vat Amount Original</label>
                    <input [(ngModel)]="pporderdetail.vatAmountOriginal" class="form-control"
                           id="field_vatAmountOriginal" name="vatAmountOriginal"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mainUnitId"
                           jhiTranslate="ebwebApp.pporderdetail.mainUnitId">Main Unit Id</label>
                    <input [(ngModel)]="pporderdetail.mainUnitId" class="form-control" id="field_mainUnitId"
                           name="mainUnitId"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mainQuantity"
                           jhiTranslate="ebwebApp.pporderdetail.mainQuantity">Main Quantity</label>
                    <input [(ngModel)]="pporderdetail.mainQuantity" class="form-control" id="field_mainQuantity"
                           name="mainQuantity"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mainUnitPrice"
                           jhiTranslate="ebwebApp.pporderdetail.mainUnitPrice">Main Unit Price</label>
                    <input [(ngModel)]="pporderdetail.mainUnitPrice" class="form-control" id="field_mainUnitPrice"
                           name="mainUnitPrice"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mainConvertRate"
                           jhiTranslate="ebwebApp.pporderdetail.mainConvertRate">Main Convert Rate</label>
                    <input [(ngModel)]="pporderdetail.mainConvertRate" class="form-control" id="field_mainConvertRate"
                           name="mainConvertRate"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_formula" jhiTranslate="ebwebApp.pporderdetail.formula">Formula</label>
                    <input [(ngModel)]="pporderdetail.formula" class="form-control" id="field_formula" name="formula"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_orderPriority"
                           jhiTranslate="ebwebApp.pporderdetail.orderPriority">Order Priority</label>
                    <input [(ngModel)]="pporderdetail.orderPriority" class="form-control" id="field_orderPriority"
                           name="orderPriority"
                           type="number"/>
                </div>

            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
