<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.pporderdetail.home.title">Pporderdetails</span>
        <button [routerLink]="['/pporderdetail/new']"
                class="btn btn-primary float-right jh-create-entity create-pporderdetail" id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="ebwebApp.pporderdetail.home.createLabel">
            Create new Pporderdetail
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div *ngIf="pporderdetails" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="ppOrderId"><span jhiTranslate="ebwebApp.pporderdetail.ppOrderId">Pp Order Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="materialGoodsId"><span jhiTranslate="ebwebApp.pporderdetail.materialGoodsId">Material Goods Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="description"><span jhiTranslate="ebwebApp.pporderdetail.description">Description</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="unitId"><span jhiTranslate="ebwebApp.pporderdetail.unitId">Unit Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="quantity"><span jhiTranslate="ebwebApp.pporderdetail.quantity">Quantity</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="quantityReceipt"><span jhiTranslate="ebwebApp.pporderdetail.quantityReceipt">Quantity Receipt</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="unitPrice"><span jhiTranslate="ebwebApp.pporderdetail.unitPrice">Unit Price</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="unitPriceOriginal"><span jhiTranslate="ebwebApp.pporderdetail.unitPriceOriginal">Unit Price Original</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="discountRate"><span
                    jhiTranslate="ebwebApp.pporderdetail.discountRate">Discount Rate</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="discountAmount"><span jhiTranslate="ebwebApp.pporderdetail.discountAmount">Discount Amount</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="discountAmountOriginal"><span
                    jhiTranslate="ebwebApp.pporderdetail.discountAmountOriginal">Discount Amount Original</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="vatRate"><span jhiTranslate="ebwebApp.pporderdetail.vatRate">Vat Rate</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="vatAmount"><span jhiTranslate="ebwebApp.pporderdetail.vatAmount">Vat Amount</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="vatAmountOriginal"><span jhiTranslate="ebwebApp.pporderdetail.vatAmountOriginal">Vat Amount Original</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="mainUnitId"><span jhiTranslate="ebwebApp.pporderdetail.mainUnitId">Main Unit Id</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="mainQuantity"><span
                    jhiTranslate="ebwebApp.pporderdetail.mainQuantity">Main Quantity</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="mainUnitPrice"><span
                    jhiTranslate="ebwebApp.pporderdetail.mainUnitPrice">Main Unit Price</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="mainConvertRate"><span jhiTranslate="ebwebApp.pporderdetail.mainConvertRate">Main Convert Rate</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="formula"><span jhiTranslate="ebwebApp.pporderdetail.formula">Formula</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="orderPriority"><span
                    jhiTranslate="ebwebApp.pporderdetail.orderPriority">Order Priority</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pporderdetail of pporderdetails ;trackBy: trackId">
                <td><a [routerLink]="['/pporderdetail', pporderdetail.id, 'view' ]">{{pporderdetail.id}}</a></td>
                <td>{{pporderdetail.ppOrderId}}</td>
                <td>{{pporderdetail.materialGoodsId}}</td>
                <td>{{pporderdetail.description}}</td>
                <td>{{pporderdetail.unitId}}</td>
                <td>{{pporderdetail.quantity}}</td>
                <td>{{pporderdetail.quantityReceipt}}</td>
                <td>{{pporderdetail.unitPrice}}</td>
                <td>{{pporderdetail.unitPriceOriginal}}</td>
                <td>{{pporderdetail.discountRate}}</td>
                <td>{{pporderdetail.discountAmount}}</td>
                <td>{{pporderdetail.discountAmountOriginal}}</td>
                <td>{{pporderdetail.vatRate}}</td>
                <td>{{pporderdetail.vatAmount}}</td>
                <td>{{pporderdetail.vatAmountOriginal}}</td>
                <td>{{pporderdetail.mainUnitId}}</td>
                <td>{{pporderdetail.mainQuantity}}</td>
                <td>{{pporderdetail.mainUnitPrice}}</td>
                <td>{{pporderdetail.mainConvertRate}}</td>
                <td>{{pporderdetail.formula}}</td>
                <td>{{pporderdetail.orderPriority}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button [routerLink]="['/pporderdetail', pporderdetail.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/pporderdetail', pporderdetail.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button
                            [routerLink]="['/', { outlets: { popup: 'pporderdetail/'+ pporderdetail.id + '/delete'} }]"
                            class="btn btn-danger btn-sm"
                            queryParamsHandling="merge"
                            replaceUrl="true"
                            type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pporderdetails && pporderdetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [maxSize]="5" [page]="page"
                            [total]="queryCount"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" (pageChange)="loadPage(page)" [size]="'sm'" [(page)]="page" [boundaryLinks]="true"
                            [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage"
                            [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
