<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialGoodsResourceTaxGroup">
            <h2><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.detail.title">Material Goods Resource Tax Group</span> {{materialGoodsResourceTaxGroup.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.materialGoodsResourceTaxGroupCode">Material Goods Resource Tax Group Code</span></dt>
                <dd>
                    <span>{{materialGoodsResourceTaxGroup.materialGoodsResourceTaxGroupCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.materialGoodsResourceTaxGroupName">Material Goods Resource Tax Group Name</span></dt>
                <dd>
                    <span>{{materialGoodsResourceTaxGroup.materialGoodsResourceTaxGroupName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.unitID">Unit ID</span></dt>
                <dd>
                    <span>{{materialGoodsResourceTaxGroup.unitID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.taxRate">Tax Rate</span></dt>
                <dd>
                    <span>{{materialGoodsResourceTaxGroup.taxRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.orderFixCode">Order Fix Code</span></dt>
                <dd>
                    <span>{{materialGoodsResourceTaxGroup.orderFixCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.parentID">Parent ID</span></dt>
                <dd>
                    <span>{{materialGoodsResourceTaxGroup.parentID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.isParentNode">Is Parent Node</span></dt>
                <dd>
                    <span>{{materialGoodsResourceTaxGroup.isParentNode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.grade">Grade</span></dt>
                <dd>
                    <span>{{materialGoodsResourceTaxGroup.grade}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.isActive">Is Active</span></dt>
                <dd>
                    <span>{{materialGoodsResourceTaxGroup.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.isSecurity">Is Security</span></dt>
                <dd>
                    <span>{{materialGoodsResourceTaxGroup.isSecurity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.son">Son</span></dt>
                <dd>
                    <div *ngIf="materialGoodsResourceTaxGroup.son">
                        <a [routerLink]="['/unit', materialGoodsResourceTaxGroup.son?.id, 'view']">{{materialGoodsResourceTaxGroup.son?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsResourceTaxGroup.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="materialGoodsResourceTaxGroup.parent">
                        <a [routerLink]="['/material-goods-resource-tax-group', materialGoodsResourceTaxGroup.parent?.id, 'view']">{{materialGoodsResourceTaxGroup.parent?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-goods-resource-tax-group', materialGoodsResourceTaxGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
