<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <div *ngIf="fixedAssetAccessories">-->
<!--            <h2><span jhiTranslate="ebwebApp.fixedAssetAccessories.detail.title">Fixed Asset Accessories</span> {{fixedAssetAccessories.id}}</h2>-->
<!--            <hr>-->
<!--            <eb-alert-error></eb-alert-error>-->
<!--            <dl class="row-md jh-entity-details">-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetAccessories.fixedAssetAccessoriesName">Fixed Asset Accessories Name</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{fixedAssetAccessories.fixedAssetAccessoriesName}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetAccessories.fixedAssetAccessoriesQuantity">Fixed Asset Accessories Quantity</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{fixedAssetAccessories.fixedAssetAccessoriesQuantity}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetAccessories.fixedAssetAccessoriesAmount">Fixed Asset Accessories Amount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{fixedAssetAccessories.fixedAssetAccessoriesAmount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetAccessories.orderPriority">Order Priority</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{fixedAssetAccessories.orderPriority}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetAccessories.fixedAssetID">Fixed Asset ID</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="fixedAssetAccessories.fixedAssetID">-->
<!--                        <a [routerLink]="['/fixed-asset', fixedAssetAccessories.fixedAssetID?.id, 'view']">{{fixedAssetAccessories.fixedAssetID?.fixedAssetCode}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetAccessories.fixedAssetAccessoriesUnitID">Fixed Asset Accessories Unit ID</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="fixedAssetAccessories.fixedAssetAccessoriesUnitID">-->
<!--                        <a [routerLink]="['/unit', fixedAssetAccessories.fixedAssetAccessoriesUnitID?.id, 'view']">{{fixedAssetAccessories.fixedAssetAccessoriesUnitID?.unitName}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--            </dl>-->

<!--            <button Type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
<!--            </button>-->

<!--            <button Type="button"-->
<!--                    [routerLink]="['/fixed-asset-accessories', fixedAssetAccessories.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
