.date-input {
    max-width: 1px;
    border: none;
    opacity: 0;
}

.required {
    border-left: 5px solid red;
    border-radius: 3px;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*style for pagination*/
/deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}

/deep/ .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color: #f6f6f6 !important;
    color: black !important;
}

.myreadonlytrue {
    pointer-events: none;
}

.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.input-Cell {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.countRow {
    background-color: #7db5dd !important;
    color: #0a0a10;
}

.pd-t-b-0 {
    padding: 0px 5px 0px 5px !important;
}
