.pd-l-10 {
    padding-left: 10px !important;
}

.pd-r-none {
    padding-right: 0 !important;
}

.pd-none {
    padding: 0 !important;
}

th {
    text-align: center;
}

.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.input-Cell-Dp {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar .nav {
    display: flow-root !important;
}

:host ::ng-deep .tool-navbar .nav.top {
    display: inline-flex !important;
}

:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
    float: left;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(n + 3) {
    float: right;
    margin-left: 5px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(n + 3) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

.contextmenu {
    position: absolute;
}

.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}

.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}

/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}

/*style for menu*/
.itemw .menu-tool-bar a {
    color: #ffffff;
}

.itemw .menu-tool-bar a:hover {
    color: #f26f21 !important;
}

.itemw .menu-tool-bar a.disable,
a.disable:hover {
    color: #959ea9 !important;
    pointer-events: none;
}

/*style addNewRow*/
.addNewRow {
    background-color: #e9ecef !important;
}

.myreadonlytrue {
    pointer-events: none;
}

.coutRow {
    background-color: rgba(30, 117, 190, 0.53);
    width: 100%;
}

a.disable,
a.disable:hover {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
}

.selected > td {
    background: #ddf7ef !important;
}

tfoot td {
    background: #7db5dd !important;
}

tfoot {
    z-index: 0;
}

.one-long-line {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pd-l-r-5 {
    padding: 0 5px;
}

.line-h {
    line-height: 2.2;
}

.color-tfoot {
    background-color: #7db5dd !important;
    width: 100%;
}

.pd-10-tfoot {
    padding: 10px !important;
}

.pd-l-9 {
    padding-left: 9px;
}

.pd-0-footer {
    padding: 5px 10px !important;
}
.line-h {
    line-height: 36px;
}
.menu-tool-bar.he > * {
    margin-top: 0px;
}
