<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-cpopn-heading" jhiTranslate="ebwebApp.cPOPN.home.createOrEditLabel">Create or edit a CPOPN</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!cPOPN.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cPOPN.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.companyID" for="field_companyID">Company ID</label>
                    <input type="text" class="form-control" name="companyID" id="field_companyID"
                        [(ngModel)]="cPOPN.companyID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.branchID" for="field_branchID">Branch ID</label>
                    <input type="text" class="form-control" name="branchID" id="field_branchID"
                        [(ngModel)]="cPOPN.branchID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.typeLedger" for="field_typeLedger">Type Ledger</label>
                    <input type="number" class="form-control" name="typeLedger" id="field_typeLedger"
                        [(ngModel)]="cPOPN.typeLedger" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.objectType" for="field_objectType">Object Type</label>
                    <input type="number" class="form-control" name="objectType" id="field_objectType"
                        [(ngModel)]="cPOPN.objectType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.costSetID" for="field_costSetID">Cost Set ID</label>
                    <input type="text" class="form-control" name="costSetID" id="field_costSetID"
                        [(ngModel)]="cPOPN.costSetID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.contractID" for="field_contractID">Contract ID</label>
                    <input type="text" class="form-control" name="contractID" id="field_contractID"
                        [(ngModel)]="cPOPN.contractID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.directMaterialAmount" for="field_directMaterialAmount">Direct Matetial Amount</label>
                    <input type="number" class="form-control" name="directMaterialAmount" id="field_directMaterialAmount"
                        [(ngModel)]="cPOPN.directMaterialAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.directLaborAmount" for="field_directLaborAmount">Direct Labor Amount</label>
                    <input type="number" class="form-control" name="directLaborAmount" id="field_directLaborAmount"
                        [(ngModel)]="cPOPN.directLaborAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.machineMaterialAmount" for="field_machineMaterialAmount">Machine Material Amount</label>
                    <input type="number" class="form-control" name="machineMaterialAmount" id="field_machineMaterialAmount"
                        [(ngModel)]="cPOPN.machineMaterialAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.machineLaborAmount" for="field_machineLaborAmount">Machine Labor Amount</label>
                    <input type="number" class="form-control" name="machineLaborAmount" id="field_machineLaborAmount"
                        [(ngModel)]="cPOPN.machineLaborAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.machineToolsAmount" for="field_machineToolsAmount">Machine Tools Amount</label>
                    <input type="number" class="form-control" name="machineToolsAmount" id="field_machineToolsAmount"
                        [(ngModel)]="cPOPN.machineToolsAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.machineDepreciationAmount" for="field_machineDepreciationAmount">Machine Depreciation Amount</label>
                    <input type="number" class="form-control" name="machineDepreciationAmount" id="field_machineDepreciationAmount"
                        [(ngModel)]="cPOPN.machineDepreciationAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.machineServiceAmount" for="field_machineServiceAmount">Machine Service Amount</label>
                    <input type="number" class="form-control" name="machineServiceAmount" id="field_machineServiceAmount"
                        [(ngModel)]="cPOPN.machineServiceAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.machineGeneralAmount" for="field_machineGeneralAmount">Machine General Amount</label>
                    <input type="number" class="form-control" name="machineGeneralAmount" id="field_machineGeneralAmount"
                        [(ngModel)]="cPOPN.machineGeneralAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.generalMaterialAmount" for="field_generalMaterialAmount">General Material Amount</label>
                    <input type="number" class="form-control" name="generalMaterialAmount" id="field_generalMaterialAmount"
                        [(ngModel)]="cPOPN.generalMaterialAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.generalLaborAmount" for="field_generalLaborAmount">General Labor Amount</label>
                    <input type="number" class="form-control" name="generalLaborAmount" id="field_generalLaborAmount"
                        [(ngModel)]="cPOPN.generalLaborAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.generalToolsAmount" for="field_generalToolsAmount">General Tools Amount</label>
                    <input type="number" class="form-control" name="generalToolsAmount" id="field_generalToolsAmount"
                        [(ngModel)]="cPOPN.generalToolsAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.generalDepreciationAmount" for="field_generalDepreciationAmount">General Depreciation Amount</label>
                    <input type="number" class="form-control" name="generalDepreciationAmount" id="field_generalDepreciationAmount"
                        [(ngModel)]="cPOPN.generalDepreciationAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.generalServiceAmount" for="field_generalServiceAmount">General Service Amount</label>
                    <input type="number" class="form-control" name="generalServiceAmount" id="field_generalServiceAmount"
                        [(ngModel)]="cPOPN.generalServiceAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.otherGeneralAmount" for="field_otherGeneralAmount">Other General Amount</label>
                    <input type="number" class="form-control" name="otherGeneralAmount" id="field_otherGeneralAmount"
                        [(ngModel)]="cPOPN.otherGeneralAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.totalCostAmount" for="field_totalCostAmount">Total Cost Amount</label>
                    <input type="number" class="form-control" name="totalCostAmount" id="field_totalCostAmount"
                        [(ngModel)]="cPOPN.totalCostAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.acceptedAmount" for="field_acceptedAmount">Accepted Amount</label>
                    <input type="number" class="form-control" name="acceptedAmount" id="field_acceptedAmount"
                        [(ngModel)]="cPOPN.acceptedAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.notAcceptedAmount" for="field_notAcceptedAmount">Not Accepted Amount</label>
                    <input type="number" class="form-control" name="notAcceptedAmount" id="field_notAcceptedAmount"
                        [(ngModel)]="cPOPN.notAcceptedAmount" disabled />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPOPN.uncompletedAccount" for="field_uncompletedAccount">Uncompleted Account</label>
                    <input type="text" class="form-control" name="uncompletedAccount" id="field_uncompletedAccount"
                        [(ngModel)]="cPOPN.uncompletedAccount" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
