<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cPOPN">
            <h2><span jhiTranslate="ebwebApp.cPOPN.detail.title">CPOPN</span> {{cPOPN.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.cPOPN.companyID">Company ID</span></dt>
                <dd>
                    <span>{{cPOPN.companyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{cPOPN.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.typeLedger">Type Ledger</span></dt>
                <dd>
                    <span>{{cPOPN.typeLedger}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.objectType">Object Type</span></dt>
                <dd>
                    <span>{{cPOPN.objectType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.costSetID">Cost Set ID</span></dt>
                <dd>
                    <span>{{cPOPN.costSetID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.contractID">Contract ID</span></dt>
                <dd>
                    <span>{{cPOPN.contractID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.directMatetialAmount">Direct Matetial Amount</span></dt>
                <dd>
                    <span>{{cPOPN.directMaterialAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.directLaborAmount">Direct Labor Amount</span></dt>
                <dd>
                    <span>{{cPOPN.directLaborAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.machineMaterialAmount">Machine Material Amount</span></dt>
                <dd>
                    <span>{{cPOPN.machineMaterialAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.machineLaborAmount">Machine Labor Amount</span></dt>
                <dd>
                    <span>{{cPOPN.machineLaborAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.machineToolsAmount">Machine Tools Amount</span></dt>
                <dd>
                    <span>{{cPOPN.machineToolsAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.machineDepreciationAmount">Machine Depreciation Amount</span></dt>
                <dd>
                    <span>{{cPOPN.machineDepreciationAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.machineServiceAmount">Machine Service Amount</span></dt>
                <dd>
                    <span>{{cPOPN.machineServiceAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.machineGeneralAmount">Machine General Amount</span></dt>
                <dd>
                    <span>{{cPOPN.machineGeneralAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.generalMaterialAmount">General Material Amount</span></dt>
                <dd>
                    <span>{{cPOPN.generalMaterialAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.generalLaborAmount">General Labor Amount</span></dt>
                <dd>
                    <span>{{cPOPN.generalLaborAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.generalToolsAmount">General Tools Amount</span></dt>
                <dd>
                    <span>{{cPOPN.generalToolsAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.generalDepreciationAmount">General Depreciation Amount</span></dt>
                <dd>
                    <span>{{cPOPN.generalDepreciationAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.generalServiceAmount">General Service Amount</span></dt>
                <dd>
                    <span>{{cPOPN.generalServiceAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.otherGeneralAmount">Other General Amount</span></dt>
                <dd>
                    <span>{{cPOPN.otherGeneralAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.totalCostAmount">Total Cost Amount</span></dt>
                <dd>
                    <span>{{cPOPN.totalCostAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.acceptedAmount">Accepted Amount</span></dt>
                <dd>
                    <span>{{cPOPN.acceptedAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.notAcceptedAmount">Not Accepted Amount</span></dt>
                <dd>
                    <span>{{cPOPN.notAcceptedAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPOPN.uncompletedAccount">Uncompleted Account</span></dt>
                <dd>
                    <span>{{cPOPN.uncompletedAccount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cpopn', cPOPN.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
