.selected > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

h3 {
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(4) {
    position: absolute;
    right: 15px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(4) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

/*style for pagination*/
/deep/ .pagination .page-item .page-link {
    border-radius: 0 !important;
}

/deep/ .pagination .page-link {
    border-top-style: none !important;
    border-bottom-style: none !important;
    background-color: #f6f6f6 !important;
    color: black !important;
}

/*style for menu*/
.itemw .gr-toolbar a {
    color: #ffffff;
}

.itemw .gr-toolbar a:hover {
    color: #f26f21 !important;
}

.selected {
    background: darkorange !important;
}

div.dropdown-item > .menu-tool-bar .gr-tool-bar a > span > span {
    color: black !important;
}

.cell-Table {
    padding: 0;
    margin: 0;
}

.input-Cell-Dp {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}

.myreadonlytrue {
    pointer-events: none;
}

.my-col-form-label-NHD {
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    width: 90px !important;
    max-width: 90px !important;
}

.row.no-gutters .my-last-div-NHD-3-2 {
    flex: 0 0 100%;
    max-width: calc(25% - 270px) !important;
}

.css-button {
    width: 100px;
}

.pd-l-r-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.bt {
    font-size: 20px;
    border-width: thin;
}
