<div >
    <div >
        <div class="menu-tool-bar he">
            <div class="ptitle">
                <span jhiTranslate="ebwebApp.tienIch.danhLaiSoChungTu.name">ĐÁNH LẠI SỐ CHỨNG TỪ</span>
            </div>
            <div class="gr-toolbar">
                <a href="#"><i class="mdi mdi-window-close"></i><span jhiTranslate="ebwebApp.receiveBill.exit"></span>
                </a>
            </div>
        </div>

        <div>
            <form id="seach" style="background: #cbdcf0; padding-bottom: 5px;">
                <div class="row no-gutters">
                    <div class="col-lg-12">
                        <form>
                            <div class="row no-gutters">
                                <div class="form-group col-lg-12">
                                    <div class="form-group row no-gutters">
                                        <label class="col-sm-2 my-col-form-label-NHD">Loại chứng từ</label>
                                        <div class="col-sm-3 pd-l-0 pd-r-10">
                                            <combo-box style="" id="field_typeVoucher"
                                                       [isRequired]="true"
                                                       name="comboboxListType"
                                                       [dataList]="genCodes"
                                                       [isOutTable]="true"
                                                       [valueIsNumber]="true"
                                                       [listColumns]="utilsService.listColumnsTypeGroupForResetNo"
                                                       displayMember="typeGroupName"
                                                       valueName="typeGroupID"
                                                       [headerColumns]="utilsService.listHeaderColumnsTypeGroupForResetNo"
                                                       [isObject]="false"
                                                       [(ngModel)]="typeGroupID"
                                                       (ngModelChange)= "changeTypeGroup()"
                                                       >
                                            </combo-box>
                                        </div>
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               style="padding-left: 25px !important;"
                                               >Từ ngày</label>
                                        <div class="col-sm-2 pd-l-0 pd-r-10">
                                            <eb-date-picker  name="dtBeginDate"
                                                             [(ngModel)]="fromDate"
                                                             [tabindex]="5"></eb-date-picker>
                                        </div>
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               style="padding-left: 25px !important;"
                                               >Đến ngày</label>
                                        <div class="col-sm-2 pd-l-0 pd-r-10">
                                            <eb-date-picker  name="dtEndDate"
                                                             [(ngModel)]="toDate"
                                                             [tabindex]="6"></eb-date-picker>
                                        </div>
                                        <div class="col-sm-2 pd-l-0 pd-r-10 my-last-div-NHD-3-2">
                                            <button class="btn btn-success btn-sm css-button"
                                                    (click)="loadData(true)"
                                                    ><span jhiTranslate="ebwebApp.receiveBill.getData"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="form-group row no-gutters">
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               > Tiền tố</label>
                                        <div class="col-sm-3 col-form-label-sm">
                                            <input
                                                [(ngModel)]="prefix"
                                                id="preText" name="preText" type="text"
                                                class="form-control form-control-sm">
                                        </div>
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               style="padding-left: 25px !important;"
                                        > Số thứ tự bắt đầu</label>
                                        <div class="col-sm-2 col-form-label-sm ">
                                            <div>
                                                <input
                                                    [(ngModel)]="currentValue"
                                                    id="currentValue" name="currentValue" type="text"
                                                    class="form-control form-control-sm">
                                            </div>
                                        </div>
                                        <label class="col-sm-2 my-col-form-label-NHD"
                                               style="padding-left: 25px !important;"
                                               > Hậu tố</label>
                                        <div class="col-sm-2 col-form-label-sm">
                                            <div>
                                                <input
                                                    [(ngModel)]="suffix"
                                                    id="suffix" name="suffix" type="text"
                                                    class="form-control form-control-sm">
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-form-label-sm my-last-div-NHD-3-2">
                                            <button class="btn btn-success btn-sm css-button"
                                                    (click)="resetNo()"
                                                    ><span > Đánh lại số CT</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>
                                        <img src="../../../content/images/warning.png" height="30px"
                                             width="30px"> <span><i>Phần mềm chỉ đánh lại số chứng từ của phiên làm việc hiện tại. Người dùng cần thực hiện việc đánh số chứng từ của các sổ và chi
                                        nhánh riêng biệt</i></span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
            <div class="row pd-l-r-5">
                <div class="frm-main frm-tables frm-padding pd-l-r-5" style="width: calc(100% - 60px) !important;" >
                    <div id="table-scroll-detail" class="table-scroll padding-5-table height-460 ">
                        <table id="main-table-detail" class="main-table" style="min-width: auto">
                            <thead>
                            <tr>
                                <th scope="col" rowspan="2" jhiTranslate="ebwebApp.saBill.vDate">Ngày chứng từ</th>
                                <th *ngIf="!onlyOneBook" scope="col" rowspan="2" jhiTranslate="ebwebApp.saBill.postedDate">Ngày hạch toán</th>
                                <th *ngIf="!onlyOneBook" scope="col" rowspan="2" > Đã ghi sổ</th>
                                <th scope="col" rowspan="2" jhiTranslate="ebwebApp.mCPayment.noFBook"> Số chứng từ</th>
                                <th scope="col" rowspan="2" > Số chứng từ mới</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                                [class.selected]="selectedRow?.id === detial.id"
                                (click)="selectRow(detial)"
                                [ngStyle]="getStyle(detial.recorded)"
                                (dblclick)="utilsService.viewVoucherByIDAndTypeGroupID(detial)"
                                *ngFor="let detial of viewVoucher ; trackBy: trackId; let i = index;">
                                <td class="jsgrid-cell jsgrid-align-center"
                                    style="width: 150px;">{{detial.date|date:'dd/MM/yyyy'}}</td>
                                <td *ngIf="!onlyOneBook" class="jsgrid-cell jsgrid-align-center"
                                    style="width: 150px">{{detial.postedDate|date:'dd/MM/yyyy'}}</td>
                                <td *ngIf="!onlyOneBook" class="jsgrid-cell jsgrid-align-center"
                                    style="width: 20px">
                                    <div class="custom-control custom-checkbox">
                                        <input [disabled]="true" type="checkbox" class="custom-control-input"
                                               name="{{'recorded' + i}}"
                                               id="{{'recorded' + i}}" [(ngModel)]="detial.recorded">
                                        <label class="custom-control-label" for="{{'recorded' + i}}"></label>
                                    </div>
                                </td>
                                <td class="jsgrid-cell jsgrid-align-left line-h"
                                    style="width: 150px; color:blue; text-decoration: underline;" (click)="utilsService.viewVoucherByIDAndTypeGroupID(detial)" >{{isSoTaiChinh ? detial.noFBook : detial.noMBook}}</td>
                                <td class="jsgrid-cell jsgrid-align-left"
                                    style="width: 150px">{{detial.noNew}}</td>
                            </tr>
                            <tr *ngFor="let l of newArr(10 - viewVoucher?.length)">
                                <td class="jsgrid-cell jsgrid-align-right">&nbsp;</td>
                                <td *ngIf="!onlyOneBook" class="jsgrid-cell jsgrid-align-right">&nbsp;</td>
                                <td *ngIf="!onlyOneBook" class="jsgrid-cell jsgrid-align-right">&nbsp;</td>
                                <td class="jsgrid-cell jsgrid-align-right">&nbsp;</td>
                                <td class="jsgrid-cell jsgrid-align-right">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!--        phân trang-->
                    <div *ngIf="viewVoucher && viewVoucher?.length"
                         style="padding-right: 16px; padding-top: 15px">
                        <div class="row justify-content-end" style="height: 32px; ">
                            <div class="col-lg-2">
                                <div class="form-group row">
                                    <label class="col-sm-7 col-form-label" for="itemsPerPage"
                                           style="padding-right: 0px;text-align: right;"><span
                                        jhiTranslate="ebwebApp.mBDeposit.totalPage"></span>: {{totalItems}}</label>
                                    <div class="col-sm-5 pd-l-0">
                                        <select class="form-control form-control-sm" name="itemsPerPage"
                                                id="itemsPerPage"
                                                style="background-color: #f5f7fa;"
                                                [(ngModel)]="itemsPerPage"
                                                (ngModelChange)="selectedItemPerPage()"
                                        >
                                            <option [value]="10">10</option>
                                            <option [value]="20">20</option>
                                            <option [value]="30">30</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="justify-content-end">
                                <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                                (pageChange)="loadPage(page)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                    <!--        end of phan trang-->
                </div>
                <div class="col" style="width: 60px">
                    <div class="row">
                        <button (click)="moveUp()" class="bt"><i class="mdi mdi-chevron-up "></i>
                        </button>
                    </div>
                    <div class="row"  style="margin-top: 5px;">
                        <button (click)="moveDown()" class="bt"><i class="mdi mdi-chevron-down "></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.tienIch.danhLaiSoChungTu.question"
                       translateValues="{countNo: '{{totalItems?totalItems:0}}'}">Bạn có chắc chắn muốn đánh lại  chứng từ đã chọn không?</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="continue()" jhiTranslate="entity.action.save">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="closeContent()" jhiTranslate="entity.action.noSave">close</button>
    </div>
</ng-template>



