<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="systemOption">
            <h2><span jhiTranslate="ebwebApp.systemOption.detail.title">System Option</span> {{systemOption.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.systemOption.userID">User ID</span></dt>
                <dd>
                    <span>{{systemOption.userID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.systemOption.companyID">Company ID</span></dt>
                <dd>
                    <span>{{systemOption.companyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.systemOption.branchID">Branch ID</span></dt>
                <dd>
                    <span>{{systemOption.branchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.systemOption.code">Code</span></dt>
                <dd>
                    <span>{{systemOption.code}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.systemOption.name">Name</span></dt>
                <dd>
                    <span>{{systemOption.name}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.systemOption.type">Type</span></dt>
                <dd>
                    <span>{{systemOption.type}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.systemOption.data">Data</span></dt>
                <dd>
                    <span>{{systemOption.data}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.systemOption.defaultData">Default Data</span></dt>
                <dd>
                    <span>{{systemOption.defaultData}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.systemOption.note">Note</span></dt>
                <dd>
                    <span>{{systemOption.note}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.systemOption.isSecurity">Is Security</span></dt>
                <dd>
                    <span>{{systemOption.isSecurity}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/system-option', systemOption.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
