/*.logo img {*/
/*width: 300px;*/
/*}*/

/*.main {*/
/*height: 328px !important;*/
/*}*/

/*.container-fluid {*/
/*width: 98%;*/
/*padding-left: 0px !important;*/
/*padding-right: 0px !important;*/
/*margin-right: 0px;*/
/*margin-left: 0px;*/
/*}*/

/*#login {*/
/*height: 63%;*/
/*padding-top: 8%;*/
/*}*/

/*.form {*/
/*margin-top: 50px;*/
/*}*/

/*select.form-control:focus {*/
/*outline: 1px solid #b7b7b7;*/
/*}*/

/*.btn_login button {*/
/*width: 100%;*/
/*height: 35px;*/
/*color: #fff;*/
/*border: none;*/
/*border-radius: 4px;*/
/*margin-right: 30px;*/
/*}*/

/*.section {*/
/*background: url(./../../../content/images/a_1.png) top left no-repeat;*/
/*min-height: 100vh;*/
/*background-size: 55%;*/
/*}*/

/*.form-group.row label {*/
/*padding-bottom: 0;*/
/*}*/

/*.login-button {*/
/*outline: 0;*/
/*background: #11ab6b;*/
/*}*/

/*.login-button:disabled,*/
/*.login-button[disable] {*/
/*background: #6dad92 !important;*/
/*}*/

/*a.disable {*/
/*cursor: default;*/
/*}*/

/*p {*/
/*font-size: 0.8rem;*/
/*}*/

/*h3 {*/
/*color: #d86b29 !important;*/
/*font-weight: 800 !important;*/
/*}*/

/*.logofooter {*/
/*display: contents;*/
/*}*/

/*.boxfooter {*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*justify-content: center;*/
/*padding-top: 19%;*/
/*height: 6%;*/
/*}*/

/*.boxfooter .logo {*/
/*width: calc(10% - 15px);*/
/*min-width: 250px;*/
/*margin-right: 15px;*/
/*margin-bottom: 15px;*/
/*}*/

/*.boxfooter .logo img {*/
/*width: calc(100% - 15px);*/
/*height: auto;*/
/*}*/

/*.boxfooter .text {*/
/*width: calc(30% - 30px);*/
/*min-width: 300px;*/
/*margin-right: 30px;*/
/*font-size: 14px;*/
/*margin-bottom: 15px;*/
/*}*/

/*.boxfooter .text h3 {*/
/*color: #ee6f25;*/
/*font-size: 16px;*/
/*font-weight: 700;*/
/*}*/

/*.boxfooter p span {*/
/*padding-left: 10px;*/
/*}*/

/*.boxfooter .textHq {*/
/*margin: 0px 15px 30px 20px;*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*.section {*/
/*background-size: cover;*/
/*position: relative;*/
/*}*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*#login {*/
/*padding-top: 180px;*/
/*}*/

/*.boxfooter {*/
/*position: inherit;*/
/*z-index: 99999;*/
/*padding: 20px 15px !important;*/
/*}*/

/*.boxfooter .logo {*/
/*width: 100% !important;*/
/*margin: 0;*/
/*}*/

/*.boxfooter .text {*/
/*width: 100% !important;*/
/*margin: 0;*/
/*}*/

/*.boxfooter .logo img {*/
/*display: block;*/
/*margin: auto;*/
/*}*/

/*.boxfooter p span {*/
/*display: block;*/
/*padding-left: 0;*/
/*}*/
/*}*/

/*@media screen and (max-width: 1280px) {*/
/*#login {*/
/*padding-top: 8%;*/
/*}*/

/*.container-fluid {*/
/*width: 98%;*/
/*padding-left: 0px !important;*/
/*padding-right: 0px !important;*/
/*margin-right: 0px;*/
/*margin-left: 0px;*/
/*}*/

/*.section {*/
/*background: url(./../../../content/images/a_1.png) 0 0 no-repeat;*/
/*min-height: 100vh;*/
/*background-size: 50%;*/
/*}*/

/*.boxfooter {*/
/*position: inherit;*/
/*z-index: 99999;*/
/*padding: 20px 15px !important;*/
/*}*/

/*.boxfooter .logo {*/
/*max-width: 100% !important;*/
/*margin: 0;*/
/*}*/

/*.boxfooter .text {*/
/*max-width: 100% !important;*/
/*margin: 0;*/
/*}*/

/*.boxfooter .logo img {*/
/*display: block;*/
/*margin: auto;*/
/*}*/

/*.boxfooter p span {*/
/*display: block;*/
/*padding-left: 0;*/
/*}*/

/*.boxfooter {*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*justify-content: center;*/
/*padding-top: 6.5% !important;*/
/*}*/
/*}*/

/*@media screen and (max-width: 1366px) {*/
/*#login {*/
/*padding-top: 8%;*/
/*}*/

/*.section {*/
/*background: url(./../../../content/images/a_1.png) 0 0 no-repeat;*/
/*min-height: 100vh;*/
/*background-size: 50%;*/
/*}*/

/*.container-fluid {*/
/*width: 98%;*/
/*padding-left: 0px !important;*/
/*padding-right: 0px !important;*/
/*margin-right: 0px;*/
/*margin-left: 0px;*/
/*}*/

/*.boxfooter {*/
/*position: inherit;*/
/*z-index: 1;*/
/*padding: 20px 15px !important;*/
/*}*/

/*.boxfooter .logo {*/
/*max-width: 100% !important;*/
/*margin: 0;*/
/*}*/

/*.boxfooter .text {*/
/*max-width: 100% !important;*/
/*margin: 0;*/
/*}*/

/*.boxfooter .logo img {*/
/*display: block;*/
/*margin: auto;*/
/*}*/

/*.boxfooter p span {*/
/*display: block;*/
/*padding-left: 0;*/
/*}*/

/*.boxfooter {*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*justify-content: flex-end;*/
/*padding-top: 9% !important;*/
/*}*/

/*.logofooter {*/
/*text-align: -webkit-center;*/
/*display: block;*/
/*width: min-content !important;*/
/*}*/

/*.boxfooter .text {*/
/*width: calc(40% - 30px);*/
/*min-width: 300px;*/
/*font-size: 14px;*/
/*margin: 15px 10px 30px 5px;*/
/*}*/

/*.boxfooter .textHq {*/
/*margin: 15px 15px 30px 20px;*/
/*}*/
/*}*/
body {
    margin: 0;
    font-family: 'Open_Sans';
}

.wrap {
    display: flex;
    min-height: 100vh;
    background: url(../../../content/images/login/3.png) no-repeat;
}
.wrap .left {
    width: 35%;
    min-height: 100vh;
    background: #fff;
}
/* line 21, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* line 28, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .logo img {
    height: 90px;
    width: auto;
    margin-right: 35px;
    transform: translateY(3px);
}
/* line 36, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .linkout {
    display: flex;
}
/* line 38, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .linkout .item {
    width: 135px;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* line 45, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .linkout .item a {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* line 51, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .linkout .item img {
    width: 100%;
}
/* line 53, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .head .linkout .item img.device {
    height: 38px;
    width: auto;
}
.wrap .left .content {
    margin-top: 20px;
    border-top: 1px solid #efefef;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.wrap .left .content .item {
    width: 40%;
    margin: 0 15px;
}
.wrap .left .content .item img {
    width: 100%;
}
.wrap .left .login-footer {
    margin-top: 30px;
}
.wrap .left .login-footer .brand {
    display: flex;
    justify-content: center;
}
/* line 86, /Users/vuvankhai/Desktop/login/style.scss */
.wrap .left .login-footer .brand img {
    height: 50px;
    margin: 0 15px;
    display: block;
}
.wrap .right {
    width: 65%;
    min-height: 100vh;
}
.wrap .right .logo {
    padding-top: 50px;
}
.wrap .right .logo img {
    height: 80px;
    display: block;
    margin: auto;
}
.wrap .right .content {
    width: 450px;
    margin: auto;
    margin-top: 50px;
}
.wrap .right .content .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap .right .content .form-group label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-size: 14px;
}
.wrap .right .content .form-group .form-item {
    width: 100%;
}
.wrap .right .content .form-group .form-item input {
    height: 32px !important;
    width: 100%;
    outline: none;
    padding: 0 10px;
    border: 0;
    border-radius: 5px;
}
.wrap .right .content .form-group input {
    transform: translateY(1px);
}
.wrap .right .content .form-group a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.wrap .right .content .form-group button {
    width: 100%;
    height: 32px;
    cursor: pointer;
    outline: none;
    background: #e26e4c;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}
.wrap .right .login-footer {
    width: 450px;
    margin: auto;
    margin-top: 50px;
}
.wrap .right .login-footer p {
    margin-bottom: 3px;
    color: #f8f8f8;
    font-size: 12px;
}
.wrap .right .login-footer p strong {
    font-size: 14px;
}

@media screen and (max-width: 1250px) {
    .wrap .left {
        display: none;
    }
    .wrap .right {
        width: 100%;
    }
}
.wrap .right .content .form-group div.login-error {
    margin-top: 15px;
    color: red;
    transform: translateY(5px);
    margin-bottom: 0;
    color: #fb340f;
}
