.toolbarcustom {
    margin-bottom: 0px;
    background-color: #adc7e6;
}

.maincustom {
    margin-bottom: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.table-scroll th,
.table-scroll td {
    min-width: 50px;
}

.table-scroll > table {
    min-width: 500px;
}
