<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-cp-allocation-rate-heading" jhiTranslate="ebwebApp.cPAllocationRate.home.createOrEditLabel">Create or edit a CP Allocation Rate</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!cPAllocationRate.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cPAllocationRate.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.cPPeriodID" for="field_cPPeriodID">C P Period ID</label>
                    <input type="text" class="form-control" name="cPPeriodID" id="field_cPPeriodID"
                        [(ngModel)]="cPAllocationRate.cPPeriodID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.cPPeriodDetailID" for="field_cPPeriodDetailID">C P Period Detail ID</label>
                    <input type="text" class="form-control" name="cPPeriodDetailID" id="field_cPPeriodDetailID"
                        [(ngModel)]="cPAllocationRate.cPPeriodDetailID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.allocationMethod" for="field_allocationMethod">Allocation Method</label>
                    <input type="number" class="form-control" name="allocationMethod" id="field_allocationMethod"
                        [(ngModel)]="cPAllocationRate.allocationMethod" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.costSetID" for="field_costSetID">Cost Set ID</label>
                    <input type="text" class="form-control" name="costSetID" id="field_costSetID"
                        [(ngModel)]="cPAllocationRate.costSetID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.materialGoodsID" for="field_materialGoodsID">Material Goods ID</label>
                    <input type="text" class="form-control" name="materialGoodsID" id="field_materialGoodsID"
                        [(ngModel)]="cPAllocationRate.materialGoodsID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.isStandardItem" for="field_isStandardItem">Is Standard Item</label>
                    <input type="checkbox" class="form-control" name="isStandardItem" id="field_isStandardItem"
                        [(ngModel)]="cPAllocationRate.isStandardItem" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="cPAllocationRate.quantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.priceQuantum" for="field_priceQuantum">Price Quantum</label>
                    <input type="number" class="form-control" name="priceQuantum" id="field_priceQuantum"
                        [(ngModel)]="cPAllocationRate.priceQuantum" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.coefficient" for="field_coefficient">Coefficient</label>
                    <input type="number" class="form-control" name="coefficient" id="field_coefficient"
                        [(ngModel)]="cPAllocationRate.coefficient" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.quantityStandard" for="field_quantityStandard">Quantity Standard</label>
                    <input type="number" class="form-control" name="quantityStandard" id="field_quantityStandard"
                        [(ngModel)]="cPAllocationRate.quantityStandard" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.allocationStandard" for="field_allocationStandard">Allocation Standard</label>
                    <input type="number" class="form-control" name="allocationStandard" id="field_allocationStandard"
                        [(ngModel)]="cPAllocationRate.allocationStandard" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.cPAllocationRate.allocatedRate" for="field_allocatedRate">Allocated Rate</label>
                    <input type="number" class="form-control" name="allocatedRate" id="field_allocatedRate"
                        [(ngModel)]="cPAllocationRate.allocatedRate" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
