<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cPAllocationRate">
            <h2><span jhiTranslate="ebwebApp.cPAllocationRate.detail.title">CP Allocation Rate</span> {{cPAllocationRate.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.cPPeriodID">C P Period ID</span></dt>
                <dd>
                    <span>{{cPAllocationRate.cPPeriodID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.cPPeriodDetailID">C P Period Detail ID</span></dt>
                <dd>
                    <span>{{cPAllocationRate.cPPeriodDetailID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.allocationMethod">Allocation Method</span></dt>
                <dd>
                    <span>{{cPAllocationRate.allocationMethod}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.costSetID">Cost Set ID</span></dt>
                <dd>
                    <span>{{cPAllocationRate.costSetID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.materialGoodsID">Material Goods ID</span></dt>
                <dd>
                    <span>{{cPAllocationRate.materialGoodsID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.isStandardItem">Is Standard Item</span></dt>
                <dd>
                    <span>{{cPAllocationRate.isStandardItem}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.quantity">Quantity</span></dt>
                <dd>
                    <span>{{cPAllocationRate.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.priceQuantum">Price Quantum</span></dt>
                <dd>
                    <span>{{cPAllocationRate.priceQuantum}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.coefficient">Coefficient</span></dt>
                <dd>
                    <span>{{cPAllocationRate.coefficient}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.quantityStandard">Quantity Standard</span></dt>
                <dd>
                    <span>{{cPAllocationRate.quantityStandard}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.allocationStandard">Allocation Standard</span></dt>
                <dd>
                    <span>{{cPAllocationRate.allocationStandard}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.cPAllocationRate.allocatedRate">Allocated Rate</span></dt>
                <dd>
                    <span>{{cPAllocationRate.allocatedRate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cp-allocation-rate', cPAllocationRate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
