*,
:before,
:after {
    box-sizing: border-box;
}

body {
    background: #424242;
}

.group {
    position: relative;
    margin: 5px 0;
}

.input {
    display: block;
    width: 100%;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #0a0a10;
    text-align: left;
    height: 2.25rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    margin: 0.5rem 0.2rem 0.2rem 0.2rem;
}
input:focus {
    outline: none;
}

/*input:valid {*/
/*    border-left: 5px solid transparent;*/
/*}*/
input:focus ~ label,
input:valid ~ label {
}

input:focus ~ .bar:before {
    width: 260px;
}

.label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #212529;
    text-align: left;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 300ms ease all;
    padding-left: 15px;
}

.custom-input {
    height: 60px;
    padding-left: 16px;
    padding-top: 20px;
    font-size: 18px !important;
}

.custom-inputType1 {
    height: 40px;
    padding-left: 12px;
    font-size: 16px !important;
}
.custom-labelType1 {
    top: -15px;
    font-size: 14px;
    color: #2c3e50;
    font-weight: 400;
    padding: 0 15px;
    transform: translateX(5px);
}

.custom-label {
    background: transparent;
    top: 20px;
    font-size: 18px;
    left: 15px;
    color: #7d7d7d;
}

.custom-input:focus {
}

.custom-label:valid {
    border-left: 5px solid transparent;
}

.custom-input:focus + .custom-label {
    top: 10px;
    font-size: 16px;
    color: #2c3e50;
    padding: 0 15px;
    transform: translateX(5px);
    font-weight: bold;
}

.custom-input-valid {
    top: 10px;
    font-size: 16px;
    color: #2c3e50;
    padding: 0 15px;
    transform: translateX(5px);
    font-weight: bold;
}

/*.bar {*/
/*    position: relative;*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/
/*.bar:before {*/
/*    content: "";*/
/*    height: 2px;*/
/*    width: 0;*/
/*    bottom: 0px;*/
/*    position: absolute;*/
/*    background: darkorange;*/
/*    transition: 300ms ease all;*/
/*    left: 0%;*/
/*}*/

/*.btn {*/
/*    background: #fff;*/
/*    color: #959595;*/
/*    border: none;*/
/*    padding: 10px 20px;*/
/*    border-radius: 3px;*/
/*    letter-spacing: 0.06em;*/
/*    text-transform: uppercase;*/
/*    text-decoration: none;*/
/*    outline: none;*/
/*    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
/*    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);*/
/*}*/
/*.btn:hover {*/
/*    color: #8b8b8b;*/
/*    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);*/
/*}*/
/*.btn.btn-link {*/
/*    background: #2196f3;*/
/*    color: #d3eafd;*/
/*}*/
/*.btn.btn-link:hover {*/
/*    background: #0d8aee;*/
/*    color: #deeffd;*/
/*}*/
/*.btn.btn-submit {*/
/*    background: #2196f3;*/
/*    color: #bce0fb;*/
/*}*/
/*.btn.btn-submit:hover {*/
/*    background: #0d8aee;*/
/*    color: #deeffd;*/
/*}*/
/*.btn.btn-cancel {*/
/*    background: #eee;*/
/*}*/
/*.btn.btn-cancel:hover {*/
/*    background: #e1e1e1;*/
/*    color: #8b8b8b;*/
/*}*/

/*.btn-box {*/
/*    text-align: center;*/
/*    margin: 50px 0;*/
/*}*/
