<div class="modal-body" style=" padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
    <div class="margin-tp-5 margin-0">
        <div class="">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <div class="itemw">
                    <div class="menu-tool-bar he">
                        <div class="ptitle">
                            <span jhiTranslate="ebwebApp.creditCard.titled"></span>
                        </div>

                        <div class="gr-toolbar">
                            <a (click)="save()"
                               *ebHasAnyAuthority="['ROLE_ADMIN', ROLE_TheTinDung_Them, ROLE_TheTinDung_Sua]"><i
                                class="mdi mdi-briefcase-download"></i><span
                                jhiTranslate="ebwebApp.creditCard.save"></span></a>
                            <a (click)="saveAndCreate()"
                               *ebHasAnyAuthority="['ROLE_ADMIN', ROLE_TheTinDung_Sua, ROLE_TheTinDung_Them]"><i
                                class="mdi mdi-plus"></i><span
                                jhiTranslate="ebwebApp.creditCard.saveAndLoad"></span></a>
                            <a (click)="close()"><i class="mdi mdi-window-close"></i><span
                                jhiTranslate="ebwebApp.creditCard.closed"></span></a>
                        </div>
                    </div>

                    <div class="frm-main">
                        <div class="row no-gutters">
                            <div class="col-lg-12" style="padding-left: 0px !important; padding-bottom: 0px !important;">
                                <form style="padding-left: 5px; padding-right: 5px">
                                    <h3 style="color: #ff7d06;" jhiTranslate="ebwebApp.creditCard.information"></h3>
                                    <div class="row no-gutters">
                                        <div class="col-lg-12" [hidden]="true">
                                            <div class="form-group row no-gutters">
                                                <label for="id" class="col-sm-2 col-form-label"
                                                       jhiTranslate="global.field.id"></label>
                                                <div class="col-sm-10 pd-l-0 pd-r-10">
                                                    <input type="text" class="col-sm-10 col-form-label-sm-bank-sm"
                                                           id="id" name="id"
                                                           [(ngModel)]="creditCard.id" readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-2 my-col-form-label"
                                                       jhiTranslate="ebwebApp.creditCard.creditCardNumberNew"></label>
                                                <div class="col-sm-4 pd-l-0 pd-r-10">
                                                    <input type="text" class="form-control" name="creditCardNumber"
                                                           id="field_creditCardNumber"
                                                           (ngModelChange)="check()"
                                                           [(ngModel)]="creditCard.creditCardNumber"
                                                           mask="0000 0000 0000 0000"
                                                           maxlength="19" required
                                                           [tabIndex]="2" [disabled]="creditCard.id"/>
                                                </div>
                                                <label class="col-sm-2 my-col-form-label1"
                                                       jhiTranslate="ebwebApp.creditCard.creditCardTypeNew"></label>
                                                <div class="col-sm-2 pd-l-0 pd-r-10">
                                                    <select class="form-control" name="creditCardType"
                                                            id="field_creditCardType"
                                                            [(ngModel)]="creditCard.creditCardType" required>
                                                        <option value="VisaCard" selected>VisaCard</option>
                                                        <option value="MasterCard" selected>MasterCard</option>
                                                        <option value="Discover" selected>Discover</option>
                                                        <option value="Diners Club" selected>Diners Club</option>
                                                        <option value="American Express" selected>American Express
                                                        </option>
                                                    </select>
                                                </div>
                                                <label class="col-sm-2 my-col-form-label1"
                                                       jhiTranslate="ebwebApp.creditCard.ownerCardNew"></label>
                                                <div class="col-sm-2 pd-l-0 pd-r-10 my-last-div-unit-2-2">
                                                    <input type="text" class="form-control" name="ownerCard"
                                                           id="field_ownerCard"
                                                           [(ngModel)]="creditCard.ownerCard" required maxlength="512"/>
                                                    <div
                                                        [hidden]="!(editForm.controls.ownerCard?.dirty && editForm.controls.ownerCard?.invalid)">
                                                        <small class="form-text text-danger"
                                                               [hidden]="!editForm.controls.ownerCard?.errors?.maxlength"
                                                               jhiTranslate="entity.validation.maxlength"
                                                               translateValues="{ max: 512 }">
                                                            This field cannot be longer than 512 characters.
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-2 my-col-form-label"
                                                       jhiTranslate="ebwebApp.creditCard.BankIDIssueCardNew"></label>
                                                <div class="col-sm-4 col-form-label-sm-bank">
                                                    <combo-box style="" id="field_bankAccountDetailID"
                                                               name="comboboxBankAccountDetailID"
                                                               [nameCategory]="utilsService.NGAN_HANG"
                                                               [showIconPlus]="true"
                                                               [dataList]="bankPopup"
                                                               [listColumns]="['bankCode', 'bankName']"
                                                               displayMember="bankCode"
                                                               valueName="id"
                                                               [headerColumns]="['Mã ngân hàng', 'Tên ngân hàng']"
                                                               [isObject]="false"
                                                               [(ngModel)]="creditCard.bankIDIssueCard"
                                                               (click)="saveParent()"
                                                               [isRequired]="true">
                                                    </combo-box>
                                                </div>
                                                <label class="col-sm-2 my-col-form-label1"
                                                       jhiTranslate="ebwebApp.creditCard.description"></label>
                                                <div class="col-sm-5 col-form-label-sm-bank my-last-div-unit-2-1">
                                                    <input type="text" class="form-control" name="description"
                                                           id="field_description"
                                                           [(ngModel)]="creditCard.description" maxlength="512"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group row no-gutters">
                                                <label class="col-sm-2 my-col-form-label"
                                                       jhiTranslate="ebwebApp.creditCard.validity"></label>

                                                <div class="col-sm-4 col-form-label-sm-bank form-inline">
                                                    <label class="col-sm-2 my-col-form-label1"
                                                           jhiTranslate="ebwebApp.creditCard.exFromMonth"></label>
                                                    <div class=" pd-l-0 pd-r-10 my-last-div-unit-2-4">
                                                        <select class="form-control" name="exFromMonth"
                                                                id="field_exFromMonth"
                                                                [(ngModel)]="creditCard.exFromMonth"
                                                                style="width: 100%">
                                                            <option *ngFor="let m of months" [value]="m">{{m}}</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-sm-2 my-col-form-label1 text-center"
                                                           jhiTranslate="ebwebApp.creditCard.exFromYear"></label>
                                                    <div class=" col-form-label-sm-bank my-last-div-unit-2-4">
                                                        <select class="form-control" name="exFromYear"
                                                                id="field_exFromYear"
                                                                [(ngModel)]="creditCard.exFromYear" style="width: 100%">
                                                            <option *ngFor="let m of years" [value]="m">{{m}} </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <label class="col-sm-2 my-col-form-label1 "
                                                       jhiTranslate="ebwebApp.creditCard.exToMonth"></label>
                                                <div class="col-sm-4 col-form-label-sm-bank form-inline">
                                                    <div class=" col-form-label-sm-bank my-last-div-unit-2-4">
                                                        <select class="form-control" name="exToMonth"
                                                                id="field_exToMonth"
                                                                [(ngModel)]="creditCard.exToMonth"
                                                                style="width: 100%">
                                                            <option *ngFor="let m of months"
                                                                    [value]="m">{{m}}</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-sm-2 my-col-form-label1 text-center"
                                                           jhiTranslate="ebwebApp.creditCard.exToYear"></label>
                                                    <div class=" col-form-label-sm-bank my-last-div-unit-2-4">
                                                        <select class="form-control" name="exToYear"
                                                                id="field_exToYear"
                                                                [(ngModel)]="creditCard.exToYear"
                                                                style="width: 100%">
                                                            <option *ngFor="let m of years"
                                                                    [value]="m">{{m}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 pd-r-0">
                                                    <div class="row" style="padding-left: 15px">
                                                        <div *ngIf="creditCard.id "
                                                             class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                   id="customCheck1" name="isActive"
                                                                   [(ngModel)]="creditCard.isActive">
                                                            <label class="custom-control-label" for="customCheck1"
                                                                   jhiTranslate="ebwebApp.creditCard.isActive"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label jhiTranslate="ebwebApp.saBill.saveMessage">Dữ liệu đã bị thay đổi, Bạn có muốn lưu lại?</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="save()" jhiTranslate="entity.action.save">Save
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="close()" jhiTranslate="entity.action.noSave">close
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closeContent()" jhiTranslate="entity.action.close">
            close
        </button>
    </div>
</ng-template>
