.main-body {
    background: #cbdcf0;
    margin-top: 5px;
    height: 750px;
}

.height-100 {
    height: 100%;
}

.check {
    max-width: 80px !important;
    width: 80px !important;
    min-width: 80px !important;
}

.selected > td {
    background: #ddf7ef !important;
    /*background: #fff2e1 !important;*/
}

.cell-Table {
    padding: 0;
    margin: 0;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: auto;
}

th {
    min-width: auto;
}

.overflow-unset {
    overflow: unset;
}

.tb-cus {
    width: 100%;
    margin-right: 15px;
}

.pd-b-5 {
    padding-bottom: 5px;
}

.button {
    width: 140px;
}

.tableFixHead {
    overflow-y: auto;
    height: 100px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

.sticky-50 {
    border-top: 1px solid #adc8e6 !important;
    top: 30px;
}

.padding-0-modal-body {
    padding: 0px !important;
    padding-left: 20px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

padding-0-modal-body-mess {
    padding-left: 0px;
}

.padding-0-modal-header {
    padding: 15px !important;
}

.padding-5-table th {
    padding: 5px !important;
}

.padding-left-5 {
    padding-left: 15px;
}

.padding-right-5 {
    padding-right: 15px;
}

.height-460 {
    height: 460px;
}
