<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-ps-salary-tax-insurance-regulation-heading" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.home.createOrEditLabel">Create or edit a PS Salary Tax Insurance Regulation</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!pSSalaryTaxInsuranceRegulation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.fromDate" for="field_fromDate">From Date</label>
                    <div class="input-group">
                        <input id="field_fromDate" type="text" class="form-control" name="fromDate" ngbDatepicker  #fromDateDp="ngbDatepicker" [(ngModel)]="pSSalaryTaxInsuranceRegulation.fromDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.toDate" for="field_toDate">To Date</label>
                    <div class="input-group">
                        <input id="field_toDate" type="text" class="form-control" name="toDate" ngbDatepicker  #toDateDp="ngbDatepicker" [(ngModel)]="pSSalaryTaxInsuranceRegulation.toDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.basicWage" for="field_basicWage">Basic Wage</label>
                    <input type="number" class="form-control" name="basicWage" id="field_basicWage"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.basicWage" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.insuaranceMaximumizeSalary" for="field_insuaranceMaximumizeSalary">Insuarance Maximumize Salary</label>
                    <input type="number" class="form-control" name="insuaranceMaximumizeSalary" id="field_insuaranceMaximumizeSalary"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.insuaranceMaximumizeSalary" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.reduceSelfTaxAmount" for="field_reduceSelfTaxAmount">Reduce Self Tax Amount</label>
                    <input type="number" class="form-control" name="reduceSelfTaxAmount" id="field_reduceSelfTaxAmount"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.reduceSelfTaxAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.reduceDependTaxAmount" for="field_reduceDependTaxAmount">Reduce Depend Tax Amount</label>
                    <input type="number" class="form-control" name="reduceDependTaxAmount" id="field_reduceDependTaxAmount"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.reduceDependTaxAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.workHoursInDay" for="field_workHoursInDay">Work Hours In Day</label>
                    <input type="number" class="form-control" name="workHoursInDay" id="field_workHoursInDay"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.workHoursInDay" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.isWorkingOnMSaturday" for="field_isWorkingOnMSaturday">Is Working On M Saturday</label>
                    <input type="checkbox" class="form-control" name="isWorkingOnMSaturday" id="field_isWorkingOnMSaturday"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.isWorkingOnMSaturday" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.isWorkingOnMSunday" for="field_isWorkingOnMSunday">Is Working On M Sunday</label>
                    <input type="checkbox" class="form-control" name="isWorkingOnMSunday" id="field_isWorkingOnMSunday"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.isWorkingOnMSunday" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.isWorkingOnNSaturday" for="field_isWorkingOnNSaturday">Is Working On N Saturday</label>
                    <input type="checkbox" class="form-control" name="isWorkingOnNSaturday" id="field_isWorkingOnNSaturday"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.isWorkingOnNSaturday" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.isWorkingOnNSunday" for="field_isWorkingOnNSunday">Is Working On N Sunday</label>
                    <input type="checkbox" class="form-control" name="isWorkingOnNSunday" id="field_isWorkingOnNSunday"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.isWorkingOnNSunday" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeDailyPercent" for="field_overtimeDailyPercent">Overtime Daily Percent</label>
                    <input type="number" class="form-control" name="overtimeDailyPercent" id="field_overtimeDailyPercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.overtimeDailyPercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeWeekendPercent" for="field_overtimeWeekendPercent">Overtime Weekend Percent</label>
                    <input type="number" class="form-control" name="overtimeWeekendPercent" id="field_overtimeWeekendPercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.overtimeWeekendPercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeHolidayPercent" for="field_overtimeHolidayPercent">Overtime Holiday Percent</label>
                    <input type="number" class="form-control" name="overtimeHolidayPercent" id="field_overtimeHolidayPercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.overtimeHolidayPercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeWorkingDayNightPercent" for="field_overtimeWorkingDayNightPercent">Overtime Working Day Night Percent</label>
                    <input type="number" class="form-control" name="overtimeWorkingDayNightPercent" id="field_overtimeWorkingDayNightPercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.overtimeWorkingDayNightPercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeWeekendDayNightPercent" for="field_overtimeWeekendDayNightPercent">Overtime Weekend Day Night Percent</label>
                    <input type="number" class="form-control" name="overtimeWeekendDayNightPercent" id="field_overtimeWeekendDayNightPercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.overtimeWeekendDayNightPercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeHolidayNightPercent" for="field_overtimeHolidayNightPercent">Overtime Holiday Night Percent</label>
                    <input type="number" class="form-control" name="overtimeHolidayNightPercent" id="field_overtimeHolidayNightPercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.overtimeHolidayNightPercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.companySocityInsurancePercent" for="field_companySocityInsurancePercent">Company Socity Insurance Percent</label>
                    <input type="number" class="form-control" name="companySocityInsurancePercent" id="field_companySocityInsurancePercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.companySocityInsurancePercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.companytAccidentInsurancePercent" for="field_companytAccidentInsurancePercent">Companyt Accident Insurance Percent</label>
                    <input type="number" class="form-control" name="companytAccidentInsurancePercent" id="field_companytAccidentInsurancePercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.companytAccidentInsurancePercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.companyMedicalInsurancePercent" for="field_companyMedicalInsurancePercent">Company Medical Insurance Percent</label>
                    <input type="number" class="form-control" name="companyMedicalInsurancePercent" id="field_companyMedicalInsurancePercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.companyMedicalInsurancePercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.companyUnEmployeeInsurancePercent" for="field_companyUnEmployeeInsurancePercent">Company Un Employee Insurance Percent</label>
                    <input type="number" class="form-control" name="companyUnEmployeeInsurancePercent" id="field_companyUnEmployeeInsurancePercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.companyUnEmployeeInsurancePercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.companyTradeUnionInsurancePercent" for="field_companyTradeUnionInsurancePercent">Company Trade Union Insurance Percent</label>
                    <input type="number" class="form-control" name="companyTradeUnionInsurancePercent" id="field_companyTradeUnionInsurancePercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.companyTradeUnionInsurancePercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.employeeSocityInsurancePercent" for="field_employeeSocityInsurancePercent">Employee Socity Insurance Percent</label>
                    <input type="number" class="form-control" name="employeeSocityInsurancePercent" id="field_employeeSocityInsurancePercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.employeeSocityInsurancePercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.employeeAccidentInsurancePercent" for="field_employeeAccidentInsurancePercent">Employee Accident Insurance Percent</label>
                    <input type="number" class="form-control" name="employeeAccidentInsurancePercent" id="field_employeeAccidentInsurancePercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.employeeAccidentInsurancePercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.employeeMedicalInsurancePercent" for="field_employeeMedicalInsurancePercent">Employee Medical Insurance Percent</label>
                    <input type="number" class="form-control" name="employeeMedicalInsurancePercent" id="field_employeeMedicalInsurancePercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.employeeMedicalInsurancePercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.employeeUnEmployeeInsurancePercent" for="field_employeeUnEmployeeInsurancePercent">Employee Un Employee Insurance Percent</label>
                    <input type="number" class="form-control" name="employeeUnEmployeeInsurancePercent" id="field_employeeUnEmployeeInsurancePercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.employeeUnEmployeeInsurancePercent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.employeeTradeUnionInsurancePercent" for="field_employeeTradeUnionInsurancePercent">Employee Trade Union Insurance Percent</label>
                    <input type="number" class="form-control" name="employeeTradeUnionInsurancePercent" id="field_employeeTradeUnionInsurancePercent"
                        [(ngModel)]="pSSalaryTaxInsuranceRegulation.employeeTradeUnionInsurancePercent" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
