<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pSSalaryTaxInsuranceRegulation">
            <h2><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.detail.title">PS Salary Tax Insurance Regulation</span> {{pSSalaryTaxInsuranceRegulation.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.fromDate">From Date</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.fromDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.toDate">To Date</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.toDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.basicWage">Basic Wage</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.basicWage}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.insuaranceMaximumizeSalary">Insuarance Maximumize Salary</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.insuaranceMaximumizeSalary}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.reduceSelfTaxAmount">Reduce Self Tax Amount</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.reduceSelfTaxAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.reduceDependTaxAmount">Reduce Depend Tax Amount</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.reduceDependTaxAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.workHoursInDay">Work Hours In Day</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.workHoursInDay}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.isWorkingOnMSaturday">Is Working On M Saturday</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.isWorkingOnMSaturday}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.isWorkingOnMSunday">Is Working On M Sunday</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.isWorkingOnMSunday}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.isWorkingOnNSaturday">Is Working On N Saturday</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.isWorkingOnNSaturday}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.isWorkingOnNSunday">Is Working On N Sunday</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.isWorkingOnNSunday}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeDailyPercent">Overtime Daily Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.overtimeDailyPercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeWeekendPercent">Overtime Weekend Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.overtimeWeekendPercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeHolidayPercent">Overtime Holiday Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.overtimeHolidayPercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeWorkingDayNightPercent">Overtime Working Day Night Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.overtimeWorkingDayNightPercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeWeekendDayNightPercent">Overtime Weekend Day Night Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.overtimeWeekendDayNightPercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.overtimeHolidayNightPercent">Overtime Holiday Night Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.overtimeHolidayNightPercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.companySocityInsurancePercent">Company Socity Insurance Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.companySocityInsurancePercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.companytAccidentInsurancePercent">Companyt Accident Insurance Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.companytAccidentInsurancePercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.companyMedicalInsurancePercent">Company Medical Insurance Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.companyMedicalInsurancePercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.companyUnEmployeeInsurancePercent">Company Un Employee Insurance Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.companyUnEmployeeInsurancePercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.companyTradeUnionInsurancePercent">Company Trade Union Insurance Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.companyTradeUnionInsurancePercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.employeeSocityInsurancePercent">Employee Socity Insurance Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.employeeSocityInsurancePercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.employeeAccidentInsurancePercent">Employee Accident Insurance Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.employeeAccidentInsurancePercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.employeeMedicalInsurancePercent">Employee Medical Insurance Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.employeeMedicalInsurancePercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.employeeUnEmployeeInsurancePercent">Employee Un Employee Insurance Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.employeeUnEmployeeInsurancePercent}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.pSSalaryTaxInsuranceRegulation.employeeTradeUnionInsurancePercent">Employee Trade Union Insurance Percent</span></dt>
                <dd>
                    <span>{{pSSalaryTaxInsuranceRegulation.employeeTradeUnionInsurancePercent}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ps-salary-tax-insurance-regulation', pSSalaryTaxInsuranceRegulation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
