<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accountDefault">
            <h2><span jhiTranslate="ebwebApp.accountDefault.detail.title">Account Default</span> {{accountDefault.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.accountDefault.typeId">Type Id</span></dt>
<!--                <dd>-->
<!--                    <span>{{accountDefault.typeId}}</span>-->
<!--                </dd>-->
                <dt><span jhiTranslate="ebwebApp.accountDefault.columnName">Column Name</span></dt>
                <dd>
                    <span>{{accountDefault.columnName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountDefault.columnCaption">Column Caption</span></dt>
                <dd>
                    <span>{{accountDefault.columnCaption}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountDefault.filterAccount">Filter Account</span></dt>
                <dd>
                    <span>{{accountDefault.filterAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountDefault.defaultAccount">Default Account</span></dt>
                <dd>
                    <span>{{accountDefault.defaultAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountDefault.reduceAccount">Reduce Account</span></dt>
                <dd>
                    <span>{{accountDefault.reduceAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountDefault.pPType">P P Type</span></dt>
                <dd>
                    <span>{{accountDefault.pPType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountDefault.orderPriority">Order Priority</span></dt>
                <dd>
                    <span>{{accountDefault.orderPriority}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/account-default', accountDefault.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
