th {
    text-align: center;
}
.cell-Table {
    padding: 0;
    margin: 0;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}
:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}
:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) {
    position: absolute;
    right: 15px;
}
:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}
:host ::ng-deep .tool-navbar li.nav-item:nth-child(3) a:hover {
    background: #11ab6b;
    color: #fff;
    border-color: #11ab6b !important;
}
:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}
/*right click event*/
.contextmenu {
    position: absolute;
}
.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}
.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}
/*endof right click*/
/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}
/*style for menu*/
/*.gr-tool-bar .disable {*/
/*    color: #959ea9 !important;*/
/*    pointer-events: none;*/
/*}*/
/*style addNewRow*/
.addNewRow > td {
    background-color: #cccccc !important;
}
.countRow {
    background-color: rgba(30, 117, 190, 0.53);
    width: 100%;
}
/*.readOnly {*/
/*    pointer-events: none;*/
/*}*/
.total {
    text-align: right;
}
.ellip {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.disableDiv {
    color: #959ea9 !important;
    pointer-events: none;
}
.form-control:disabled,
.form-control[readonly] {
    background-color: white;
}

.itemw .menu-tool-bar a.disable,
a.disable {
    color: dimgray !important;
}

/*a.disable:hover {*/
/*    color: #ff8000 !important;*/
/*}*/
.last-div-tax-code {
    max-width: calc(100% - 230px - 41.666667%);
}

.last-div-description {
    max-width: calc(100% - 100px - 41.666667%);
}
.last-div-description-child {
    max-width: calc(100% - 130px);
}
.col-form-label-130 {
    width: 130px;
    max-width: 130px;
}
.menu-tool-bar.he > * {
    margin-top: 1px;
}

/*.in-squ button {*/
/*    color: #f0f0f0;*/
/*}*/
.in-squ button:hover {
    background-color: #f26f21 !important;
}

.btn-dr-i {
    width: 100%;
    text-align: left;
    margin-right: 0;
    display: inline-block;
    border: 0 solid transparent;
}

.hover-dr:hover {
    background: #f26f21;
    color: black;
    border-color: #f26f21 !important;
}

.selected {
    background: #f26f21;
}
