<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sAQuote">
            <h2><span jhiTranslate="ebwebApp.sAQuote.detail.title">SA Quote</span> {{sAQuote.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.sAQuote.companyId">Company Id</span></dt>
                <dd>
                    <span>{{sAQuote.companyId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.branchId">Branch Id</span></dt>
                <dd>
                    <span>{{sAQuote.branchId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.typeId">Type Id</span></dt>
                <dd>
                    <span>{{sAQuote.typeId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.date">Date</span></dt>
                <dd>
                    <span>{{sAQuote.date}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.no">No</span></dt>
                <dd>
                    <span>{{sAQuote.no}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.accountingObjectId">Accounting Object Id</span></dt>
                <dd>
                    <span>{{sAQuote.accountingObject?.id}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.accountingObjectName">Accounting Object Name</span></dt>
                <dd>
                    <span>{{sAQuote.accountingObjectName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.accountingObjectAddress">Accounting Object Address</span></dt>
                <dd>
                    <span>{{sAQuote.accountingObjectAddress}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.companyTaxCode">Company Tax Code</span></dt>
                <dd>
                    <span>{{sAQuote.companyTaxCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.contactName">Contact Name</span></dt>
                <dd>
                    <span>{{sAQuote.contactName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.contactMobile">Contact Mobile</span></dt>
                <dd>
                    <span>{{sAQuote.contactMobile}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.contactEmail">Contact Email</span></dt>
                <dd>
                    <span>{{sAQuote.contactEmail}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.deliveryTime">Delivery Time</span></dt>
                <dd>
                    <span>{{sAQuote.deliveryTime}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.guaranteeDuration">Guarantee Duration</span></dt>
                <dd>
                    <span>{{sAQuote.guaranteeDuration}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.description">Description</span></dt>
                <dd>
                    <span>{{sAQuote.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.reason">Reason</span></dt>
                <dd>
                    <span>{{sAQuote.reason}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.currencyID">Currency ID</span></dt>
                <dd>
                    <span>{{sAQuote.currencyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{sAQuote.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.finalDate">Final Date</span></dt>
                <dd>
                    <span>{{sAQuote.finalDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.paymentClauseID">Payment Clause ID</span></dt>
                <dd>
                    <span>{{sAQuote.paymentClause?.id}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.employeeID">Employee ID</span></dt>
                <dd>
                    <span>{{sAQuote.employeeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{sAQuote.totalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.totalAmountOriginal">Total Amount Original</span></dt>
                <dd>
                    <span>{{sAQuote.totalAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.totalVATAmount">Total VAT Amount</span></dt>
                <dd>
                    <span>{{sAQuote.totalVATAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.totalVATAmountOriginal">Total VAT Amount Original</span></dt>
                <dd>
                    <span>{{sAQuote.totalVATAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.totalDiscountAmount">Total Discount Amount</span></dt>
                <dd>
                    <span>{{sAQuote.totalDiscountAmount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.totalDiscountAmountOriginal">Total Discount Amount Original</span></dt>
                <dd>
                    <span>{{sAQuote.totalDiscountAmountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.templateID">Template ID</span></dt>
                <dd>
                    <span>{{sAQuote.templateID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.accountingObject">Accounting Object</span></dt>
                <dd>
                    <div *ngIf="sAQuote.accountingObject">
                        <a [routerLink]="['/accounting-object', sAQuote.accountingObject?.id, 'view']">{{sAQuote.accountingObject?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.sAQuote.paymentClause">Payment Clause</span></dt>
                <dd>
                    <div *ngIf="sAQuote.paymentClause">
                        <a [routerLink]="['/payment-clause', sAQuote.paymentClause?.id, 'view']">{{sAQuote.paymentClause?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sa-quote', sAQuote.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
