<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <div *ngIf="organizationUnit">-->
<!--            <h2><span jhiTranslate="ebwebApp.organizationUnit.detail.title">Organization Unit</span> {{organizationUnit.id}}</h2>-->
<!--            <hr>-->
<!--            <eb-alert-error></eb-alert-error>-->
<!--            <dl class="row-md jh-entity-details">-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.branchID">Branch ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.branchID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.organizationUnitCode">Organization Unit Code</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.organizationUnitCode}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.organizationUnitName">Organization Unit Name</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.organizationUnitName}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.unitType">Unit Type</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.unitType}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.address">Address</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.address}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.businessRegistrationNumber">Business Registration Number</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.businessRegistrationNumber}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.issueDate">Issue Date</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.issueDate}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.issueBy">Issue By</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.issueBy}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.accType">Acc Type</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.accType}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.isPrivateVAT">Is Private VAT</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.isPrivateVAT}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.costAccount">Cost Account</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.costAccount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.orderFixCode">Order Fix Code</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.orderFixCode}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.parentID">Parent ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.parentID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.isParentNode">Is Parent Node</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.isParentNode}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.grade">Grade</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.grade}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.organizationUnit.isActive">Is Active</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{organizationUnit.isActive}}</span>-->
<!--                </dd>-->
<!--            </dl>-->

<!--            <button type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
<!--            </button>-->

<!--            <button type="button"-->
<!--                    [routerLink]="['/organization-unit', organizationUnit.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
