<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <div *ngIf="mBDeposit">-->
<!--            <h2><span jhiTranslate="ebwebApp.mBDeposit.detail.title">MB Deposit</span> {{mBDeposit.id}}</h2>-->
<!--            <hr>-->
<!--            <eb-alert-error></eb-alert-error>-->
<!--            <dl class="row-md jh-entity-details">-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.branchID">Branch ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.branchID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.typeID">Type ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.typeID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.date">Date</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.date}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.postedDate">Posted Date</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.postedDate}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.typeLedger">Type Ledger</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.typeLedger}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.noFBook">No F Book</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.noFBook}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.noMBook">No M Book</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.noMBook}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.accountingObjectID">Accounting Object ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.accountingObjectID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.accountingObjectName">Accounting Object Name</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.accountingObjectName}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.accountingObjectAddress">Accounting Object Address</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.accountingObjectAddress}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.bankAccountDetailID">Bank Account Detail ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.bankAccountDetailID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.bankName">Bank Name</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.bankName}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.reason">Reason</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.reason}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.currencyID">Currency ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.currencyID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.exchangeRate">Exchange Rate</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.exchangeRate}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.sAQuoteID">S A Quote ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.sAQuoteID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.sAOrderID">S A Order ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.sAOrderID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.paymentClauseID">Payment Clause ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.paymentClauseID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.transportMethodID">Transport Method ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.transportMethodID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.totalAmount">Total Amount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.totalAmount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.totalAmountOriginal">Total Amount Original</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.totalAmountOriginal}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.totalVATAmount">Total VAT Amount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.totalVATAmount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.totalVATAmountOriginal">Total VAT Amount Original</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.totalVATAmountOriginal}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.employeeID">Employee ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.employeeID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.accountingObjectType">Accounting Object Type</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.accountingObjectType}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.templateID">Template ID</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.templateID}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.recorded">Recorded</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.recorded}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBDeposit.exported">Exported</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBDeposit.exported}}</span>-->
<!--                </dd>-->
<!--            </dl>-->

<!--            <button Type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
<!--            </button>-->

<!--            <button Type="button"-->
<!--                    [routerLink]="['/mb-deposit', mBDeposit.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
