<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">-->
<!--            <h2 id="eb-fixed-asset-allocation-heading" jhiTranslate="ebwebApp.fixedAssetAllocation.home.createOrEditLabel">Create or edit a Fixed Asset Allocation</h2>-->
<!--            <div>-->
<!--                <eb-alert-error></eb-alert-error>-->
<!--                <div class="form-group" [hidden]="!fixedAssetAllocation.id">-->
<!--                    <label for="id" jhiTranslate="global.field.id">ID</label>-->
<!--                    <input Type="text" class="form-control" id="id" name="id"-->
<!--                        [(ngModel)]="fixedAssetAllocation.id" readonly />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetAllocation.objectID" for="field_objectID">Object ID</label>-->
<!--                    <input Type="number" class="form-control" name="objectID" id="field_objectID"-->
<!--                        [(ngModel)]="fixedAssetAllocation.objectID" />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetAllocation.objectType" for="field_objectType">Object Type</label>-->
<!--                    <input Type="number" class="form-control" name="objectType" id="field_objectType"-->
<!--                        [(ngModel)]="fixedAssetAllocation.objectType" />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetAllocation.rate" for="field_rate">Rate</label>-->
<!--                    <input Type="number" class="form-control" name="rate" id="field_rate"-->
<!--                        [(ngModel)]="fixedAssetAllocation.rate" />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetAllocation.orderPriority" for="field_orderPriority">Order Priority</label>-->
<!--                    <input Type="number" class="form-control" name="orderPriority" id="field_orderPriority"-->
<!--                        [(ngModel)]="fixedAssetAllocation.orderPriority" required/>-->
<!--                    <div [hidden]="!(editForm.controls.orderPriority?.dirty && editForm.controls.orderPriority?.invalid)">-->
<!--                        <small class="form-text text-danger"-->
<!--                        [hidden]="!editForm.controls.orderPriority?.errors?.required" jhiTranslate="entity.validation.required">-->
<!--                        This field is required.-->
<!--                        </small>-->
<!--                        <small class="form-text text-danger"-->
<!--                            [hidden]="!editForm.controls.orderPriority?.errors?.number" jhiTranslate="entity.validation.number">-->
<!--                            This field should be a number.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetAllocation.fixedAssetID" for="field_fixedAssetID">Fixed Asset ID</label>-->
<!--                    <select class="form-control" id="field_fixedAssetID" name="fixedAssetID" [(ngModel)]="fixedAssetAllocation.fixedAssetID"  required>-->
<!--                        <option *ngIf="!editForm.value.fixedAssetID" [ngValue]="null" selected></option>-->
<!--                        <option [ngValue]="fixedAssetOption.id === fixedAssetAllocation.fixedAssetID?.id ? fixedAssetAllocation.fixedAssetID : fixedAssetOption" *ngFor="let fixedAssetOption of fixedassets; trackBy: trackFixedAssetById">{{fixedAssetOption.id}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div [hidden]="!(editForm.controls.fixedAssetID?.dirty && editForm.controls.fixedAssetID?.invalid)">-->
<!--                    <small class="form-text text-danger"-->
<!--                        [hidden]="!editForm.controls.fixedAssetID?.errors?.required" jhiTranslate="entity.validation.required">-->
<!--                        This field is required.-->
<!--                    </small>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetAllocation.expenseitemID" for="field_expenseitemID">Expenseitem ID</label>-->
<!--                    <select class="form-control" id="field_expenseitemID" name="expenseitemID" [(ngModel)]="fixedAssetAllocation.expenseitemID" >-->
<!--                        <option [ngValue]="null"></option>-->
<!--                        <option [ngValue]="expenseItemOption.id === fixedAssetAllocation.expenseitemID?.id ? fixedAssetAllocation.expenseitemID : expenseItemOption" *ngFor="let expenseItemOption of expenseitems; trackBy: trackExpenseItemById">{{expenseItemOption.id}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetAllocation.costAccount" for="field_costAccount">Cost Account</label>-->
<!--                    <select class="form-control" id="field_costAccount" name="costAccount" [(ngModel)]="fixedAssetAllocation.costAccount" >-->
<!--                        <option [ngValue]="null"></option>-->
<!--                        <option [ngValue]="accountListOption.id === fixedAssetAllocation.costAccount?.id ? fixedAssetAllocation.costAccount : accountListOption" *ngFor="let accountListOption of accountlists; trackBy: trackAccountListById">{{accountListOption.accountNumber}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetAllocation.statisticscodeID" for="field_statisticscodeID">Statisticscode ID</label>-->
<!--                    <select class="form-control" id="field_statisticscodeID" name="statisticscodeID" [(ngModel)]="fixedAssetAllocation.statisticscodeID" >-->
<!--                        <option [ngValue]="null"></option>-->
<!--                        <option [ngValue]="statisticsCodeOption.id === fixedAssetAllocation.statisticscodeID?.id ? fixedAssetAllocation.statisticscodeID : statisticsCodeOption" *ngFor="let statisticsCodeOption of statisticscodes; trackBy: trackStatisticsCodeById">{{statisticsCodeOption.id}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <button Type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">-->
<!--                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>-->
<!--                </button>-->
<!--                <button Type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">-->
<!--                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
