.toolbarcustom {
    margin-bottom: 0px;
    background-color: #adc7e6;
}

.maincustom {
    margin-bottom: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.table-scroll th,
.table-scroll td {
    min-width: 50px;
}

.table-scroll > table {
    min-width: 500px;
}
.forget-pass {
    padding: 10px 15px;
}
.forget-pass button {
    width: 100px;
    height: 32px;
    cursor: pointer;
    outline: none;
    background: #e26e4c;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}
.forget-pass .btn-close {
    background: black;
    color: #fff;
}
.group-btn {
    display: flex;
}
.group-btn button {
    margin-top: 10px;
    margin-right: 10px;
}
