<!--
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accountingObjectBankAccount">
            <h2><span jhiTranslate="ebwebApp.accountingObjectBankAccount.detail.title">Accounting Object Bank Account</span> {{accountingObjectBankAccount.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.accountingObjectBankAccount.bankaccount">Bankaccount</span></dt>
                <dd>
                    <span>{{accountingObjectBankAccount.bankAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountingObjectBankAccount.bankname">Bankname</span></dt>
                <dd>
                    <span>{{accountingObjectBankAccount.bankName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountingObjectBankAccount.bankbranchname">Bankbranchname</span></dt>
                <dd>
                    <span>{{accountingObjectBankAccount.bankBranchName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountingObjectBankAccount.accountholdername">Accountholdername</span></dt>
                <dd>
                    <span>{{accountingObjectBankAccount.accountHolderName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountingObjectBankAccount.orderpriority">Orderpriority</span></dt>
                <dd>
                    <span>{{accountingObjectBankAccount.orderPriority}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.accountingObjectBankAccount.accountingObject">Accounting Object</span></dt>
                <dd>
                    <div *ngIf="accountingObjectBankAccount.accountingObject">
                        <a [routerLink]="['/accounting-object', accountingObjectBankAccount.accountingObject?.id, 'view']">{{accountingObjectBankAccount.accountingObject?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/accounting-object-bank-account', accountingObjectBankAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
-->
