<!--<div>-->
<!--    <h2 id="page-heading">-->
<!--        <span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.home.title">MB Teller Paper Detail Taxes</span>-->
<!--        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mb-teller-paper-detail-tax" [routerLink]="['/mb-teller-paper-detail-tax/new']">-->
<!--            <fa-icon [icon]="'plus'"></fa-icon>-->
<!--            <span  jhiTranslate="ebwebApp.mBTellerPaperDetailTax.home.createLabel">-->
<!--            Create new MB Teller Paper Detail Tax-->
<!--            </span>-->
<!--        </button>-->
<!--    </h2>-->
<!--    <eb-alert></eb-alert>-->
<!--    <br/>-->
<!--    <div class="table-responsive" *ngIf="mBTellerPaperDetailTaxes">-->
<!--        <table class="table table-striped">-->
<!--            <thead>-->
<!--            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">-->
<!--            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="description"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="vatamount"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.vatamount">Vatamount</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="vatamountoriginal"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.vatamountoriginal">Vatamountoriginal</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="vatrate"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.vatrate">Vatrate</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="vataccount"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.vataccount">Vataccount</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="pretaxamount"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.pretaxamount">Pretaxamount</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="pretaxamountoriginal"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.pretaxamountoriginal">Pretaxamountoriginal</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="invoicetype"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.invoicetype">Invoicetype</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="invoicedate"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.invoicedate">Invoicedate</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="invoiceno"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.invoiceno">Invoiceno</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="invoiceseries"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.invoiceseries">Invoiceseries</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="goodsservicepurchaseid"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.goodsservicepurchaseid">Goodsservicepurchaseid</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="accountingobjectid"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.accountingobjectid">Accountingobjectid</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="orderpriority"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.orderpriority">Orderpriority</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th jhiSortBy="mBTellerPaper.id"><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.mBTellerPaper">M B Teller Paper</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
<!--            <th></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let mBTellerPaperDetailTax of mBTellerPaperDetailTaxes ;trackBy: trackId">-->
<!--                <td><a [routerLink]="['/mb-teller-paper-detail-tax', mBTellerPaperDetailTax.id, 'view' ]">{{mBTellerPaperDetailTax.id}}</a></td>-->
<!--                <td>{{mBTellerPaperDetailTax.description}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.vatamount}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.vatamountoriginal}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.vatrate}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.vataccount}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.pretaxamount}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.pretaxamountoriginal}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.invoicetype}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.invoicedate | date:'mediumDate'}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.invoiceno}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.invoiceseries}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.goodsservicepurchaseid}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.accountingobjectid}}</td>-->
<!--                <td>{{mBTellerPaperDetailTax.orderpriority}}</td>-->
<!--                <td>-->
<!--                    <div *ngIf="mBTellerPaperDetailTax.mbtellerPaper">-->
<!--                        <a [routerLink]="['../mb-teller-paper', mBTellerPaperDetailTax.mbtellerPaper?.id, 'view' ]" >{{mBTellerPaperDetailTax.mbtellerPaper?.id}}</a>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td class="text-right">-->
<!--                    <div class="btn-group flex-btn-group-container">-->
<!--                        <button Type="submit"-->
<!--                                [routerLink]="['/mb-teller-paper-detail-tax', mBTellerPaperDetailTax.id, 'view' ]"-->
<!--                                class="btn btn-info btn-sm">-->
<!--                            <fa-icon [icon]="'eye'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
<!--                        </button>-->
<!--                        <button Type="submit"-->
<!--                                [routerLink]="['/mb-teller-paper-detail-tax', mBTellerPaperDetailTax.id, 'edit']"-->
<!--                                class="btn btn-primary btn-sm">-->
<!--                            <fa-icon [icon]="'pencil-alt'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
<!--                        </button>-->
<!--                        <button Type="submit"-->
<!--                                [routerLink]="['/', { outlets: { popup: 'mb-teller-paper-detail-tax/'+ mBTellerPaperDetailTax.id + '/delete'} }]"-->
<!--                                replaceUrl="true"-->
<!--                                queryParamsHandling="merge"-->
<!--                                class="btn btn-danger btn-sm">-->
<!--                            <fa-icon [icon]="'times'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div *ngIf="mBTellerPaperDetailTaxes && mBTellerPaperDetailTaxes.length">-->
<!--        <div class="row justify-content-center">-->
<!--            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>-->
<!--        </div>-->
<!--        <div class="row justify-content-center">-->
<!--            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
