<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <div *ngIf="mBTellerPaperDetailTax">-->
<!--            <h2><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.detail.title">MB Teller Paper Detail Tax</span> {{mBTellerPaperDetailTax.id}}</h2>-->
<!--            <hr>-->
<!--            <eb-alert-error></eb-alert-error>-->
<!--            <dl class="row-md jh-entity-details">-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.description">Description</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.description}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.vatamount">Vatamount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.vatamount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.vatamountoriginal">Vatamountoriginal</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.vatamountoriginal}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.vatrate">Vatrate</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.vatrate}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.vataccount">Vataccount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.vataccount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.pretaxamount">Pretaxamount</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.pretaxamount}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.pretaxamountoriginal">Pretaxamountoriginal</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.pretaxamountoriginal}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.invoicetype">Invoicetype</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.invoicetype}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.invoicedate">Invoicedate</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.invoicedate}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.invoiceno">Invoiceno</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.invoiceno}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.invoiceseries">Invoiceseries</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.invoiceseries}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.goodsservicepurchaseid">Goodsservicepurchaseid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.goodsservicepurchaseid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.accountingobjectid">Accountingobjectid</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.accountingobjectid}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.orderpriority">Orderpriority</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{mBTellerPaperDetailTax.orderpriority}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.mBTellerPaperDetailTax.mBTellerPaper">M B Teller Paper</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="mBTellerPaperDetailTax.mBTellerPaper">-->
<!--                        <a [routerLink]="['/mb-teller-paper', mBTellerPaperDetailTax.mBTellerPaper?.id, 'view']">{{mBTellerPaperDetailTax.mBTellerPaper?.id}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--            </dl>-->

<!--            <button Type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
<!--            </button>-->

<!--            <button Type="button"-->
<!--                    [routerLink]="['/mb-teller-paper-detail-tax', mBTellerPaperDetailTax.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
