th {
    text-align: center;
}

.cell-Table {
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.input-Cell {
    background: transparent;

    /*padding: 5px;*/
    border: none;
    width: 100%;
    height: 100%;
}

.cell-div {
    padding: 7px;
}

.input-Cell-Dp {
    background: transparent;
    margin: fill;
    padding: 5px;
    border: none;
    width: 68%;
    height: 100%;
    vertical-align: middle;
}

/*style for ngtab*/
:host ::ng-deep .tool-navbar li.nav-item {
    margin-bottom: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item a {
    background: #cbdcf0;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #37474f;
    margin-right: 3px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(5) {
    position: absolute;
    right: 117px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(5) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(6) {
    position: absolute;
    right: 15px;
}

:host ::ng-deep .tool-navbar li.nav-item:nth-child(6) a {
    background: #11ab6b;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 600;
    color: #fff;
    margin-right: 0px;
}

:host ::ng-deep .tool-navbar li.nav-item a.active {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

:host ::ng-deep .tool-navbar li.nav-item a:hover {
    background: #f26f21;
    color: #fff;
    border-color: #f26f21 !important;
}

/*right click event*/
.contextmenu {
    position: absolute;
}

.contextmenu button {
    width: 180px;
    display: block;
    text-align: left;
}

.contextmenu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}

/*endof right click*/
/*style for dropdown menu*/
.itemw .dropdown-menu a.dropdown-item:hover {
    background-color: #f7f7f7 !important;
    color: #f26f21 !important;
}

/*style for menu*/
.itemw .menu-tool-bar a {
    color: #ffffff;
}

.itemw .menu-tool-bar a:hover {
    color: #f26f21 !important;
}

a.disable,
a.disable:hover {
    color: #959ea9 !important;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
}

/*style addNewRow*/
.addNewRow {
    background-color: #e9ecef !important;
}

.main-table td.cell-Table .dropdown {
    z-index: -1 !important;
}

.myreadonlytrue {
    pointer-events: none;
}

.edit-color {
    color: #fff;
}

#field_currencyID {
    padding-bottom: 10px;
    padding-top: 5px;
}

.input-group-append {
    margin-top: 1px;
    z-index: 0;
}

.table-scroll {
    z-index: 0;
}

.countRow {
    background-color: #7db5dd !important;
    color: #0a0a10;
}

#tienHang2 {
    border-left-width: 0px;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td.border-none {
    border: 0 !important;
}

.date-input {
    max-width: 1px;
    border: none;
    opacity: 0;
}

.required {
    border-left: 5px solid red;
    border-radius: 3px;
}

.requiredTrue {
    border-left: 5px solid green;
    border-radius: 3px;
}

.description {
    max-width: 300px !important;
}

.form-check.form-check-inline.form-control.checkBox {
    background: none;
    padding-right: 0 !important;
}

.selectVoucher {
    background: #11ab6b;
    color: white;
}

.position {
    width: 250px;
    position: absolute;
    right: 205px;
    margin-top: 3px;
}

.creat-from {
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
}

.custom-dropdown {
    border: none;
    width: 180px;
    text-align: left !important;
}

.disableDiv {
    color: #959ea9 !important;
    pointer-events: none;
}
.col-form-label-custom {
    max-width: 90px;
}

.last-div-3-2-custom {
    flex: 0 0 100%;
    max-width: calc(58.333333% - 290px) !important;
}

.selected {
    background: #f26f21;
}

.custom-dropdown:hover {
    background: #f26f21;
    color: black;
    border-color: #f26f21 !important;
}
