<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebwebApp.mBInternalTransferDetails.home.title">MB Internal Transfer Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mb-internal-transfer-details" [routerLink]="['/mb-internal-transfer-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebwebApp.mBInternalTransferDetails.home.createLabel">
            Create new MB Internal Transfer Details
            </span>
        </button>
    </h2>
    <eb-alert></eb-alert>
    <br/>
    <div class="table-responsive" *ngIf="mBInternalTransferDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="debitAccount"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.debitAccount">Debit Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creditAccount"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.creditAccount">Credit Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fromBankAccountDetailID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.fromBankAccountDetailID">From Bank Account Detail ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toBankAccountDetailID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.toBankAccountDetailID">To Bank Account Detail ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fromBranchID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.fromBranchID">From Branch ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toBranchID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.toBranchID">To Branch ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currencyID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.currencyID">Currency ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="exchangeRate"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.exchangeRate">Exchange Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amountOriginal"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.amountOriginal">Amount Original</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.employeeID">Employee ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="budgetItemID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.budgetItemID">Budget Item ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costSetID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.costSetID">Cost Set ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contractID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.contractID">Contract ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statisticsCodeID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.statisticsCodeID">Statistics Code ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organizationUnitID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.organizationUnitID">Organization Unit ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expenseItemID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.expenseItemID">Expense Item ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountingObjectID"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.accountingObjectID">Accounting Object ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashOutExchangeRateFB"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutExchangeRateFB">Cash Out Exchange Rate FB</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashOutAmountFB"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutAmountFB">Cash Out Amount FB</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashOutDifferAmountFB"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutDifferAmountFB">Cash Out Differ Amount FB</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashOutDifferAccountFB"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutDifferAccountFB">Cash Out Differ Account FB</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashOutExchangeRateMB"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutExchangeRateMB">Cash Out Exchange Rate MB</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashOutAmountMB"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutAmountMB">Cash Out Amount MB</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashOutDifferAmountMB"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutDifferAmountMB">Cash Out Differ Amount MB</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cashOutDifferAccountMB"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutDifferAccountMB">Cash Out Differ Account MB</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isMatch"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.isMatch">Is Match</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="matchDate"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.matchDate">Match Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderPriority"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.orderPriority">Order Priority</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mBInternalTransfer.id"><span jhiTranslate="ebwebApp.mBInternalTransferDetails.mBInternalTransfer">M B Internal Transfer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mBInternalTransferDetails of mBInternalTransferDetails ;trackBy: trackId">
                <td><a [routerLink]="['/mb-internal-transfer-details', mBInternalTransferDetails.id, 'view' ]">{{mBInternalTransferDetails.id}}</a></td>
                <td>{{mBInternalTransferDetails.debitAccount}}</td>
                <td>{{mBInternalTransferDetails.creditAccount}}</td>
                <td>{{mBInternalTransferDetails.fromBankAccountDetailID}}</td>
                <td>{{mBInternalTransferDetails.toBankAccountDetailID}}</td>
                <td>{{mBInternalTransferDetails.fromBranchID}}</td>
                <td>{{mBInternalTransferDetails.toBranchID}}</td>
                <td>{{mBInternalTransferDetails.currencyID}}</td>
                <td>{{mBInternalTransferDetails.exchangeRate}}</td>
                <td>{{mBInternalTransferDetails.amount}}</td>
                <td>{{mBInternalTransferDetails.amountOriginal}}</td>
                <td>{{mBInternalTransferDetails.employeeID}}</td>
                <td>{{mBInternalTransferDetails.budgetItemID}}</td>
                <td>{{mBInternalTransferDetails.costSetID}}</td>
                <td>{{mBInternalTransferDetails.contractID}}</td>
                <td>{{mBInternalTransferDetails.statisticsCodeID}}</td>
                <td>{{mBInternalTransferDetails.organizationUnitID}}</td>
                <td>{{mBInternalTransferDetails.expenseItemID}}</td>
                <td>{{mBInternalTransferDetails.accountingObjectID}}</td>
                <td>{{mBInternalTransferDetails.cashOutExchangeRateFB}}</td>
                <td>{{mBInternalTransferDetails.cashOutAmountFB}}</td>
                <td>{{mBInternalTransferDetails.cashOutDifferAmountFB}}</td>
                <td>{{mBInternalTransferDetails.cashOutDifferAccountFB}}</td>
                <td>{{mBInternalTransferDetails.cashOutExchangeRateMB}}</td>
                <td>{{mBInternalTransferDetails.cashOutAmountMB}}</td>
                <td>{{mBInternalTransferDetails.cashOutDifferAmountMB}}</td>
                <td>{{mBInternalTransferDetails.cashOutDifferAccountMB}}</td>
                <td>{{mBInternalTransferDetails.isMatch}}</td>
                <td>{{mBInternalTransferDetails.matchDate | date:'mediumDate'}}</td>
                <td>{{mBInternalTransferDetails.orderPriority}}</td>
                <td>
                    <div *ngIf="mBInternalTransferDetails.mBInternalTransfer">
                        <a [routerLink]="['../mb-internal-transfer', mBInternalTransferDetails.mBInternalTransfer?.id, 'view' ]" >{{mBInternalTransferDetails.mBInternalTransfer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/mb-internal-transfer-details', mBInternalTransferDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mb-internal-transfer-details', mBInternalTransferDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mb-internal-transfer-details/'+ mBInternalTransferDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mBInternalTransferDetails && mBInternalTransferDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
