<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mBInternalTransferDetails">
            <h2><span jhiTranslate="ebwebApp.mBInternalTransferDetails.detail.title">MB Internal Transfer Details</span> {{mBInternalTransferDetails.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.debitAccount">Debit Account</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.debitAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.creditAccount">Credit Account</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.creditAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.fromBankAccountDetailID">From Bank Account Detail ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.fromBankAccountDetailID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.toBankAccountDetailID">To Bank Account Detail ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.toBankAccountDetailID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.fromBranchID">From Branch ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.fromBranchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.toBranchID">To Branch ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.toBranchID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.currencyID">Currency ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.currencyID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.exchangeRate">Exchange Rate</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.exchangeRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.amount">Amount</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.amount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.amountOriginal">Amount Original</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.amountOriginal}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.employeeID">Employee ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.employeeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.budgetItemID">Budget Item ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.budgetItemID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.costSetID">Cost Set ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.costSetID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.contractID">Contract ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.contractID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.statisticsCodeID">Statistics Code ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.statisticsCodeID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.organizationUnitID">Organization Unit ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.organizationUnitID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.expenseItemID">Expense Item ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.expenseItemID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.accountingObjectID">Accounting Object ID</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.accountingObjectID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutExchangeRateFB">Cash Out Exchange Rate FB</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.cashOutExchangeRateFB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutAmountFB">Cash Out Amount FB</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.cashOutAmountFB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutDifferAmountFB">Cash Out Differ Amount FB</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.cashOutDifferAmountFB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutDifferAccountFB">Cash Out Differ Account FB</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.cashOutDifferAccountFB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutExchangeRateMB">Cash Out Exchange Rate MB</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.cashOutExchangeRateMB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutAmountMB">Cash Out Amount MB</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.cashOutAmountMB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutDifferAmountMB">Cash Out Differ Amount MB</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.cashOutDifferAmountMB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.cashOutDifferAccountMB">Cash Out Differ Account MB</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.cashOutDifferAccountMB}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.isMatch">Is Match</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.isMatch}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.matchDate">Match Date</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.matchDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.orderPriority">Order Priority</span></dt>
                <dd>
                    <span>{{mBInternalTransferDetails.orderPriority}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.mBInternalTransferDetails.mBInternalTransfer">M B Internal Transfer</span></dt>
                <dd>
                    <div *ngIf="mBInternalTransferDetails.mBInternalTransfer">
                        <a [routerLink]="['/mb-internal-transfer', mBInternalTransferDetails.mBInternalTransfer?.id, 'view']">{{mBInternalTransferDetails.mBInternalTransfer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mb-internal-transfer-details', mBInternalTransferDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
