<div class="pd-10 bg-modal">
    <div class="modal-body">
        <div class="row">
            <!-- chọn đối tượng-->
            <div class="col-5 row">
                <div class="form-group col-6">
                    <label jhiTranslate="ebwebApp.common.object">Đối tượng</label>
                    <combo-box id="object"
                               name="accountingObject"
                               [dataList]="accountObjects"
                               [listColumns]="utilsService.listColumnsAccountingObjects"
                               displayMember="accountingObjectCode"
                               valueName="id"
                               [isOutTable]="true"
                               [isObject]="true"
                               [headerColumns]="[
            translate.instant('ebwebApp.comboBox.accountingObjects.accountingObjectCode'),
            translate.instant('ebwebApp.comboBox.accountingObjects.accountingObjectName'),
            translate.instant('ebwebApp.comboBox.accountingObjects.accountingObjectAddress')
        ]"
                               [(ngModel)]="accountingObject"
                               (ngModelChange)="search()"
                    >
                    </combo-box>
                </div>
                <div class="form-group col-6">
                    <label jhiTranslate="ebwebApp.receiveBill.detail.time">Chọn thời gian</label>
                    <combo-box style=""
                               name="timeLine"
                               [dataList]="listTimeLine"
                               [listColumns]="utilsService.listColumnsTimeLine"
                               [isOutTable]="true"
                               displayMember="display"
                               valueName="value"
                               [headerColumns]="utilsService.listHeaderColumnsTimeLine"
                               [isObject]="false"
                               [(ngModel)]="timeLineVoucher"
                               (ngModelChange)="selectChangeBeginDateAndEndDate(timeLineVoucher)"
                    ></combo-box>
                </div>
            </div>
            <div class="col-5 row">
                <div class="form-group col-6">
                    <label jhiTranslate="ebwebApp.saBill.invoice.fromDate">date</label>
                    <eb-date-picker [(ngModel)]="fromDate" name="fromdate" format="YYYYMMDD"></eb-date-picker>
                </div>
                <div class="form-group col-6">
                    <label jhiTranslate="ebwebApp.saBill.invoice.toDate">date</label>
                    <eb-date-picker [(ngModel)]="toDate" name="todate" format="YYYYMMDD"></eb-date-picker>
                </div>
            </div>
            <div class="col-2">
                <label>&nbsp;</label>
                <div>
                    <button class="btn btn-success" (click)="search()" jhiTranslate="ebwebApp.receiveBill.getData"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="frm-main frm-padding tab-pane fade in active show" id="home-ref"
         style="background: #cbdcf0">
        <div id="table-scroll-ref" class="table-scroll">
            <table id="main-table-ref" class="main-table">
                <thead>
                <tr>
                    <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check-all" [checked]="isCheckAll()" (change)="checkAll()">
                            <label class="custom-control-label" for="check-all"></label>
                        </div>
                    </th>
                    <th scope="col" jhiTranslate="global.commonInfo.orderDate"></th>
                    <th scope="col" jhiTranslate="global.commonInfo.orderNumber"></th>
                    <th scope="col" jhiTranslate="global.commonInfo.productCode"></th>
                    <th scope="col" jhiTranslate="global.commonInfo.productName"></th>
                    <th scope="col" jhiTranslate="global.commonInfo.quantityReceipt"></th>
                    <th scope="col" jhiTranslate="global.commonInfo.receivedQuantity"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ppOrder of ppOrders; let i = index" (click)="check(ppOrder)">
                    <td class="text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="{{'checkbox' + i}}"
                                   id="{{'checkbox' + i}}" [(ngModel)]="ppOrder.checked" (click)="check(ppOrder)">
                            <label class="custom-control-label" for="{{'checkbox' + i}}"></label>
                        </div>
                    </td>
                    <td class="text-center">{{ppOrder.orderDate}}</td>
                    <td class="one-long-line text-left"
                        (click)="utilsService.viewByTypeGroupID(ppOrder)" style="color:blue; text-decoration: underline;"
                        title="{{ppOrder.orderNumber}}">{{ppOrder.orderNumber}}</td>
                    <td class="one-long-line text-left" title="{{ppOrder.productCode}}">{{ppOrder.productCode}}</td>
                    <td class="one-long-line text-left" title="{{ppOrder.productName}}">{{ppOrder.productName}}</td>
                    <td class="text-right">
                        <input type="number"
                               class="input-Cell bg-transparent border-0 w-100 noSetDisable"
                               [(ngModel)]="ppOrder.quantityReceipt"
                               name="sumMainQuantity" ebCurrencyMask
                               [systemOptions]="account?.systemOption"
                               [type]="3" disabled>
                        </td>
                    <td (click)="$event.stopPropagation()">
                        <input type="text" class="input-Cell text-right"
                               [(ngModel)]="ppOrder.receivedQuantity" [allowNegative]="false"
                               (ngModelChange)="changeReceivedQuantity(ppOrder)"
                               [systemOptions]="account?.systemOption"
                               [type]="3" ebCurrencyMask>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-body pd-t-b-0">
        <div class="row justify-content-end" style="height:32px">
            <div class="col-lg-2">
                <div class="form-group row">
                    <label class="col-sm-7 col-form-label text-right" for="itemsPerPage">
                        <span jhiTranslate="ebwebApp.mCPayment.total"></span> : {{totalItems}}
                    </label>
                    <div class="col-sm-5 pd-l-0">
                        <select class="form-control form-control-sm" name="itemsPerPage" id="itemsPerPage"
                                style="background-color: #f5f7fa;" [(ngModel)]="itemsPerPage" (ngModelChange)="search()" >
                                        <option [value]="10">10</option>
                            <option [value]="20">20</option>
                            <option [value]="30">30</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="justify-content-end">
                <ngb-pagination [size]="'sm'" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="search()"></ngb-pagination>
            </div>
        </div>
    </div>
    <div class="row pd-t-b-0 text-right d-block">
        <button type="button" class="btn btn-primary" (click)="apply()"><span jhiTranslate="entity.action.ok"></span>
        </button>
        <button type="button" class="btn btn-light" (click)="close()"><span jhiTranslate="entity.action.huyBo"></span>
        </button>
    </div>
</div>
