.pd-l-r-10 {
    padding: 0 10px !important;
}
.pd-t-b-0 {
    padding: 0 26px !important;
}

.pd-10 {
    padding: 10px !important;
}

.one-long-line {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
