<div *ngIf="contextMenu.isShow" class="context-menu" [ngStyle]="{'left.px': getXOffset(), 'top.px': getYOffset()}">
    <div class="inner-box">
        <button *ngIf="contextMenu.isNew" (click)="addNewRow()">
            <i style="color: green" class="mdi mdi-plus"></i>
            <span jhiTranslate="entity.action.addNew">Thêm dòng mới (Ctrl + Insert)</span>
        </button>
    </div>
    <div class="inner-box" *ngIf="useCopyRow && contextMenu.isCopy">
        <button (click)="copyRow()">
            <i style="color: green" class="mdi mdi-copyright"></i>
            <span jhiTranslate="entity.action.copyRow">Sao chép dòng (Ctrl + C)</span>
        </button>
    </div>
    <div class="inner-box">
        <button *ngIf="contextMenu.isDelete" (click)="deleteRow()">
            <i style="color: red" class="mdi mdi-window-close"></i>
            <span jhiTranslate="entity.action.deleteRow">Xóa dòng (Ctrl + Delete)</span>
        </button>
    </div>
    <div class="inner-box">
        <button *ngIf="isMaterialGoodsSpecification" (click)="selectMaterialGoodsSpecification()">
            <i style="color: orange" class="mdi mdi-dns"></i>
            <span jhiTranslate="global.materialGoodsSpecification">Nhập mã quy cách (Ctrl + Q)</span>
        </button>
    </div>
    <div class="inner-box">
        <button *ngIf="isMaterialGoodsSpecificationSelect" (click)="selectMaterialGoodsSpecification()">
            <i style="color: orange" class="mdi mdi-dns"></i>
            <span jhiTranslate="global.materialGoodsSpecification">Chọn mã quy cách (Ctrl + Q)</span>
        </button>
    </div>
</div>
