/*right click event*/
.context-menu {
    position: absolute;
    z-index: 9999;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);*/
}
.context-menu button {
    width: 205px;
    display: block;
    text-align: left;
    font-size: 13px;
}
.context-menu button:hover {
    background-color: #ddf7ef;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: 0 0 0 !important;
    outline: 0 !important;
    background-image: none !important;
    outline-offset: 0 !important;
}
/*endof right click*/
