<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="autoPrinciple">
            <h2><span jhiTranslate="ebwebApp.autoPrinciple.detail.title">Auto Principle</span> {{autoPrinciple.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.autoPrinciple.autoPrincipleName">Auto Principle Name</span></dt>
                <dd>
                    <span>{{autoPrinciple.autoPrincipleName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.autoPrinciple.typeId">Type Id</span></dt>
                <dd>
                    <span>{{autoPrinciple.typeId}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.autoPrinciple.debitAccount">Debit Account</span></dt>
                <dd>
                    <span>{{autoPrinciple.debitAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.autoPrinciple.creditAccount">Credit Account</span></dt>
                <dd>
                    <span>{{autoPrinciple.creditAccount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.autoPrinciple.description">Description</span></dt>
                <dd>
                    <span>{{autoPrinciple.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.autoPrinciple.isActive">Is Active</span></dt>
                <dd>
                    <span>{{autoPrinciple.isActive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/auto-principle', autoPrinciple.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
