<div class="container-fluid">
    <div class="margin-tp-5 margin-0">
        <div class="">
            <div class="itemw">
                <div class="menu-tool-bar he">
                    <div class="ptitle">
                        <span>BỎ ĐỐI CHIẾU NGÂN HÀNG</span>
                    </div>

                    <div class="gr-toolbar">
                        <a><i class="fas fa-download"></i> Lưu</a>
                        <a (click)="previousState()"><i class="fas fa-arrow-left"></i>Trở về</a>
                    </div>
                </div>
                <div class="tab-content">
                    <!--                    <div class="frm-main frm-padding tab-pane fade in active show" style="background: #cbdcf0">-->
                    <div class="table-scroll">
                        <table class="main-table">
                            <thead>
                            <tr>
                                <th scope="col"><input type="checkbox" /></th>
                                <th scope="col">Tài khoản ngân hàng</th>
                                <th scope="col">Tên ngân hàng</th>
                                <th scope="col">Ngày đối chiếu</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="cell-Table"><input type="checkbox"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                            </tr>
                            <tr>
                                <td class="cell-Table"><input type="checkbox"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                            </tr>
                            <tr>
                                <td class="cell-Table"><input type="checkbox"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                            </tr>
                            <tr>
                                <td class="cell-Table"><input type="checkbox"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                            </tr>
                            <tr>
                                <td class="cell-Table"><input type="checkbox"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                            </tr>
                            <tr>
                                <td class="cell-Table"><input type="checkbox"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                            </tr>
                            <tr>
                                <td class="cell-Table"><input type="checkbox"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                            </tr>
                            <tr>
                                <td class="cell-Table"><input type="checkbox"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                            </tr>
                            <tr>
                                <td class="cell-Table"><input type="checkbox"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                            </tr>
                            <tr>
                                <td class="cell-Table"><input type="checkbox"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                                <td class="cell-Table"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

