<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialGoodsSpecialTaxGroup">
            <h2><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.detail.title">Material Goods Special Tax Group</span> {{materialGoodsSpecialTaxGroup.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.materialGoodsSpecialTaxGroupCode">Material Goods Special Tax Group Code</span></dt>
                <dd>
                    <span>{{materialGoodsSpecialTaxGroup.materialGoodsSpecialTaxGroupCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.materialGoodsSpecialTaxGroupName">Material Goods Special Tax Group Name</span></dt>
                <dd>
                    <span>{{materialGoodsSpecialTaxGroup.materialGoodsSpecialTaxGroupName}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.taxRate">Tax Rate</span></dt>
                <dd>
                    <span>{{materialGoodsSpecialTaxGroup.taxRate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.unitID">Unit ID</span></dt>
                <dd>
                    <span>{{materialGoodsSpecialTaxGroup.unitID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.orderFixCode">Order Fix Code</span></dt>
                <dd>
                    <span>{{materialGoodsSpecialTaxGroup.orderFixCode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.parentID">Parent ID</span></dt>
                <dd>
                    <span>{{materialGoodsSpecialTaxGroup.parentID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.isParentNode">Is Parent Node</span></dt>
                <dd>
                    <span>{{materialGoodsSpecialTaxGroup.isParentNode}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.grade">Grade</span></dt>
                <dd>
                    <span>{{materialGoodsSpecialTaxGroup.grade}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.isActive">Is Active</span></dt>
                <dd>
                    <span>{{materialGoodsSpecialTaxGroup.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.isSecurity">Is Security</span></dt>
                <dd>
                    <span>{{materialGoodsSpecialTaxGroup.isSecurity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="materialGoodsSpecialTaxGroup.parent">
                        <a [routerLink]="['/material-goods-special-tax-group', materialGoodsSpecialTaxGroup.parent?.id, 'view']">{{materialGoodsSpecialTaxGroup.parent?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-goods-special-tax-group', materialGoodsSpecialTaxGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
