<div class="container-fluid">
    <div class="margin-tp-5 margin-0">
        <div class="">
            <div class="itemw" style="color: #FFFFFF">
                <div class="menu-tool-bar he">
                    <div class="ptitle">
                        <span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.home.title"></span>
                    </div>
                    <div class="gr-toolbar">
                        <a (click)="addNew($event)" *ebHasAnyAuthority="['ROLE_ADMIN', ROLE_HHDVChiuThue_Them]" title="{{'ebwebApp.autoPrinciple.tooltipAdd' | translate}}">
                            <i class="mdi mdi-plus"></i> <span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.created"></span></a>
                        <a [class.disable]="!selectedRow" (click)="edit()" *ebHasAnyAuthority="['ROLE_ADMIN', ROLE_HHDVChiuThue_Sua]" title="{{'ebwebApp.autoPrinciple.tooltipEdit' | translate}}">
                            <i class="mdi mdi-pen"></i> <span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.updated"></span></a>
                        <a [class.disable]="!selectedRow" (click)="delete()" *ebHasAnyAuthority="['ROLE_ADMIN', ROLE_HHDVChiuThue_Xoa]" title="{{'ebwebApp.autoPrinciple.tooltipDelete' | translate}}">
                            <i class="mdi mdi-delete"></i><span jhiTranslate="ebwebApp.materialGoodsSpecialTaxGroup.deleted"></span> </a>
                    </div>
                </div>
            </div>
            <div class="frm-main frm-mains nobg" style="background: #cbdcf0; margin-top: 5px">
                <eb-tree-grid #child [tree]="listTreeMaterialGoodsSpecialTaxGroup" [navigateForm]="navigateForm" [listTHead]="listTHead"
                              [listKey]="listKey"></eb-tree-grid>
            </div>
        </div>
    </div>
</div>
