<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting}">
            Dear
        </p>
        <p th:text="#{email.activation.text1}">
            Your JHipster account has been created, please click on the URL below to activate it:
        </p>
        <p th:text="#{email.activation.text2}">
            Your JHipster account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <span th:text="#{email.activation.preLink}"></span>
            <a th:href="@{${webLink}}"><span th:text="#{email.activation.link(${webLink})}"></span></a>
        </p>
        <p th:text="#{email.activation.account(${user.login})}">
            Account
        </p>
        <p th:text="#{email.activation.password(${pass})}">
            Password
        </p>
        <p>
            <em th:text="#{email.activation.text3(${hotLine})}">Regards, </em>
        </p>
        <p>
            <span style="font-weight: bold; font-style: italic" th:text="#{email.activation.text4}">JHipster.</span>
        </p>
        <p>
            <spa th:text="#{email.activation.text5}">JHipster.</spa>
        </p>
        <p>
            <span th:text="#{email.activation.signature}">JHipster.</span>
        </p>
    </body>
</html>
