<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.resetPassword.title}">JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
<!--        <p th:text="#{email.reset.greeting(${user.login})}">-->
<!--            Dear-->
<!--        </p>-->
<!--        <p th:text="#{email.reset.text1}">-->
<!--            For your JHipster account a password reset was requested, please click on the URL below to reset it:-->
<!--        </p>-->
<!--        <p>-->
<!--            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"-->
<!--             th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Login link</a>-->
<!--        </p>-->
<!--        <p>-->
<!--            <span th:text="#{email.reset.text2}">Regards, </span>-->
<!--            <br/>-->
<!--            <em th:text="#{email.signature}">JHipster.</em>-->
<!--        </p>-->
        <p>
            <b>ĐẶT LẠI MẬT KHẨU ĐĂNG NHẬP PHẦN MỀM KẾ TOÁN EASYBOOKS</b>
        </p>
        <p>
            <i>Kính gửi: Quý khách hàng!</i>
        </p>
        <p>
            Hệ thống nhận được yêu cầu đặt lại mật khẩu tài khoản quản trị(ADMIN) của phần mềm kế toán EasyBooks
        </p>
        <p style="font-weight: bold" th:text="#{email.reset.password(${pass})}">
            Dear
        </p>
        <p>
            Mật khẩu này có hiệu lực trong 5 phút, nếu quá 5 phút quý khách vui lòng sử dụng lại chức năng quên mật khẩu để hệ thống cấp mật khẩu mới
        </p>
        <p>
            Quý khách vui lòng nhập mật khẩu mới này để truy cập phần mềm
        </p>
        <p>
            Trân trọng!
        </p>
        <p>
            <b>Công ty CP đầu tư công nghệ và thương mại SoftDreams</b>
        </p>
        <p>
            <i>(Đây là email tự động, vui lòng không phản hồi lại email này)</i>
        </p>
    </body>
</html>
