<h1>ADMIN HOME PAGE</h1>
<!--<div class="row">-->
<!--    <div class="col-md-12 grid-margin">-->
<!--        <div class="d-flex justify-content-between flex-wrap" id="pills-tab">-->
<!--            <ul class="nav nav-tabs nav-pills">-->
<!--                <li class="active nav-item">-->
<!--                    <a class="nav-link active"-->
<!--                       id="pills-home-tab" data-toggle="tab"-->
<!--                       href="#home">Thống kê</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a data-toggle="tab"-->
<!--                       id="pills-profile-tab" class="nav-link" href="#menu1">Quy-->
<!--                        trình nghiệp vụ</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="row row-dk tab-pane fade in active show" id="home">-->
<!--    <div class="col-md-4 grid-margin stretch-card">-->
<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <div class="d-flex align-items-start justify-content-between">-->
<!--                    <p class="card-title flex-grow">Biểu đồ tổng hợp</p>-->
<!--                    <div class="dropdown dropright card-menu-dropdown">-->
<!--                        <div class="form-group">-->
<!--                            <label for="exampleFormControlSelect3">Kỳ thống kê</label>-->
<!--                            <select class="form-control form-control-sm" id="exampleFormControlSelect31">-->
<!--                                <option>Tháng này</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <canvas id="purchases-chart" height="200"></canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-4 grid-margin stretch-card">-->
<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <div class="d-flex align-items-start justify-content-between">-->
<!--                    <p class="card-title flex-grow">Doanh thu - Chi phí</p>-->
<!--                    <div class="d-flex align-items-center">-->
<!--                        <div class="dropdown dropright card-menu-dropdown">-->
<!--                            <div class="form-group">-->
<!--                                <label for="exampleFormControlSelect3">Kỳ thống kê</label>-->
<!--                                <select class="form-control form-control-sm" id="exampleFormControlSelect32">-->
<!--                                    <option>Tháng này</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="d-flex justify-content-between align-items-start flex-wrap ">-->
<!--                    <div class="online-revenue-chart-legend mt-2 mt-sm-0 mt-md-2 mt-xl-0 mr-1"-->
<!--                         id="online-revenue-legend"></div>-->
<!--                </div>-->
<!--                <canvas id="online-revenue-chart"></canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-4 grid-margin stretch-card">-->
<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <div class="d-flex align-items-start justify-content-between">-->
<!--                    <p class="card-title flex-grow">Nợ phải thu - Nợ phải trả</p>-->
<!--                    <div class="dropdown dropright card-menu-dropdown">-->
<!--                        <div class="form-group">-->
<!--                            <label for="exampleFormControlSelect3">Kỳ thống kê</label>-->
<!--                            <select class="form-control form-control-sm" id="exampleFormControlSelect33">-->
<!--                                <option>Tháng này</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <canvas id="online-sales-chart" class="mt-5 mt-md-4 mt-xl-5"></canvas>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="row row-dk tab-pane tab-pane fade" id="menu1"></div>-->
<!--<div class="row row-dk">-->
<!--    <div class="col-md-8">-->
<!--        <div class="card-table">-->
<!--            <div class="pt-3 jsgrid js-grid-static">-->
<!--                <p data-brackets-id="34334" class="card-title flex-grow">Số dư tài khoản</p>-->
<!--                <div class="frm-main mains">-->
<!--                    <div id="table-scroll1" class="table-scroll">-->
<!--                        <table id="main-table1" class="main-table">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">Số tài-->
<!--                                    khoản-->
<!--                                </th>-->
<!--                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 200px;">Tên tài-->
<!--                                    khoản-->
<!--                                </th>-->
<!--                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 125px;">Dư Nợ-->
<!--                                </th>-->
<!--                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 125px;">Dư Có-->
<!--                                </th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->

<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Otto Clay</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #897-1459 Quam Avenue</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">2.400.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.000.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-alt-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Connor Johnston</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #370-4647 Dis Av.</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">1.600.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.200.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Otto Clay</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #897-1459 Quam Avenue</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">2.400.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.000.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-alt-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Connor Johnston</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #370-4647 Dis Av.</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">1.600.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.200.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Otto Clay</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #897-1459 Quam Avenue</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">2.400.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.000.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-alt-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Connor Johnston</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #370-4647 Dis Av.</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">1.600.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.200.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Otto Clay</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #897-1459 Quam Avenue</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">2.400.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.000.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-alt-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Connor Johnston</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #370-4647 Dis Av.</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">1.600.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.200.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Otto Clay</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #897-1459 Quam Avenue</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">2.400.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.000.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-alt-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Connor Johnston</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #370-4647 Dis Av.</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">1.600.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.200.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Otto Clay</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #897-1459 Quam Avenue</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">2.400.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.000.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-alt-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Connor Johnston</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #370-4647 Dis Av.</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">1.600.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.200.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Otto Clay</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #897-1459 Quam Avenue</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">2.400.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.000.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-alt-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Connor Johnston</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #370-4647 Dis Av.</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">1.600.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.200.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Otto Clay</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #897-1459 Quam Avenue</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">2.400.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.000.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-alt-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Connor Johnston</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #370-4647 Dis Av.</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">1.600.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.200.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Otto Clay</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #897-1459 Quam Avenue</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">2.400.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.000.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-alt-row">-->
<!--                                <td class="jsgrid-cell" style="width: 150px;">Connor Johnston</td>-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Ap #370-4647 Dis Av.</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">1.600.000</td>-->
<!--                                <td class="jsgrid-cell" style="width: 125px;">-->
<!--                                    1.200.000-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--        <div class="card-table">-->
<!--            <div class="pt-3 jsgrid js-grid-static">-->
<!--                <div class="d-flex align-items-start justify-content-between">-->
<!--                    <p class="card-title flex-grow">Sức khỏe tài chính DN</p>-->
<!--                    <div class="dropdown dropright card-menu-dropdown">-->
<!--                        <div class="form-group">-->
<!--                            <select class="form-control form-control-sm" id="exampleFormControlSelect3">-->
<!--                                <option>Tháng này</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="frm-main mains_">-->
<!--                    <div id="table-scroll" class="table-scroll">-->
<!--                        <table id="main-table" class="main-table">-->
<!--                            <thead>-->
<!--                            <tr class="jsgrid-header-row">-->
<!--                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 200px;">Chỉ số-->
<!--                                </th>-->
<!--                                <th class="jsgrid-header-cell jsgrid-header-sortable jsgrid-align-right"-->
<!--                                    style="width: 150px;">Giá trị-->
<!--                                </th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->

<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Tỷ số nợ</td>-->
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 150px;">0</td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-alt-row">-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Tỷ số tự tài trợ</td>-->
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 150px;">+2.01</td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Vốn luân chuyển</td>-->
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 150px;"> -0.01</td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Hệ số thanh toán ngắn hạn</td>-->
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 150px;"> -0.01</td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Hệ số thanh toán nhanh</td>-->
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 150px;"> -0.01</td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Hệ số thanh toán tức thời</td>-->
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 150px;"> -0.01</td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Hệ số thanh toán chung</td>-->
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 150px;"> -0.01</td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Hệ số quay vòng hàng tồn kho</td>-->
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 150px;"> -0.01</td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Hệ số lợi nhuận/ Vốn kinh doanh</td>-->
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 150px;"> -0.01</td>-->
<!--                            </tr>-->
<!--                            <tr class="jsgrid-row">-->
<!--                                <td class="jsgrid-cell" style="width: 200px;">Hệ số lợi nhuận/ Doanh thu thuần</td>-->
<!--                                <td class="jsgrid-cell jsgrid-align-right" style="width: 150px;"> -0.01</td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

