<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialQuantumDetails">
            <h2><span jhiTranslate="ebwebApp.materialQuantumDetails.detail.title">Material Quantum Details</span> {{materialQuantumDetails.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.materialQuantumDetails.description">Description</span></dt>
                <dd>
                    <span>{{materialQuantumDetails.description}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialQuantumDetails.quantity">Quantity</span></dt>
                <dd>
                    <span>{{materialQuantumDetails.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialQuantumDetails.unitPrice">Unit Price</span></dt>
                <dd>
                    <span>{{materialQuantumDetails.unitPrice}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialQuantumDetails.amount">Amount</span></dt>
                <dd>
                    <span>{{materialQuantumDetails.amount}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialQuantumDetails.orderPriority">Order Priority</span></dt>
                <dd>
                    <span>{{materialQuantumDetails.orderPriority}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialQuantumDetails.materialQuantum">Material Quantum</span></dt>
                <dd>
                    <div *ngIf="materialQuantumDetails.materialQuantum">
                        <a [routerLink]="['/material-quantum', materialQuantumDetails.materialQuantum?.id, 'view']">{{materialQuantumDetails.materialQuantum?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialQuantumDetails.materialGoods">Material Goods</span></dt>
<!--                <dd>-->
<!--                    <div *ngIf="materialQuantumDetails.materialGoodsID">-->
<!--                        <a [routerLink]="['/material-goods', materialQuantumDetails.materialGoodsID, 'view']">{{materialQuantumDetails.materialGoods?.id}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.materialQuantumDetails.unit">Unit</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="materialQuantumDetails.unitID">-->
<!--                        <a [routerLink]="['/unit', materialQuantumDetails.unitID?.id, 'view']">{{materialQuantumDetails.unit?.id}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-quantum-details', materialQuantumDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
