<div class="container-fluid">
    <div class="margin-tp-5 margin-0">
        <div class="">
            <div class="itemw" style="color: #FFFFFF">
                <div class="menu-tool-bar he">
                    <div class="ptitle">
                        <span jhiTranslate="ebwebApp.materialQuantum.home.title"></span>
                    </div>
                    <div class="gr-toolbar">
                        <a title="{{buttonAddTranslate | translate}}"
                           *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DinhMucNguyenVatLieu_Them]" (click)="addNew($event)"><i
                            class="mdi mdi-plus"></i> <span
                            jhiTranslate="ebwebApp.materialQuantum.add"></span></a>
                        <a title="{{buttonEditTranslate | translate}}"d
                           *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DinhMucNguyenVatLieu_Sua]"
                           [class.disable]="!selectedRow" (click)="edit()"><i
                            class="mdi mdi-pen"></i><span jhiTranslate="ebwebApp.materialQuantum.edit"></span></a>
                        <!--                        [routerLink]="['/account-list', selectedRow.id, 'edit']"-->
                        <a title="{{buttonDeleteTranslate | translate}}"
                           *ebHasSomeAuthority="['ROLE_ADMIN', ROLE_DinhMucNguyenVatLieu_Xoa]"
                           [class.disable]="!selectedRow" (click)="delete()"
                        ><i
                            class="mdi mdi-delete"></i><span
                            jhiTranslate="ebwebApp.materialQuantum.btnDelete"></span></a>
                        <!--                        [routerLink]="['/', { outlets: { popup: 'account-list/'+ selectedRow.id + '/delete'} }]"-->
                        <!--                        replaceUrl="true"-->
                    </div>
                </div>
            </div>
            <div class="frm-main frm-mains nobg" style="background: #cbdcf0; margin-top: 5px">
                <div id="table-scroll0" class="table-scroll" style="max-height: 700px !important;">
                    <table id="main-table0" class="main-table">
                        <thead>
                        <tr>
                            <th scope="col" jhiTranslate="ebwebApp.materialQuantum.objectID"></th>
                            <th scope="col" jhiTranslate="ebwebApp.materialQuantum.objectName"></th>
                            <th scope="col" jhiTranslate="ebwebApp.materialQuantum.fromDate"></th>
                            <th scope="col" jhiTranslate="ebwebApp.materialQuantum.toDate"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let materialQuantum of materialQuantums ; let i = index ; trackBy: trackId"
                            (click)="selectMultiRow(materialQuantum, $event, materialQuantums)"
                            [class.row-selected]="this.selectedRows.indexOf(materialQuantum) !== -1"
                            (dblclick)="edit()">
                            <td title="{{materialQuantum.objectCode}}" class="jsgrid-cell jsgrid-align-left"
                                style="width: 150px">{{materialQuantum.objectCode}}</td>
                            <td title="{{materialQuantum.objectName}}" class="jsgrid-cell jsgrid-align-left"
                                style="width: 150px">{{materialQuantum.objectName}}</td>
                            <td title="{{materialQuantum.fromDate}}" class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">{{materialQuantum.fromDate | date:'dd/MM/yyyy'}}</td>
                            <td title="{{materialQuantum.toDate}}"
                                class="jsgrid-cell jsgrid-align-center"
                                style="width: 150px">{{materialQuantum.toDate | date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr *ngFor="let l of newArr(20 - materialQuantums?.length)">
                            <td class="jsgrid-cell">&nbsp;</td>
                            <td class="jsgrid-cell">&nbsp;</td>
                            <td class="jsgrid-cell">&nbsp;</td>
                            <td class="jsgrid-cell">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
</footer>
