<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="materialQuantum">
            <h2><span jhiTranslate="ebwebApp.materialQuantum.detail.title">Material Quantum</span> {{materialQuantum.id}}</h2>
            <hr>
            <eb-alert-error></eb-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebwebApp.materialQuantum.objectID">Object ID</span></dt>
                <dd>
                    <span>{{materialQuantum.objectID}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialQuantum.objectType">Object Type</span></dt>
                <dd>
                    <span>{{materialQuantum.objectType}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialQuantum.fromDate">From Date</span></dt>
                <dd>
                    <span>{{materialQuantum.fromDate}}</span>
                </dd>
                <dt><span jhiTranslate="ebwebApp.materialQuantum.toDate">To Date</span></dt>
                <dd>
                    <span>{{materialQuantum.toDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material-quantum', materialQuantum.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
