<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <div *ngIf="materialGoodsPurchasePrice">-->
<!--            <h2><span jhiTranslate="ebwebApp.materialGoodsPurchasePrice.detail.title">Material Goods Purchase Price</span> {{materialGoodsPurchasePrice.id}}</h2>-->
<!--            <hr>-->
<!--            <eb-alert-error></eb-alert-error>-->
<!--            <dl class="row-md jh-entity-details">-->
<!--                <dt><span jhiTranslate="ebwebApp.materialGoodsPurchasePrice.unitPrice">Unit Price</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{materialGoodsPurchasePrice.unitPrice}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.materialGoodsPurchasePrice.materialGoods">Material Goods</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="materialGoodsPurchasePrice.materialGoods">-->
<!--                        <a [routerLink]="['/material-goods', materialGoodsPurchasePrice.materialGoods?.id, 'view']">{{materialGoodsPurchasePrice.materialGoods?.id}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.materialGoodsPurchasePrice.currency">Currency</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="materialGoodsPurchasePrice.currencyID">-->
<!--                        <a [routerLink]="['/currency', materialGoodsPurchasePrice.currency?.id, 'view']">{{materialGoodsPurchasePrice.currencyID?.id}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.materialGoodsPurchasePrice.unit">Unit</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="materialGoodsPurchasePrice.unit">-->
<!--                        <a [routerLink]="['/unit', materialGoodsPurchasePrice.unit?.id, 'view']">{{materialGoodsPurchasePrice.unit?.id}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--            </dl>-->

<!--            <button type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
<!--            </button>-->

<!--            <button type="button"-->
<!--                    [routerLink]="['/material-goods-purchase-price', materialGoodsPurchasePrice.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
