<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <div *ngIf="fixedAssetDetails">-->
<!--            <h2><span jhiTranslate="ebwebApp.fixedAssetDetails.detail.title">Fixed Asset Details</span> {{fixedAssetDetails.id}}</h2>-->
<!--            <hr>-->
<!--            <eb-alert-error></eb-alert-error>-->
<!--            <dl class="row-md jh-entity-details">-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetDetails.description">Description</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{fixedAssetDetails.description}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetDetails.quantity">Quantity</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{fixedAssetDetails.quantity}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetDetails.warranty">Warranty</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{fixedAssetDetails.warranty}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetDetails.orderPriority">Order Priority</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{fixedAssetDetails.orderPriority}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="ebwebApp.fixedAssetDetails.fixedAsset">Fixed Asset</span></dt>-->
<!--                <dd>-->
<!--                    <div *ngIf="fixedAssetDetails.fixedAsset">-->
<!--                        <a [routerLink]="['/fixed-asset', fixedAssetDetails.fixedAsset?.id, 'view']">{{fixedAssetDetails.fixedAsset?.id}}</a>-->
<!--                    </div>-->
<!--                </dd>-->
<!--            </dl>-->

<!--            <button Type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
<!--            </button>-->

<!--            <button Type="button"-->
<!--                    [routerLink]="['/fixed-asset-details', fixedAssetDetails.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
