<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">-->
<!--            <h2 id="eb-fixed-asset-details-heading" jhiTranslate="ebwebApp.fixedAssetDetails.home.createOrEditLabel">Create or edit a Fixed Asset Details</h2>-->
<!--            <div>-->
<!--                <eb-alert-error></eb-alert-error>-->
<!--                <div class="form-group" [hidden]="!fixedAssetDetails.id">-->
<!--                    <label for="id" jhiTranslate="global.field.id">ID</label>-->
<!--                    <input Type="text" class="form-control" id="id" name="id"-->
<!--                        [(ngModel)]="fixedAssetDetails.id" readonly />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetDetails.description" for="field_description">Description</label>-->
<!--                    <input Type="text" class="form-control" name="description" id="field_description"-->
<!--                        [(ngModel)]="fixedAssetDetails.description" maxlength="512"/>-->
<!--                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">-->
<!--                        <small class="form-text text-danger"-->
<!--                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">-->
<!--                        This field cannot be longer than 512 characters.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetDetails.quantity" for="field_quantity">Quantity</label>-->
<!--                    <input Type="number" class="form-control" name="quantity" id="field_quantity"-->
<!--                        [(ngModel)]="fixedAssetDetails.quantity" />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetDetails.warranty" for="field_warranty">Warranty</label>-->
<!--                    <input Type="text" class="form-control" name="warranty" id="field_warranty"-->
<!--                        [(ngModel)]="fixedAssetDetails.warranty" maxlength="50"/>-->
<!--                    <div [hidden]="!(editForm.controls.warranty?.dirty && editForm.controls.warranty?.invalid)">-->
<!--                        <small class="form-text text-danger"-->
<!--                        [hidden]="!editForm.controls.warranty?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">-->
<!--                        This field cannot be longer than 50 characters.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetDetails.orderPriority" for="field_orderPriority">Order Priority</label>-->
<!--                    <input Type="number" class="form-control" name="orderPriority" id="field_orderPriority"-->
<!--                        [(ngModel)]="fixedAssetDetails.orderPriority" required/>-->
<!--                    <div [hidden]="!(editForm.controls.orderPriority?.dirty && editForm.controls.orderPriority?.invalid)">-->
<!--                        <small class="form-text text-danger"-->
<!--                        [hidden]="!editForm.controls.orderPriority?.errors?.required" jhiTranslate="entity.validation.required">-->
<!--                        This field is required.-->
<!--                        </small>-->
<!--                        <small class="form-text text-danger"-->
<!--                            [hidden]="!editForm.controls.orderPriority?.errors?.number" jhiTranslate="entity.validation.number">-->
<!--                            This field should be a number.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="ebwebApp.fixedAssetDetails.fixedAsset" for="field_fixedAsset">Fixed Asset</label>-->
<!--                    <select class="form-control" id="field_fixedAsset" name="fixedAsset" [(ngModel)]="fixedAssetDetails.fixedAsset"  required>-->
<!--                        <option *ngIf="!editForm.value.fixedAsset" [ngValue]="null" selected></option>-->
<!--                        <option [ngValue]="fixedAssetOption.id === fixedAssetDetails.fixedAsset?.id ? fixedAssetDetails.fixedAsset : fixedAssetOption" *ngFor="let fixedAssetOption of fixedassets; trackBy: trackFixedAssetById">{{fixedAssetOption.id}}</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div [hidden]="!(editForm.controls.fixedAsset?.dirty && editForm.controls.fixedAsset?.invalid)">-->
<!--                    <small class="form-text text-danger"-->
<!--                        [hidden]="!editForm.controls.fixedAsset?.errors?.required" jhiTranslate="entity.validation.required">-->
<!--                        This field is required.-->
<!--                    </small>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <button Type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">-->
<!--                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>-->
<!--                </button>-->
<!--                <button Type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">-->
<!--                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
