<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="eb-mb-internal-transfer-tax-heading" jhiTranslate="ebwebApp.mBInternalTransferTax.home.createOrEditLabel">Create or edit a MB Internal Transfer Tax</h2>
            <div>
                <eb-alert-error></eb-alert-error>
                <div class="form-group" [hidden]="!mBInternalTransferTax.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="mBInternalTransferTax.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="mBInternalTransferTax.description" maxlength="512"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                        This field cannot be longer than 512 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.vatAmount" for="field_vatAmount">Vat Amount</label>
                    <input type="number" class="form-control" name="vatAmount" id="field_vatAmount"
                        [(ngModel)]="mBInternalTransferTax.vatAmount" required/>
                    <div [hidden]="!(editForm.controls.vatAmount?.dirty && editForm.controls.vatAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.vatAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.vatAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.vatAmountOriginal" for="field_vatAmountOriginal">Vat Amount Original</label>
                    <input type="number" class="form-control" name="vatAmountOriginal" id="field_vatAmountOriginal"
                        [(ngModel)]="mBInternalTransferTax.vatAmountOriginal" required/>
                    <div [hidden]="!(editForm.controls.vatAmountOriginal?.dirty && editForm.controls.vatAmountOriginal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.vatAmountOriginal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.vatAmountOriginal?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.vatRate" for="field_vatRate">Vat Rate</label>
                    <input type="number" class="form-control" name="vatRate" id="field_vatRate"
                        [(ngModel)]="mBInternalTransferTax.vatRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.vatAccount" for="field_vatAccount">Vat Account</label>
                    <input type="text" class="form-control" name="vatAccount" id="field_vatAccount"
                        [(ngModel)]="mBInternalTransferTax.vatAccount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.pretaxAmount" for="field_pretaxAmount">Pretax Amount</label>
                    <input type="number" class="form-control" name="pretaxAmount" id="field_pretaxAmount"
                        [(ngModel)]="mBInternalTransferTax.pretaxAmount" required/>
                    <div [hidden]="!(editForm.controls.pretaxAmount?.dirty && editForm.controls.pretaxAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pretaxAmount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.pretaxAmount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.pretaxAmountOriginal" for="field_pretaxAmountOriginal">Pretax Amount Original</label>
                    <input type="number" class="form-control" name="pretaxAmountOriginal" id="field_pretaxAmountOriginal"
                        [(ngModel)]="mBInternalTransferTax.pretaxAmountOriginal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.invoiceType" for="field_invoiceType">Invoice Type</label>
                    <input type="number" class="form-control" name="invoiceType" id="field_invoiceType"
                        [(ngModel)]="mBInternalTransferTax.invoiceType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.invoiceDate" for="field_invoiceDate">Invoice Date</label>
                    <div class="input-group">
                        <input id="field_invoiceDate" type="text" class="form-control" name="invoiceDate" ngbDatepicker  #invoiceDateDp="ngbDatepicker" [(ngModel)]="mBInternalTransferTax.invoiceDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="invoiceDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.invoiceNo" for="field_invoiceNo">Invoice No</label>
                    <input type="text" class="form-control" name="invoiceNo" id="field_invoiceNo"
                        [(ngModel)]="mBInternalTransferTax.invoiceNo" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.invoiceNo?.dirty && editForm.controls.invoiceNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.invoiceNo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.invoiceSeries" for="field_invoiceSeries">Invoice Series</label>
                    <input type="text" class="form-control" name="invoiceSeries" id="field_invoiceSeries"
                        [(ngModel)]="mBInternalTransferTax.invoiceSeries" maxlength="25"/>
                    <div [hidden]="!(editForm.controls.invoiceSeries?.dirty && editForm.controls.invoiceSeries?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.invoiceSeries?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                        This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.goodsServicePurchaseID" for="field_goodsServicePurchaseID">Goods Service Purchase ID</label>
                    <input type="text" class="form-control" name="goodsServicePurchaseID" id="field_goodsServicePurchaseID"
                        [(ngModel)]="mBInternalTransferTax.goodsServicePurchaseID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.accountingObjectID" for="field_accountingObjectID">Accounting Object ID</label>
                    <input type="text" class="form-control" name="accountingObjectID" id="field_accountingObjectID"
                        [(ngModel)]="mBInternalTransferTax.accountingObjectID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.orderPriority" for="field_orderPriority">Order Priority</label>
                    <input type="number" class="form-control" name="orderPriority" id="field_orderPriority"
                        [(ngModel)]="mBInternalTransferTax.orderPriority" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebwebApp.mBInternalTransferTax.mBInternalTransfer" for="field_mBInternalTransfer">M B Internal Transfer</label>
                    <select class="form-control" id="field_mBInternalTransfer" name="mBInternalTransfer" [(ngModel)]="mBInternalTransferTax.mBInternalTransfer"  required>
                        <option *ngIf="!editForm.value.mBInternalTransfer" [ngValue]="null" selected></option>
                        <option [ngValue]="mBInternalTransferOption.id === mBInternalTransferTax.mBInternalTransfer?.id ? mBInternalTransferTax.mBInternalTransfer : mBInternalTransferOption" *ngFor="let mBInternalTransferOption of mbinternaltransfers; trackBy: trackMBInternalTransferById">{{mBInternalTransferOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.mBInternalTransfer?.dirty && editForm.controls.mBInternalTransfer?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.mBInternalTransfer?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
